<div class="advanced-product-filters">
  <div class="product-filter">
    <div class="row">
      {% for block in section.blocks %}
      {% case block.type %}

      {% when 'vendor' %}
      <div class="col-md-3">
        <div class="product-widget product-widget--brand">
          {%- if block.settings.widget_title != '' -%}
          <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
          {%- endif -%}
          <ul class="product-widget__list">
            {% assign vendors_list_limit = block.settings.vendors_list_limit_hanlde %}
            {% for vendor in shop.vendors limit: vendors_list_limit %}
            <li{% if collection.current_vendor == vendor %} class="active"{% endif %}><a href="{{ vendor | url_for_vendor }}">{{ vendor }}</a></li> 
            {% endfor %}
          </ul>
        </div>
      </div>

      {% when 'color' %}
      <div class="col-md-3">
        <div class="product-widget product-widget--color">
          {%- if block.settings.widget_title != '' -%}
          <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
          {%- endif -%}
          <ul class="product-widget__list product-color-swatch">            
            {% assign tags = block.settings.color_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
            {% assign colors_list_limit = block.settings.colors_list_limit_hanlde %}

            {% for t in tags limit: colors_list_limit %}
            {% assign tag = t | strip %}
            {%- if current_tags contains tag -%}
            <li class="{{ tag }} active">
              <a class="product-color-swatch-btn" href="/collections/all/{{ tag | handle }}" style="background-color: {{ tag }}">
                <span class="product-color-swatch-label">{{ tag }}</span>
              </a>
            </li>
            {%- elsif collection.all_tags contains tag -%}
            <li class="{{ tag }}">
              <a style="background-color: {{ tag }}" class="product-color-swatch-btn" href="/collections/all/{{ tag | handle }}">
                <span class="product-color-swatch-label">{{ tag }}</span>
              </a>
            </li>
            {%- endif -%}
            {% endfor %}
          </ul>
        </div>
      </div>

      {% when 'size' %}
      <div class="col-md-3">
        <div class="product-widget product-widget--size">
          {%- if block.settings.widget_title != '' -%}
          <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
          {%- endif -%}
          <ul class="product-widget__list">
            {% assign tags = block.settings.size_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
            {% assign size_list_limit = block.settings.size_list_limit_hanlde %}

            {% for t in tags limit: size_list_limit %}
            {% assign tag = t | strip %}
            {%- if current_tags contains tag -%}
            <li class="active"><a href="/collections/all/{{ tag | handle }}"><span>{{ tag }}</span></a></li>
            {%- elsif collection.all_tags contains tag -%}
            <li><a href="/collections/all/{{ tag | handle }}"><span>{{ tag }}</span></a></li>
            {%- endif -%}
            {% endfor %}
          </ul>
        </div>
      </div>


      {% when 'type' %}
      <div class="col-md-3">
        <div class="product-widget product-widget--size">
          {%- if block.settings.widget_title != '' -%}
          <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
          {%- endif -%}
          <ul class="product-widget__list">
            {% assign types_list_limit = block.settings.types_list_limit_hanlde %}
            {% for type in shop.types limit: types_list_limit %}
            {%- if type != '' -%}
            <li class="{% if collection.current_type == type %}active{% endif %}"><a href="{{ type | url_for_type }}"><span>{{ type }}</span></a></li> 
            {%- endif -%}
            {% endfor %}
          </ul>
        </div>
      </div>

      {% endcase %}
      {% endfor %}

    </div>
    <a href="#" class="btn-close"><i class="dl-icon-close"></i></a>
  </div>
</div>