{% assign affiliate_link_first = product.description | split:'[/affiliate_link]' | first %}
{% assign affiliate_link_final = affiliate_link_first | split:'[affiliate_link]' | last %}

{% if product.available %}
<a href="{{ affiliate_link_final }}" class="add_to_cart_btn action-btn">
  <i class="dl-icon-cart29"></i>
</a>
{% else %}
<a class="cart-disable remove_href add_to_cart_btn action-btn" href="{{ affiliate_link_final }}">
  <i class="dl-icon-cart29"></i>
</a>
{% endif %}