{% assign affiliate_link_first = product.description | split:'[/affiliate_link]' | first %}
{% assign affiliate_link_final = affiliate_link_first | split:'[affiliate_link]' | last %}

{% if product.available %}
<a href="{{ affiliate_link_final }}" class="add_to_cart_btn btn">
  <span>{{ settings.affiliate_cart_button_title }}</span>
</a>
{% else %}
<a class="cart-disable remove_href add_to_cart_btn btn" href="{{ affiliate_link_final }}">
  <span>{{ settings.soldout_button_title }}</span>
</a>
{% endif %}