{% assign affiliate_link_first = product.description | split:'[/affiliate_link]' | first %}
{% assign affiliate_link_final = affiliate_link_first | split:'[affiliate_link]' | last %}

{% if product.available %}
<a href="{{ affiliate_link_final }}" class="btn btn-shape-round btn-style-1 btn-large aff_btn">
  <span class="cart-title">{{ settings.affiliate_cart_button_title }}</span>
</a>
{% else %}
<a class="cart-disable btn btn-shape-round btn-style-1 btn-large remove_href aff_btn" href="{{ affiliate_link_final }}">
  <span class="cart-text">{{ settings.soldout_button_title }}</span>
</a>
{% endif %}