{% if settings.blog_grid == 'grid_1' %}

<article class="post">
  {% if article.image %}
  <div class="post-media">
    <figure class="image text-center">
      <a href="{{ article.url }}">
        {{ article | img_url: '685x' | img_tag: article.title }}
      </a>
    </figure>
  </div>
  {% endif %}

  <div class="post-info">
    {% if article.tags.size > 0 %}
    <div class="post-meta category-link">
      {% for tag in article.tags limit: 4 %}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last == true %},{% endunless %}
      {% endfor %}
    </div>
    {% endif %}

    <h3 class="post-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
    <div class="post-meta d-flex align-items-center justify-content-center mb--20">
      <a href="blog.html" class="posted-on remove_href">
        <span class="entry-date">{{ article.published_at | date: '%B %d, %Y' }}</span>
      </a>
      <span class="meta-separator">-</span>
      <a href="#" class="posted-by remove_href">{{ article.author }}</a>
    </div>
    <a href="{{ article.url }}" class="read-more">{{ settings.blog_read_more }} <i class="fa fa-caret-right"></i></a>
  </div>
</article>

{% else %}
<article class="post post-layout-2">
  {% if article.image %}
  <div class="post-media">
    <figure class="image text-center">
      <a href="{{ article.url }}">
        {{ article | img_url: '685x' | img_tag: article.title }}
      </a>
    </figure>
  </div>
  {% endif %}

  <div class="post-info">
    {% if article.tags.size > 0 %}
    <div class="post-meta category-link">
      {% for tag in article.tags limit: 4 %}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last == true %},{% endunless %}
      {% endfor %}
    </div>
    {% endif %}

    <h3 class="post-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
    <div class="post-footer-meta">
      <a href="#" class="posted-on remove_href">
        <span class="date">{{ article.published_at | date: '%d' }}</span>
        <span class="month">{{ article.published_at | date: '%b' }}</span>
      </a>
    </div> 

    <div class="post-content">
      {% if article.excerpt.size > 0 %}
      {{ article.excerpt }}
      {% else %}
      <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
      {% endif %}
    </div>
  </div>
</article>
{% endif %}