<div class="comment-respond">
  {% if section.settings.leave_message_title != '' %}
  <h3 class="comment-reply-title">{{ section.settings.leave_message_title }}</h3>
  {% endif %}

  {% if section.settings.leave_message_subtitle != '' %}
  <div class="form-notes mb--20">
    <p><em>{{ section.settings.leave_message_subtitle }}</em> <span class="required">*</span></p>
  </div>
  {% endif %}

  {% form 'new_comment', article, class: 'form comment-form' %}
  {{ form.errors | default_errors }}

  <div class="form__group mb--30 mb-sm--20">
    <div class="form-row">
      <div class="col-md-6 mb-sm--20">
        <label class="form__label form__label--3" for="comment_name">{{ 'blogs.comments.name' | t }}<span class="required">*</span></label>
        <input type="text" class="{% if form.errors contains 'author' %}error{% endif %} form__input" name="comment[author]" id="commentAuthor" value="{{ form.author }}" placeholder="{{ 'blogs.comments.name' | t }}">
      </div>  
      <div class="col-md-6 mb-sm--20">
        <label class="form__label form__label--3" for="comment_email">{{ 'blogs.comments.email' | t }}<span class="required">*</span></label>
        <input type="text" class="{% if form.errors contains 'email' %}error{% endif %} form__input" name="comment[email]" id="commentEmail" value="{{ form.email }}" placeholder="{{ 'blogs.comments.email' | t }}">
      </div> 
    </div>
  </div>  

  <div class="form__group mb--30 mb-sm--20">
    <div class="form-row">
      <div class="col-12">
        <label class="form__label form__label--3" for="review">{{ 'blogs.comments.message' | t }}<span class="required">*</span></label>
        <textarea class="form__input form__input--textarea" name="comment[body]" id="commentBody"  placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
      </div>
    </div>
  </div>

  {% if blog.moderated? %}
  <p>{{ 'blogs.comments.moderated' | t }}</p>
  {% endif %}

  <div class="form__group">
    <div class="form-row">
      <div class="col-12">
        <input type="submit" value="{{ 'blogs.comments.post' | t }}" class="btn btn-style-1 btn-submit">
      </div>
    </div>
  </div>
  {% endform %}
</div>
