<div class="sidebar-inner">
  {% for block in section.blocks %}
  {% case block.type %}

  {% when 'search' %}
  <div class="widget blog-widget cl_side_search">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <form action="/search" method="get" role="search">
      <input type="hidden" name="type" value="article">
      <input class="cl_side_input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}">
      <button type="submit"><i class="dl-icon-search1"></i></button>
    </form>
  </div>

  {% when 'menu' %}
  <div class="widget blog-widget widget-categories">
    {%- if block.settings.menu_title != '' -%}
    <h3 class="widget-title">{{ block.settings.menu_title }}</h3>
    {%- endif -%}
    <ul class="menu list-unstyled">
      {% assign menu = block.settings.menu_handle %}
      {% for link in linklists[menu].links %}
      <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% when 'recent_post' %}
  <div class="widget blog-widget widget-recent-posts">
    {% if block.settings.recent_post_title != blank %}
    <h3 class="widget-title">{{ block.settings.recent_post_title }}</h3>
    {% endif %}    
    <div class="recent-post">
      {% assign recent_post_limit = block.settings.recent_post_limit_handle %}
      {% for article in blogs[blog.handle].articles limit: recent_post_limit %}
      <div class="recent-post__item">
        <div class="recent-post__thumb">
          <a href="{{ article.url }}"><img src="{{ article | img_url: 'medium' }}" alt="{{ article.image.alt }}"></a>
        </div>
        <div class="recent-post__content">
          <h3 class="recent-post__title text-truncate">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h3>
          <span class="recent-post__meta">{{ article.published_at | date: '%B %d, %Y' }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% when 'archive' %}
  <div class="widget blog-widget widget-archive">
    {% if block.settings.archive_title != '' %}
    <h3 class="widget-title archive">{{ block.settings.archive_title }}</h3>
    {% endif %}	

    {% capture ddmm %}{{ 'now' | date: "%B %Y" }}{% endcapture %}
    {% capture month %}{{ 'now' | date: "%B" }}{% endcapture %}
    {% capture year %}{{ 'now' | date: "%Y" }}{% endcapture %}

    {% case month %}
    {% when 'January' %}{% assign k = 1 %}
    {% when 'February' %}{% assign k = 2 %}
    {% when 'March' %}{% assign k = 3 %}
    {% when 'April' %}{% assign k = 4 %}
    {% when 'June' %}{% assign k = 5 %}
    {% when 'July' %}{% assign k = 6 %}
    {% when 'August' %}{% assign k = 7 %}
    {% when 'September' %}{% assign k = 8 %}
    {% when 'October' %}{% assign k = 9 %}
    {% when 'November' %}{% assign k = 10 %}
    {% when 'December' %}{% assign k = 11 %}
    {% endcase %}

    {% for i in (1..k) %}
    {% case month %}
    {% when 'January' %}{% assign previous_month = 'December' %}
    {% when 'February' %}{% assign previous_month = 'January' %}
    {% when 'March' %}{% assign previous_month = 'February' %}
    {% when 'April' %}{% assign previous_month = 'March' %}
    {% when 'May' %}{% assign previous_month = 'April' %}
    {% when 'June' %}{% assign previous_month = 'May' %}
    {% when 'July' %}{% assign previous_month = 'June' %}
    {% when 'August' %}{% assign previous_month = 'July' %}
    {% when 'September' %}{% assign previous_month = 'August' %}
    {% when 'October' %}{% assign previous_month = 'September' %}
    {% when 'November' %}{% assign previous_month = 'October' %}
    {% when 'December' %}{% assign previous_month = 'November' %}
    {% endcase %}
    <dl>
      <dt>
        {% assign blogPresent = 0 %}
        {% for article in blogs[blog.handle].articles limit: 10 %}
        {% capture date %}
        {{ article.published_at | date: "%B %Y" }}
        {% endcapture %}
        {% assign checkDate = month | append: ' ' | append: year %}
        {% if date contains checkDate %}
        {% assign blogPresent = 1 %}
        {% endif %}
        {% endfor %}

        {% if blogPresent == 1 %}
        {{ month }} {{year}}
        {% else %}

        {% endif %}

      </dt>
      <dd>
        <ul class="archive-sidebar">
          {% for article in blogs[blog.handle].articles limit: 10 %}
          {% capture date %}
          {{ article.published_at | date: "%B %Y" }}
          {% endcapture %}
          {% assign checkDate = month | append: ' ' | append: year %}
          {% if date contains checkDate %}
          <li>{{ article.title | link_to: article.url }}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </dd>
    </dl>
    {% assign month = previous_month %}
    {% endfor %}

    {% assign prevYearsMonths = 'December' %}
    {% assign year = year | minus: 1 %}
    {% for y in (1..15) %}

    {% for i in (1..12) %}
    {% case prevYearsMonths %}
    {% when 'January' %}{% assign previous_month = 'December' %}
    {% when 'February' %}{% assign previous_month = 'January' %}
    {% when 'March' %}{% assign previous_month = 'February' %}
    {% when 'April' %}{% assign previous_month = 'March' %}
    {% when 'May' %}{% assign previous_month = 'April' %}
    {% when 'June' %}{% assign previous_month = 'May' %}
    {% when 'July' %}{% assign previous_month = 'June' %}
    {% when 'August' %}{% assign previous_month = 'July' %}
    {% when 'September' %}{% assign previous_month = 'August' %}
    {% when 'October' %}{% assign previous_month = 'September' %}
    {% when 'November' %}{% assign previous_month = 'October' %}
    {% when 'December' %}{% assign previous_month = 'November' %}
    {% endcase %}
    {% assign test = prevYearsMonths | append: ' ' | append: year %}
    <dl>
      <dt>

        {% assign blogPresent = 0 %}
        {% for article in blogs[blog.handle].articles limit: 10 %}
        {% capture date %}
        {{ article.published_at | date: "%B %Y" }}
        {% endcapture %}
        {% assign checkDate = prevYearsMonths | append: ' ' | append: year %}
        {% if date contains checkDate %}
        {% assign blogPresent = 1 %}
        {% endif %}
        {% endfor %}

        {% if blogPresent == 1 %}
        {{ prevYearsMonths }} {{year}}
        {% else %}

        {% endif %}
      </dt>
      <dd>
        <ul class="archive-sidebar">
          {% for article in blogs[blog.handle].articles limit: 10 %}
          {% capture date %}
          {{ article.published_at | date: "%B %Y" }}
          {% endcapture %}
          {% if date contains test %}
          <li>{{ article.title | link_to: article.url }}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </dd>
    </dl>
    {% assign prevYearsMonths = previous_month %}
    {% endfor %}

    {% assign year = year | minus: 1 %}
    {% endfor %}
  </div>

  {% when 'tag' %}
  {% if blog.all_tags.size > 0 %}
  <div class="widget blog-widget widget-tag">
    {% if block.settings.blog_tags_title != blank %}
    <h3 class="widget-title">{{ block.settings.blog_tags_title }}</h3>
    {% endif %}
    <div class="tagcloud">
      {% assign tags_list_limit = block.settings.blog_tags_list_limit_handle %}
      {% for tag in blog.all_tags limit: tags_list_limit %}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="{% if current_tags contains tag %}active{% endif %}">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% endcase %}
  {% endfor %}
</div>
