<div class="comment">
  <h3 class="comment-title">{{ 'blogs.comments.with_count' | t: count: article.comments_count }}</h3>
  <ul class="comment-list">
    {% for comment in article.comments %}
    <li>
      <div class="single-comment">
        <div class="comment-avatar">
          {% if section.settings.commentator_image %}
          <img src="{{ section.settings.commentator_image | img_url: '100x100', crop: 'center' }}" alt="{{ section.settings.commentator_image.alt }}">
          {% else %}
          <img src="https://www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 | append: '?s=200' }}" />
          {% endif %}
        </div>
        <div class="comment-info">
          <div class="comment-meta">
            <h5 class="comment-author"><a href="#" class="remove_href">{{ comment.author }}</a></h5>
            <span class="comment-date">{{ comment.created_at | date: "%B %d, %Y" }}</span>
          </div>
          <div class="comment-content">
            <p>{{ comment.content }}</p>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>