<nav role="navigation" aria-label="breadcrumbs">
  <ul class="breadcrumb-list breadcrumb justify-content-center">
    <li><a href="/" title="{{ settings.home_title }}">{{ settings.home_title }}</a></li>
    <li>
      {% if template contains 'product' %}
          {% if collection %}
              {% if collection.handle %}
              {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
              {{ collection.title | link_to: url }} 
              {% endif %}
          {% endif %}
      	  <a class="remove_href cursor_text current"><span>{{ product.title }}</span></a>
      
      {% elsif template contains 'collection' and collection.handle %}
          {% if current_tags %}
              {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
              {{ collection.title | link_to: url }}
              <span> {{ current_tags | join: " + " }}</span>
          {% else %}
      	  <a class="remove_href cursor_text current"><span>{{ collection.title }}</span></a>
          {% endif %}

      {% elsif template == 'blog' %}
          {% if current_tags %}
              {{ blog.title | link_to: blog.url }}
              <span>{{ current_tags | join: " + " }}</span>
          {% else %}
      	  <a class="remove_href cursor_text current"><span>{{ blog.title }}</span></a>
          {% endif %}

      {% elsif template == 'article' %}
          {{ blog.title | link_to: blog.url }}
          <span>{{ article.title }}</span>
      {% elsif template contains 'page' %}
      	  <a class="remove_href cursor_text current"><span>{{ page.title }}</span></a>
      {% else %}
      	  <a class="remove_href cursor_text current"><span>{{ page_title }}</span></a>
      {% endif %}
    </li>
  </ul>
</nav>