{% if settings.breadcrumb_banner_enable %}
<div class="breadcrumb-area breadcrumbs-section">
  <div class="breadcrumbs overlay-bg">
    <div class="container{% if settings.bread_width == 'full_wide' %}-fluid{% endif %}">
      <div class="row">
        <div class="col-12 text-center">
          <div class="breadcrumbs-inner">
            {% if settings.show_bread_page_title %}
            <h1 class="page-title breadcrumbs-title">{{ page_title }}</h1>
            {% endif %}
            {% include 'breadcrumb-builtin' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}