<div class="sidebar-widget">
  {% for block in section.blocks %}
  {% case block.type %}

  {% when 'search' %}
  <div class="product-widget categroy-widget cl_side_search">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <form action="/search" method="get" role="search">
      <input type="hidden" name="type" value="product">
      <input class="cl_side_input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}">
      <button type="submit"><i class="dl-icon-search1"></i></button>
    </form>
  </div>

  {% when 'category' %}
  <div class="product-widget categroy-widget">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul class="prouduct-categories product-widget__list">
      {% assign categories_list_limit = block.settings.categories_list_limit_hanlde %}
      {% for c in collections limit: categories_list_limit %}
      <li{% if collection and collection.handle == c.handle %} class="active"{% endif %}><a href="{{ c.url }}">{{ c.title }}<span class="count">({{ c.products_count }})</span></a></li>
      {% endfor %}
    </ul>
  </div>

  {% when 'vendor' %}
  <div class="product-widget product-widget--brand">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul class="product-widget__list">
      {% assign vendors_list_limit = block.settings.vendors_list_limit_hanlde %}
      {% for vendor in shop.vendors limit: vendors_list_limit %}
      <li{% if collection.current_vendor == vendor %} class="active"{% endif %}><a href="{{ vendor | url_for_vendor }}">{{ vendor }}</a></li> 
      {% endfor %}
    </ul>
  </div>

  {% when 'type' %}
  <div class="product-widget product-widget--brand">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul class="product-widget__list">
      {% assign types_list_limit = block.settings.types_list_limit_hanlde %}
      {% for type in shop.types limit: types_list_limit %}
      {%- if type != '' -%}
      <li class="{% if collection.current_type == type %}active{% endif %}"><a href="{{ type | url_for_type }}">{{ type }}</a></li> 
      {%- endif -%}
      {% endfor %}
    </ul>
  </div>

  {% when 'color' %}
  <div class="product-widget product-widget--Color">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul class="product-widget__list two-column-list">
      {% assign tags = block.settings.color_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
      {% assign colors_list_limit = block.settings.colors_list_limit_hanlde %}

      {% for t in tags limit: colors_list_limit %}
      {% assign tag = t | strip %}
      {%- if current_tags contains tag -%}
      <li class="{{ tag }} active"><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- elsif collection.all_tags contains tag -%}
      <li class="{{ tag }}"><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- endif -%}
      {% endfor %}
    </ul>
  </div>

  {% when 'size' %}
  <div class="product-widget product-widget--size">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul class="product-widget__list two-column-list">
      {% assign tags = block.settings.size_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
      {% assign size_list_limit = block.settings.size_list_limit_hanlde %}

      {% for t in tags limit: size_list_limit %}
      {% assign tag = t | strip %}
      {%- if current_tags contains tag -%}
      <li class="active"><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- elsif collection.all_tags contains tag -%}
      <li><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- endif -%}
      {% endfor %}
    </ul>
  </div>

  {% when 'tag' %}
  <div class="product-widget tag-widget">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <div class="tagcloud">
      {% assign tags_list_limit = block.settings.tags_list_limit_hanlde %}
      {% for tag in collection.all_tags limit: tags_list_limit %}
      {%- if current_tags contains tag -%}
      <a class="active" href="/collections/all/{{ tag | handle }}">{{ tag }}</a>
      {%- else -%}
      <a href="/collections/all/{{ tag | handle }}">{{ tag }}</a>
      {%- endif -%}
      {% endfor %}
    </div>
  </div>

  {% when 'banner' %}
  <div class="product-widget promo-widget">
    <div class="banner-box banner-type-3 banner-type-3-2 banner-hover-3">
      <div class="banner-inner">
        <div class="banner-image">
          {% if block.settings.banner_image != blank %}
          <img src="{{ block.settings.banner_image | img_url: 'grande' }}" alt="{{ block.settings.banner_image.alt }}">
          {% else %}
          <img src="https://via.placeholder.com/300x240" alt="{{ block.settings.banner_image.alt }}">
          {% endif %}
        </div>
        <a class="banner-link banner-overlay" href="{{ block.settings.banner_image_url }}">Shop Now</a>
      </div>
    </div>
  </div>

  {% when 'menu' %}
  <div class="product-widget product-widget--size category-sub-menu">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul class="prouduct-categories product-widget__list">
      {% assign menu = block.settings.menu_handle %}
      {% for link in linklists[menu].links %}
      {% assign childlink_handle = link.title | handle %}
      {% if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 %}
      <li class="has-sub {% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a>
        <ul>
          {% for childlink in linklists[childlink_handle].links %}
          <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>


  {% endcase %}
  {% endfor %}
</div>



<script>
  $(".sidebar-widget li.active a").removeAttr("href");

  $('.category-sub-menu li.has-sub > a').on('click', function () {
    $(this).removeAttr('href');
    var element = $(this).parent('li');
    if (element.hasClass('open')) {
      element.removeClass('open');
      element.find('li').removeClass('open');
      element.find('ul').slideUp();
    } else {
      element.addClass('open');
      element.children('ul').slideDown();
      element.siblings('li').children('ul').slideUp();
      element.siblings('li').removeClass('open');
      element.siblings('li').find('li').removeClass('open');
      element.siblings('li').find('ul').slideUp();
    }
  }); 
</script>