<div id="instafeed" class="instafeed-widget"></div>

<script>
  (function ($) {
    "use strict";
    jQuery(document).ready(function(){
      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{ settings.instafeed_user_id }}',
        limit: 8,
        accessToken: '{{ settings.instafeed_access_token }}',
        resolution: 'low_resolution',
        template: '<div class="grid-item"><div class="instagram-item"><a target="\_blank" href="\{\{link\}\}" title="\{\{caption\}\}" style="background-image: url(\{\{image\}\});" class="thumbnail"><\/a><\/div></div>'
      });
      userFeed.run();
    });

  })(jQuery); 
</script>