<ul>
  {% if block.settings.widget_title1 != '' %}
  <li><i class="fa fa-{{ block.settings.widget_icon1 }}"></i><span>{{ block.settings.widget_title1 }}</span></li>
  {% endif %}

  {% if block.settings.widget_title2 != '' %}
  <li><i class="fa fa-{{ block.settings.widget_icon2 }}"></i><span>{{ block.settings.widget_title2 }}</span></li>
  {% endif %}


  {% if block.settings.widget_title3 != '' %}
  <li><i class="fa fa-{{ block.settings.widget_icon3 }}"></i><span>{{ block.settings.widget_title3 }}</span></li>
  {% endif %}

  {% if block.settings.widget_title4 != '' %}
  <li><i class="fa fa-{{ block.settings.widget_icon4 }}"></i><span>{{ block.settings.widget_title4 }}</span></li>
  {% endif %}              
</ul>