<script src="{{ 'modernizr-3.5.0.min.js' | asset_url }}"></script>
<script src="{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' }}"></script>
<script src="{{ 'vendor.js' | asset_url }}"></script>
<script src="{{ 'instafeed.min.js' | asset_url }}"></script>
{% if settings.compare_product_enalbe %}
<script src="{{ 'compare.js' | asset_url }}"></script>
<script src="{{ 'jquery.storageapi.min.js' | asset_url }}"></script>{% endif %}
<!-- Ajax Cart js -->
<script src="{{ 'option_selection.js' | shopify_asset_url }}"></script>
<script src="{{ 'api.jquery.js' | shopify_asset_url }}"></script>
<script src="{{ 'cart.api.js' | asset_url }}"></script>

<!-- Your main.js file upload this file -->
