{%- if section.settings.logo -%}
{% capture logo_size %}{{ section.settings.logo_width | escape }}x{% endcapture %}
{%- if settings.header_style == 'style_1' or settings.header_style == 'style_3' -%}
<a href="/" class="logo-box">
  <figure class="logo--normal"> 
    <img src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ shop.name }}"
         {%- if section.settings.ratina_logo_enable -%}
         srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x" 
         style="max-width: {{ section.settings.logo_width }}px;width: {{ section.settings.logo_width }}px;"
         {%- endif -%}>
  </figure>
</a>
{%- elsif settings.header_style == 'style_2' or settings.header_style == 'style_5' -%}
<a href="/" class="logo-box">
  <figure class="logo--normal"> 
    <img src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ shop.name }}"
         {%- if section.settings.ratina_logo_enable -%}
         srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x" 
         style="max-width: {{ section.settings.logo_width }}px;width: {{ section.settings.logo_width }}px;"
         {%- endif -%}>
  </figure>
  <figure class="logo--sticky{% if template != 'index' %} d-none{% endif %}"> 
    <img src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ shop.name }}"
         {%- if section.settings.ratina_logo_enable -%}
         srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x" 
         style="max-width: {{ section.settings.logo_width }}px;width: {{ section.settings.logo_width }}px;"
         {%- endif -%}>
  </figure>
</a>
{%- elsif settings.header_style == 'style_4' -%}
<a href="/" class="logo-box">
  <figure class="logo--normal d-none d-md-block"> 
    <img src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ shop.name }}"
         {%- if section.settings.ratina_logo_enable -%}
         srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x" 
         style="max-width: {{ section.settings.logo_width }}px;width: {{ section.settings.logo_width }}px;"
         {%- endif -%}>
  </figure>
</a>
<a href="/" class="logo-box">
  <figure class="logo--sticky d-block d-md-none"> 
    <img src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ shop.name }}"
         {%- if section.settings.ratina_logo_enable -%}
         srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x" 
         style="max-width: {{ section.settings.logo_width }}px;width: {{ section.settings.logo_width }}px;"
         {%- endif -%}>
  </figure>
</a>
{%- endif -%}

{%- else -%}
<a href="/" class="logo-box">
  <strong>{{ shop.name }}</strong>
</a>
{%- endif -%}