{{ 'vendor.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}
{{ 'theme-default.css' | asset_url | stylesheet_tag }}
{{ 'theme-custom.css' | asset_url | stylesheet_tag }}
{{ 'theme-responsive.css' | asset_url | stylesheet_tag }}

{% if settings.rtl_enable %}
{{ 'theme-rtl.css' | asset_url | stylesheet_tag }}
{% endif %}
{{ 'skin-and-color.css' | asset_url | stylesheet_tag }}

{%- if settings.custom_css != '' -%}
{{ settings.custom_css }}
{%- endif -%}


