<div class="col-lg-5 col-md-6 mb-sm--25">
  <div class="banner-box banner-hover-1">
    <div class="banner-inner">
      <div class="banner-image">
        {%- if block.settings.ban_img -%}
        <img src="{{ block.settings.ban_img | img_url: 'master' }}" alt="{{ image.alt }}">
        {%- else -%}
        <img src="https://via.placeholder.com/500x460" alt="Banner">
        {%- endif -%}
      </div>
      <a class="banner-link banner-overlay" href="{{ block.settings.ban_url }}">Shop Now</a>
    </div>
  </div>
</div>
<div class="col-md-6 offset-lg-1 text-center">
  {%- if block.settings.title1 != '' -%}
  <h2 class="heading-secondary pb-md--2" style="color: {{ block.settings.title1_color }};">{{ block.settings.title1 }}</h2>
  {%- endif -%}

  {%- if block.settings.title_border -%}
  <hr class="separator center mtb--25 mtb-md--20">
  {%- endif -%}

  {%- if block.settings.subtitle != '' -%}
  <p class="mb--35 mb-md--20" style="color: {{ block.settings.subtitle_color }};">{{ block.settings.subtitle }}</p>
  {%- endif -%}

  {%- if block.settings.show_signimg -%}
  {%- if block.settings.signimg -%}
  <img src="{{ block.settings.signimg | img_url: 'master' }}" alt="{{ image.alt }}">
  {%- else -%}
  <img src="https://via.placeholder.com/200x172" alt="signature">
  {%- endif -%}
  {%- endif -%}
</div> 