<section class="instagram-area" id="section-{{ section.id }}">
  <div class="container{% if section.settings.section_width == 'wide' %}-fluid{% elsif section.settings.section_width == 'full' %}-fluid p-0{% endif %}">
    {% if section.settings.section_title != '' %}
    <div class="row mb--50 mb-md--40 mb-sm--30">
      <div class="col-12 text-center">
        <h2 class="heading-secondary">{{ section.settings.section_title }}</h2>
        
        {% if section.settings.show_separator %}
        <hr class="separator center mt--35 mt-md--30">
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="row{% if section.settings.section_width == 'full' %} no-gutters{% endif %}">
      <div class="col-12">
        <div class="instagram-feed">
          <div id="instafeed" class="instagram-carousel"></div>
        </div>
      </div>
    </div>
  </div>
</section>




<script>
  (function ($) {
    "use strict";
    jQuery(document).ready(function(){
      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{ settings.instafeed_user_id }}',
        limit: '{{ section.settings.instafeed_limit }}',
        accessToken: '{{ settings.instafeed_access_token }}',
        resolution: '{{ section.settings.image_resolution }}',
        template: '<div class="grid-item"><div class="instagram-feed-item"><a href="\{\{link\}\}" target="\_blank"><img src="\{\{image\}\}"></a><div class="instagram-feed-hover-content"><span class="tottallikes"><i class="fa fa-heart"></i>\{\{likes\}\}</span><span class="totalcomments"><i class="fa fa-comments\"></i>\{\{comments\}\}</span></div></div></div>'
      });
      userFeed.run();
    });
  })(jQuery); 
</script>


<script>
  jQuery(window).on('load', function () {
    
    $('.instagram-carousel').slick({
        dots: false,
        arrows: false,
        rtl: {% if settings.rtl_enable %}true{% else %}false{% endif %},
        slidesToShow: 5,
        slidesToScroll: 1,
        infinite: true,
        autoplay: false,
        responsive:[
                {
                  breakpoint: 1024,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                  }
                },
                {
                  breakpoint: 600,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
              ]
           })
  });
</script>