<nav class="main-navigation{% if settings.header_style == 'style_2' %} main-navigation-2
            {% elsif settings.header_style == 'style_4' %} white-color
            {% elsif settings.header_style == 'style_5' %} vertical-nav mb--20 mb-lg--10{% endif %}">
  <ul class="mainmenu{% if settings.header_style == 'style_1' or settings.header_style == 'style_4' %} mainmenu--centered{% endif %}">
    {%- for link in linklists.main-menu.links -%}
    {%- assign childlink_handle = link.title | handle -%}
    {%- if linklists[childlink_handle] and linklists[childlink_handle].links.size > 2 -%}    
    <li class="mainmenu__item menu-item-has-children has-children{% if link.active %} active{% endif %}">
      <a href="{{ link.url }}" class="mainmenu__link">
        <span class="mm-text">{{ link.title }}</span>
      </a>
      <ul class="sub-menu add_class">
        {%- for childlink in linklists[childlink_handle].links -%}
        {%- assign grand_childlink_handle = childlink.title | handle -%}
        {%- if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 -%}
        <li class="zuka_megamenu">
          <a class="megamenu-title" href="{{ childlink.url }}">
            <span class="mm-text">{{ childlink.title }}</span>
          </a>
          <ul>
            {%- for grand_childlink_handle in linklists[grand_childlink_handle].links -%}  
            <li class>
              <a href="{{ grand_childlink_handle.url }}"><span class="mm-text">{{ grand_childlink_handle.title }}</span></a>
            </li>
            {%- endfor -%} 
          </ul>
        </li>

        {%- elsif childlink.type == "collection_link" and childlink.object.image -%}
        <li class="banner-holder zuka_megamenu">
          <div class="megamenu-banner">
            <div class="megamenu-banner-image" style="background: url({{ childlink.object.image | img_url: 'large' }}) no-repeat scroll center/cover;"></div>
            <a href="{{ childlink.url }}" class="megamenu-banner-link"></a>
          </div>
        </li>

        {%- else -%}
        <li>
          <a href="{{ childlink.url }}">
            <span class="mm-text">{{ childlink.title }}</span>
          </a>
        </li>        
        {%- endif -%}{%- endfor -%}
      </ul>
    </li>

    {%- elsif linklists[childlink_handle] and linklists[childlink_handle].links.size > 1 -%}
    <li class="mainmenu__item menu-item-has-children has-children{% if link.active %} active{% endif %}">
      <a href="{{ link.url }}" class="mainmenu__link">
        <span class="mm-text">{{ link.title }}</span>
      </a>
      <ul class="megamenu two-column add_class2">
        {%- for childlink in linklists[childlink_handle].links -%}
        {%- assign grand_childlink_handle = childlink.title | handle -%}
        {%- if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 -%}
        <li class="zuka_megamenu2">
          <a class="megamenu-title" href="{{ childlink.url }}">
            <span class="mm-text">{{ childlink.title }}</span>
          </a>
          <ul>
            {%- for grand_childlink_handle in linklists[grand_childlink_handle].links -%}  
            <li>
              <a href="{{ grand_childlink_handle.url }}"><span class="mm-text">{{ grand_childlink_handle.title }}</span></a>
            </li>
            {%- endfor -%} 
          </ul>
        </li>
        {%- else -%}
        <li>
          <a href="{{ childlink.url }}">
            <span class="mm-text">{{ childlink.title }}</span>
          </a>
        </li>        
        {%- endif -%}{%- endfor -%}
      </ul>
    </li>

    {%- elsif linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 -%}
    <li class="mainmenu__item menu-item-has-children has-children{% if link.active %} active{% endif %}">
      <a href="{{ link.url }}" class="mainmenu__link">
        <span class="mm-text">{{ link.title }}</span>
      </a>
      <ul class="sub-menu">
        {%- for childlink in linklists[childlink_handle].links -%}
        <li>
          <a href="{{ childlink.url }}">
            <span class="mm-text">{{ childlink.title }}</span>
          </a>
        </li>  
        {%- endfor -%}
      </ul>
    </li>

    {%- else -%}
    <li class="mainmenu__item{% if link.active %} active{% endif %}">
      <a href="{{ link.url }}" class="mainmenu__link">
        <span class="mm-text">{{ link.title }}</span>
      </a>
    </li>
    {%- endif -%}{%- endfor -%}
  </ul>
</nav>


<script>
  $('.zuka_megamenu').parents('.add_class').addClass('megamenu four-column').removeClass('sub-menu');
  $('.zuka_megamenu2').parents('.add_class2').addClass('megamenu two-column').removeClass('sub-menu');
  $('.megamenu').parent('li').addClass('megamenu-holder').removeClass('has-children');
  $('.mm-text').children().addClass('badge menu_badge');
</script>