{% assign itemStyle = '' %}{% if cart.item_count == 0 %}{% assign itemStyle = ' style="display:none;"' %}{% endif %}
{% assign itemEmpty = '' %}{% if cart.item_count == 0 %}{% assign itemEmpty = ' style="display:block;"' %}{% endif %}
{% assign item_count = cart.item_count %}

<a href="#miniCart" class="mini-cart-btn toolbar-btn{% if settings.header_style == 'style_3' %} mini-cart-btn-3{% endif %}">
  <i class="dl-icon-cart25"></i>
  <sup class="mini-cart-count bigcounter">{{ item_count }}</sup>
</a>


<aside class="mini-cart" id="miniCart">
  <div class="mini-cart-wrapper">
    <a href="" class="btn-close remove_href"><i class="dl-icon-close"></i></a>
    <div class="mini-cart-inner">
      {%- if settings.mini_cart_title != '' -%}
      <h5 class="mini-cart__heading mb--40 mb-lg--30 text-{% if settings.rtl_enable %}right{% else %}left{% endif %}">{{ settings.mini_cart_title }}</h5>
      {%- endif -%}
      
      <div class="mini-cart__content shp__cart__wrap" {{ itemStyle }}>
        <ul class="mini-cart__list">
          {%- for item in cart.items limit: 20 -%}
          <li class="mini-cart__product">
            <a class="remove-from-cart remove" href="javascript:void(0);" onclick="Shopify.removeItem({{ item.variant.id }})"><i class="dl-icon-close"></i></a>            
            <div class="mini-cart__product__image">
              <img alt="{{ item.image.alt }}" src="{{ item | img_url: '82x' }}">
            </div>
            <div class="mini-cart__product__content text-{% if settings.rtl_enable %}right{% else %}left{% endif %}">
              <a class="mini-cart__product__title" href="{{ item.url }}">{{ item.title }}</a>
              <span class="mini-cart__product__quantity">{{ item.quantity }} x {{ item.price | money }}</span>
            </div>
          </li>
          {%- endfor -%}
        </ul>
        
        <div class="mini-cart__total text-{% if settings.rtl_enable %}right{% else %}left{% endif %}">
          <span>{{ settings.total_title }}</span>
          <span class="ammount shopping-cart__total">{{ cart.total_price | money }}</span>
        </div>
        
        <div class="mini-cart__buttons">
          {%- if settings.view_cart_title != '' -%}
          <a href="/cart" class="btn btn-fullwidth btn-style-1">{{ settings.view_cart_title }}</a>
          {%- endif -%}
          
          {%- if settings.checkout_title != '' -%}
          <a href="/checkout" class="btn btn-fullwidth btn-style-1">{{ settings.checkout_title }}</a>
          {%- endif -%}
        </div>
      </div>
      
      <div class="cart_empty_title" {{ itemEmpty }}>
        <div class="shopping-cart-total text-{% if settings.rtl_enable %}right{% else %}left{% endif %}">
          <p>{{ settings.empty_cart_title }}</p>
        </div>
      </div>
      
    </div>
  </div>
</aside>