<div class="mobile-menu-wrapper" id="mobileMenu">
  <div class="mobile-menu-inner">
    <a href="" class="btn-close remove_href">
      <span class="hamburger-icon"></span>
    </a>
    <nav class="mobile-navigation">
      <ul class="mobile-menu">
        {%- for link in linklists.main-menu.links -%}
        {%- assign childlink_handle = link.title | handle -%}
        {%- if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 -%}  
        <li class="menu-item-has-children{% if link.active %} active{% endif %}">
          <a href="{{ link.url }}">
            <span class="mm-text">{{ link.title }}</span>
          </a>
          <ul class="sub-menu">
            {%- for childlink in linklists[childlink_handle].links -%}
            {%- assign grand_childlink_handle = childlink.title | handle -%}
            {%- if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 -%}
            <li class="menu-item-has-children">
              <a href="{{ childlink.url }}">
                <span class="mm-text">{{ childlink.title }}</span>
              </a>
              <ul class="sub-menu">
                {%- for grand_childlink_handle in linklists[grand_childlink_handle].links -%}
                <li>
                  <a href="{{ grand_childlink_handle.url }}"><span class="mm-text">{{ grand_childlink_handle.title }}</span></a>
                </li>
                {%- endfor -%} 
              </ul>
            </li>

            {%- else -%}
            <li>
              <a href="{{ childlink.url }}">
                <span class="mm-text">{{ childlink.title }}</span>
              </a>
            </li>    
            {%- endif -%}{%- endfor -%}
          </ul>
        </li>

        {%- else -%}
        <li{% if link.active %} class="active"{% endif %}>
          <a href="{{ link.url }}">
            <span class="mm-text">{{ link.title }}</span>
          </a>
        </li>
        {%- endif -%}{%- endfor -%}
      </ul>
    </nav>
  </div>
</div>