<div class="zuka-product thumb-has-effect">
  <div class="product-inner">
    <figure class="product-image">
      <div class="product-image--holder">
        <a href="#">
          {% assign product_item = "product-" | append: a  %}
          {{ product_item | placeholder_svg_tag: 'primary-image' }}
          {{ product_item | placeholder_svg_tag: 'secondary-image' }}                            
        </a>
      </div>
      <div class="zuka-product-action zuka-product-action-1">
        <div class="product-action">
          <a class="quickview-btn action-btn action-btn-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Shop">
            <span data-toggle="modal" data-target="#productModal">
              <i class="dl-icon-view"></i>
            </span>
          </a>
          <a class="add_wishlist action-btn action-btn-1" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
            <i class="dl-icon-heart4"></i>
          </a>
          <a class="add_compare action-btn action-btn-1" href="compare.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Compare">
            <i class="dl-icon-compare"></i>
          </a>
          <a class="btn add_to_cart_btn action-btn" href="cart.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart">
            <span>Add To Cart</span>
          </a>
        </div>
      </div>
    </figure>
    <div class="product-info text-center">
      <div class="star-rating star-five">
        <span>Rated <strong class="rating">5.00</strong> out of 5</span>
      </div>
      <h3 class="product-title">
        <a href="product-details.html">Atlin Designs Mid Century Club Chair</a>
      </h3>
      <span class="product-price-wrapper">
        <span class="money">&pound; 159.00</span>
      </span>
    </div>
  </div>
</div>