{% if paginate.pages > 1 %}
<nav class="pagination-wrap">
  <ul class="pagination">
    {% if paginate.previous %}
    <li><a href="{{ paginate.previous.url }}" aria-label="Previous" class="prev page-number"><i class="fa fa-angle-double-{% if settings.rtl_enable %}right{% else %}left"{% endif %}></i></a></li>
    {% else %}
    <li class="disabled"><a href="#" class="prev page-number"><i class="fa fa-angle-double-{% if settings.rtl_enable %}right{% else %}left{% endif %}"></i></a></li>
    {% endif %}

    {% for part in paginate.parts %}
        {% if part.is_link %}
        	<li><a href="{{ part.url }}" class="page-number">{{ part.title }}</a></li>
        {% else %}
            {% if part.title == paginate.current_page %}
            	<li><a href="#" class="current page-number">{{ part.title }}</a></li>
            {% else %}
            	<li><a href="#" class="page-number">{{ part.title }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if paginate.next %}
    <li><a href="{{ paginate.next.url }}" class="next page-number"><i class="fa fa-angle-double-{% if settings.rtl_enable %}left{% else %}right{% endif %}"></i></a></li>
    {% else %}
    <li class="disabled"><a href="#" class="next page-number"><i class="fa fa-angle-double-{% if settings.rtl_enable %}left{% else %}right{% endif %}"></i></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<script>
  $(".pagination-wrap .disabled a").removeAttr("href");
  $(".pagination-wrap li.current a").removeAttr("href");
</script>