{% if settings.show_search and settings.header_style == 'style_1' or settings.header_style == 'style_5' %}
<div class="searchform__popup" id="searchForm">
  <a href="#" class="btn-close"><i class="dl-icon-close"></i></a>
  <div class="searchform__body">
    {% if settings.search_title != '' %}
    <p>{{ settings.search_title }}</p>
    {% endif %}  
    <form action="/search" method="get" class="searchform" role="search">
      <input type="search" id="popup-search" name="q" value="{{ search.terms | escape }}" placeholder="{{ settings.search_placeholder }}"  class="searchform__input">
      <button type="submit" class="searchform__submit"><i class="dl-icon-search10"></i></button>
    </form>
  </div>
</div>
{% endif %}