{%- assign on_sale = false -%}
{%- if product.variants.first.compare_at_price > product.variants.first.price -%}
{%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}

{%- assign variant = product.selected_or_first_available_variant -%}

{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%}



<div class="zuka-product zuka-product-layout-2 thumb-has-effect {{ variant.id }}">
  <div class="product-inner">
    <figure class="product-image">
      <div class="product-image--holder">
        <a href="{{ product.url | within: collection }}">
          {% if product.images.size > 1 %}
          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="primary-image popup_cart_image">
          {% for image in product.images limit: 1 offset: 1 %}
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="secondary-image">
          {% endfor %}
          {% else %}
          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="popup_cart_image">
          {% endif %}
        </a>

        {% if product.description contains '[countdown]' %}
        <div class="zuka_countdown">
          {% assign count_down_first = product.description | split:'[/countdown]' | first %}
          {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
          <div data-countdown="{{ count_down_final }}"></div>
        </div>
        {% endif %}
      </div>

      <div class="zuka-product-action zuka-product-action-1">
        <div class="product-action">
          {% unless product.description contains '[affiliate_link]' %}
          {% if settings.product_quickview_enalbe %}
          <a class="quickview-btn action-btn action-btn-square" 
             data-toggle="tooltip" 
             data-placement="top" 
             title="" 
             data-original-title="Quick Shop" 
             href="javascript:void(0);" 
             onclick="quiqview('{{ product.handle | handleize }}')">
            <span data-toggle="modal" data-target="#productModal"><i class="dl-icon-view"></i></span>
          </a>
          {% endif %}

          {% if settings.show_product_wishlist %}
          {% include 'wishlist-button-2' %}
          {% endif %}

          {% if settings.compare_product_enalbe %}
          <a class="add_compare action-btn action-btn-square compare" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Compare" data-pid="{{ product.handle  }}">
            <i class="dl-icon-compare"></i>
          </a>
          {% endif %}

          {% if product.available %}
          <a href="javascript:void(0);" onclick="{{ func }}; return false;" class="add_to_cart_btn action-btn action-btn-square dark-bg">
            <i class="dl-icon-cart29"></i>
          </a>
          {% else %}
          <a class="cart-disable remove_href add_to_cart_btn action-btn action-btn-square dark-bg" href="#">
            <i class="dl-icon-cart29"></i>
          </a>
          {% endif %}

          {% else %}
          {% include 'affiliate-product-cart-action-2' %}
          {% endunless %}
        </div>
      </div>
      {% include 'product-badge' %}
    </figure>
    <div class="product-info">
      <h3 class="product-title popup_cart_title">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </h3>
      <div class="product-price-wrapper float-left">
        <span class="money">{{ product.variants.first.price | money  }}</span>
        {%- if on_sale -%}
        <span class="product-price-old">{{ product.variants.first.compare_at_price | money  }}</span>
        {%- endif -%}
      </div>
      {%- if settings.show_product_review -%}
      <div class="product-rating spr-badge-caption-none float-right">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      {%- endif -%}
      <div class="clearfix"></div>
    </div>
  </div>
</div>