<div class="product-image">
  <div class="product-gallery">
    {%- if product.images.size > 1 -%}
    <div class="product-gallery__nav-image">
      <div id="ProductThumbs" class="zuka-element-carousel nav-slider product-slide-nav" 
           data-slick-options='{
                               "spaceBetween": 30,
                               "slidesToShow": 4,
                               "slidesToScroll": 1,
                               "infinite": true,
                               "arrows": true, 
                               "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                               "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                               }'
           data-slick-responsive='[
                                  {"breakpoint":991, "settings": {"slidesToShow": 3}},
                                  {"breakpoint":767, "settings": {"slidesToShow": 4}},
                                  {"breakpoint":575, "settings": {"slidesToShow": 3}},
                                  {"breakpoint":480, "settings": {"slidesToShow": 2}}
                                  ]'>


        {% for image in product.images %}
        <figure class="product-gallery__nav-image--single">
          <a class="product-single__thumbnail {% if forloop.first and section.settings.product_zoom_enable %}active{% endif %}" href="{{ image.src | img_url: '1024x1024' }}" 
             data-image="{{ image.src | img_url: '1024x1024' }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}" data-image-id="{{ image.id }}">
            <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
          </a>
        </figure>
        {% endfor %}
      </div>
    </div>
    {%- endif -%}

    <div class="product-gallery__large-image mb--30">
      <div class="product-gallery__wrapper">
        <div id="ProductPhoto" class="zuka-element-carousel main-slider image-popup">
          <figure class="product-gallery__image zoom">
            {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
            <img id="ProductPhotoImg" class="{% if section.settings.product_zoom_enable %}product-zoom{% endif %} product_variant_image" 
                 data-image-id="{{ image.id }}" alt="{{ featured_image.alt | escape }}" 
                 data-zoom-image="{{ featured_image | img_url: '1024x1024' }}" 
                 src="{{ featured_image | img_url: '1024x1024' }}">
          </figure>
        </div>

        <div class="product-gallery__actions">
          <button class="action-btn-2 btn-zoom-popup product-zoom"><i class="dl-icon-zoom-in"></i></button>
          {%- if product.description contains '[product_video]' -%} 
          {%- assign product_video_first = product.description | split:'[/product_video]' | first -%}
          {%- assign product_video_final = short_description_first | split:'[product_video]' | last -%}
          <a href="{{ product_video_final }}" class="action-btn-2 video-popup"><i class="dl-icon-format-video"></i></a>
          {%- endif -%}
        </div>
      </div>
      {% include 'product-badge' %}
    </div>
  </div>
  <span class="product-badge sale">Sale</span>
</div>