<div class="product-variant-option mt--40 mt-lg--30 mt-sm--20{% if section.settings.product_variant_handle == 'product_variant_select_option' %} mb--40 mb-lg--30 mb-sm--20{% endif %}"> 
  <select name="id" id="productSelect" class="product-single__variants" style="display:none;">
    {% for variant in product.variants %}
    {% if variant.available %}
    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
    {% else %}
    <option disabled="disabled">
      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
    </option>
    {% endif %}
    {% endfor %}
  </select>     
  
  {%- if section.settings.product_variant_handle == 'product_variant_swatch_option' -%}
  {%- if product.available and product.variants.size > 1 -%}
  {% for option in product.options %}
  {%- include 'swatch' with option -%}
  {% endfor %}
  {%- endif -%}                    
  <script>
    jQuery(function() {
      jQuery('.swatch :radio').change(function() {
        var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
        var optionValue = jQuery(this).val();
        jQuery(this)
        .closest('form')
        .find('.single-option-selector')
        .eq(optionIndex)
        .val(optionValue)
        .trigger('change');
      });
    });
  </script>
  {%- endif -%}
</div>

{%- if section.settings.product_variant_handle == 'product_variant_swatch_option' or section.settings.product_variant_handle == 'product_variant_without_option' -%}
<style>
  .product-variant-option .selector-wrapper{
  	display: none;
  }
</style>
{%- endif -%}