{%- assign on_sale = false -%}
{%- if product.variants.first.compare_at_price > product.variants.first.price -%}
{%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}

{%- assign variant = product.selected_or_first_available_variant -%}

{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%} 



<div class="product-item {{ variant.id }}">
  {% if product.description contains '[countdown]' %}
  <div class="product-item__countdown">
    {% assign count_down_first = product.description | split:'[/countdown]' | first %}
    {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
    <div class="product-countdown product-countdown-2 round vertical outline" data-countdown="{{ count_down_final }}"></div>
  </div>
  {% endif %}

  <div class="product-item__thumbnail">
    <figure class="product-item__img">
      <a href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" class="popup_cart_image">
      </a>
    </figure>
    {% include 'product-badge' %}
  </div>

  <div class="product-item__info">
    <h3 class="product-item__title popup_cart_title">
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </h3>
    <div class="product-price-wrapper">
      {% if on_sale %}
      <span class="product-price-old">
        <span class="money">{{ product.variants.first.compare_at_price | money  }}</span>
      </span>
      {% endif %}
      <span class="product-price-new">
        <span class="money">{{ product.variants.first.price | money  }}</span>
      </span>
    </div>

    {% if settings.show_product_review %}
    <div class="product-rating spr-badge-caption-none">
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </div>
    {% endif %}
  </div>
  <div class="product-item__action">
    <div class="product-action d-flex flex-column align-items-end">
      {% unless product.description contains '[affiliate_link]' %}
      {% if settings.product_quickview_enalbe %}
      <a class="quickview-btn action-btn" 
         data-toggle="tooltip" 
         data-placement="top" 
         title="" 
         data-original-title="Quick Shop" 
         href="javascript:void(0);" 
         onclick="quiqview('{{ product.handle | handleize }}')">

        <span data-toggle="modal" data-target="#productModal"><i class="dl-icon-view"></i></span>
      </a>
      {% endif %}

      {% if settings.show_product_wishlist %}
      {% include 'wishlist-button-3' %}
      {% endif %}

      {% if settings.compare_product_enalbe %}
      <a class="add_compare action-btn remove_href compare" href="#" data-toggle="tooltip" data-placement="top" data-pid="{{ product.handle  }}" data-original-title="Add to Compare">
        <i class="dl-icon-compare"></i>
      </a>
      {% endif %}

      {% if product.available %}
      <a href="javascript:void(0);" onclick="{{ func }}; return false;" class="add_to_cart_btn action-btn">
        <i class="dl-icon-cart29"></i>
      </a>
      {% else %}
      <a class="cart-disable add_to_cart_btn action-btn remove_href" href="#">
        <i class="dl-icon-cart29"></i>
      </a>
      {% endif %}
      {% else %}
      {% include 'affiliate-product-cart-action-3' %}
      {% endunless %}
    </div>
  </div>
</div>