{%- if product.available -%}
<a class="btn btn-shape-round btn-style-1 btn-large add-to-cart remove_href" id="AddToCart" href="#" title="{{ settings.add_to_cart }}">
  <span class="cart-text" id="AddToCartText">{{ settings.add_to_cart }}</span>
</a>
<script>
  jQuery('#AddToCart').click(function(e) {
    e.preventDefault();
    Shopify.addItemFromFormStart('AddToCartForm', {{ product.id }});
                                 });
</script>
{%- else -%}
<a class="btn btn-shape-round btn-style-1 btn-large sold_out_bt remove_href" href="#">
  <span class="cart-text">{{ settings.out_of_stock }}</span>
</a>
{%- endif -%}