<div class="product-summary{% if section.settings.product_style == 'product_sticky' %} product-content-inner{% endif %}"{% if section.settings.product_style == 'product_sticky' %} id="product-content"{% endif %}>
  <div class="product-top-meta">
    {%- if section.settings.product_review_enable -%}
    <div class="product-rating mr-auto">
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </div>
    {%- endif -%}

    {%- if collection -%}
    {%- if collection.previous_product or collection.next_product -%}
    <div class="product-navigation ml-auto">
      {%- if collection.previous_product -%}
      {{ '<i class="dl-icon-left"></i>' | link_to: collection.previous_product }}
      {%- endif -%}
      {%- if collection.next_product -%}
      {{ '<i class="dl-icon-right"></i>' | link_to: collection.next_product }}
      {%- endif -%}
    </div>
    {%- endif -%}
    {%- endif -%}    
  </div>
  <div class="clearfix"></div>

  {% form 'product', product, id: "AddToCartForm", class: "variation-form mb--40 mb-lg--30 mb-sm--20" %}
  <h3 class="product-title mb--30 mb-lg--20 mb-sm--10" id="popup_cart_title">{{ product.title }}</h3>
  
  <div class="product-price-wrapper float-left mb--30 mb-lg--20 mb-sm--10">
    {%- if product.compare_at_price_max > product.price -%}
    <span class="product-price-old">
      <span class="money" id="ComparePrice">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
    </span>
    {%- endif -%}
    <span class="product-price-new">
      <span class="money" id="ProductPrice">{{ product.selected_or_first_available_variant.price | money }}</span>
    </span>
  </div>
  
  {%- if section.settings.product_inventory_enable -%}
  <span class="product-stock in-stock float-right">
    <i class="dl-icon-check-circle1"></i>    
    {% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity > 0 %}
    <span id="variant-inventory">{{ section.settings.in_stock_title }}</span>
    {% elsif product.available %}
    {{ section.settings.in_stock_title }}
    {% else %}
    {{ section.settings.out_of_stock_title }}
    {% endif %}
  </span>
  {%- endif -%}

  <div class="clearfix"></div>
  
  {% if product.description contains '[countdown]' %}
  {% assign count_down_first = product.description | split:'[/countdown]' | first %}
  {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
  <div class="product-countdown-wrap mb--20 spcount">
    <div class="product-countdown product-countdown-4" data-countdown="{{ count_down_final }}"></div>
  </div>
  {% endif %}
  
  {%- unless section.settings.product_description_handle == 'without_description' -%}
  {%- if section.settings.product_description_handle == 'full_description' -%}
  {{ product.description | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first }}
  {%- elsif section.settings.product_description_handle == 'short_description' -%}

  {%- if product.description contains '[short_description]' -%} 
  {%- assign short_description_first = product.description | split:'[/short_description]' | first -%}
  {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
  {{ short_description_final }}
  {%- else -%}
  {%- assign truncatewords_count = section.settings.truncatewords_count_handle -%}
  <p class="product-short-description mb--30 mb-lg--20 mb-sm--10 pb-sm--1">{{ product.description | strip_html | truncatewords: truncatewords_count | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first }}</p>
  {%- endif -%}
  {%- endif -%}
  {%- endunless -%}

  {%- include 'product-variant' -%}

  <div class="product-action d-flex align-items-center sp_ac">
    {%- if product.description contains '[affiliate_link]' -%}
    {%- include 'affiliate-product-cart-action' -%}
    {%- else -%}
    <div class="quantity">
      <input type="number" value="1" name="quantity" class="quantity-input" id="qty">
    </div>
    {% include 'product-cart-action' %}

    {%- if settings.wishlist_enable -%}
    {% include 'wishlist-button-product' %}
    {%- endif -%}

    {% if settings.compare_product_enalbe %}
    <a href="#" data-pid="{{ product.handle  }}" class="action-btn action-btn-square add_compare compare remove_href"><i class="dl-icon-compare2"></i></a>
    {% endif %}
    {%- endif -%}
  </div>

  {%- unless product.description contains '[affiliate_link]' -%}
  {%- if product.available and section.settings.dynamic_checkout_button_enable -%}
  <div class="p_dyna_btn mt--35 mt-lg--25 mt-sm--15 pt-sm--1" id="hideDynamicBtn">
    {{ form | payment_button }}
  </div>
  {%- endif -%}
  {%- endunless -%}

  
  {% if section.settings.show_page_link %}
  <div class="product-extra pt--3 mt--35 mt-lg--25 mt-sm--15">
    {% if section.settings.page_title1 != '' %}
    <a href="{{ section.settings.page_url1 }}" class="font-size-12">
      <i class="fa fa-{{ section.settings.page_icon1 }}"></i>{{ section.settings.page_title1 }}
    </a>
    {% endif %}

    {% if section.settings.page_title2 != '' %}
    <a href="{{ section.settings.page_url2 }}" class="font-size-12">
      <i class="fa fa-{{ section.settings.page_icon2 }}"></i>{{ section.settings.page_title2 }}
    </a>
    {% endif %}
  </div>
  {% endif %}

  <div class="product-meta mt--35 mt-lg--25 mt-sm--15 pt-sm--1">
    {%- if current_variant.sku.size > 0 and section.settings.product_sku_enable -%}
    <span class="product-sku sku_wrapper font-size-12">{{ section.settings.product_sku_title }} <span class="variant-sku sku">{{ current_variant.sku }}</span></span>
    {%- endif -%}

    {%- if section.settings.show_cat and product.collections.size > 0 -%}
    <span class="posted_in font-size-12">{{ section.settings.cat_title }} 
      {%- for collection in product.collections limit: 5 -%}
      <a href="{{ collection.url }}">{{ collection.title }}</a>{% unless forloop.last %}, {% endunless %}
      {%- endfor -%}
    </span>
    {%- endif -%}

    {%- if section.settings.show_tag and product.tags.size > 0 -%}
    <span class="posted_in font-size-12">{{ section.settings.tag_title }} 
      {%- for tag in product.tags limit: 5 -%}
      <a href="/collections/all/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {%- endfor -%}
    </span>
    {%- endif -%}
  </div>
  {% endform %}

  {%- if section.settings.social_share_enable -%}
  {%- include 'social-share' -%}
  {%- endif -%}

  {%- if section.settings.payment_option_enable -%}
  <div class="custom-payment-options mt--20 product-share-box">
    {%- if section.settings.payment_information != '' -%}
    <span class="posted_in font-size-12">{{ section.settings.payment_information }}</span>
    {%- endif -%}
    {%- if section.settings.payment_image -%}
    <img src="{{ section.settings.payment_image | img_url: '1024x1024' }}" alt="{{ section.settings.payment_image.alt }}">
    {%- endif -%}

    {%- include 'payment-icon' -%}

  </div>
  {%- endif -%}
</div>