<div class="product-image">
  <div class="product-gallery">
    <div class="product-gallery__large-image" id="ProductPhoto" >
      <figure class="product-gallery__image zoom mb--10">
        {% for image in product.images limit: 3 %}
        <img id="ProductPhotoImg" class="product_variant_image {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
             alt="{{ image.alt | escape }}"
             data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
             data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
             src="{{ image.src | img_url: '1024x1024' }}">
        {% endfor %}
      </figure>
    </div>
  </div>
  {% include 'product-badge' %}
</div>