<div class="product-image">
  <div class="product-gallery">
    <div class="product-gallery__large-image">
      <div class="product-gallery__wrapper">
        <div class="row grid-space-10">
          {%- if product.images.size > 1 -%}
          {% for image in product.images limit: 1 %}
          <div class="col-12 mb--10">
            <figure class="product-gallery__image">
              <img class="product_variant_image {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
                   alt="{{ image.alt | escape }}"
                   data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
                   data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
                   src="{{ image.src | img_url: '1024x1024' }}">
            </figure>
          </div>
          {% endfor %}
          {% for image in product.images limit: 2 offset: 1 %}
          <div class="col-6 mb--10">
            <figure class="product-gallery__image">
              <img class="product_variant_image {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
                   alt="{{ image.alt | escape }}"
                   data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
                   data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
                   src="{{ image.src | img_url: '1024x1024' }}">
            </figure>
          </div>
          {% endfor %}
          {%- else -%}
          {% for image in product.images %}
          <div class="col-12 mb--10">
            <figure class="product-gallery__image">
              <img class="product_variant_image {% if section.settings.product_zoom_enable %}product-zoom{% endif %}" 
                   alt="{{ image.alt | escape }}"
                   data-image-id="{{ image.id }}" alt="{{ image.src.alt | escape }}" 
                   data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
                   src="{{ image.src | img_url: '1024x1024' }}">
            </figure>
          </div>
          {% endfor %}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  {% include 'product-badge' %}
</div>