{%- assign on_sale = false -%}{%- if item.compare_at_price > item.price -%}{%- assign on_sale = true -%}{%- endif -%}
{%- assign sold_out = true -%}{%- if item.available -%}{%- assign sold_out = false -%}{%- endif -%}
{%- assign variant = item.selected_or_first_available_variant -%}
{%- if item.available -%}{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}{%- endif -%} 

{%- if item.featured_image -%}
<div class="zuka-product-list thumb-has-effect mb--30 {{ variant.id }}">
  <div class="product-inner">
    <figure class="product-image">
      <div class="product-image--holder">
        <a href="{{ item.url | within: collection }}">
          {% if item.images.size > 1 %}
          <img src="{{ item.featured_image.src | img_url: 'large' }}" alt="{{ item.featured_image.alt | escape }}" class="primary-image popup_cart_image">
          {% for image in item.images limit: 1 offset: 1 %}
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="secondary-image">
          {% endfor %}
          {% else %}
          <img src="{{ item.featured_image.src | img_url: 'large' }}" alt="{{ item.featured_image.alt | escape }}" class="popup_cart_image">
          {% endif %}
        </a>
      </div>

      {% unless item.description contains '[affiliate_link]' %}
      {% if settings.product_quickview_enalbe %}
      <div class="product-thumbnail-action">
        <a class="quickview-btn action-btn" 
           data-toggle="tooltip" 
           data-placement="top" 
           title="" 
           data-original-title="Quick Shop" 
           href="javascript:void(0);" 
           onclick="quiqview('{{ item.handle | handleize }}')">

          <span data-toggle="modal" data-target="#productModal"><i class="dl-icon-view"></i></span>
        </a>
      </div>
      {% endif %}
      {% endunless %}
      {% include 'product-badge-search' %}
    </figure>
    <div class="product-info">
      {% if settings.show_product_review %}
      <div class="product-rating spr-badge-caption-none">
        <span class="shopify-product-reviews-badge" data-id="{{ item.id }}"></span>
      </div>
      {% endif %}

      <h3 class="product-title mt--20 mb--20">
        <a href="{{ item.url | within: collection }}">{{ item.title }}</a>
      </h3>

      <span class="product-price-wrapper mb--10">
        <span class="money">{{ item.variants.first.price | money  }}</span>
        {% if on_sale %}
        <span class="dash">&mdash;</span>
        <span class="product-price-old money">{{ item.variants.first.compare_at_price | money  }}</span>
        {% endif %}
      </span>
      
      {% if item.description contains '[countdown]' %}
      {% assign count_down_first = item.description | split:'[/countdown]' | first %}
      {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
      <div class="product-countdown-wrap mb--30 p_list_count">
        <div class="product-countdown product-countdown-3" data-countdown="{{ count_down_final }}"></div>
      </div>
      {% endif %}

      <div class="clearfix"></div>

      {%- if item.description contains '[short_description]' -%}
      {%- assign short_description_first = item.description | split:'[/short_description]' | first -%}
      {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
      {{ short_description_final }}

      {%- else -%}
      {{ item.description | strip_html | truncatewords: 35 | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first }}
      {%- endif -%}

      <div class="zuka-product-action zuka-product-action-list mt--20">
        <div class="product-action">
          {% unless item.description contains '[affiliate_link]' %}

          {% if settings.show_product_wishlist %}
          {%- if customer -%}
          <a class="add_wishlist wishlist-btn wish_action" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
            <i class="dl-icon-heart4 add_wish"></i>
            <i class="fa fa-circle-o-notch fa-spin wish_wait"></i>
            <i class="fa fa-check added_wish"></i>
          </a>
          {%- else -%}
          <a class="add_wishlist" href="/account/login" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
            <i class="dl-icon-heart4"></i>
          </a>
          {%- endif -%}
          {% endif %}

          {% if item.available %}
          <a href="javascript:void(0);" onclick="{{ func }}; return false;" class="btn add_to_cart_btn">
            <span>{{ settings.cart_button_title }}</span>
          </a>
          {% else %}
          <a class="cart-disable btn add_to_cart_btn remove_href" href="#">
            <span>{{ settings.soldout_button_title }}</span>
          </a>
          {% endif %}

          {% if settings.compare_product_enalbe %}
          <a class="add_compare remove_href compare" 
             href="#" 
             data-toggle="tooltip" 
             data-placement="top" 
             data-pid="{{ item.handle  }}" 
             data-original-title="Add to Compare">
            <i class="dl-icon-compare2"></i>
          </a>
          {% endif %}          

          {% else %}

          {% assign affiliate_link_first = item.description | split:'[/affiliate_link]' | first %}
          {% assign affiliate_link_final = affiliate_link_first | split:'[affiliate_link]' | last %}

          {% if item.available %}
          <a href="{{ affiliate_link_final }}" class="add_to_cart_btn btn">
            <span>{{ settings.affiliate_cart_button_title }}</span>
          </a>
          {% else %}
          <a class="cart-disable remove_href add_to_cart_btn btn" href="{{ affiliate_link_final }}">
            <span>{{ settings.soldout_button_title }}</span>
          </a>
          {% endif %}
          {% endunless %}
        </div>
      </div>

    </div>
  </div>
</div>
{% else %}
<div class="zuka-product-list thumb-has-effect">
  <div class="product-inner">
    <div class="product-info">
      <h3 class="product-title mt--20 mb--20">
        <a href="{{ item.url }}">{{ item.title }}</a>
      </h3>
      <p>{{ item.content | strip_html | truncatewords: 50 | highlight: search.terms }}</p>
    </div>
  </div>
</div>
{% endif %}