{% if sold_out %}
<span class="product-badge soldout-title">{{ settings.soldout_title }}</span>
{% else %}

{% if on_sale %}
{% if settings.sale_title != '' %}
<span class="product-badge sale-title sale">{{ settings.sale_title }}</span>
{% endif %}
{% if settings.sale_percent_enable %}
<span class="product-badge percent-count discount">-{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by: product.selected_or_first_available_variant.compare_at_price | money_without_currency | replace: ',', '.' | times: 100 | remove: '.0'}}%</span>
{% endif %}
{% endif %}

{% if product.description contains '[new_products]' %}      
{% assign new_products_first = product.description | split:'[/new_products]' | first %}
{% assign new_products_final = new_products_first | split:'[new_products]' | last %} 
{% comment %}Date calculate{% endcomment %}
{% assign date_pub_y = product.published_at | date:'%Y' %}
{% assign date_pub_d = product.published_at | date:'%j' %}
{% assign date_now_y = 'now' | date:'%Y' %}
{% assign date_now_d = 'now' | date:'%j' %}
{% assign dates_diff_y = date_now_y | minus: date_pub_y | times: 365 %}
{% assign dates_diff_d = date_now_d | minus: date_pub_d %}
{% assign dates_diff = dates_diff_y | plus: dates_diff_d %}
{% assign new_products_period = new_products_final | plus: 0 %} 
{% if dates_diff <= new_products_period %}
<span class="product-badge new-title sale">{{ settings.new_title }}</span>
{% endif %}
{% endif %}

{% endif %}