<div id="rev_slider_9_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-09" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
  <div id="rev_slider_9_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
    <ul>
      {% for block in section.blocks %}{% case block.type %}
      {% when 'slide_7' %}

      {% capture bg_img %}
      {% if block.settings.bg_img %}{{ block.settings.bg_img | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x720{% endif %}
      {% endcapture %}

      {% capture image %}
      {% if block.settings.image %}{{ block.settings.image | img_url: 'master' }}{% else %}https://via.placeholder.com/652x473{% endif %}              
      {% endcapture %}

      {% if forloop.first == true %}
      <li data-index="rs-52" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="assets/img/slider/100x50_home_09_slider_1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" class="rev-slidebg" data-no-retina>

        <div class="tp-caption     rev_group" 
             id="slide-52-layer-1" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['47','47','0','0']" 
             data-width="['686','686','614','438']"
             data-height="['496','496','305','270']"
             data-whitespace="nowrap"

             data-type="group" 
             data-basealign="slide" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 686px; max-width: 686px; max-width: 496px; max-width: 496px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-52-layer-3" 
               data-x="['center','center','center','center']" data-hoffset="['0','0','-1','0']" 
               data-y="['middle','middle','middle','middle']" data-voffset="['0','0','6','0']" 
               data-fontsize="['100','100','100','80']"
               data-lineheight="['120','120','100','80']"
               data-letterspacing="['-3','-3','0','0']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+790","speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 100px; line-height: 120px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: -3px;font-family:Pacifico;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn" href="{{ block.settings.btn_url }}"  
             id="slide-52-layer-4" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['122','122','109','82']" 
             data-fontweight="['700','700','400','400']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+1510","speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(10,148,0);bs:solid;bw:0 0 0 0;"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[16,16,15,12]"
             data-paddingright="[45,45,45,35]"
             data-paddingbottom="[16,16,15,12]"
             data-paddingleft="[45,45,45,35]"

             style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 700; color: #282828;font-family:Poppins;background-color:rgb(255,255,255);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }}
          </a>
          {% endif %}

          {% if block.settings.show_image %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-52-layer-7" 
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','6']" 
               data-y="['middle','middle','middle','middle']" data-voffset="['-160','-160','-128','-88']" 
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="image" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+1770","speed":1510,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 8;">
            <img src="{{ image }}" alt="{{ image.alt }}" data-ww="['301px','301px','246px','165px']" data-hh="['305px','305px','249px','167px']" data-no-retina>
          </div>
          {% endif %}          
        </div>
      </li>

      {% else %}
      <li data-index="rs-53" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="assets/img/slider/100x50_home_09_slider_1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="02" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 5 -->
        <div class="tp-caption     rev_group" 
             id="slide-53-layer-1" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['59','59','0','0']" 
             data-width="['686','686','614','438']"
             data-height="['496','496','305','270']"
             data-whitespace="nowrap"

             data-type="group" 
             data-basealign="slide" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 686px; max-width: 686px; max-width: 496px; max-width: 496px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
          
          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-53-layer-3" 
               data-x="['center','center','center','center']" data-hoffset="['0','0','-1','0']" 
               data-y="['middle','middle','middle','middle']" data-voffset="['0','0','6','0']" 
               data-fontsize="['100','100','100','80']"
               data-lineheight="['120','120','100','80']"
               data-letterspacing="['-3','-3','0','0']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+790","speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 100px; line-height: 120px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: -3px;font-family:Pacifico;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn" href="{{ block.settings.btn_url }}" 
             id="slide-53-layer-4" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['122','122','109','82']" 
             data-fontweight="['700','700','400','400']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+1510","speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(10,148,0);bs:solid;bw:0 0 0 0;"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[16,16,15,12]"
             data-paddingright="[45,45,45,35]"
             data-paddingbottom="[16,16,15,12]"
             data-paddingleft="[45,45,45,35]"

             style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 700; color: #282828;font-family:Poppins;background-color:rgb(255,255,255);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }}
          </a>
          {% endif %}

          {% if block.settings.show_image %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-53-layer-7" 
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','6']" 
               data-y="['middle','middle','middle','middle']" data-voffset="['-160','-160','-128','-88']" 
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="image" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+1770","speed":1510,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 8;">
            <img src="{{ image }}" alt="{{ image.alt }}" data-ww="['301px','301px','246px','165px']" data-hh="['305px','305px','249px','167px']" data-no-retina> 
          </div>
          {% endif %}
        </div>
      </li>
      {% endif %}

      {% endcase %}{% endfor %}
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> 
  </div>
</div>