<div id="rev_slider_6_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="home-06" data-source="gallery" style="background:transparent;padding:0px;">
  <div id="rev_slider_6_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7">
    <ul>
      {% for block in section.blocks %}{% case block.type %}
      {% when 'slide_5' %}

      {% capture bg_img %}
      {% if block.settings.bg_img %}{{ block.settings.bg_img | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x720{% endif %}
      {% endcapture %}

      {% if forloop.first == true %}
      <li data-index="rs-46" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/img/slider/100x50_home_06_slider_1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-lazyload="{{ bg_image }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption     rev_group" 
             id="slide-46-layer-1" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
             data-width="['1294','1294','770','626']"
             data-height="['357','357','355','245']"
             data-whitespace="nowrap"

             data-type="group" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 1294px; max-width: 1294px; max-width: 357px; max-width: 357px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-46-layer-2" 
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
               data-y="['middle','middle','middle','middle']" data-voffset="['-85','-85','-85','-85']" 
               data-fontsize="['24','24','18','14']"
               data-lineheight="['22','22','30','30']"
               data-letterspacing="['14','14','8','5']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+260","speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 14px;font-family:Poppins;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.title2 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-46-layer-3" 
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','-4']" 
               data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-10','-27']" 
               data-fontsize="['84','84','50','30']"
               data-lineheight="['22','22','70','70']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+470","speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 84px; line-height: 22px; font-weight: 400; color: {{ section.settings.title2_color }}; letter-spacing: 0px;font-family:Prata;">
            {{ block.settings.title2 }}
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn" href="{{ block.settings.btn_url }}" 
             id="slide-46-layer-4" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','-4','-1']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['145','145','83','51']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+650","speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(220,1,9);bc:rgba(0,0,0,1);bw:0 0 0 0;"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[15,15,15,15]"
             data-paddingright="[35,35,35,35]"
             data-paddingbottom="[15,15,15,15]"
             data-paddingleft="[35,35,35,35]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(255,255,255,1);font-family:Poppins;background-color:rgba(0,0,0,0);border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }}
          </a>
          {% endif %}
        </div>
      </li>

      {% else %}
      <li data-index="rs-47" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/img/slider/100x50_home_06_slider_1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-lazyload="assets/img/slider/home_06_slider_1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 5 -->
        <div class="tp-caption     rev_group" 
             id="slide-47-layer-1" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
             data-width="['1294','1294','770','626']"
             data-height="['357','357','355','245']"
             data-whitespace="nowrap"

             data-type="group" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 1294px; max-width: 1294px; max-width: 357px; max-width: 357px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-47-layer-2" 
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
               data-y="['middle','middle','middle','middle']" data-voffset="['-85','-85','-85','-85']" 
               data-fontsize="['24','24','18','14']"
               data-lineheight="['22','22','30','30']"
               data-letterspacing="['14','14','8','5']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+260","speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 14px;font-family:Poppins;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.title2 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-47-layer-3" 
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','-4']" 
               data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-10','-27']" 
               data-fontsize="['84','84','50','30']"
               data-lineheight="['22','22','70','70']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+470","speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 84px; line-height: 22px; font-weight: 400; color: {{ section.settings.title2_color }}; letter-spacing: 0px;font-family:Prata;">
            {{ block.settings.title2 }}
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn " href="{{ block.settings.btn_url }}" 
             id="slide-47-layer-4" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','-4','-1']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['145','145','83','51']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+650","speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(220,1,9);bc:rgba(0,0,0,1);bw:0 0 0 0;"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[15,15,15,15]"
             data-paddingright="[35,35,35,35]"
             data-paddingbottom="[15,15,15,15]"
             data-paddingleft="[35,35,35,35]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(255,255,255,1);font-family:Poppins;background-color:rgba(0,0,0,0);border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }}
          </a>
          {% endif %}
        </div>
      </li>
      {% endif %}

      {% endcase %}{% endfor %}
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> 
  </div>
</div>