<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-04" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
  <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
    <ul>
      {% for block in section.blocks %}{% case block.type %}
      {% when 'slide_4' %}

      {% capture bg_img %}
      {% if block.settings.bg_img %}{{ block.settings.bg_img | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x720{% endif %}
      {% endcapture %}

      {% capture image %}
      {% if block.settings.image %}{{ block.settings.image | img_url: 'master' }}{% else %}https://via.placeholder.com/652x473{% endif %}              
      {% endcapture %}

      {% if block.settings.transition == 'trans_1' %}
      <li data-index="rs-10" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="assets/img/slider/100x50_home_04_slider_1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption     rev_group" 
             id="slide-10-layer-1" 
             data-x="['left','left','center','center']" data-hoffset="['205','205','-31','10']" 
             data-y="['middle','middle','middle','top']" data-voffset="['0','0','-102','29']" 
             data-width="['1021','1021','613','437']"
             data-height="['396','396','281','243']"
             data-whitespace="nowrap"

             data-type="group" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 1021px; max-width: 1021px; max-width: 396px; max-width: 396px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-10-layer-2" 
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
               data-y="['top','top','top','top']" data-voffset="['-1','-1','0','0']" 
               data-fontsize="['24','24','22','18']"
               data-lineheight="['70','70','50','40']"
               data-letterspacing="['14','14','8','5']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+390","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 70px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 14px;font-family:Poppins;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.title2 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-10-layer-3" 
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
               data-y="['top','top','top','middle']" data-voffset="['64','64','51','-14']" 
               data-fontsize="['100','100','60','50']"
               data-lineheight="['120','120','75','60']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+790","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','left']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 100px; line-height: 120px; font-weight: 400; color: {{ section.settings.title2_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title2 }}
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn " href="{{ block.settings.btn_url }}" 
             id="slide-10-layer-4" 
             data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
             data-y="['top','top','top','middle']" data-voffset="['340','340','235','86']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+1510","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(24,24,24);bc:rgba(0,0,0,1);bs:solid;bw:0 0 0 0;"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[15,15,15,12]"
             data-paddingright="[45,45,45,35]"
             data-paddingbottom="[15,15,15,12]"
             data-paddingleft="[45,45,45,35]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 400; color: #ffffff;font-family:Poppins;background-color:rgb(220,0,8);border-color:rgb(24,24,24);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }}
          </a>
          {% endif %}
        </div>

        {% if block.settings.show_image %}
        <div class="tp-caption   tp-resizeme" 
             id="slide-10-layer-7" 
             data-x="['right','right','right','right']" data-hoffset="['180','180','39','27']" 
             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1530,"speed":1470,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 9;">
          <img src="{{ image }}" alt="{{ image.alt }}" data-ww="['664px','664px','282px','204px']" data-hh="['965px','965px','410px','297px']" data-no-retina> 
        </div>
        {% endif %}
      </li>

      {% elsif block.settings.transition == 'trans_2' %}
      <li data-index="rs-11" data-transition="fade,random-premium" data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default" data-easeout="default,default" data-masterspeed="300,default"  data-thumb="assets/img/slider/100x50_home_04_slider_2.jpg"  data-rotate="0,0"  data-saveperformance="off"  data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 6 -->
        <div class="tp-caption     rev_group" 
             id="slide-11-layer-1" 
             data-x="['left','left','left','left']" data-hoffset="['205','205','51','30']" 
             data-y="['middle','middle','top','top']" data-voffset="['0','0','27','33']" 
             data-width="['918','918','708','441']"
             data-height="['421','421','289','233']"
             data-whitespace="nowrap"

             data-type="group" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 918px; max-width: 918px; max-width: 421px; max-width: 421px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-11-layer-8" 
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
               data-y="['top','top','top','top']" data-voffset="['6','6','0','0']" 
               data-fontsize="['24','24','22','18']"
               data-lineheight="['22','22','30','22']"
               data-letterspacing="['15','15','8','5']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+390","speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 15px;font-family:Poppins;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.title2 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-11-layer-2" 
               data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
               data-y="['top','top','middle','middle']" data-voffset="['71','71','-22','-16']" 
               data-fontsize="['100','100','60','50']"
               data-lineheight="['120','120','75','60']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+610","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 100px; line-height: 120px; font-weight: 400; color: {{ section.settings.title2_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title2 }}
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn " href="{{ block.settings.btn_url }}" 
             id="slide-11-layer-4" 
             data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
             data-y="['top','top','bottom','bottom']" data-voffset="['354','354','0','0']" 
             data-fontweight="['400','400','700','700']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+1250","speed":1680,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(24,24,24);bs:solid;bw:0 0 0 0;"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[15,15,15,15]"
             data-paddingright="[45,45,45,35]"
             data-paddingbottom="[15,15,15,15]"
             data-paddingleft="[45,45,45,35]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 400; color: #ffffff;font-family:Poppins;background-color:rgb(220,0,8);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }}
          </a>
          {% endif %}
        </div>

        {% if block.settings.show_image %}
        <div class="tp-caption   tp-resizeme" 
             id="slide-11-layer-6" 
             data-x="['right','right','right','right']" data-hoffset="['184','184','79','58']" 
             data-y="['middle','middle','bottom','bottom']" data-voffset="['0','0','14','24']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1200,"split":"chars","splitdelay":0.05,"speed":1200,"split_direction":"forward","frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 9;">
          <img src="{{ image }}" alt="{{ image.alt }}" data-ww="['826px','826px','332px','251px']" data-hh="['836px','836px','336px','254px']" data-no-retina> 
        </div>
        {% endif %}
      </li>

      {% elsif block.settings.transition == 'trans_3' %}
      <li data-index="rs-12" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="assets/img/slider/100x50_home_04_slider_3.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 11 -->
        <div class="tp-caption     rev_group" 
             id="slide-12-layer-1" 
             data-x="['left','left','center','center']" data-hoffset="['205','205','14','9']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-131','-116']" 
             data-width="['782','782','506','419']"
             data-height="['386','386','299','251']"
             data-whitespace="nowrap"

             data-type="group" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 782px; max-width: 782px; max-width: 386px; max-width: 386px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption  tp-resizeme" 
               id="slide-12-layer-2" 
               data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
               data-y="['top','top','top','top']" data-voffset="['1','1','0','0']" 
               data-fontsize="['24','24','22','18']"
               data-lineheight="['50','50','50','40']"
               data-letterspacing="['15','15','8','5']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+390","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 50px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 15px;font-family:Poppins;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.title2 != '' %}
          <div class="tp-caption home_04_slider_1_heading  tp-resizeme" 
               id="slide-12-layer-3" 
               data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
               data-y="['middle','middle','middle','middle']" data-voffset="['-12','-12','-22','-15']" 
               data-fontsize="['100','100','60','50']"
               data-lineheight="['120','120','75','65']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+790","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','center','center']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 100px; line-height: 120px; font-weight: 400; color: {{ section.settings.title2_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title2 }}
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn home_04_slider_1_btn" href="{{ block.settings.btn_url }}" 
             id="slide-12-layer-4" 
             data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['top','top','bottom','bottom']" data-voffset="['327','327','14','0']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+1510","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(24,24,24);bs:solid;bw:0 0 0 0;"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[15,15,15,12]"
             data-paddingright="[50,50,45,35]"
             data-paddingbottom="[15,15,15,12]"
             data-paddingleft="[50,50,45,35]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 400; color: #ffffff;font-family:Poppins;background-color:rgb(220,0,8);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }}
          </a>
        </div>
        {% endif %}

        {% if block.settings.show_image %}
        <div class="tp-caption   tp-resizeme home_04_slider_1_img" 
             id="slide-12-layer-7" 
             data-x="['right','right','right','right']" data-hoffset="['253','253','161','62']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','148','115']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1480,"speed":1780,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 9;">
          <img src="{{ image }}" alt="{{ image.alt }}" data-ww="['728px','728px','382px','310px']" data-hh="['474px','474px','249px','202px']" data-no-retina> 
        </div>
        {% endif %}
      </li>
      {% endif %}

      {% endcase %}{% endfor %}
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> 
  </div>
</div>