<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="home-02" data-source="gallery" style="background:transparent;padding:0px;">
  <div id="rev_slider_2_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7">
    <ul>
      {% for block in section.blocks %}{% case block.type %}
      {% when 'slide_2' %}

      {% capture bg_img %}
      {% if block.settings.bg_img %}{{ block.settings.bg_img | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x720{% endif %}
      {% endcapture %}

      {% capture image %}
      {% if block.settings.image %}{{ block.settings.image | img_url: 'master' }}{% else %}https://via.placeholder.com/652x473{% endif %}              
      {% endcapture %}

      {% if block.settings.transition == 'trans_1' %}
      <li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/img/slider/100x50_onepage_2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-lazyload="{{ bg_img }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <div class="tp-caption     rev_group" 
             id="slide-5-layer-3" 
             data-x="['left','left','center','center']" data-hoffset="['370','370','0','0']" 
             data-y="['middle','middle','top','top']" data-voffset="['0','0','63','73']" 
             data-width="['480','480','480','415']"
             data-height="['274','274','274','178']"
             data-whitespace="nowrap"

             data-type="group" 
             data-basealign="slide" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 6; min-width: 480px; max-width: 480px; max-width: 274px; max-width: 274px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-5-layer-4" 
               data-x="['left','left','left','center']" data-hoffset="['10','10','10','1']" 
               data-y="['top','top','top','middle']" data-voffset="['104','104','104','-33']" 
               data-fontsize="['36','36','36','30']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+540","speed":1760,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 22px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn " href="shop-sidebar.html" 
             id="slide-5-layer-5" 
             data-x="['left','left','left','center']" data-hoffset="['155','155','155','-3']" 
             data-y="['top','top','top','top']" data-voffset="['176','176','176','114']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+770","speed":1970,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(220,1,9);bc:rgb(220,1,9);"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[15,15,15,15]"
             data-paddingright="[45,45,45,45]"
             data-paddingbottom="[15,15,15,15]"
             data-paddingleft="[45,45,45,45]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 400; color: #181818;font-family:Poppins;background-color:rgba(24,24,24,0);border-color:rgb(24,24,24);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }} 
          </a>
          {% endif %}
        </div>


        {% if block.settings.show_image != '' %}
        <div class="tp-caption  " 
             id="slide-5-layer-1" 
             data-x="['center','center','center','center']" data-hoffset="['328','328','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','133','64']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-basealign="slide" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5;">
          <img src="{{ image }}" alt="{{ image.alt }}" data-ww="['641px','641px','495px','350px']" data-hh="['637px','637px','492px','348px']" 
               data-lazyload="{{ image }}" data-no-retina> 
        </div>
        {% endif %}
      </li>

      {% elsif block.settings.transition == 'trans_2' %}
      <li data-index="rs-6" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/img/slider/100x50_onepage_4.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-lazyload="{{ bg_img }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <div class="tp-caption     rev_group" 
             id="slide-6-layer-1" 
             data-x="['right','right','center','center']" data-hoffset="['220','220','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
             data-width="['700','700','700','451']"
             data-height="['342','342','342','206']"
             data-whitespace="nowrap"

             data-type="group" 
             data-basealign="slide" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 700px; max-width: 700px; max-width: 342px; max-width: 342px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-6-layer-2" 
               data-x="['left','left','left','center']" data-hoffset="['191','191','191','0']" 
               data-y="['top','top','top','top']" data-voffset="['71','71','71','0']" 
               data-fontsize="['20','20','20','18']"
               data-letterspacing="['11','11','11','5']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+350","speed":1600,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 11px;font-family:Poppins;">
            {{ block.settings.title1 }} 
          </div>
          {% endif %}

          {% if block.settings.title2 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-6-layer-3" 
               data-x="['left','left','left','center']" data-hoffset="['22','22','22','0']" 
               data-y="['top','top','top','middle']" data-voffset="['137','137','137','-38']" 
               data-fontsize="['46','46','46','28']"
               data-lineheight="['22','22','22','36']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+650","speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 46px; line-height: 22px; font-weight: 400; color: {{ section.settings.title2_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title2 }}
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn " href="shop-sidebar.html" 
             id="slide-6-layer-4" 
             data-x="['left','left','left','center']" data-hoffset="['272','272','272','0']" 
             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['72','72','72','42']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+810","speed":2240,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(220,1,9);bc:rgb(220,1,9);"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[12,12,12,12]"
             data-paddingright="[45,45,45,45]"
             data-paddingbottom="[12,12,12,12]"
             data-paddingleft="[45,45,45,45]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 28px; font-weight: 500; color: #181818;font-family:Poppins;background-color:rgba(0,0,0,0);border-color:rgb(24,24,24);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }} 
          </a>
          {% endif %}

        </div>
      </li>

      {% elsif block.settings.transition == 'trans_3' %}
      <li data-index="rs-7" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/img/slider/100x50_onepage_3.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-lazyload="{{ bg_img }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 9 -->
        <div class="tp-caption     rev_group" 
             id="slide-7-layer-3" 
             data-x="['right','right','center','center']" data-hoffset="['265','265','0','0']" 
             data-y="['middle','middle','top','top']" data-voffset="['0','0','100','100']" 
             data-width="['494','494','493','443']"
             data-height="['382','382','324','255']"
             data-whitespace="nowrap"

             data-type="group" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 6; min-width: 494px; max-width: 494px; max-width: 382px; max-width: 382px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-7-layer-4" 
               data-x="['left','left','left','center']" data-hoffset="['2','2','2','0']" 
               data-y="['top','top','top','top']" data-voffset="['85','85','85','62']" 
               data-fontsize="['36','36','36','26']"
               data-lineheight="['50','50','50','40']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+580","speed":1940,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 50px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn " href="shop-sidebar.html" 
             id="slide-7-layer-5" 
             data-x="['left','left','center','center']" data-hoffset="['-4','-4','0','0']" 
             data-y="['top','top','middle','middle']" data-voffset="['220','220','64','64']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-basealign="slide" 
             data-responsive_offset="on" 

             data-frames='[{"delay":"+820","speed":2040,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(220,1,9);bc:rgb(220,1,9);"}]'
             data-margintop="[,,,]"
             data-marginright="[,,,]"
             data-marginbottom="[,,,]"
             data-marginleft="[,,,]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[12,12,12,12]"
             data-paddingright="[50,50,50,50]"
             data-paddingbottom="[12,12,12,12]"
             data-paddingleft="[50,50,50,50]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 28px; font-weight: 500; color: #181818;font-family:Poppins;background-color:rgba(0,0,0,0);border-color:rgb(24,24,24);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }} 
          </a>
          {% endif %}
        </div>

        {% if block.settings.show_image %}
        <div class="tp-caption   tp-resizeme" 
             id="slide-7-layer-1" 
             data-x="['center','center','center','center']" data-hoffset="['-344','-344','0','1']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','128','103']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":410,"speed":1730,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5;">
          <img src="{{ image }}" alt="{{ image.alt }}" data-ww="['764px','764px','598px','428px']" data-hh="['373px','373px','292px','209px']" 
               data-lazyload="{{ image }}" data-no-retina> 
        </div>
        {% endif %}
      </li>

      {% elsif block.settings.transition == 'trans_4' %}
      <li data-index="rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/img/slider/100x50_onepage_5.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-lazyload="{{ bg_img }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 13 -->
        <div class="tp-caption     rev_group" 
             id="slide-8-layer-1" 
             data-x="['left','left','center','center']" data-hoffset="['206','206','0','0']" 
             data-y="['bottom','bottom','middle','middle']" data-voffset="['129','129','247','161']" 
             data-width="['623','623','623','439']"
             data-height="['280','280','280','168']"
             data-whitespace="nowrap"

             data-type="group" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 623px; max-width: 623px; max-width: 280px; max-width: 280px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-8-layer-2" 
               data-x="['left','left','left','center']" data-hoffset="['157','157','157','0']" 
               data-y="['top','top','top','top']" data-voffset="['36','36','36','0']" 
               data-color="['rgb(255,255,255)','rgb(255,255,255)','rgb(24,24,24)','rgb(24,24,24)']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+170","speed":1400,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 11px;font-family:Poppins;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.title2 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-8-layer-3" 
               data-x="['left','left','left','center']" data-hoffset="['15','15','15','0']" 
               data-y="['top','top','top','middle']" data-voffset="['106','106','106','-18']" 
               data-fontsize="['46','46','46','32']"
               data-color="['rgb(255,255,255)','rgb(255,255,255)','rgb(24,24,24)','rgb(24,24,24)']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+370","speed":1650,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 46px; line-height: 22px; font-weight: 400; color: {{ section.settings.title2_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title2 }} 
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn " href="shop-sidebar.html" 
             id="slide-8-layer-4" 
             data-x="['left','left','left','center']" data-hoffset="['225','225','225','0']" 
             data-y="['top','top','top','bottom']" data-voffset="['177','177','177','0']" 
             data-color="['rgb(255,255,255)','rgb(255,255,255)','rgb(24,24,24)','rgb(24,24,24)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-basealign="slide" 
             data-responsive_offset="on" 

             data-frames='[{"delay":"+560","speed":1730,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(219,0,8);bc:rgb(219,0,8);"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[12,12,12,12]"
             data-paddingright="[50,50,50,50]"
             data-paddingbottom="[12,12,12,12]"
             data-paddingleft="[50,50,50,50]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 28px; font-weight: 500; color: #ffffff;font-family:Poppins;background-color:rgba(0,0,0,0);border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }}
          </a>
          {% endif %}

        </div>
      </li>

      {% elsif block.settings.transition == 'trans_5' %}
      <li data-index="rs-9" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/img/slider/100x50_onepage_1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-lazyload="{{ bg_img }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <div class="tp-caption     rev_group" 
             id="slide-9-layer-3" 
             data-x="['left','left','center','center']" data-hoffset="['370','370','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-245','-218']" 
             data-width="['525','525','524','473']"
             data-height="['250','250','177','176']"
             data-whitespace="nowrap"

             data-type="group" 
             data-basealign="slide" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 6; min-width: 525px; max-width: 525px; max-width: 250px; max-width: 250px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-9-layer-4" 
               data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
               data-y="['top','top','top','top']" data-voffset="['33','33','0','0']" 
               data-fontsize="['36','36','36','28']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+620","speed":1810,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','center','center']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 50px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title1 }} 
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn " href="shop-sidebar.html" 
             id="slide-9-layer-5" 
             data-x="['left','left','center','center']" data-hoffset="['-5','-5','0','0']" 
             data-y="['top','top','bottom','bottom']" data-voffset="['165','165','0','0']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+1130","speed":1760,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(220,1,9);bc:rgb(220,1,9);"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[12,12,12,12]"
             data-paddingright="[50,50,50,50]"
             data-paddingbottom="[12,12,12,12]"
             data-paddingleft="[50,50,50,50]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 28px; font-weight: 500; color: #181818;font-family:Poppins;background-color:rgba(0,0,0,0);border-color:rgb(24,24,24);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }}
          </a>
          {% endif %}
        </div>

        {% if block.settings.show_image %}
        <div class="tp-caption   tp-resizeme" 
             id="slide-9-layer-1" 
             data-x="['right','right','center','center']" data-hoffset="['300','300','0','-2']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','158','111']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":350,"speed":1580,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5;">
          <img src="{{ image }}" alt="{{ image.alt }}" data-ww="['575px','575px','476px','381px']" data-hh="['594px','594px','492px','394px']" 
               data-lazyload="{{ image }}" data-no-retina> 
        </div>
        {% endif %}
      </li>

      {% endif %}
      {% endcase %}{% endfor %}
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> 
  </div>
</div>