<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-01" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
  <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
    <ul>
      {% for block in section.blocks %}{% case block.type %}
      {% when 'slide_1' %}

      {% capture bg_img %}
      {% if block.settings.bg_img %}{{ block.settings.bg_img | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x720{% endif %}
      {% endcapture %}

      {% capture image %}
      {% if block.settings.image %}{{ block.settings.image | img_url: 'master' }}{% else %}https://via.placeholder.com/652x473{% endif %}              
      {% endcapture %}

      {% if block.settings.transition == 'trans_1' %}
      <li data-index="rs-34" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  
          data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  
          data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-lazyload="{{ bg_img }}" 
             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption     rev_group" 
             id="slide-34-layer-1" 
             data-x="['left','left','center','center']" data-hoffset="['295','295','0','0']" 
             data-y="['middle','middle','middle','bottom']" data-voffset="['0','0','100','27']" 
             data-width="['687','687','612','438']"
             data-height="['367','367','289','270']"
             data-whitespace="nowrap"

             data-type="group" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 687px; max-width: 687px; max-width: 367px; max-width: 367px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-34-layer-2" 
               data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
               data-y="['middle','middle','middle','middle']" data-voffset="['-86','-86','-89','-64']" 
               data-fontsize="['18','18','18','16']"
               data-lineheight="['70','70','50','40']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+390","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 70px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.title2 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-34-layer-3" 
               data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
               data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-9','0']" 
               data-fontsize="['36','36','36','29']"
               data-lineheight="['50','50','50','40']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+790","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','center','center']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 50px; font-weight: 400; color: {{ section.settings.title2_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title2 }}
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn " href="{{ block.settings.btn_url }}" 
             id="slide-34-layer-4" 
             data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['105','105','73','79']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+1510","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(220,0,8);bc:rgb(220,0,8);"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[15,15,15,12]"
             data-paddingright="[45,45,45,35]"
             data-paddingbottom="[15,15,15,12]"
             data-paddingleft="[45,45,45,35]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 400; color: #282828; font-family:Poppins;background-color:rgba(255,255,255,0);border-color:rgb(24,24,24);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }} 
          </a>
          {% endif %}
        </div>

        {% if block.settings.show_image %}
        <div class="tp-caption   tp-resizeme" 
             id="slide-34-layer-5" 
             data-x="['right','right','center','center']" data-hoffset="['160','160','0','0']" 
             data-y="['middle','middle','top','top']" data-voffset="['0','0','26','26']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1710,"speed":1980,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1800,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 9;">
          <img src="{{ image }}" alt="" data-ww="['772px','772px','490px','341px']" data-hh="['421px','421px','267px','186px']" 
               data-lazyload="{{ image }}" data-no-retina> 
        </div>
        {% endif %}
      </li>

      {% elsif block.settings.transition == 'trans_2' %}
      <li data-index="rs-35" data-transition="fade,random-premium" data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default" data-easeout="default,default" data-masterspeed="300,default"  data-thumb="assets/img/slider/100x50_home_01_slider_2.jpg"  data-rotate="0,0"  data-saveperformance="off"  
          data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-lazyload="{{ bg_img }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 7 -->
        <div class="tp-caption     rev_group" 
             id="slide-35-layer-1" 
             data-x="['left','left','left','center']" data-hoffset="['300','300','75','0']" 
             data-y="['middle','middle','middle','bottom']" data-voffset="['0','0','0','76']" 
             data-width="['588','588','515','444']"
             data-height="['333','333','251','192']"
             data-whitespace="nowrap"

             data-type="group" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 588px; max-width: 588px; max-width: 333px; max-width: 333px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-35-layer-7" 
               data-x="['left','left','left','center']" data-hoffset="['0','0','0','2']" 
               data-y="['top','top','middle','middle']" data-voffset="['52','52','-76','-63']" 
               data-fontsize="['18','18','18','16']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+390","speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title1 }} 
          </div>
          {% endif %}

          {% if block.settings.title2 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-35-layer-2" 
               data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']" 
               data-y="['top','top','middle','middle']" data-voffset="['100','100','0','0']" 
               data-fontsize="['36','36','36','26']"
               data-lineheight="['50','50','50','30']"
               data-letterspacing="['0','0','0','']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+890","speed":1790,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','left','center']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 50px; font-weight: 400; color: {{ section.settings.title2_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title2 }} 
          </div>
          {% endif %}

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn " href="{{ block.settings.btn_url }}"
             id="slide-35-layer-4" 
             data-x="['left','left','left','center']" data-hoffset="['0','0','-3','0']" 
             data-y="['top','top','middle','middle']" data-voffset="['232','232','99','73']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+1450","speed":2050,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(220,1,9);bc:rgb(220,1,9);"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[15,15,15,15]"
             data-paddingright="[45,45,45,40]"
             data-paddingbottom="[15,15,15,15]"
             data-paddingleft="[45,45,45,40]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 400; color: #181818; font-family:Poppins;background-color:rgba(220,1,9,0);border-color:rgb(24,24,24);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }}
          </a>
        </div>
        {% endif %}

        {% if block.settings.show_image %}
        <div class="tp-caption   tp-resizeme" 
             id="slide-35-layer-5" 
             data-x="['left','left','left','left']" data-hoffset="['829','829','435','178']" 
             data-y="['middle','middle','middle','top']" data-voffset="['0','0','0','17']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1670,"speed":2410,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 10;">
          <img src="{{ image }}" alt="{{ image.alt }}" data-ww="['437px','437px','276px','125px']" data-hh="['720px','720px','454px','206px']" 
               data-lazyload="{{ image }}" data-no-retina>
        </div>
        {% endif %}
      </li>


      {% elsif block.settings.transition == 'trans_3' %}
      <li data-index="rs-36" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="assets/img/slider/100x50_home_01_slider_3.jpg"  data-rotate="0"  data-saveperformance="off"  
          data-title="0{{ forloop.index }}" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ bg_img }}"  alt="{{ image.alt }}"  data-lazyload="{{ bg_img }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <div class="tp-caption     rev_group" 
             id="slide-36-layer-1" 
             data-x="['left','left','left','center']" data-hoffset="['299','299','33','0']" 
             data-y="['middle','middle','middle','bottom']" data-voffset="['0','0','0','81']" 
             data-width="['641','641','404','419']"
             data-height="['268','268','252','186']"
             data-whitespace="nowrap"

             data-type="group" 
             data-responsive_offset="on" 

             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5; min-width: 641px; max-width: 641px; max-width: 268px; max-width: 268px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">

          {% if block.settings.title1 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-36-layer-2" 
               data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']" 
               data-y="['top','top','middle','middle']" data-voffset="['20','20','-62','-61']" 
               data-fontsize="['18','18','16','16']"
               data-lineheight="['50','50','26','40']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+390","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 50px; font-weight: 400; color: {{ section.settings.title1_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title1 }}
          </div>
          {% endif %}

          {% if block.settings.title2 != '' %}
          <div class="tp-caption   tp-resizeme" 
               id="slide-36-layer-3" 
               data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']" 
               data-y="['top','top','middle','middle']" data-voffset="['74','74','0','0']" 
               data-fontsize="['36','36','29','26']"
               data-lineheight="['50','50','40','30']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-type="text" 
               data-responsive_offset="on" 

               data-frames='[{"delay":"+790","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]"
               data-marginbottom="[0,0,0,0]"
               data-marginleft="[0,0,0,0]"
               data-textAlign="['inherit','inherit','inherit','center']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"

               style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 50px; font-weight: 400; color: {{ section.settings.title2_color }}; letter-spacing: 0px;font-family:Poppins;">
            {{ block.settings.title2 }}
          </div>
          {% endif %}         

          {% if block.settings.btn_text != '' %}
          <a class="tp-caption rev-btn " href="{{ block.settings.btn_url }}"
             id="slide-36-layer-4" 
             data-x="['left','left','left','center']" data-hoffset="['0','0','0','1']" 
             data-y="['top','top','middle','middle']" data-voffset="['205','205','77','65']" 
             data-color="['rgb(24,24,24)','rgb(24,24,24)','rgb(40,40,40)','rgb(40,40,40)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="button" 
             data-responsive_offset="on" 
             data-responsive="off"
             data-frames='[{"delay":"+1510","speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(220,1,9);bc:rgb(220,1,9);"}]'
             data-margintop="[0,0,0,0]"
             data-marginright="[0,0,0,0]"
             data-marginbottom="[0,0,0,0]"
             data-marginleft="[0,0,0,0]"
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[15,15,15,12]"
             data-paddingright="[45,45,45,35]"
             data-paddingbottom="[15,15,15,12]"
             data-paddingleft="[45,45,45,35]"

             style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 400; color: #181818; font-family:Poppins;background-color:rgba(24,24,24,0);border-color:rgb(24,24,24);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            {{ block.settings.btn_text }} 
          </a>
          {% endif %}
        </div>

        {% if block.settings.show_image != '' %}
        <div class="tp-caption   tp-resizeme" 
             id="slide-36-layer-5" 
             data-x="['right','right','right','center']" data-hoffset="['271','271','34','8']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','10','-124']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1660,"speed":1990,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 10;">
          <img src="{{ image }}" alt="{{ image.alt }}" 
               data-ww="['652px','652px','342px','272px']" data-hh="['473px','473px','248px','197px']" 
               data-lazyload="{{ image }}" data-no-retina> 
        </div>
        {% endif %}
      </li>
      {% endif %}

      {% endcase %}{% endfor %}
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;">
    </div> 
  </div>
</div>