<ul class="header-toolbar text-right">
  {% if settings.show_currency %}
  {% include 'currency-picker' %}
  {% endif %}

  {% if settings.show_search %}
  <li class="header-toolbar__item">
    <a href="#searchForm" class="search-btn toolbar-btn"><i class="dl-icon-search1"></i></a>
  </li>
  {% endif %}

  <li class="header-toolbar__item">
    {% include 'mini-cart' %}
  </li>

  {% if section.settings.sidebar_nav %}
  <li class="header-toolbar__item d-none d-lg-block">
    <a href="#sideNav" class="toolbar-btn">
      <span class="hamburger-icon"></span>
    </a>                                    
  </li>
  {% endif %}

  <li class="header-toolbar__item d-lg-none">
    <a href="#mobileMenu" class="toolbar-btn menu-btn">
      <span class="hamburger-icon"></span>
    </a> 
  </li>
</ul>


{% include 'sidebar-nav' %}