{% if block.settings.social_name1 != '' %}
<li class="social__item">
  <a href="{{ block.settings.social_url1 }}" class="social__link">
    <i class="fa fa-{{ block.settings.social_name1 }}"></i>
  </a>
</li>
{% endif %}

{% if block.settings.social_name2 != '' %}
<li class="social__item">
  <a href="{{ block.settings.social_url2 }}" class="social__link">
    <i class="fa fa-{{ block.settings.social_name2 }}"></i>
  </a>
</li>
{% endif %}            

{% if block.settings.social_name3 != '' %}
<li class="social__item">
  <a href="{{ block.settings.social_url3 }}" class="social__link">
    <i class="fa fa-{{ block.settings.social_name3 }}"></i>
  </a>
</li>
{% endif %}            

{% if block.settings.social_name4 != '' %}
<li class="social__item">
  <a href="{{ block.settings.social_url4 }}" class="social__link">
    <i class="fa fa-{{ block.settings.social_name4 }}"></i>
  </a>
</li>
{% endif %}            

{% if block.settings.social_name5 != '' %}
<li class="social__item">
  <a href="{{ block.settings.social_url5 }}" class="social__link">
    <i class="fa fa-{{ block.settings.social_name5 }}"></i>
  </a>
</li>
{% endif %}            

{% if block.settings.social_name6 != '' %}
<li class="social__item">
  <a href="{{ block.settings.social_url6 }}" class="social__link">
    <i class="fa fa-{{ block.settings.social_name6 }}"></i>
  </a>
</li>
{% endif %}            

{% if block.settings.social_name7 != '' %}
<li class="social__item">
  <a href="{{ block.settings.social_url7 }}" class="social__link">
    <i class="fa fa-{{ block.settings.social_name7 }}"></i>
  </a>
</li>
{% endif %}            

{% if block.settings.social_name8 != '' %}
<li class="social__item">
  <a href="{{ block.settings.social_url8 }}" class="social__link">
    <i class="fa fa-{{ block.settings.social_name8 }}"></i>
  </a>
</li>
{% endif %}