{% if section.settings.sidebar_nav %}
<aside class="side-navigation" id="sideNav">
  <div class="side-navigation-wrapper">
    <div class="side-navigation-inner">
      {% for block in section.blocks %}{% case block.type %}

      {% when 'side_menu' %}
      <div class="widget mb--30">
        <ul class="sidenav-menu">
          {% assign side_menu_handle = block.settings.side_menu_handle %}
          {% for link in linklists[side_menu_handle].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      {% when 'side_banner' %}
      <div class="widget mb--30">
        <div class="banner-box banner-type-1 banner-hover-1">
          <div class="banner-inner">
            <div class="banner-image">
              {% if block.settings.banner_img %}
              <img src="{{ block.settings.banner_img | img_url: 'large' }}" alt="{{ image.alt }}">
              {% else %}
              <img src="https://via.placeholder.com/249x133" alt="{{ image.alt }}">
              {% endif %}
            </div>

            {% if block.settings.banner_text != '' %}
            <div class="banner-info">
              <a class="banner-title-1" href="{{ block.settings.banner_url }}">{{ block.settings.banner_text }}</a>
            </div>
            <a class="banner-link banner-overlay" href="{{ block.settings.banner_url }}">{{ block.settings.banner_text }}</a>
            {% endif %}
          </div>
        </div>
      </div>

      {% when 'side_custom_text' %}
      <div class="widget mb--30">
        <div class="text-widget">
          <p>{{ block.settings.custom_text }}</p>
        </div>
      </div>

      {% when 'side_custom_url' %}
      <div class="widget mb--5">
        <div class="text-widget google-map-link">
          <p>
            <a href="{{ block.settings.custom_url }}" target="_blank">{{ block.settings.custom_text }}</a>
          </p>
        </div>
      </div>

      {% when 'side_social' %}
      <div class="widget">
        <div class="text-widget">
          <ul class="social social-small">
            {% include 'sidebar-nav-social' %}            
          </ul>
        </div>
      </div>

      {% when 'side_payment_img' %}
      <div class="widget mtb--15">
        <div class="text-widget">
          <p>
            {% if block.settings.banner_img %}
            <img src="{{ block.settings.banner_img | img_url: 'large' }}" alt="{{ image.alt }}">
            {% else %}
            <img src="https://via.placeholder.com/195x19" alt="{{ image.alt }}">
            {% endif %}
          </p>
        </div>
      </div>

      {% when 'side_copyright' %}
      <div class="widget">
        <div class="text-widget">
          <p class="copyright-text">{{ block.settings.custom_text }}</p>
        </div>
      </div>

      {% endcase %}{% endfor %}
    </div>
  </div>
</aside>
{% endif %}