<div class="col-md-6 text-md-{% if settings.rtl_enable %}right{% else %}left{% endif %} text-center mb-md--35">
  {%- if block.settings.show_ban_img -%}
  <figure>
    {%- if block.settings.ban_img -%}
    <img src="{{ block.settings.ban_img | img_url: 'master' }}" alt="{{ image.alt }}">
    {%- else -%}
    <img src="https://via.placeholder.com/527x537" alt="Banner">
    {%- endif -%}
  </figure>
  {%- endif -%}
</div>

<div class="col-md-6{% if block.settings.text_style == 'style_2' or block.settings.text_style == 'style_3' %} text-center{% endif %}">
  {% if block.settings.text_style == 'style_1' %}
  <div class="text-block text-center">    
    {%- if block.settings.title1 != '' -%}
    <p class="font-size-18 font-size-md-16" style="color: {{ block.settings.title1_color }};">{{ block.settings.title1 }}</p>
    {%- endif -%}

    {%- if block.settings.title2 != '' -%}
    <h2 class="lts-10 lts-sm-5 lts-xs-0 heading-big" style="color: {{ block.settings.title2_color }};">{{ block.settings.title2 }}</h2>
    {%- endif -%}

    {%- if block.settings.title3 != '' -%}
    <p class="font-size-18 font-size-md-16 mb--30" style="color: {{ block.settings.title3_color }};">{{ block.settings.title3 }}</p>
    {%- endif -%}

    {%- if block.settings.btn != '' -%}
    <a href="{{ block.settings.btn_url }}" class="zuka-ban-btn btn btn-medium btn-outline btn-shape-round btn-style-1">{{ block.settings.btn }}</a>
    {%- endif -%}    
  </div>
  
  {% elsif block.settings.text_style == 'style_2' %}
  <div class="fullwidth-banner-text">
    {%- if block.settings.title1 != '' -%}
    <h3 class="font-pacifico mb--10" style="color: {{ block.settings.title1_color }};font-weight: 400;">{{ block.settings.title1 }}</h3>
    {%- endif -%}
    
     {%- if block.settings.title2 != '' -%}
    <h2 class="mb--40 mb-md--20" style="color: {{ block.settings.title2_color }};font-weight: 400;">{{ block.settings.title2 }}</h2>
    {%- endif -%}
    
    {%- if block.settings.btn != '' -%}
    <a href="{{ block.settings.btn_url }}" class="zuka-ban-btn btn btn-medium btn-shape-round btn-style-1">{{ block.settings.btn }}</a>
    {%- endif -%}
  </div>
  {% else block.settings.text_style == 'style_3' %}  
  <div class="fullwidth-banner-text-2">
    {%- if block.settings.title1 != '' -%}
    <h3 class="mb--10" style="color: {{ block.settings.title1_color }};font-weight: 400;">{{ block.settings.title1 }}</h3>
    {%- endif -%}
    
     {%- if block.settings.title2 != '' -%}
    <h2 class="font-pacifico mb--40 mb-lg--15" style="color: {{ block.settings.title2_color }};font-weight: 400;">{{ block.settings.title2 }}</h2>
    {%- endif -%}
    
    {%- if block.settings.btn != '' -%}
    <a href="{{ block.settings.btn_url }}" class="zuka-ban-btn btn btn-medium btn-outline btn-shape-round btn-color-black btn-style-1">{{ block.settings.btn }}</a>
    {%- endif -%}
  </div>
  {% endif %}  
</div>



{%- style -%}
#section-{{ section.id }} .zuka-ban-btn.btn.btn-medium.btn-shape-round.btn-style-1 {
  color: {{ block.settings.btn_color }};
  background: {{ block.settings.bg_color }};
  border-color: {{ block.settings.border_color }};
}
#section-{{ section.id }} .zuka-ban-btn.btn.btn-medium.btn-shape-round.btn-style-1:hover {
  color: {{ block.settings.hover_btn_color }} !important;
  background: {{ block.settings.hover_bg_color }};
  border-color: {{ block.settings.hover_border_color }};
}
{%- endstyle -%}