<div class="product-share-box mt--40 mt-lg--30 mt-sm--10 pt-sm--1">
  {% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}

  {% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}

  {% elsif template == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.description == blank %}{{ shop.description | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}

  {% endif %}

  {% assign shareButtonStyle = section.settings.social_sharing_style %}
  <span class="font-size-12">{{ section.settings.social_share_title }}</span>
  <!-- Social Icons Start Here -->
  <ul class="social social-small">
    <li class="social__item">
      <a href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" title="Follow us on Facebook" target="_blank" class="social__link">
        <i class="fa fa-facebook"></i>
      </a>
    </li> 

    <li class="social__item">
      <a href="//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }};source=webclient" title="Follow us on Twitter" target="_blank" class="social__link">
        <i class="fa fa-twitter"></i>
      </a>
    </li>  

    <li class="social__item">
      <a href="//plus.google.com/share?url={{ permalinkURL }}" title="Share on Google+" title="Follow us on Google+" target="_blank" class="social__link">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>

    {% if product.featured_image or article.image  %}
    <li class="social__item">
      <a class="social__link" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{% if template contains 'product' %}{{ product | img_url: '1024x1024' }}{% else %}{{ article | img_url: '1024x1024' }}{% endif %}&amp;description={{ shareTitle }}" title="Follow us on Pinterest" target="_blank">
        <i class="fa fa-pinterest-p"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</div>