<div class="nav nav-tabs product-tab__head mb--30 mb-md--20" role="tablist">
  {%- assign i = 1 -%}
  {% for block in section.blocks %}
  {%- case block.type -%}
  {%- when 'tab_with_product' -%}
  {%- assign tab_product = collections[block.settings.tab_product_handle] -%}

  {%- if tab_product == empty -%}
  <a class="product-tab__link nav-link{% if forloop.first == true %} active{% endif %}"  data-toggle="tab" href="#tab-{{ i }}">Tab-{{ i }}</a>
  {%- assign i = i | plus: 1 -%}
  {%- else -%}

  <a class="product-tab__link nav-link{% if forloop.first == true %} active{% endif %}"  
     data-toggle="tab" 
     href="#tab-{{ block.id }}-{{ tab_product.title | handle }}" 
     role="tab" aria-selected="true"> 
    <span>{{ tab_product.title }}</span>
  </a>
  {%- endif -%}
  {% endcase %}{% endfor %}
</div>