{% assign p_col = section.settings.product_column %}
{% assign p_col_handle = '' %}

{% if p_col == '6' %}
{% assign p_col_handle = '2' %}

{% elsif p_col == '4' %}
{% assign p_col_handle = '3' %}

{% elsif p_col == '3' %}
{% assign p_col_handle = '4' %}

{% elsif p_col == '5' %}
{% assign p_col_handle = '5' %}
{% endif %}

<div class="product-tab-bottom">
  <div class="tab-content product-tab__content">
    {%- assign i = 1 -%}
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'tab_with_product' -%}
    {%- assign tab_product = collections[block.settings.tab_product_handle] -%}
    {%- assign product_limit = section.settings.product_limit_handle -%}
    {%- if tab_product == empty -%}
    <div class="tab-pane fade{% if forloop.first == true %} show active{% endif %}" id="tab-{{ i }}" role="tabpanel" aria-labelledby="nav-living-room-tab">
      <div class="row xxl-block-grid-5 grid-space-20">
        {% for i in (1..product_limit) %}
        {% capture a %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        <div class="col-xl-3 col-lg-4 col-sm-6 ptb--10 mb--20">
          {% include 'p-grid-1' %}
        </div>
        {% endfor %}
      </div>
    </div>
    {%- assign i = i | plus: 1 -%}
    {%- else -%}
    <div class="tab-pane fade{% if forloop.first == true %} show active{% endif %}" id="tab-{{ block.id }}-{{ tab_product.title | handle }}" role="tabpanel" aria-labelledby="nav-acc-new-product-tab">
      <div class="tab-product-carousel">
        <div class="zuka-element-carousel slick-dot-mb-30"
             data-slick-options='{
                                 "spaceBetween": 30,
                                 "slidesToShow": {{ p_col_handle }},
                                 "slidesToScroll": {{ p_col_handle }},
                                 "dots": false
                                 }'
             data-slick-responsive='[
                                    {"breakpoint":1800, "settings": {
                                    "slidesToShow": 4,
                                    "slidesToScroll": 4
                                    }},
                                    {"breakpoint":1199, "settings": {
                                    "slidesToShow": 3,
                                    "slidesToScroll": 3
                                    }},
                                    {"breakpoint":767, "settings": {
                                    "slidesToShow": 2,
                                    "slidesToScroll": 2
                                    }},
                                    {"breakpoint":480, "settings": {
                                    "slidesToShow": 1,
                                    "slidesToScroll": 1
                                    }}
                                    ]'>


          {% for product in tab_product.products limit: product_limit %}
          <div class="item">
            {% if settings.product_grid_style == 'style_1' %}
            {% include 'product-grid-item-1' %}

            {% elsif settings.product_grid_style == 'style_2' %}
            {% include 'product-grid-item-2' %}

            {% elsif settings.product_grid_style == 'style_3' %}
            {% include 'product-grid-item-3' %}
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {%- endif -%}
    {%- endcase -%}{%- endfor -%}
  </div>
</div>