<div class="product-tab-top d-flex algin-items-center flex-wrap mb--40 mb-sm--30">
  {% if section.settings.section_title != '' %}
  <div class="product-tab-left text-sm-left text-center mb-md--20">
    <div class="product-tab__heading bg-color">
      <h2>{{ section.settings.section_title }}</h2>
    </div>
  </div>
  {% endif %}

  <div class="product-tab-middle my-sm-auto mx-auto mx-sm-0 order-sm-2 order-3">
    <div class="nav nav-tabs product-tab__head" role="tablist">
      {%- assign i = 1 -%}
      {% for block in section.blocks %}
      {%- case block.type -%}
      {%- when 'tab_with_product' -%}
      {%- assign tab_product = collections[block.settings.tab_product_handle] -%}

      {%- if tab_product == empty -%}
      <a class="product-tab__link nav-link{% if forloop.first == true %} active{% endif %}"  data-toggle="tab" href="#tab-{{ i }}">Tab-{{ i }}</a>
      {%- assign i = i | plus: 1 -%}
      {%- else -%}

      <a class="product-tab__link nav-link{% if forloop.first == true %} active{% endif %}"  
         data-toggle="tab" 
         href="#tab-{{ block.id }}-{{ tab_product.title | handle }}" 
         role="tab" 
         aria-selected="true"> 
        <span>{{ tab_product.title }}</span>
      </a>

      {%- endif -%}
      {% endcase %}{% endfor %}
    </div>
  </div>

  {% if section.settings.view_all != '' %}
  <div class="product-tab-right ml-auto text-sm-right text-center order-sm-3 order-2 mb-xs--15">
    <a href="{{ section.settings.view_all_url }}" class="btn btn-medium btn-outline btn-shape-round btn-color-black">{{ section.settings.view_all }}</a>
  </div>
  {% endif %}
</div>

{% style %}
#section-{{ section.id }} .product-tab__heading.bg-color {
	background-color: {{ section.settings.title_bg_color }};
}
{% endstyle %}