<div class="tab-content product-tab__content">
  {%- assign i = 1 -%}
  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'tab_with_product' -%}
  {%- assign tab_product = collections[block.settings.tab_product_handle] -%}
  {%- assign product_limit = section.settings.product_limit_handle -%}
  {%- if tab_product == empty -%}
  <div class="tab-pane fade{% if forloop.first == true %} show active{% endif %}" id="tab-{{ i }}" role="tabpanel" aria-labelledby="nav-living-room-tab">
    <div class="row xxl-block-grid-5 grid-space-20">
      {% for i in (1..product_limit) %}
      {% capture a %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      <div class="col-xl-3 col-lg-4 col-sm-6 ptb--10 mb--20">
        {% include 'p-grid-1' %}
      </div>
      {% endfor %}
    </div>
  </div>
  {%- assign i = i | plus: 1 -%}
  {%- else -%}
  <div class="tab-pane fade{% if forloop.first == true %} show active{% endif %}" id="tab-{{ block.id }}-{{ tab_product.title | handle }}" role="tabpanel" aria-labelledby="nav-living-room-tab">
    <div class="row grid-space-20{% if section.settings.product_column == '5' %} xxl-block-grid-5{% endif %}">
      {% assign product_column = section.settings.product_column_handle %}
      {% for product in tab_product.products limit: product_limit %}
      <div class="{% if section.settings.product_column == '5' %}col-xl-3 col-lg-4{% else %}col-xl-{{ section.settings.product_column }} col-lg-{{ section.settings.product_column | minus: 1 }}{% endif %} col-sm-6 ptb--10 mb--20">
        {% if settings.product_grid_style == 'style_1' %}
        {% include 'product-grid-item-1' %}

        {% elsif settings.product_grid_style == 'style_2' %}
        {% include 'product-grid-item-2' %}

        {% elsif settings.product_grid_style == 'style_3' %}
        {% include 'product-grid-item-3' %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {%- endif -%}
  {%- endcase -%}{%- endfor -%}
</div>






