<div class="top-notification-bar">
  <div class="container{% if settings.section_width == 'full' %}-fluid{% endif %}">
    <div class="row">
      <div class="notification-entry text-center col-12">
        <p>{{ settings.notification_text }} {% if settings.notification_button_name != '' %}<a href="{{ settings.notification_button_url }}">{{ settings.notification_button_name }}</a>{% endif %}</p>
        <button class="notification-close-btn">X</button>
      </div>
    </div>
  </div>
</div>


<script>
  var nToggle = $('.notification-close-btn');
  nToggle.on('click', function(){
    $('.top-notification-bar').slideToggle();
  })
</script>