<div class="col-lg-7 col-md-6 mb-sm--35">
  <figure class="image-box image-with-video-btn btn-right">
    <a href="{{ block.settings.video_url }}" class="video-popup d-block">
      {%- if block.settings.video_bg -%}
      <img src="{{ block.settings.video_bg | img_url: 'master' }}" alt="{{ image.alt }}" class="w-100">
      {%- else -%}
      <img src="https://via.placeholder.com/500x460" alt="Banner" class="w-100">
      {%- endif -%}
      <span class="video-btn video-btn-2"></span>
    </a>
  </figure>
</div>
<div class="col-lg-5 col-md-6 text-center">
  <div class="text-block max-w-85 max-w-xxla-100 mx-auto">
    {%- if block.settings.title1 != '' -%}
    <h4 class="font-size-24 font-size-lg-20 lts-10 mb--30 mb-lg--20 mb-md--10" style="color: {{ block.settings.title1_color }};">
      {{ block.settings.title1 }}
    </h4>
    {%- endif -%}

    {%- if block.settings.title2 != '' -%}
    <h2 class="heading-secondary-2 font-size-md-24 mb--10 mb-md--15 mb-sm--10 pb-sm--3" style="color: {{ block.settings.title2_color }};">
      {{ block.settings.title2 }}
    </h2>
    {%- endif -%}

    {%- if block.settings.subtitle != '' -%}
    <p class="paragraph-2 mb--35 mb-md--20" style="color: {{ block.settings.subtitle_color }};">{{ block.settings.subtitle }}</p>
    {%- endif -%}

    {%- if block.settings.btn != '' -%}
    <a href="{{ block.settings.btn_url }}" class="btn btn-semi-large btn-style-1 zuka-ban-btn2">{{ block.settings.btn }}</a>
    {%- endif -%}
  </div>
</div>




{%- style -%}
#section-{{ section.id }} .zuka-ban-btn2.btn.btn-semi-large.btn-style-1 {
  color: {{ block.settings.btn_color }};
  background: {{ block.settings.bg_color }};
}
#section-{{ section.id }} .zuka-ban-btn2.btn.btn-semi-large.btn-style-1:hover {
  color: {{ block.settings.hover_btn_color }} !important;
  background: {{ block.settings.hover_bg_color }};
}
{%- endstyle -%}