{% if customer %}
<a class="add_wishlist action-btn action-btn-square wish_action wishlist-btn" data-product-handle="{{ product.handle }}" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
  <i class="dl-icon-heart4 add_wish"></i>
  <i class="fa fa-circle-o-notch fa-spin wish_wait"></i>
  <i class="fa fa-check added_wish"></i>
</a>
{% else %}
<a class="add_wishlist action-btn action-btn-square" href="/account/login" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
  <i class="dl-icon-heart4"></i>
</a>
{% endif %}