{%- if customer -%}
<a class="add_wishlist action-btn wishlist-btn wish_action" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist" data-product-handle="{{ product.handle }}">
  <i class="dl-icon-heart4 add_wish"></i>
  <i class="fa fa-circle-o-notch fa-spin wish_wait"></i>
  <i class="fa fa-check added_wish"></i>
</a>
{%- else -%}
<a class="add_wishlist action-btn" href="/account/login" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
  <i class="dl-icon-heart4"></i>
</a>
{%- endif -%}