<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->

<head>
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  <!-- Title and description -->
  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash; {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <!-- Helpers -->
  {% include 'social-meta-tags' %}

  <!-- CSS -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {%- include 'header-css' -%}

  <!-- Header hook for plugins -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}
  <!-- JS -->
  {%- include 'header-js' -%}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name | handle }}"{% if settings.rtl_enable %} dir="rtl"{% endif %}>
  {%- if settings.enable_preloader -%}
  {% include 'preloader' %} 
  {%- endif -%}

  {%- if template == 'index' and settings.newsletter_popup_enable -%}
  {% include 'newsletter-popup' %}
  {%- endif -%}

  <div class="wrapper{% if settings.header_style == 'style_5' %} enable-header-aside{% endif %}">
    {%- if settings.topbar_notification_enable -%}
    {%- if settings.topbar_notification == 'topbar_in_index' and template == 'index' -%}
    {% include 'top-notification-bar' %}
    {%- elsif settings.topbar_notification == 'topbar_in_template' -%}
    {% include 'top-notification-bar' %}
    {%- endif -%}
    {%- endif -%}

    {% if settings.header_style == 'style_1' %}
    {% section 'header-1_123' %}
    
    {% elsif settings.header_style == 'style_2' %}
    {% section 'header-2_4' %}
    
    {% elsif settings.header_style == 'style_3' %}
    <header class="header header-style-3{% if template != 'index' %} border-bottom{% endif %}">
      <div class="header-inner headroom headroom--fixed">
        {% section 'header-top' %}
        {% section 'header-middle' %}
        {% section 'header-bottom' %}
      </div>
      {% include 'mobile-menu' %}
    </header>
    
    {% elsif settings.header_style == 'style_4' %}
    {% section 'header-4_6' %}
    
    {% elsif settings.header_style == 'style_5' %}
    {% section 'header-5_7' %}
    {% endif %}

    
    {%- if template != 'index' -%}
    {% unless template contains 'page.about' %}
    {% include 'breadcrumb-banner' %}
    {% endunless %}
    {%- endif -%}

    <main id="content" class="main-content-wrapper">
      {{ content_for_layout }}
    </main>

    {% unless settings.header_style == 'style_5' %}
    {% if settings.footer_style == 'style_1' %}
    <footer class="footer">
      {% section 'footer-top' %}
      {% section 'footer-bottom' %}
    </footer>
    {% else %}
    {% section 'footer' %}
    {% endif %}
    {% endunless %}
    
    {% include 'footer-js' %}    
    {% include 'compare-popup' %}
    {% include 'popup-search' %}
    <script src="{{ 'theme.js' | asset_url }}"></script>
  </div>
</body>
</html>
