{% if section.settings.show_section %}
<div class="about-area section-right-full ptb--80 ptb-md--60 ptb-sm--40">
  <div class="row align-items-center">    
    <div class="left-side-2 col-lg-5">
      <div class="about-text{% if settings.rtl_enable %} pr--55 pr-sm--30{% else %} pl--55 pl-sm--30{% endif %} mb-md--40 mb-sm--30">
        {% if section.settings.img1 %}
        <figure class="mb--30">
          <img src="{{ section.settings.img1 | img_url: 'master' }}" alt="{{ image.alt }}">
        </figure>
        {% endif %}
        
        {% if section.settings.text != '' %}
        <p>{{ section.settings.text }}</p>
        {% endif %}
        
        {% if section.settings.img2 %}
        <figure class="mt--30">
          <img src="{{ section.settings.img2 | img_url: 'master' }}" alt="{{ image.alt }}">
        </figure>
        {% endif %}
      </div>
    </div>
    
    <div class="right-side-2 col-lg-7">
      <div class="banner-box banner-hover-3 banner-type-9">
        <div class="banner-inner">          
          <div class="banner-image">
            <img src="{{ section.settings.img3 | img_url: 'master' }}" alt="{{ image.alt }}">
          </div>          
          {% if section.settings.ban_btn != '' %}
          <div class="banner-info">
            <div class="banner-info--inner">
              <a href="{{ section.settings.ban_url }}" class="banner-btn-7">{{ section.settings.ban_btn }}</a>
            </div>
          </div>
          {% endif %}          
          <a class="banner-link banner-overlay" href="{{ section.settings.ban_url }}">Shop Now</a>
        </div>
      </div>
    </div>    
  </div>
</div>
{% endif %}






{% schema %}
  {
    "name": "Info",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_section",
          "label": "Show Info Section",
          "default": true
        },
        {
          "type": "header",
          "content": "Left Side"
        },
        {
          "type": "image_picker",
          "id": "img1",
          "label": "Image 1"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Sed dignissim massa ut urna volutpat, in tincidunt tellus lacinia. Aenean dolor turpis, semper non tincidunt a, tincidunt vitae tortor. Vivamus et ligula vulputate, gravida ligula eget.<br>Curabitur ornare tempus libero, eu commodo libero commodo rhoncus. Vestibulum feugiat venenatis scelerisque. Nam feugiat a lectus et dapibus. Proin leo ligula, placerat at tellus non, consequat tristique eros. Donec sit amet mauris turpis. Curabitur condimentum mi lorem, id vehicula lorem consectetur scelerisque.",
          "info": "Use '<br>' tag for line break"
        },
        {
          "type": "image_picker",
          "id": "img2",
          "label": "Image 2"
        },
        {
          "type": "header",
          "content": "Right Side"
        },
        {
          "type": "image_picker",
          "id": "img3",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "ban_btn",
          "label": "Title",
          "default": "Zuka Design"
        },
		{
          "type": "url",
          "id": "ban_url",
          "label": "URL",
          "default": "\/collections\/all"
        }
	]
  }
{% endschema %}

