{% if section.settings.show_banner %}
<section class="page-title-area pb--80 pb-md--60 pb-sm--40" style="background: url({% if section.settings.bg_img %}{{ section.settings.bg_img | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x759{% endif %}) no-repeat scroll center center / cover">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-area breadcrumb-style-3">
          {% if section.settings.title != '' %}
          <h1 class="page-title">{{ section.settings.title }}</h1>
          {% endif %}

          <ul class="breadcrumb">
            <li><a href="/" title="{{ settings.home_title }}">{{ settings.home_title }}</a></li>
            <li>
              <a class="remove_href cursor_text current"><span>{{ page_title }}</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}





{% schema %}
  {
    "name": "Banner",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_banner",
          "label": "Show Banner",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "We Are Zuka Studio"
        },
        {
          "type": "image_picker",
          "id": "bg_img",
          "label": "BG Image"
        }
	]
  }
{% endschema %}

