{% if section.settings.show_section %}
<section class="testimonial-area slick-overflow-visible pt--35 pt-md--25 pt-sm--10 pb--70 pb-lg--25 pb-md--20 pb-sm--15" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="row mb--45 mb-md--35 mb-sm--25">
      <div class="col-12 text-center">
        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary mb--25 mb-md--15 mb-sm--10 pb-md--3">{{ section.settings.section_title }}</h2>
        {% endif %}

        {% if section.settings.section_sub_title != '' %}
        <p class="max-w-30 max-w-lg-50 max-w-md-90 mx-auto">{{ section.settings.section_sub_title }}</p>
        {% endif %}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="zuka-element-carousel nav-vertical-center nav-disabled nav-style-1" 
             data-slick-options='{
                                 "spaceBetween": 30,
                                 "slidesToShow": 3, 
                                 "slidesToScroll": 1, 
                                 "arrows": true, 
                                 "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                                 "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                                 }'
             data-slick-responsive='[
                                    {"breakpoint":991, "settings": {"slidesToShow": 2}},
                                    {"breakpoint":620, "settings": {"slidesToShow": 1}}
                                    ]'>


          {%- for block in section.blocks -%}{%- case block.type -%}
          {%- when 'testimonial' -%}
          <div class="item">
            <div class="testimonial testimonial-style-1">
              <div class="testimonial__inner">
                {% if block.settings.show_rating %}
                <div class="star-rating star-{{ block.settings.rating }}">
                  <span>Rated <strong class="rating">5.00</strong> out of 5</span>
                </div>
                {% endif %}

                {% if block.settings.testi_des != '' %}
                <p class="testimonial__desc">{{ block.settings.testi_des }}</p>
                {% endif %}

                {% if block.settings.author != '' or block.settings.author_info != '' %}
                <div class="testimonial__author">
                  {% if block.settings.author != '' %}
                  <h3 class="testimonial__author--name">{{ block.settings.author }}</h3>
                  {% endif %}
                  
                  {% if block.settings.author_info != '' %}
                  <h5 class="testimonial__author--role">{{ block.settings.author_info }}</h5>
                  {% endif %}
                </div>
                {% endif %}

                {% if block.settings.show_author_img %}
                <figure class="testimonial__thumbnail">
                  {% if block.settings.author_img %}
                  <img src="{{ block.settings.author_img | img_url: '100x' }}" alt="{{ image.alt }}">
                  {% else %}
                  <img src="https://via.placeholder.com/100x100" alt="{{ image.alt }}">
                  {% endif %}
                </figure>
                {% endif %}
              </div>
            </div>
          </div>
          {%- endcase -%}{%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>


{% endif %}



{% schema %}
  {
    "name": "Testimonial",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_section",
          "label": "Show Testimonial Section",
          "default": true
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "Client's Say"
        },
		{
            "type": "textarea",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Sed dignissim massa ut urna volutpat, in tincidunt tellus lacinia."
        }
    ],
	"blocks":[
	   {
          "type": "testimonial",
          "name": "Testimonial",
          "settings": [
              {
                  "type": "checkbox",
                  "id": "show_rating",
                  "label": "Show Rating",
                  "default": true
              },
              {
                "type": "select",
                "id": "rating",
                "label": "Rating",
                "options":[
                      {
                          "label": "5.00 out of 5",
                          "value": "five"
                      },
                      {
                          "label": "4.5 out of 5",
                          "value": "four-half"
                      },
                      {
                          "label": "4.00 out of 5",
                          "value": "four"
                      },
                      {
                          "label": "3.5 out of 5",
                          "value": "three-half"
                      },
                      {
                          "label": "3.00 out of 5",
                          "value": "three"
                      },
                      {
                          "label": "2.5 out of 5",
                          "value": "two-half"
                      },
                      {
                          "label": "2.00 out of 5",
                          "value": "two"
                      },
                      {
                          "label": "1.5 out of 5",
                          "value": "one-half"
                      },
                      {
                          "label": "1.00 out of 5",
                          "value": "one"
                      }
                  ],
                  "default": "five"
              },
              {
                  "type": "textarea",
                  "id": "testi_des",
                  "label": "Client Comment",
                  "default": "Proin hendrerit nisi neque, non scelerisque ex bibendum non. Aliquam vehicula magna justo, eu hendrerit lacus scelerisque non"
              },
              {
                  "type": "text",
                  "id": "author",
                  "label": "Client Name",
                  "default": "Hester Perkins"
              },
              {
                  "type": "text",
                  "id": "author_info",
                  "label": "Client Info",
                  "default": "Indiana US"
              },
              {
                  "type": "checkbox",
                  "id": "show_author_img",
                  "label": "Show Author Image",
                  "default": true
              },
              {
                  "type": "image_picker",
                  "id": "author_img",
                  "label": "Author Image",
                  "info": "Recommended size: 100x100 px"
              }
          ]
       }
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

