{% if section.settings.show_section %}
<section class="services-area ptb--80 ptb-md--60 pt-sm--35 pb-sm--40" style="background-color:{{ section.settings.bg_color }};">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 mb-sm--25">
        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary mb--15 mb-md--10 mb-sm--5 pb-md--3">{{ section.settings.section_title }}</h2>
        {% endif %}
        
        {% if section.settings.section_sub_title != '' %}
        <p class="max-w-80 max-w-lg-100">{{ section.settings.section_sub_title }}</p>
        {% endif %}
      </div>

      <div class="col-md-8">
        <div class="row">
          {% for block in section.blocks %}{% case block.type %}
          {% when 'service' %}
          <div class="col-sm-6{% unless forloop.last %} mb--40 mb-sm--30{% endunless %}">
            <div class="banner-box banner-hover-3 banner-type-2">
              <div class="banner-inner">
                {% if block.settings.img1 %}
                <div class="banner-image">
                  <img src="{{ block.settings.img1 | img_url: 'master' }}" alt="{{ image.alt }}">
                </div>
                {% endif %}

                <div class="banner-info text-{% if settings.rtl_enable %}right{% else %}left{% endif %}">
                  <div class="banner-info--inner">
                    {% if block.settings.section_title != '' %}
                    <p class="banner-title-2 mt--15 mb--5">{{ block.settings.section_title }}</p>
                     {% endif %}
                    
                    {% if block.settings.section_sub_title != '' %}
                    <p class="font-size-12">{{ block.settings.section_sub_title }}</p>
                     {% endif %}
                  </div>
                </div>
                <a class="banner-link banner-overlay" href="{{ block.settings.ban_url }}">Shop Now</a>
              </div>
            </div>
          </div>
          {% endcase %}{% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}




{% schema %}
  {
    "name": "Service",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_section",
          "label": "Show Service Section",
          "default": true
        },
        {
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Our Services"
        },
        {
          "type": "textarea",
          "id": "section_sub_title",
          "label": "Section Subtitle",
          "default": "Sed dignissim massa ut urna volutpat, in<br> tincidunt tellus lacinia."
        },
		{
          "type": "color",
          "id": "bg_color",
          "label": "BG Color",
          "default": "#f7eeef"
        }
	],
	"blocks":[
	   {
          "type": "service",
          "name": "Service",
          "settings": [
			{
			  "type": "image_picker",
			  "id": "img1",
			  "label": "Image"
			},
            {
              "type": "text",
              "id": "section_title",
              "label": "Title",
              "default": "Furniture Design"
            },
            {
              "type": "textarea",
              "id": "section_sub_title",
              "label": "Subtitle",
              "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, eaque."
            },
            {
                "type": "url",
                "id": "ban_url",
                "label": "URL",
                "default": "\/collections\/all"
            }
          ]
       }
	]
  }
{% endschema %}

