{% if section.settings.show_section %}
<div class="brand-area ptb--50 ptb-md--40" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="zuka-element-carousel"                            
             data-slick-options='{
                                 "slidesToShow": 6,
                                 "slidesToScroll": 1,
                                 "adaptiveHeight": true
                                 }'
             data-slick-responsive='[
                                    {"breakpoint":1499, "settings": {"slidesToShow": 5}},
                                    {"breakpoint":1199, "settings": {"slidesToShow": 4}},
                                    {"breakpoint":767, "settings": {"slidesToShow": 3}},
                                    {"breakpoint":575, "settings": {"slidesToShow": 2}},
                                    {"breakpoint":450, "settings": {"slidesToShow": 1}}
                                    ]'>

          {%- for block in section.blocks -%}{%- case block.type -%}
          {%- when 'brand' -%}
          <div class="item">
            <figure class="brand-item">
              <img src="{{ block.settings.ban2_img | img_url: '120x' }}" alt="{{ image.alt }}" class="mx-auto">
            </figure>
          </div>
          {%- endcase -%}{%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}



{% schema %}
  {
    "name": "Brands",
    "settings": [
		{
            "type": "checkbox",
            "id": "show_section",
            "label": "Show Brand Section",
            "default": true
        }
    ],
	"blocks":[
	   {
          "type": "brand",
          "name": "Brand",
		  "limit": 6,
          "settings": [
            {
                "type": "image_picker",
                "id": "ban2_img",
                "label": "Brand image"
            }
          ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}