{% if section.settings.show_section %}
<section class="choose-us-area pt--80 pt-md--55 pt-sm--40 pb--40 pb-md--30 pb-sm--25">
  <div class="container-fluid p-0">
    <div class="row align-items-center">      
      <div class="col-md-6 mb-sm--25">
        <div class="banner-box banner-hover-3">
          <div class="banner-inner">
            <div class="banner-image">
              <img src="{{ section.settings.img1 | img_url: 'master' }}" alt="{{ image.alt }}">
            </div>
            <a class="banner-link banner-overlay" href="{{ section.settings.ban_url }}">Shop Now</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="choose-us max-w-60 max-w-xl-80 max-w-lg-90 pl--70 pl-md--30">
          {% if section.settings.section_title != '' %}
          <h2 class="heading-secondary mb--25 mb-md--15 mb-sm--10 pb-md--3">{{ section.settings.section_title }}</h2>
          {% endif %}
          
          {% if section.settings.section_sub_title != '' %}
          <p>{{ section.settings.section_sub_title }}</p>
          {% endif %}
          

          <ul class="list-with-dot mt--30 mt-md--20 mb--35 mb-md--25">
            {%- for block in section.blocks -%}{%- case block.type -%}
            {%- when 'text' -%}
            <li>{{ block.settings.text }}</li>
            {%- endcase -%}{%- endfor -%}
          </ul>

          {% if section.settings.ban_btn != '' %}
          <a href="{{ section.settings.ban_url }}" class="btn btn-medium btn-shape-round btn-style-1">{{ section.settings.ban_btn }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}




{% schema %}
  {
    "name": "Choose Us",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_section",
          "label": "Show Choose Us Section",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "img1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "section_title",
          "label": "Title",
          "default": "Why Choose Us?"
        },
		{
          "type": "textarea",
          "id": "section_sub_title",
          "label": "Description",
          "default": "Sed dignissim massa ut urna volutpat, in tincidunt tellus lacinia. Aenean dolor turpis, semper non tincidunt a, tincidunt vitae tortor. Vivamus et ligula vulputate, gravida ligula eget."
        },
        {
          "type": "text",
          "id": "ban_btn",
          "label": "Button text",
          "default": "Let's Talk"
        },
        {
          "type": "url",
          "id": "ban_url",
          "label": "URL",
          "default": "\/collections\/all"
        }
	],
	"blocks":[
	   {
          "type": "text",
          "name": "Text",
          "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "Text",
                "default": "Praesent sed ex vel mauris ele."
            }
          ]
       }
	]
  }
{% endschema %}

