{% if section.settings.show_section %}
<section class="team-area pt--40 pt-md--35 pt-sm--20" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container-fluid p-0">
    <div class="row mb--50 mb-md--35 mb-sm--25">
      <div class="col-12 text-center">
        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary mb--15 mb-md--10 mb-sm--5 pb-md--3">{{ section.settings.section_title }}</h2>
         {% endif %}
        
        {% if section.settings.section_sub_title != '' %}
        <p class="max-w-30 max-w-lg-50 max-w-md-90 mx-auto">{{ section.settings.section_sub_title }}</p>
         {% endif %}
      </div>
    </div>    
    <div class="row no-gutters">
      <div class="col-12">
        <div class="zuka-element-carousel nav-vertical-center nav-disabled nav-style-1"
             data-slick-options='{ 
                                 "slidesToShow": 4, 
                                 "slidesToScroll": 1,
                                 "swipe": true,
                                 "arrows": true, 
                                 "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                                 "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                                 }'
             data-slick-responsive='[
                                    {"breakpoint":1199, "settings": {"slidesToShow": 2}},
                                    {"breakpoint":767, "settings": {"slidesToShow": 1}}
                                    ]'>

          {%- for block in section.blocks -%}{%- case block.type -%}
          {%- when 'team' -%}
          <div class="item">
            <div class="zuka-team">
              <div class="team-member team-member-style-2">
                {% if block.settings.author_img %}
                <div class="team-member__thumbnail">
                  <img src="{{ block.settings.author_img | img_url: 'master' }}" alt="{{ image.alt }}">
                  <a class="team-member__thumbnail--overlay"></a>
                </div>
                {% endif %}
                
                <div class="team-member__info">
                  <div class="team-member__info--inner">
                    {% if block.settings.author != '' %}
                    <h2 class="team-member__name"><a href="#" class="remove_href">{{ block.settings.author }}</a></h2>
                    {% endif %}                    
                    <div class="team-member__meta"></div>
                    {% if block.settings.author_info != '' %}
                    <p class="team-member__desc">{{ block.settings.author_info }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>  
            </div>
          </div>
          {%- endcase -%}{%- endfor -%}          
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}




{% schema %}
  {
    "name": "Team Member",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_section",
          "label": "Show Team Member Section",
          "default": true
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "Our Team"
        },
		{
            "type": "textarea",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Sed dignissim massa ut urna volutpat, in tincidunt tellus lacinia."
        }
    ],
	"blocks":[
	   {
          "type": "team",
          "name": "Team member",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "author_img",
                  "label": "Image",
                  "info": "Recommended size: 370x350px"
              },
              {
                  "type": "text",
                  "id": "author",
                  "label": "Name",
                  "default": "Hester Perkins"
              },
              {
                  "type": "textarea",
                  "id": "author_info",
                  "label": "Info",
                  "default": "Pellentesque dignissim at ante sed iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sod"
              }
          ]
       }
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

