<div class="page-content-inner blog-page-sidebar">
  <div class="container{% if section.settings.section_width == 'full' %}-fluid{% endif %}">
    <div class="row ptb--70 ptb-md--50 ptb-sm--30 {% if section.settings.sidebar_handle == 'left_sidebar_handle' %} flex-row-reverse{% endif %}">
      <div class="{% if section.settings.sidebar_handle == 'without_sidebar' %}col-lg-12{% else %}col-lg-9{% endif %} mb-md--35">
        <div class="single-post">
          <article class="single-post-details">
            <div class="entry-header">
              {% if article.tags.size > 0 %}
              <div class="entry-meta category-link mb--10">
                {% for tag in article.tags limit: 3 %}
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                {% endfor %}
              </div>
              {% endif %}
              <h2 class="entry-title">{{ article.title }}</h2>
              <div class="entry-meta mb--30 cursor_text_all">
                <a href="#" class="posted-on remove_href">{{ article.published_at | date: '%B %d, %Y' }}</a>
                <span class="meta-separator">-</span>
                <a href="#" class="posted-by remove_href">{{ article.author }}</a>
              </div>
              {% if article.excerpt.size > 0 and section.settings.show_excerpt %}
              <div class="entry-excerpt max-w-70 max-w-md-90 mx-auto mb--30">
                {{ article.excerpt }}
              </div>
              {% endif %}
            </div>

            {% if article.image %}
            <div class="entry-thumbnail">
              <img src="{{ article | img_url: 'master' }}" alt="{{ article.image.alt }}">
            </div>
            {% endif %}

            <div class="entry-content">
              {{ article.content }}
            </div>
          </article>
          <!-- Single Blog End Here -->

          {% if blog.next_article or blog.previous_article %}
          <nav class="post-navigation">
            <div class="nav-links">
              {% if blog.previous_article %}
              <div class="nav-prev nav-links__inner">
                {{ 'blogs.article.older_post' | t | link_to: blog.previous_article, class: 'nav-links__link' }}
              </div>
              {% endif %}

              {% if blog.next_article %}
              <div class="nav-next nav-links__inner">
                {{ 'blogs.article.newer_post' | t | link_to: blog.previous_article, class: 'nav-links__link' }}
              </div>
              {% endif %}              
            </div>
          </nav>
          {% endif %}

          {%- if article.comments_enabled? -%}
          {%- assign comment_post_limit = section.settings.comment_post_limit_handle -%}
          {%- paginate article.comments by comment_post_limit -%}
          <div id="comments" class="comment-success comments-area">
            {%- if comment and comment.created_at -%}
            <p class="note form-success">
              {%- if blog.comments_modareted? -%}
              {{ 'blogs.comments.success_moderated' | t }}            
              {%- else -%}
              {{ 'blogs.comments.success' | t }}
              {%- endif -%}
            </p>
            {%- endif -%}

            {%- if article.comments.size > 0 -%}
            {%- include 'blog-comments' -%}
            {%- endif -%}
            {%- if paginate.pages > 1 -%}
            <div class="comment-pagination">
              {% include 'pagination' %}
            </div>
            {%- endif -%}
            {%- endpaginate -%}
            {%- include 'blog-comment-form' -%}
          </div>
          {%- endif -%}
        </div>
      </div>
      
      {%- unless section.settings.sidebar_handle == 'without_sidebar' -%}
      <div class="col-lg-3 mt--5" id="primary-sidebar">
        {% include 'blog-sidebar' %}
      </div>
      {%- endunless -%}
    </div>
  </div>
</div>






{% schema %}
  {
    "name": "Article Page",
    "settings": [
		{
          "type": "radio",
          "id": "section_width",
          "label": "Section Width",
		  "options":[
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Full Wide",
                    "value": "full"
                }
			],
			"default": "default"
      	},
		{
			"type": "header",
			"content": "Article Sidebar"
		},
		{
			"type": "radio",
			"id": "sidebar_handle",
			"label": "Sidebar Position -",
			"options": [
				{
					"label": "Left Sidebar",
					"value": "left_sidebar_handle"
				},
				{
					"label": "Right Sidebar",
					"value": "right_sidebar_handle"
				},
				{
					"label": "Without Sidebar",
					"value": "without_sidebar"
				}
			],
			"default": "left_sidebar_handle"
		},
		{
			"type": "header",
			"content": "Comments"
		},
		{
			"type": "image_picker",
			"id": "commentator_image",
			"label": "Comment Thumb Image",
			"info": "Recommended Size: 80 x 80px"
		},
		{
            "type": "range",
            "id": "comment_post_limit_handle",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "How Many Comment Post Show",
            "default": 5
        },
		{
			"type": "header",
			"content": "Comment Box"
		},
		{
			"type": "text",
			"id": "leave_message_title",
			"label": "Title",
			"default": "Leave a Reply"
		},
		{
			"type": "textarea",
			"id": "leave_message_subtitle",
			"label": "Subtitle",
			"default": "Your email address will not be published. Required fields are marked"
		}
	],
	 "blocks":[
		{
          "type": "search",
          "name": "Search",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "wedget_title",
              "label": "Title",
              "default": "Search"
            }
          ]
       },
	   {
          "type": "recent_post",
          "name": "Recent Post",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "recent_post_title",
              "label": "Recent Post Title",
              "default": "Recent Post"
			},
            {
              "type": "range",
              "id": "recent_post_limit_handle",
              "min": 2,
              "max": 10,
              "step": 1,
              "label": "Post Limit",
              "default": 3
            }
          ]
       },
	   {
          "type": "archive",
          "name": "Archive",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "archive_title",
              "label": "Archive Title",
              "default": "Archive"
            }
          ]
       },
	   {
          "type": "tag",
          "name": "Tag",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "blog_tags_title",
              "label": "Tags Title",
              "default": "Tags"
			},
            {
              "type": "range",
              "id": "blog_tags_list_limit_handle",
              "min": 5,
              "max": 20,
              "step": 1,
              "label": "Tag Limit",
              "default": 10
            }
          ]
       },
	   {
          "type": "menu",
          "name": "Menu",
          "settings": [
            {
              "type": "text",
              "id": "menu_title",
              "label": "Menu Title",
              "default": "Custom Menu"
            },
			{
              "type": "link_list",
              "id": "menu_handle",
              "label": "Menu"
            }
          ]
       }
	]
  }
{% endschema %}