<section class="banner-area" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container{% if section.settings.section_width == 'full' %}-fluid{% endif %}">
    <div class="row align-items-center">
      {%- for block in section.blocks -%}{%- case block.type -%}
      {%- when 'image_text_sign' -%}
      {%- include 'img-text-sign' -%}     

      {%- when 'video_text_ban' -%}
      {%- include 'video-text-banner' -%}      

      {%- endcase -%}{%- endfor -%}
    </div>
  </div>
</section>



{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Banner",
    "settings": [
		{
          "type": "radio",
          "id": "section_width",
          "label": "Section Width",
		  "options":[
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Full Wide",
                    "value": "full"
                }
			],
			"default": "default"
      	}
	],
	"blocks":[
	   {
          "type": "image_text_sign",
          "name": "Img-text Banner",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "ban_img",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "title1",
                  "label": "Title",
                  "default": "Zuka Furniture Store"
              },
              {
                  "type": "color",
                  "id": "title1_color",
                  "label": "Title Color",
                  "default": "#181818"
              },
              {
                  "type": "checkbox",
                  "id": "title_border",
                  "label": "Show Title Border",
                  "default": true
              },
              {
                  "type": "textarea",
                  "id": "subtitle",
                  "label": "Subtitle",
                  "default": "Proin hendrerit nisi neque, non scelerisque ex bibendum non. Aliquam vehicula magna justo, eu hendrerit lacus scelerisque non."
              },
              {
                  "type": "color",
                  "id": "subtitle_color",
                  "label": "Subtitle Color",
                  "default": "#181818"
              },
              {
                  "type": "url",
                  "id": "ban_url",
                  "label": "URL",
                  "default": "\/collections\/all"
              },
              {
                  "type": "checkbox",
                  "id": "show_signimg",
                  "label": "Show Sign Image",
                  "default": true
              },
              {
                  "type": "image_picker",
                  "id": "signimg",
                  "label": "Sign Image"
              }
          ]
       },
	   {
          "type": "video_text_ban",
          "name": "Video Text Banner",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "video_bg",
                  "label": "Video BG Image"
              },
              {
                  "type": "text",
                  "id": "video_url",
                  "label": "Video URL",
                  "default": "https://www.youtube.com/watch?v=Rp19QD2XIGM"
              },
              {
                  "type": "text",
                  "id": "title1",
                  "label": "Title 1",
                  "default": "OUR HISTORY"
              },
              {
                  "type": "text",
                  "id": "title2",
                  "label": "Title 2",
                  "default": "Zuka Tailor Since 1929"
              },
              {
                  "type": "textarea",
                  "id": "subtitle",
                  "label": "Subtitle",
                  "default": "Etiam molestie lacus sit amet augue ultrices, id posuere nunc venenatis. Mauris tincidunt, lorem ac maximus vestibulum, massa mauris consectetur dui, ac aliquet sem ante vel orci. Duis varius posuere sagittis. Fusce consectetur odio non odio euismod imperdiet. Sed vulputate mi id lore"
              },
              {
                  "type": "text",
                  "id": "btn",
                  "label": "Button",
                  "default": "Discover Now"
              },
              {
                  "type": "url",
                  "id": "btn_url",
                  "label": "URL",
                  "default": "\/collections\/all"
              },
              {
                  "type": "header",
                  "content": "Color"
              },
              {
                  "type": "color",
                  "id": "title1_color",
                  "label": "Title 1 Color",
                  "default": "#181818"
              },
              {
                  "type": "color",
                  "id": "title2_color",
                  "label": "Title 2 Color",
                  "default": "#181818"
              },
              {
                  "type": "color",
                  "id": "subtitle_color",
                  "label": "Subtitle Color",
                  "default": "#181818"
              },
              {
                  "type": "color",
                  "id": "btn_color",
                  "label": "Button Color",
                  "default": "#fff"
              },
              {
                  "type": "color",
                  "id": "bg_color",
                  "label": "Button BG Color",
                  "default": "#333333"
			  },
              {
                  "type": "color",
                  "id": "hover_btn_color",
                  "label": "Button Hover Color",
                  "default": "#fff"
              },
              {
                  "type": "color",
                  "id": "hover_bg_color",
                  "label": "Button Hover BG Color",
                  "default": "#dc0109"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Banner",
		  "category": "2. Banner",
		  "blocks":[
				{
					"type": "image_text_sign"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}