<section class="brand-area{% if section.settings.show_border_top %} border-top{% endif %}" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container{% if section.settings.section_width == 'full' %}-fluid{% endif %}">
    {%- if section.settings.section_title != '' or section.settings.section_sub_title != '' -%}
    <div class="row mb--45 mb-md--35 mb-sm--30 pb--4">
      <div class="col-12 text-center">
        {%- if section.settings.section_title != '' -%}
        <h2 class="heading-secondary-2 mb--10 mb-sm--10">{{ section.settings.section_title }}</h2>
        {%- endif -%}

        {%- if section.settings.section_sub_title != '' -%}
        <p>{{ section.settings.section_sub_title }}</p>
        {%- endif -%}
      </div>
    </div>
    {%- endif -%}

    <div class="row">
      <div class="col-12">
        <div class="zuka-element-carousel"                            
             data-slick-options='{
                                 "slidesToShow": 8,
                                 "slidesToScroll": 1
                                 }'
             data-slick-responsive='[
                                    {"breakpoint":1499, "settings": {"slidesToShow": 5}},
                                    {"breakpoint":1199, "settings": {"slidesToShow": 4}},
                                    {"breakpoint":767, "settings": {"slidesToShow": 3}},
                                    {"breakpoint":575, "settings": {"slidesToShow": 2}},
                                    {"breakpoint":450, "settings": {"slidesToShow": 1}}
                                    ]'>


          {%- for block in section.blocks -%}{%- case block.type -%}
          {%- when 'brand' -%}
          <div class="item">
            <figure class="brand-item">
              {%- if block.settings.ban2_img -%}
              <img src="{{ block.settings.ban2_img | img_url: 'master' }}" alt="{{ image.alt }}" class="mx-auto">
              {%- else -%}
              <img src="https://via.placeholder.com/155x87" alt="Banner" class="mx-auto">
              {%- endif -%}
            </figure>
          </div>
          {%- endcase -%}{%- endfor -%}          
        </div>
      </div>
    </div>
  </div>
</section>



{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Brands",
    "settings": [
		{
            "type": "checkbox",
            "id": "show_border_top",
            "label": "Show Border Top",
            "default": false
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "Our Brands"
        },
		{
            "type": "textarea",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Feature category to display category on any pages demo"
        },
		{
            "type": "radio",
            "id": "section_width",
            "label": "Section Width",
            "options": [
				{
					"label": "Default",
					"value": "default"
				},
				{
					"label": "Full",
					"value": "full"
				}
			],
            "default": "default"
        }
    ],
	"blocks":[
	   {
          "type": "brand",
          "name": "Brand",
		  "limit": 8,
          "settings": [
            {
                "type": "image_picker",
                "id": "ban2_img",
                "label": "Brand image"
            }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Brands",
		  "category": "9. Brands",
		  "blocks":[
				{
					"type": "brand"
				},
				{
					"type": "brand"
				},
				{
					"type": "brand"
				},
				{
					"type": "brand"
				},
				{
					"type": "brand"
				},
				{
					"type": "brand"
				},
				{
					"type": "brand"
				},
				{
					"type": "brand"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}