<div class="page-content-inner cart_page">
  <div class="container">
    {%- if cart.item_count > 0 -%}
    <form action="/cart" method="post" enctype="multipart/form-data" class="cart-form" novalidate>
      <div class="row pt--50 pt-md--40 pt-sm--20 pb--80 pb-md--60 pb-sm--40">
        <div class="col-lg-8 mb-md--30">
          <div class="row no-gutters">
            <div class="col-12">
              <div class="table-content table-responsive">
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th>&nbsp;</th>
                      <th class="text-left">{{ section.settings.table_product_title }}</th>
                      <th>{{ section.settings.table_price_title }}</th>
                      <th>{{ section.settings.table_quantity_title }}</th>
                      <th>{{ section.settings.table_total_title }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in cart.items %}
                    <tr>
                      <td class="product-remove text-left"><a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"><i class="dl-icon-close"></i></a></td>
                      <td class="product-thumbnail text-left">
                        <img src="{{ item | img_url: 'compact' }}" alt="{{ item.title | escape }}">
                      </td>
                      <td class="product-name text-left wide-column">
                        <h3>
                          <a href="{{ item.url }}">{{ item.product.title }}</a>
                        </h3>
                      </td>
                      <td class="product-price">
                        <span class="product-price-wrapper">
                          <span class="money">{{ item.price | money }}</span>
                        </span>
                      </td>
                      <td class="product-quantity">
                        <div class="quantity">
                          <input type="number" value="{{ item.quantity }}" class="quantity-input" name="updates[]" id="qty-1" / min="1">
                        </div>
                      </td>
                      <td class="product-total-price">
                        <span class="product-price-wrapper">
                          <span class="money">{{ item.line_price | money }}</span>
                        </span>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>  
            </div>
          </div>
          <div class="row no-gutters border-top pt--20 mt--20">           
            <div class="col-sm-12 text-sm-right">
              <a class="cart-form__btn" href="/cart/clear">{{ section.settings.clear_cart_title }}</a>              
              <button type="submit" class="cart-form__btn">{{ section.settings.update_button_title }}</button>
            </div>            
          </div>
        </div>      
        <div class="col-lg-4">
          <div class="cart-collaterals">
            <div class="cart-totals">
              <h5 class="font-size-14 font-bold mb--15">{{ section.settings.cart_total_heading_title }}</h5>
              <div class="cart-calculator">
                <div class="cart-calculator__item">
                  <div class="cart-calculator__item--head">
                    <span>{{ section.settings.cart_subtotal_title }}</span>
                  </div>
                  <div class="cart-calculator__item--value">
                    <span>{{ cart.total_price | money }}</span>
                  </div>
                </div>

                <div class="cart-calculator__item order-total">
                  <div class="cart-calculator__item--head">
                    <span>{{ section.settings.cart_total_title }}</span>
                  </div>
                  <div class="cart-calculator__item--value">
                    <span class="product-price-wrapper">
                      <span class="money">{{ cart.total_price | money }}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <a href="/checkout" class="btn btn-fullwidth btn-style-1">{{ section.settings.checkout_button_title }}</a>
          </div>
        </div>
      </div>
    </form>
    {%- else -%}
    <div class="row pt--50 pt-md--40 pt-sm--20 pb--80 pb-md--60 pb-sm--40">
      <div class="col-lg-12 col-12">
        <div class="empty-cart-page">
          <h3 class="mb--20">{{ section.settings.cart_empty_title }}</h3>
          <a href="/collections/all" class="btn btn-style-1">{{ section.settings.cart_continue_title }}</a>
        </div>
      </div>
    </div>
    {%- endif -%}
  </div>
</div>



{% schema %}
  {
    "name": "Cart Page",
    "settings": [
		{
			"type": "header",
			"content": "Table Heading"
		},
		{
			"type": "text",
			"id": "table_product_title",
			"label": "Product Heading",
			"default": "PRODUCT"
		},
		{
			"type": "text",
			"id": "table_price_title",
			"label": "Price Heading",
			"default": "PRICE"
		},
		{
			"type": "text",
			"id": "table_quantity_title",
			"label": "Quantity Heading",
			"default": "QUANTITY"
		},
		{
			"type": "text",
			"id": "table_total_title",
			"label": "Total Heading",
			"default": "TOTAL"
		},
		{
			"type": "header",
			"content": "Button Title"
		},
		{
			"type": "text",
			"id": "clear_cart_title",
			"label": "Clear Cart Button Title",
			"default": "Clear Cart"
		},
		{
			"type": "text",
			"id": "update_button_title",
			"label": "Update Button Title",
			"default": "Update Cart"
		},
		{
			"type": "text",
			"id": "continue_shopping_title",
			"label": "Continue Shopping Button Title",
			"default": "Continue Shopping"
		},
		{
			"type": "header",
			"content": "Cart Totals"
		},
		{
			"type": "text",
			"id": "cart_total_heading_title",
			"label": "Cart Heading",
			"default": "Cart Summary"
		},
		{
			"type": "text",
			"id": "cart_subtotal_title",
			"label": "Subtotal Title",
			"default": "Subtotal"
		},
		{
			"type": "text",
			"id": "cart_total_title",
			"label": "Total Title",
			"default": "Total"
		},
		{
			"type": "text",
			"id": "checkout_button_title",
			"label": "Checkout Button",
			"default": "Proceed to Checkout"
		},
		{
			"type": "header",
			"content": "Cart Empty"
		},
		{
			"type": "text",
			"id": "cart_empty_title",
			"label": "Cart Empty Title",
			"default": "Your cart is currently empty."
		},
		{
			"type": "text",
			"id": "cart_continue_title",
			"label": "Continue Browsing Title",
			"default": "Continue browsing here."
		}
	]
  }
{% endschema %}
