<section class="get-inspired-area section-right-full" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="row align-items-center">
    <div class="left-side col-lg-5 text-center mb-md--30">
      <div class="text-block max-w-md-65 max-w-sm-90 mx-auto">
        {%- if section.settings.section_title != '' -%}
        <h2 class="heading-secondary pb-md--3" style="color: {{ section.settings.section_title_color }};">{{ section.settings.section_title }}</h2>
        {%- endif -%}
        
        {%- if section.settings.section_title_border -%}
        <hr class="separator center mt--35 mb--25 mt-md--25 mb-md--20">
        {%- endif -%}
        
        {%- if section.settings.section_sub_title != '' -%}
        <p class="mb--35 mb-md--20" style="color: {{ section.settings.section_sub_title_color }};">{{ section.settings.section_sub_title }}</p>
        {%- endif -%}
      </div>
      <div class="slick-arrows home_01_banner_arrows nav-round nav-outline nav-hover-1">
        {% if settings.rtl_enable %}
        <span class="slick-btn slick-next custom-slick-next">
          <i class="dl-icon-right"></i>
        </span>
        <span class="slick-btn slick-prev custom-slick-prev">
          <i class="dl-icon-left"></i>
        </span>
        {% else %}
        <span class="slick-btn slick-prev custom-slick-prev">
          <i class="dl-icon-left"></i>
        </span>
        <span class="slick-btn slick-next custom-slick-next">
          <i class="dl-icon-right"></i>
        </span>
        {% endif %}        
      </div>
    </div>


    <div class="right-side col-lg-7">
      <div class="zuka-element-carousel home_01_banner_slide" {% if settings.rtl_enable %} dir="rtl"{% endif %} 
           data-slick-options='{
                               "spaceBetween": 30,
                               "isCustomArrow": true,
                               "customPrev": ".custom-slick-prev",
                               "customNext": ".custom-slick-next",
                               "slidesToShow": 1,
                               "slidesToScroll": 1,
                               "infinite": true,
                               "centerMode":true,
                               "rtl":{% if settings.rtl_enable %} true{% else %}false{% endif %},
                               "centerPadding": "20%",
                               "speed": 300
                               }'
           data-slick-responsive= '[
                                   {"breakpoint":767, "settings": {
                                   "centerMode": false,
                                   "centerPadding": "0%",
                                   }}
                                   ]'>


        {%- for block in section.blocks -%}{%- case block.type -%}
        {%- when 'collection_handle' -%}
        {%- assign collection = collections[block.settings.collection_select] -%}
        <div class="item">
          <div class="banner-box banner-hover-2 banner-type-2">
            <div class="banner-inner">
              {% if collection.image.src %}
              <div class="banner-image">
                <img src="{{ collection.image.src | collection_img_url: 'master' }}" alt="{{ collection.image.alt }}">
              </div>
              {% endif %}

              <div class="banner-info mt--25 text-center">
                <div class="banner-info--inner max-w-60 max-w-xl-90">
                  <p class="banner-title-2" style="color: {{ section.settings.title_color }};">
                    {{ collection.title }}
                  </p>

                  {% if collection.description != '' %}
                  <p class="banner-paragraph" style="color: {{ section.settings.des_color }};">
                    {{ collection.description }} 
                  </p>
                  {% endif %}

                  {% if block.settings.btn != '' %}
                  <a href="{{ collection.url }}" class="banner-btn banner-btn-1">{{ block.settings.btn }}</a>
                  {% endif %}                  
                </div>
              </div>
              <a class="banner-link banner-overlay" href="{{ collection.url }}">Shop Now</a>
            </div>
          </div>
        </div>
        {%- endcase -%}{%- endfor -%}
      </div>
    </div>
  </div>
</section>





{%- style -%}
#section-{{ section.id }} .banner-box .banner-btn-1 {
    color: {{ section.settings.btn_color }};
}
#section-{{ section.id }} .banner-box .banner-btn-1:hover {
    color: {{ section.settings.hover_btn_color }};
}

{%- include 'section-style' -%}

{%- endstyle -%}




{% schema %}
  {
    "name": "Collection",
    "settings": [
		{
			"type": "header",
            "content": "Section Title"
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "Get Inspired"
        },
		{
            "type": "checkbox",
            "id": "section_title_border",
            "label": "Show Title Border",
            "default": true
        },
		{
            "type": "textarea",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Proin hendrerit nisi neque, non scelerisque ex bibendum non. Aliquam vehicula magna justo, eu hendrerit lacus scelerisque non."
        },
		{
			"type": "header",
            "content": "Color"
        },
		{
            "type": "color",
            "id": "section_title_color",
            "label": "Section Title Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "section_sub_title_color",
            "label": "Section Subtitle Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "title_color",
            "label": "Collection Title Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "des_color",
            "label": "Collection Subtitle Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "btn_color",
            "label": "Collection Button Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "hover_btn_color",
            "label": "Collection Button Hover Color",
            "default": "#dc0109"
        }
    ],
	"blocks":[
	   {
          "type": "collection_handle",
          "name": "Collection",
          "settings": [
			{
			  "type": "collection",
			  "id": "collection_select",
			  "label": "Select Collection"
			},
            {
                "type": "text",
                "id": "btn",
                "label": "Button",
                "default": "Discover Now"
            }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Collection",
		  "category": "3. Collections",
		  "blocks":[
				{
					"type": "collection_handle"
				},
				{
					"type": "collection_handle"
				},
				{
					"type": "collection_handle"
				},
				{
					"type": "collection_handle"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

