{% if section.settings.google_map_enable %}
<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-12">
      <div id="google-map"></div>
    </div>
  </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key={{ section.settings.google_map_api_key }}"></script>
<script>
  // When the window has finished loading create our google map below
  google.maps.event.addDomListener(window, 'load', init);

  function init() {
    // Basic options for a simple Google Map
    // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
    var mapOptions = {
      // How zoomed in you want the map to start at (always required)
      zoom: 12,

      scrollwheel: false,

      // The latitude and longitude to center the map (always required)
      center: new google.maps.LatLng({{ section.settings.latitude }}, {{ section.settings.languid }}), // New York

      // How you would like to style the map. 
      // This is where you would paste any style found on

      styles: [{
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [{
          "color": "#e9e9e9"
        },
                    {
                      "lightness": 17
                    }
                   ]
      },
               {
                 "featureType": "landscape",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#f5f5f5"
                 },
                             {
                               "lightness": 20
                             }
                            ]
               },
               {
                 "featureType": "road.highway",
                 "elementType": "geometry.fill",
                 "stylers": [{
                   "color": "#ffffff"
                 },
                             {
                               "lightness": 17
                             }
                            ]
               },
               {
                 "featureType": "road.highway",
                 "elementType": "geometry.stroke",
                 "stylers": [{
                   "color": "#ffffff"
                 },
                             {
                               "lightness": 29
                             },
                             {
                               "weight": 0.2
                             }
                            ]
               },
               {
                 "featureType": "road.arterial",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#ffffff"
                 },
                             {
                               "lightness": 18
                             }
                            ]
               },
               {
                 "featureType": "road.local",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#ffffff"
                 },
                             {
                               "lightness": 16
                             }
                            ]
               },
               {
                 "featureType": "poi",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#f5f5f5"
                 },
                             {
                               "lightness": 21
                             }
                            ]
               },
               {
                 "featureType": "poi.park",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#dedede"
                 },
                             {
                               "lightness": 21
                             }
                            ]
               },
               {
                 "elementType": "labels.text.stroke",
                 "stylers": [{
                   "visibility": "on"
                 },
                             {
                               "color": "#ffffff"
                             },
                             {
                               "lightness": 16
                             }
                            ]
               },
               {
                 "elementType": "labels.text.fill",
                 "stylers": [{
                   "saturation": 36
                 },
                             {
                               "color": "#333333"
                             },
                             {
                               "lightness": 40
                             }
                            ]
               },
               {
                 "elementType": "labels.icon",
                 "stylers": [{
                   "visibility": "off"
                 }]
               },
               {
                 "featureType": "transit",
                 "elementType": "geometry",
                 "stylers": [{
                   "color": "#f2f2f2"
                 },
                             {
                               "lightness": 19
                             }
                            ]
               },
               {
                 "featureType": "administrative",
                 "elementType": "geometry.fill",
                 "stylers": [{
                   "color": "#fefefe"
                 },
                             {
                               "lightness": 20
                             }
                            ]
               },
               {
                 "featureType": "administrative",
                 "elementType": "geometry.stroke",
                 "stylers": [{
                   "color": "#fefefe"
                 },
                             {
                               "lightness": 17
                             },
                             {
                               "weight": 1.2
                             }
                            ]
               }
              ]
    };

    // Get the HTML DOM element that will contain your map 
    // We are using a div with id="map" seen below in the <body>
    var mapElement = document.getElementById('google-map');

    // Create the Google Map using our element and options defined above
    var map = new google.maps.Map(mapElement, mapOptions);

    // Let's also add a marker while we're at it
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{ section.settings.latitude }}, {{ section.settings.languid }}),
      map: map,
      title: 'Lazio',
      icon: "{% if section.settings.map_icon_image %}{{ section.settings.map_icon_image | img_url: 'small' }}{% else %}https://via.placeholder.com/100x150{% endif %}",
      animation: google.maps.Animation.BOUNCE
    });
  }
</script>
{% endif %}



{% schema %}
  {
    "name": "Google Map",
    "settings": [
        {
          "type": "checkbox",
          "id": "google_map_enable",
          "label": "Google Map Enable",
          "default": true
        },
        {
          "type": "text",
          "id": "google_map_api_key",
          "label": "Google Map API Key",
          "default": "AIzaSyCBEypW1XtGLWpikFPcityAok8rhJzzWRw"
        },
        {
          "type": "text",
          "id": "latitude",
          "label": "Your Adderss Latititude",
          "default": "47.606205"
        },
        {
          "type": "text",
          "id": "languid",
          "label": "Your Adderss Languid",
          "default": "-122.332046"
        },
        {
          "type": "image_picker",
          "id": "map_icon_image",
          "label": "Map Marker Image"
        }
	]
  }
{% endschema %}