<div class="container">
  <div class="row pt--80 pt-md--60 pt-sm--40 pb--75 pb-md--55 pb-sm--35">
    <div class="col-md-5 order-md-1 order-2">
      {% if section.settings.show_info %}
      <ul class="contact-info-2 mb--50">
        {% for block in section.blocks %}{% case block.type %}
        {% when 'info' %}
        <li class="contact-info__item">
          {% if block.settings.info_icon != '' %}
          <i class="fa fa-{{ block.settings.info_icon }}"></i>
          {% endif %}

          {% if block.settings.info_text != '' %}
          <span>  {{ block.settings.info_text }}</span>
          {% endif %}
        </li>
        {% endcase %}{% endfor %}
      </ul>
      {% endif %}

      {% if section.settings.show_social %}
      <ul class="social social-round dark-bg">
        {% for block in section.blocks %}{% case block.type %}
        {% when 'social' %}
        <li class="social__item">
          <a href="{{ block.settings.social_url }}" class="social__link">
            <i class="fa fa-{{ block.settings.social_icon }}"></i>
          </a>
        </li>
        {% endcase %}{% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="col-md-7 order-md-2 order-1 mb-sm--30">
      {% form 'contact', id: 'contact-form', class: 'form' %}

      {% if form.posted_successfully? %}
      <p class="note form-success">{{ 'contact.form.post_success' | t }}</p>
      {% endif %}

      {{ form.errors | default_errors }}

      <div class="form__group mb--20">
        <input type="text" placeholder="{{ section.settings.name_placeholder }}" class="{% if form.errors contains 'name' %}error{% endif %} form__input" name="contact[name]" id="ContactFormName" value="{% if form.name %}{{ form.name }}{% elsif customer.name %}{{ customer.name }}{% endif %}">
      </div>
      <div class="form__group mb--20">
        <input type="email" placeholder="{{ section.settings.email_placeholder }}" class="{% if form.errors contains 'email' %}error{% endif %} form__input" name="contact[email]" id="ContactFormEmail" value="{% if form.email %}{{ form.email }}{% elsif customer.email %}{{ customer.email }}{% endif %}">
      </div>
      <div class="form__group mb--20">
        <input class="form__input" type="text" id="ContactFormSubject" name="contact[subject]" placeholder="{{ section.settings.subject_placeholder }}" value="{{ form.subject }}">
      </div>
      <div class="form__group mb--20">
        <textarea placeholder="{{ section.settings.message_placeholder }}" class="form__input form__input--textarea" name="contact[body]" id="ContactFormMessage">{% if form.body %}{{ form.body }}{% endif %}</textarea>
      </div>
      <div class="form__group">
        <input type="submit" value="{{ section.settings.form_button_name }}" class="btn btn-submit btn-large btn-shape-round btn-style-1">
      </div>
      <div class="form__output"></div>
      {% endform %}
    </div>
  </div>
</div>





{% schema %}
  {
    "name": "Contact Template",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_info",
          "label": "Show Contact Info",
          "default": true
        },
		{
          "type": "checkbox",
          "id": "show_social",
          "label": "Show Social",
          "default": true
        },
        {
          "type": "header",
          "content": "Contact Form"
        },
        {
          "type": "text",
          "id": "name_placeholder",
          "label": "Name Placeholder",
          "default": "Name"
        },
        {
          "type": "text",
          "id": "email_placeholder",
          "label": "Email Placeholder",
          "default": "Email"
        },
        {
          "type": "text",
          "id": "subject_placeholder",
          "label": "Subject Placeholder",
          "default": "Subject"
        },
        {
          "type": "text",
          "id": "message_placeholder",
          "label": "Email Placeholder",
          "default": "Message"
        },
        {
          "type": "text",
          "id": "form_button_name",
          "label": "Form Button Name",
          "default": "Send"
        }
	],
	"blocks":[
      {
          "type": "info",
          "name": "Contact Info",
          "settings": [
              {
                  "type": "text",
                  "id": "info_icon",
                  "label": "Contact Info Icon",
				  "info": "Search Icon From Here [Fontawesome Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/l )",
				  "default": "map-marker"
              },
			  {
               "type": "textarea",
               "id": "info_text",
               "label": "Text",
  			   "default": "PO Box 16122 Collins Street West Victoria 8007 Australia",
  			   "info": "Use '<br>' tag for line break"
              }
      
  		]
  	  },
      {
          "type": "social",
          "name": "Social",
          "settings": [
              {
                  "type": "text",
                  "id": "social_icon",
                  "label": "Social Icon",
				  "info": "Search Icon From Here [Fontawesome Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/l )",
				  "default": "twitter"
              },
			  {
               "type": "url",
               "id": "social_url",
               "label": "URL"
              }
      
  		]
  	  }
    ]
  }
{% endschema %}

