<section class="fullwidth-banner-area section-right-full" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="row align-items-center">
    <div class="left-side col-xl-6 mb-md--40">
      <div class="fullwidth-banner-text-3 text-lg-left text-center">
        {% if section.settings.text != '' %}
        <span class="ribbon-badge mb--30">{{ section.settings.text }}</span>
        {% endif %}
        
        {% if section.settings.section_title1 != '' %}
        <p class="font-size-20 font-size-md-18 mb--15">{{ section.settings.section_title1 }}</p>
        {% endif %}

        {% if section.settings.section_title2 != '' %}
        <h2 class="mb--30 font-400">{{ section.settings.section_title2 }}</h2>
        {% endif %}

        {% if section.settings.count != '' %}
        <div class="hot-deal-product__countdown mb--50">
          <div class="product-countdown product-countdown-4 zuka_countdown44" data-countdown="{{ section.settings.count }}"></div>
        </div>
        {% endif %}

        {% if section.settings.btn != '' %}
        <a href="{{ section.settings.btn_url }}" class="btn btn-medium btn-shape-round btn-outline-2 btn-color-black btn-style-1">{{ section.settings.btn }}</a>
        {% endif %}
      </div>
    </div>
    <div class="right-side col-xl-6 text-lg-right text-center">
      <figure>
        {%- if section.settings.ban_img -%}
        <img src="{{ section.settings.ban_img | img_url: 'master' }}" alt="{{ image.alt }}">
        {%- else -%}
        <img src="https://via.placeholder.com/883x584" alt="Banner">
        {%- endif -%}
      </figure>
    </div>
  </div>
</section>




{%- style -%}
#section-{{ section.id }} .font-400 {
    font-weight: 400;
}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Countdown Banner 2",
    "settings": [
		{
			"type": "header",
            "content": "Title"
        },
		{
            "type": "text",
            "id": "text",
            "label": "Badge",
            "default": "Hot Deal"
        },
		{
            "type": "text",
            "id": "section_title1",
            "label": "Title 1",
            "default": "Strider - 12 Sport Balance Bike, Ages 18 Months to 5 Years, Black"
        },
		{
            "type": "text",
            "id": "section_title2",
            "label": "Title 2",
            "default": "OFF 30%"
        },
		{
            "type": "text",
            "id": "count",
            "label": "Countdown Time",
            "default": "2019/12/30",
            "info": "Format: YYYY/MM/DD"
        },
		{
            "type": "text",
            "id": "btn",
            "label": "Button",
            "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "URL",
          "default": "\/collections\/all"
        },
		{
			"type": "header",
            "content": "Image"
        },
		{
            "type": "image_picker",
            "id": "ban_img",
            "label": "Image"
        }
    ],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Countdown Banner 2",
		  "category": "2. Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}