<section class="special-product-area special-product-bg" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container-fluid p-0">
    <div class="row align-items-center">
      <div class="col-md-5 text-right">
        {% if section.settings.show_img %}
        <figure>                    
          {%- if section.settings.ban_img -%}
          <img src="{{ section.settings.ban_img | img_url: 'master' }}" alt="{{ image.alt }}">
          {%- else -%}
          <img src="https://via.placeholder.com/414x872" alt="Banner">
          {%- endif -%}
        </figure>
        {% endif %}
      </div>
      <div class="col-md-7">
        <div class="special-product pl--65 pl-sm--15 pt-sm--30">
          {% if section.settings.section_title1 != '' %}
          <h3 class="special-product__title">{{ section.settings.section_title1 }}</h3>
          {% endif %}
          
          {% if section.settings.section_title2 != '' %}
          <h2 class="special-product__discount mb--35 mb-md--25 mb-sm--20">{{ section.settings.section_title2 }}</h2>
          {% endif %}
          
          {% if section.settings.count != '' %}
          <div class="special-product__countdown mb--30 mb-sm--20">
            <div class="product-countdown zuka_countdown44 text-center" data-countdown="{{ section.settings.count }}"></div>
          </div>
          {% endif %}
          
          {% if section.settings.btn != '' %}
          <a href="{{ section.settings.btn_url }}" class="btn btn-medium btn-shape-round btn-style-2">{{ section.settings.btn }}</a>
          {% endif %}
          
          {% if section.settings.text != '' %}
          <p class="mt--40 mt-md--30 mt-sm--20 heading-color">{{ section.settings.text }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>






{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Countdown Banner 1",
    "settings": [
		{
			"type": "header",
            "content": "Image"
        },
		{
            "type": "checkbox",
            "id": "show_img",
            "label": "Show Image",
            "default": true
        },
		{
            "type": "image_picker",
            "id": "ban_img",
            "label": "Image"
        },
		{
			"type": "header",
            "content": "Title"
        },
		{
            "type": "text",
            "id": "section_title1",
            "label": "Title 1",
            "default": "100 items - Flared leather trousers"
        },
		{
            "type": "text",
            "id": "section_title2",
            "label": "Title 2",
            "default": "Sale 50%"
        },
		{
            "type": "text",
            "id": "count",
            "label": "Countdown Time",
            "default": "2019/12/30",
            "info": "Format: YYYY/MM/DD"
        },
		{
            "type": "text",
            "id": "btn",
            "label": "Button",
            "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "URL",
          "default": "\/collections\/all"
        },
		{
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Freeship worldwide order over $120"
        }
    ],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Countdown Banner 1",
		  "category": "2. Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}