<section class="product-area deal-prod" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container-fluid">
    <div class="row">
      {% for block in section.blocks %}
      {%- case block.type -%}
      {%- when 'collection' -%}
      {%- assign tab_product = collections[block.settings.tab_product_handle] -%}
      {%- assign product_limit = block.settings.product_limit_handle -%}
      <div class="col-md-{{ block.settings.col }} mb-sm--30">
        <div class="product-box">
          <div class="product-box__inner">
            {% if block.settings.section_title != '' or block.settings.section_title_icon != '' %}
            <h2 class="product-box__heading font-weight-600">
              {% if block.settings.section_title_icon != '' %}
              <i class="fa fa-{{ block.settings.section_title_icon }}"></i>
              {% endif %}

              {% if block.settings.section_title != '' %}
              {{ block.settings.section_title }}</h2>
            {% endif %}
            {% endif %}

            <div class="product-box__content">
              <div class="zuka-element-carousel nav-vertical-center nav-disabled nav-style-2"
                   data-slick-options='{
                                       "slidesToShow": 1,
                                       "slidesToScroll": 1,
                                       "arrows": true,
                                       "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-left" },
                                       "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-right" }
                                       }'
                   >


                {% for product in tab_product.products limit: product_limit %}
                <div class="item">
                  {% include 'product-grid-deal-of-day' %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {%- endcase -%}
      {% endfor %}
    </div>
  </div>
</section>




{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Deal Product",
    "settings": [],
	"blocks":[
	   {
          "type": "collection",
          "name": "Add Collection",
          "settings": [
            {
              "type": "select",
              "id": "col",
              "label": "Select Column",
              "options":[
                    {
                        "label": "1",
                        "value": "12"
                    },
                    {
                        "label": "2",
                        "value": "6"
                    },
                    {
                        "label": "3",
                        "value": "4"
                    },
                    {
                        "label": "4",
                        "value": "3"
                    }
                ],
                "default": "6"
            },
            {
                "type": "text",
                "id": "section_title_icon",
                "label": "Icon",
                "default": "hand-o-right",
                "info": "[See more icon](https://fontawesome.com/v4.7.0/icons/)"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title",
                "default": "Deal Of Day"
            },
			{
			  "type": "collection",
			  "id": "tab_product_handle",
			  "label": "Select Collection"
			},
            {
                "type": "range",
                "id": "product_limit_handle",
                "min": 1,
                "max": 50,
                "step": 1,
                "label": "Product Limit",
                "default": 10
            }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Deal Product",
		  "category": "3. Collections",
		  "blocks":[
				{
					"type": "collection"
				},
				{
					"type": "collection"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
