{% if section.settings.show_section %}

{% if section.settings.section_title != '' %}
<div class="row mb--40 mb-md--30 mb-sm--20">
  <div class="col-12">
    <h2 class="heading-secondary mt--2 mt-md--4" style="color: {{ section.settings.section_title_color }};">{{ section.settings.section_title }}</h2>
  </div>
</div>
{% endif %}

<div class="row mb--40 mb-md--20 mb-sm--10">
  <div class="col-lg-6">
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'left_content' %}
    <div class="accordion__single mb--30 mb-sm--20">
      <div class="accordion__header">
        <h4 class="accordion__link" data-target="#accordionOne-{{ block.id }}">{{ block.settings.title }}</h4>
      </div>
      <div id="accordionOne-{{ block.id }}" class="accordion__body hide-in-default">
        <div class="accordion__text">{{ block.settings.desc }}</div>
      </div>
    </div>
    {% endcase %}{% endfor %}
  </div>
  <div class="col-lg-6">
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'right_content' %}
    <div class="accordion__single mb--30 mb-sm--20">
      <div class="accordion__header">
        <h4 class="accordion__link" data-target="#accordionFour-{{ block.id }}">{{ block.settings.title }}</h4>
      </div>
      <div id="accordionFour-{{ block.id }}" class="accordion__body hide-in-default">
        <div class="accordion__text">{{ block.settings.desc }}</div>
      </div>
    </div>
    {% endcase %}{% endfor %}
  </div>
</div>
{% endif %}


{% schema %}
  {
    "name": "FAQ - Section 8",
    "settings": [
		{
            "type": "checkbox",
            "id": "show_section",
            "label": "Show Section",
            "default": false
        },
		{
			"type": "header",
            "content": "Section Title"
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "General Question"
        },
		{
            "type": "color",
            "id": "section_title_color",
            "label": "Section Title Color",
            "default": "#181818"
        }
    ],
	"blocks":[
	   {
          "type": "left_content",
          "name": "Left Content",
          "settings": [
            {
              "type": "textarea",
              "id": "title",
              "label": "Title",
              "default": "Mauris congue euismod purus at semper. Morbi et vulputate massa?"
            },
            {
              "type": "textarea",
              "id": "desc",
              "label": "Description",
              "default": "Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem"
            }
          ]
       },
	   {
          "type": "right_content",
          "name": "Right Content",
          "settings": [
            {
              "type": "textarea",
              "id": "title",
              "label": "Title",
              "default": "Mauris congue euismod purus at semper. Morbi et vulputate massa?"
            },
            {
              "type": "textarea",
              "id": "desc",
              "label": "Description",
              "default": "Donec mattis finibus elit ut tristique. Nullam tempus nunc eget arcu vulputate, eu porttitor tellus commodo. Aliquam erat volutpat. Aliquam consectetur lorem eu viverra lobortis. Morbi gravida, nisi id fringilla ultricies, elit lorem eleifend lorem"
            }
          ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

