<section class="collections-area" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container-fluid p-0">
    {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
    <div class="row no-gutters mb--50 mb-md--35 mb-sm--25">
      <div class="col-12 text-center">
        {% if section.settings.section_title != '' %}
        <h2 class="mb--25 mb-sm--20 pb--3 pb-md--0" style="color: {{ section.settings.section_title_color }}">{{ section.settings.section_title }}</h2>
        {% endif %}

        {% if section.settings.section_sub_title != '' %}
        <p class="max-w-30 max-w-xl-50 max-w-lg-70 max-w-md-95 mx-auto" style="color: {{ section.settings.section_subtitle_color }}">{{ section.settings.section_sub_title }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="row no-gutters">
      <div class="col-12">
        <div class="zuka-element-carousel home_06_banner_01 nav-outline nav-horizontal-center nav-style-3 nav-round-2 nav-hover-2"
             data-slick-options='{
                                 "spaceBetween": 30,
                                 "slidesToShow":2,
                                 "slidesToScroll":1,
                                 "autoplaySpeed":5000,
                                 "speed":1000,
                                 "infinite":true,
                                 "arrows":true,
                                 "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                                 "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                                 }'                            
             data-slick-responsive='[
                                    {"breakpoint":991, "settings": {"slidesToShow": 1}},
                                    {"breakpoint":620, "settings": {"slidesToShow": 1}}
                                    ]'>


          {%- for block in section.blocks -%}{%- case block.type -%}
          {%- when 'collection_handle' -%}
          {%- assign collection = collections[block.settings.collection_select] -%}
          <div class="item">
            <div class="banner-box banner-hover-2 banner-type-2">
              <div class="banner-inner">
                {% if collection.image.src %}
                <div class="banner-image">
                  <img src="{{ collection.image.src | collection_img_url: 'master' }}" alt="{{ collection.image.alt }}">
                </div>
                {% endif %}

                <div class="banner-info text-left mt--15">
                  <div class="banner-info--inner">
                    {% if block.settings.text != '' %}
                    <p class="banner-paragraph-2" style="color: {{ section.settings.text_color }};">{{ block.settings.text }}</p>                   
                    {% endif %}

                    <p class="banner-title-11" style="color: {{ section.settings.title_color }};">
                      {{ collection.title }}
                    </p>
                  </div>
                </div>
                <a class="banner-link banner-overlay" href="{{ collection.url }}">Shop Now</a>
              </div>
            </div>
          </div>
          {%- endcase -%}{%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>






{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
		{
			"type": "header",
            "content": "Section Title"
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "Popular Collections"
        },
		{
            "type": "text",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Etiam molestie lacus sit amet augue ultrices, id posuere nunc venenatis. Mauris tincidunt lorem ac maximus vestibulum."
        },
		{
			"type": "header",
            "content": "Color"
        },
		{
            "type": "color",
            "id": "section_title_color",
            "label": "Section Title Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "section_subtitle_color",
            "label": "Section Subtitle Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "text_color",
            "label": "Collection Text Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "title_color",
            "label": "Collection Title Color",
            "default": "#181818"
        }
    ],
	"blocks":[
	   {
          "type": "collection_handle",
          "name": "Collection",
          "settings": [
			{
			  "type": "collection",
			  "id": "collection_select",
			  "label": "Select Collection"
			},
            {
                "type": "text",
                "id": "text",
                "label": "Text",
                "default": "BLAZER"
            }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Featured Collection",
		  "category": "3. Collections",
		  "blocks":[
				{
					"type": "collection_handle"
				},
				{
					"type": "collection_handle"
				},
				{
					"type": "collection_handle"
				},
				{
					"type": "collection_handle"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

