<div id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <section class="banner-area">
    <div class="container">
      <div class="row align-items-center">      
        {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
        <div class="col-lg-4 mb-md--40 mb-sm--30 text-lg-left text-center">
          {% if section.settings.section_title != '' %}
          <h2 class="heading-secondary pb-md--3" style="color: {{ section.settings.section_title_color }}">{{ section.settings.section_title }}</h2>
          {% endif %}

          {% if section.settings.section_title_border %}
          <hr class="separator mx-auto mx-lg-0 mt--35 mt-md--25 mb--25 mb-md--20">
          {% endif %}

          {% if section.settings.section_sub_title != '' %}
          <p style="color: {{ section.settings.section_subtitle_color }}">{{ section.settings.section_sub_title }}</p>
          {% endif %}
        </div>
        {% endif %}

        <div class="col-lg-8">
          <div class="zuka-element-carousel nav-round nav-outline home_04_banner_01 nav-hover-2 nav-disabled-hide"                        
               data-slick-options='{
                                   "slidesToShow": 1,
                                   "slidesToScroll": 1,
                                   "speed": 300,
                                   "arrows": true, 
                                   "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                                   "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                                   }'>

            {%- for block in section.blocks -%}{%- case block.type -%}
            {%- when 'banner_1' -%}
            <div class="item">
              <div class="banner-box banner-hover-3 banner-type-4">
                <div class="banner-inner">
                  <div class="banner-image">
                    {%- if block.settings.ban1_img -%}
                    <img src="{{ block.settings.ban1_img | img_url: 'master' }}" alt="{{ image.alt }}">
                    {%- else -%}
                    <img src="https://via.placeholder.com/670x556" alt="Banner">
                    {%- endif -%}
                  </div>
                  <div class="banner-info">
                    <div class="banner-info--inner">
                      <p class="banner-title-4" style="color: {{ block.settings.title1_color }}">{{ block.settings.title1 }}</p>
                    </div>
                  </div>
                  <a class="banner-link banner-overlay" href="{{ block.settings.ban1_url }}">Shop Now</a>
                </div>
              </div>
            </div>
            {%- endcase -%}{%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="banner-area ptb--40 ptb-md--30 ptb-sm--20">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="zuka-element-carousel nav-round nav-white-bg nav-outline  home_04_banner_02 nav-hover-2 nav-disabled-hide"  
               data-slick-options='{
                                   "slidesToShow": 1,
                                   "slidesToScroll": 1,
                                   "speed": 300,
                                   "arrows": true, 
                                   "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                                   "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                                   }'>

            {%- for block in section.blocks -%}{%- case block.type -%}
            {%- when 'banner_2' -%}
            <div class="item">
              <div class="banner-box banner-hover-3 banner-type-4 banner-type-4-1">
                <div class="banner-inner">
                  <div class="banner-image">
                    {%- if block.settings.ban1_img -%}
                    <img src="{{ block.settings.ban1_img | img_url: 'master' }}" alt="{{ image.alt }}">
                    {%- else -%}
                    <img src="https://via.placeholder.com/670x556" alt="Banner">
                    {%- endif -%}
                  </div>
                  <div class="banner-info">
                    <div class="banner-info--inner">
                      <p class="banner-title-4" style="color: {{ block.settings.title1_color }}">{{ block.settings.title1 }}</p>
                    </div>
                  </div>
                  <a class="banner-link banner-overlay" href="{{ block.settings.ban1_url }}">Shop Now</a>
                </div>
              </div>
            </div>
            {%- endcase -%}{%- endfor -%}            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Featured Banner",
    "settings": [
		{
			"type": "header",
            "content": "Section Title"
        },
		{
            "type": "checkbox",
            "id": "section_title_border",
            "label": "Show Title Border",
            "default": true
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "New Arrival"
        },
        {
          "type": "color",
          "id": "section_title_color",
          "label": "Title Color",
          "default": "#181818"
        },
		{
            "type": "text",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "ZUKA BEAUTY"
        },
        {
          "type": "color",
          "id": "section_subtitle_color",
          "label": "Subtitle Color",
          "default": "#181818"
        }
    ],
	"blocks":[
	   {
          "type": "banner_1",
          "name": "Banner 1",
          "settings": [
			{
			  "type": "image_picker",
			  "id": "ban1_img",
			  "label": "Image"
			},
            {
                "type": "text",
                "id": "title1",
                "label": "Title",
                "default": "Floral Print<br>Dress"
            },
            {
                "type": "color",
                "id": "title1_color",
                "label": "Title Color",
                "default": "#181818"
            },
            {
                "type": "url",
                "id": "ban1_url",
                "label": "URL",
                "default": "\/collections\/all"
            }
          ]
       },
	   {
          "type": "banner_2",
          "name": "Banner 2",
          "settings": [
			{
			  "type": "image_picker",
			  "id": "ban1_img",
			  "label": "Image"
			},
            {
                "type": "text",
                "id": "title1",
                "label": "Title",
                "default": "Floral Print<br>Dress"
            },
            {
                "type": "color",
                "id": "title1_color",
                "label": "Title Color",
                "default": "#181818"
            },
            {
                "type": "url",
                "id": "ban1_url",
                "label": "URL",
                "default": "\/collections\/all"
            }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Featured Banner",
		  "category": "2. Banner",
		  "blocks":[
				{
					"type": "banner_1"
				},
				{
					"type": "banner_1"
				},
				{
					"type": "banner_2"
				},
				{
					"type": "banner_2"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

