<section class="product-area" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container">
    {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
    <div class="row mb--50 mb-md--40 mb-sm--30">
      <div class="col-12 text-center">
        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary pb-md--2" style="color: {{ section.settings.section_title_color }}">{{ section.settings.section_title }}</h2>
        {% endif %}

        {% if section.settings.section_title_border %}
        <hr class="separator separator-3 center mt--25 mt-md--20 mb--25 mb-md--20">
        {% endif %}

        {% if section.settings.section_sub_title != '' %}
        <p style="color: {{ section.settings.section_subtitle_color }}">{{ section.settings.section_sub_title }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    
    <div class="row">
      {%- assign collection = collections[section.settings.collection_select] -%}
      {%- for product in collection.products limit: section.settings.p_limit -%}
      <div class="col-lg-{{ section.settings.product_column }} col-sm-6 ptb--10 mb--20">
        {% if settings.product_grid_style == 'style_1' %}
        {% include 'product-grid-item-1' %}

        {% elsif settings.product_grid_style == 'style_2' %}
        {% include 'product-grid-item-2' %}

        {% elsif settings.product_grid_style == 'style_3' %}
        {% include 'product-grid-item-3' %}
        {% endif %}
      </div>
      {%- endfor -%}
    </div>
    
    {% if section.settings.view_all != '' %}
    <div class="row mt--45 mt-md--25 mt-sm--5">
      <div class="col-12 text-center">
        <a href="{{ section.settings.view_all_url }}" class="btn btn-medium btn-color-gray btn-outline btn-shape-round btn-style-1">{{ section.settings.view_all }}</a>
      </div>
    </div>
    {% endif %}    
  </div>
</section>





{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Featured Product",
    "settings": [
		{
			"type": "header",
            "content": "Section Title"
        },
		{
            "type": "checkbox",
            "id": "section_title_border",
            "label": "Show Title Border",
            "default": true
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "New Arrival"
        },
        {
            "type": "color",
            "id": "section_title_color",
            "label": "Title Color",
          "default": "#181818"
        },
		{
            "type": "text",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Proin hendrerit nisi neque, non scelerisque"
        },
        {
            "type": "color",
            "id": "section_subtitle_color",
            "label": "Subtitle Color",
            "default": "#181818"
        },
		{
			"type": "header",
            "content": "Section Title"
        },			
        {
            "type": "collection",
            "id": "collection_select",
            "label": "Select Collection"
        },
        {
            "type": "select",
            "id": "product_column",
            "label": "Desktop",
            "options":[
                  {
                      "label": "2",
                      "value": "6"
                  },
                  {
                      "label": "3",
                      "value": "4"
                  },
                  {
                      "label": "4",
                      "value": "3"
                  }
              ],
              "default": "4"
        },
			{
			  "type": "range",
			  "id": "p_limit",
			  "min": 2,
			  "max": 50,
			  "step": 1,
			  "label": "Product Limit",
			  "default": 6
			},
		{
			"type": "header",
            "content": "View All"
        },
		{
            "type": "text",
            "id": "view_all",
            "label": "Subtitle",
            "default": "View All"
        },
		{
            "type": "url",
            "id": "view_all_url",
            "label": "URL",
            "default": "\/collections\/all"
        }
    ],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Featured Product",
		  "category": "3. Collections"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

