<section class="featured-area" id="section-{{ section.id }}">
  <div class="container-fluid">
    {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
    <div class="row mb--45 mb-md--35 mb-sm--20 pb--3">
      <div class="col-12 text-center">
        {% if section.settings.section_title != '' %}
        <h2 class="heading-primary mb--30 mb-md--25 pb--3" style="color: {{ section.settings.section_title_color }}">{{ section.settings.section_title }}</h2>
        {% endif %}

        {% if section.settings.section_sub_title != '' %}
        <p style="color: {{ section.settings.section_subtitle_color }}">{{ section.settings.section_sub_title }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="row grid-space-20">
      {%- for block in section.blocks -%}{%- case block.type -%}
      {%- when 'banner' -%}
      <div class="col-md-{{ block.settings.ban_col }}">
        {%- if block.settings.show_ban1 -%}
        <div class="banner-box banner-hover-3 banner-type-1 mb--20 mb-sm--30">
          <div class="banner-inner">
            <div class="banner-image">
              {%- if block.settings.ban1_img -%}
              <img src="{{ block.settings.ban1_img | img_url: 'master' }}" alt="{{ image.alt }}">
              {%- else -%}
              <img src="https://via.placeholder.com/864x409" alt="Banner">
              {%- endif -%}
            </div>

            {%- if block.settings.ban1_title != '' -%}
            <div class="banner-info text-center">
              <div class="banner-info--inner">
                <p class="banner-title-12" style="color: {{ block.settings.ban1_title_color }}">{{ block.settings.ban1_title }}</p>
              </div>
            </div>
            {%- endif -%}
            <a class="banner-link banner-overlay" href="{{ block.settings.ban1_url }}">Shop Now</a>
          </div>
        </div>
        {%- endif -%}

        {%- if block.settings.show_ban2 -%}
        <div class="banner-box banner-hover-3 banner-type-1 banner-type-1-1 mb-sm--30">
          <div class="banner-inner">
            <div class="banner-image">
              {%- if block.settings.ban2_img -%}
              <img src="{{ block.settings.ban2_img | img_url: 'master' }}" alt="{{ image.alt }}">
              {%- else -%}
              <img src="https://via.placeholder.com/864x466" alt="Banner">
              {%- endif -%}
            </div>
            
            {%- if block.settings.ban2_title != '' -%}
            <div class="banner-info text-center">
              <div class="banner-info--inner">
                <p class="banner-title-12" style="color: {{ block.settings.ban2_title_color }}">{{ block.settings.ban2_title }}</p>
              </div>
            </div>
            {%- endif -%}
            <a class="banner-link banner-overlay" href="{{ block.settings.ban2_url }}">Shop Now</a>
          </div>
        </div>
        {%- endif -%}        
      </div>
      {%- endcase -%}{%- endfor -%}
    </div>
  </div>
</section>





{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Featured Category",
    "settings": [
		{
			"type": "header",
            "content": "Section Title"
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "Featured Categories"
        },
		{
            "type": "text",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Feature category to display category on any pages demo"
        }],
	"blocks":[
	   {
          "type": "banner",
          "name": "Banner",
          "settings": [
              {
                "type": "select",
                "id": "ban_col",
                "label": "Select Column",
                "options":[
                      {
                          "label": "1",
                          "value": "12"
                      },
                      {
                          "label": "2",
                          "value": "6"
                      },
                      {
                          "label": "3",
                          "value": "4"
                      },
                      {
                          "label": "4",
                          "value": "3"
                      }
                  ],
                  "default": "6"
              },
              {
                  "type": "header",
                  "content": "Banner 1"
              },
              {
                  "type": "checkbox",
                  "id": "show_ban1",
                  "label": "Show Banner 1",
                  "default": true
              },
              {
                  "type": "image_picker",
                  "id": "ban1_img",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "ban1_title",
                  "label": "Title",
                  "default": "All Time Man"
              },
              {
                  "type": "color",
                  "id": "ban1_title_color",
                  "label": "Title Color",
                  "default": "#fff"
              },
              {
                  "type": "url",
                  "id": "ban1_url",
                  "label": "URL",
                  "default": "\/collections\/all"
              },
              {
                  "type": "header",
                  "content": "Banner 2"
              },
              {
                  "type": "checkbox",
                  "id": "show_ban2",
                  "label": "Show Banner 2",
                  "default": true
              },
              {
                  "type": "image_picker",
                  "id": "ban2_img",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "ban2_title",
                  "label": "Title",
                  "default": "New Sweater"
              },
              {
                  "type": "color",
                  "id": "ban2_title_color",
                  "label": "Title Color",
                  "default": "#fff"
              },
              {
                  "type": "url",
                  "id": "ban2_url",
                  "label": "URL",
                  "default": "\/collections\/all"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Featured Category",
		  "category": "3. Collections",
		  "blocks":[
				{
					"type": "banner"
				},
				{
					"type": "banner"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}