<div class="footer-bottom" id="section-{{ section.id }}">
  <div class="container{% if section.settings.section_width == 'full' %}-fluid{% endif %}">
    <div class="row no-gutters align-items-center ptb--15 zuka_text_align{% if section.settings.border_top == 'full' %} border-top{% endif %}">
      {% for block in section.blocks %}
      {% case block.type %}

      {% when 'social' %}
      <div class="col-md-{{ block.settings.widget_col }} mb-sm--10 {{ txt }}">
        <ul class="social social-small">
          {% include 'sidebar-nav-social' %}
        </ul>
      </div>

      {% when 'copyright' %}
      <div class="col-md-{{ block.settings.widget_col }} mb-sm--10 widget_zkkaaa{% if block.settings.text_center %} text-center{% endif %}">
        <p class="copyright-text">{{ block.settings.copyright }}</p>
      </div>

      {% when 'payment_img' %}
      <div class="col-md-{{ block.settings.widget_col }} {{ txt }}">
        {% if block.settings.payment_img %}
        <img src="{{ block.settings.payment_img | img_url: 'large' }}" alt="{{ image.alt }}">
        {% else %}
        <img src="https://via.placeholder.com/195x19" alt="{{ image.alt }}">
        {% endif %}
      </div>
      {% endcase %}{% endfor %}
    </div>
  </div>
</div>


{%- style -%}
.footer-bottom .social-small .social__link, .footer-bottom .widget_zkkaaa p  {
    color: {{ section.settings.content_color }};
}
.footer-bottom .social-small .social__link:hover {
    color: {{ settings.theme_color }};
}
{% include 'section-style' %}
{%- endstyle -%}



{% schema %}
  {
    "name": "Footer Bottom",
    "settings": [
		{
          "type": "color",
          "id": "content_color",
          "label": "Content Color",
          "default": "#969696"
        },
		{
          "type": "radio",
          "id": "border_top",
          "label": "Border Top",
          "options": [
			{
				"label": "No Border",
				"value": "noborder"
			},
			{
				"label": "Show Border",
				"value": "full"
			}
		  ],
          "default": "noborder"
        },
		{
          "type": "radio",
          "id": "section_width",
          "label": "Footer Top Width",
          "options": [
			{
				"label": "Default",
				"value": "default"
			},
			{
				"label": "Full",
				"value": "full"
			}
		  ],
          "default": "default"
        }
	],
    "blocks": [
		{
			"type": "social",
			"name": "Social Account",
			"settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "2 (2/12)",
                            "value": "2"
                        },
                        {
                            "label": "3 (3/12)",
                            "value": "3"
                        },
                        {
                            "label": "4 (4/12)",
                            "value": "4"
                        },
                        {
                            "label": "5 (5/12)",
                            "value": "5"
                        },
                        {
                            "label": "6 (6/12)",
                            "value": "6"
                        },
                        {
                            "label": "7 (7/12)",
                            "value": "7"
                        },
                        {
                            "label": "8 (8/12)",
                            "value": "8"
                        },
                        {
                            "label": "9 (9/12)",
                            "value": "9"
                        },
                        {
                            "label": "10 (10/12)",
                            "value": "10"
                        },
                        {
                            "label": "11 (11/12)",
                            "value": "11"
                        },
                        {
                            "label": "12 (12/12)",
                            "value": "12"
                        }
                    ],
                    "default": "4"
                },
				{
					"type": "paragraph",
					"content": "[See More Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
				},
				{
					"type": "header",
					"content": "Social 1"
				},
				{
					"type": "text",
					"id": "social_name1",
					"label": "Icon Name",
					"default": "twitter"
				},
				{
					"type": "url",
					"id": "social_url1",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 2"
				},
				{
					"type": "text",
					"id": "social_name2",
					"label": "Icon Name",
					"default": "google-plus"
				},
				{
					"type": "url",
					"id": "social_url2",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 3"
				},
				{
					"type": "text",
					"id": "social_name3",
					"label": "Icon Name",
					"default": "facebook"
				},
				{
					"type": "url",
					"id": "social_url3",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 4"
				},
				{
					"type": "text",
					"id": "social_name4",
					"label": "Icon Name",
					"default": "youtube"
				},
				{
					"type": "url",
					"id": "social_url4",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 5"
				},
				{
					"type": "text",
					"id": "social_name5",
					"label": "Icon Name",
					"default": "instagram"
				},
				{
					"type": "url",
					"id": "social_url5",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 6"
				},
				{
					"type": "text",
					"id": "social_name6",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url6",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 7"
				},
				{
					"type": "text",
					"id": "social_name7",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url7",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 8"
				},
				{
					"type": "text",
					"id": "social_name8",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url8",
					"label": "URL"
				}
			]		
		},
		{
			"type": "copyright",
			"name": "Copyright Text",
			"settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "2 (2/12)",
                            "value": "2"
                        },
                        {
                            "label": "3 (3/12)",
                            "value": "3"
                        },
                        {
                            "label": "4 (4/12)",
                            "value": "4"
                        },
                        {
                            "label": "5 (5/12)",
                            "value": "5"
                        },
                        {
                            "label": "6 (6/12)",
                            "value": "6"
                        },
                        {
                            "label": "7 (7/12)",
                            "value": "7"
                        },
                        {
                            "label": "8 (8/12)",
                            "value": "8"
                        },
                        {
                            "label": "9 (9/12)",
                            "value": "9"
                        },
                        {
                            "label": "10 (10/12)",
                            "value": "10"
                        },
                        {
                            "label": "11 (11/12)",
                            "value": "11"
                        },
                        {
                            "label": "12 (12/12)",
                            "value": "12"
                        }
                    ],
                    "default": "4"
                },
                {
                  "type": "checkbox",
                  "id": "text_center",
                  "label": "Text in center",
                  "default": false
                },
                {
                  "type": "textarea",
                  "id": "copyright",
                  "label": "CopyRight Text",
                  "default": "© Copyright <a href=\"https:\/\/99shopify.com\/\">99Shopify<\/a> All Rights Reserved."
                }
			]			
		},
		{
			"type": "payment_img",
			"name": "Payment Icon",
			"settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "2 (2/12)",
                            "value": "2"
                        },
                        {
                            "label": "3 (3/12)",
                            "value": "3"
                        },
                        {
                            "label": "4 (4/12)",
                            "value": "4"
                        },
                        {
                            "label": "5 (5/12)",
                            "value": "5"
                        },
                        {
                            "label": "6 (6/12)",
                            "value": "6"
                        },
                        {
                            "label": "7 (7/12)",
                            "value": "7"
                        },
                        {
                            "label": "8 (8/12)",
                            "value": "8"
                        },
                        {
                            "label": "9 (9/12)",
                            "value": "9"
                        },
                        {
                            "label": "10 (10/12)",
                            "value": "10"
                        },
                        {
                            "label": "11 (11/12)",
                            "value": "11"
                        },
                        {
                            "label": "12 (12/12)",
                            "value": "12"
                        }
                    ],
                    "default": "4"
                },
                {
                  "type": "image_picker",
                  "id": "payment_img",
                  "label": "Payment Image"
                }
			]			
		},
	    {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}