<footer class="footer footer-2{% if section.settings.border_top == 'full' %} border-top{% endif %}" id="section-{{ section.id }}">
  <div class="container">    
    <div class="footer-top pt--80 pt-md--60{% if section.settings.border_top == 'default' %} border-top{% endif %}">
      <div class="row justify-content-center">        
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11 col-12 text-center">          
          {% for block in section.blocks %}{% case block.type %}

          {% when 'logo_with_text' %}
          <div class="footer-widget mb--20">
            <div class="textwidget">              
              {%- if block.settings.logo -%}
              {% capture logo_size %}{{ block.settings.logo_width | escape }}x{% endcapture %}
              <a href="/" class="footer-logo">
                <img src="{{ block.settings.logo | img_url: logo_size }}" alt="{{ shop.name }}" class="logo-img mb--20"> 
              </a>
              {%- endif -%}

              {% if block.settings.logo_text != '' %}
              <p>{{ block.settings.logo_text }}</p>
              {% endif %}
            </div>
          </div>

          {% when 'social' %}
          <div class="footer-widget mb--20">
            <div class="textwidget">
              <ul class="social">
                {% include 'sidebar-nav-social' %}
              </ul>
            </div>
          </div>

          {% when 'newsletter' %}
          <div class="footer-widget mb--25">
            <form action="{{ settings.newsletter_action }}" method="post" class="newsletter-form newsletter-form--2 mc-form" name="mc-embedded-subscribe-form" target="_blank">
              <input type="email" id="newsletter-email" class="newsletter-form__input" value="{% if customer %}{{ customer.email }}{% endif %}" name="EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email'| t }}">
              <button type="submit" class="newsletter-form__submit"><i class="dl-icon-right"></i></button>
            </form>
          </div>

          {% when 'menu' %}
          <div class="footer-widget">
            <ul class="footer-menu d-flex justify-content-between flex-sm-row flex-column">
              {% assign footer_menu = block.settings.footer_menu_handle %}
              {% for link in linklists[footer_menu].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

          {% endcase %}{% endfor %}
        </div>
      </div>
    </div>

    {% for block in section.blocks %}{% case block.type %}
    {% when 'copyright' %}
    <div class="footer-bottom pt--40 pb--45">
      <div class="row">
        <div class="col-12 text-center">
          <p class="copyright-text">{{ block.settings.copyright }}</p>
        </div>
      </div>
    </div>
    {% endcase %}{% endfor %}
  </div>
</footer>




{%- style -%}
.footer-2 .footer-widget .textwidget p, .footer-2 .footer-widget .social__link, .footer-2 .footer-widget input,
.newsletter-form__submit, .newsletter-form--2 .newsletter-form__submit, .footer-2 .footer-menu li a, .footer-bottom p {
    color: {{ section.settings.content_color }};
}
.footer-2 .footer-widget input::-webkit-input-placeholder {
  	color: {{ section.settings.content_color }};
}
.footer-2 .footer-widget input::-moz-placeholder {
  	color: {{ section.settings.content_color }};
}
.footer-2 .footer-widget input:-ms-input-placeholder {
  	color: {{ section.settings.content_color }};
}
.footer-2 .footer-widget input {
    border-color: {{ section.settings.content_color | color_modify: 'alpha', 0.3 }};
}
.footer-2 .footer-widget .social__link:hover, .footer-2 .footer-menu li a:hover {
    color: {{ settings.theme_color }};
}
{% include 'section-style' %}
{%- endstyle -%}



{% schema %}
  {
    "name": "Footer",
    "settings": [
		{
          "type": "color",
          "id": "content_color",
          "label": "Content Color",
          "default": "#868686"
        },
		{
          "type": "radio",
          "id": "border_top",
          "label": "Border Top",
          "options": [
			{
				"label": "No Border",
				"value": "noborder"
			},
			{
				"label": "Default Border",
				"value": "default"
			},
			{
				"label": "Full Border",
				"value": "full"
			}
		  ],
          "default": "noborder"
        }
	],
    "blocks": [
		{
			"type": "logo_with_text",
			"name": "Logo with Text",
			"settings": [
                {
                  "type": "image_picker",
                  "id": "logo",
                  "label": "Logo"
                },
                {
                  "type": "range",
                  "id": "logo_width",
                  "label": "Custom logo width",
                  "min": 50,
                  "max": 300,
                  "step": 5,
                  "unit": "px",
                  "default": 150
                },
                {
                  "type": "textarea",
                  "id": "logo_text",
                  "label": "Text",
                  "default": "Integer ut ligula quis lectus fringilla elementum porttitor sed est. Duis fringilla efficitur ligula sed lobortis."
                }
			]			
		},
		{
			"type": "menu",
			"name": "Footer Menu",
			"settings": [
				{
					"type": "link_list",
					"id": "footer_menu_handle",
					"label": "Select Menu"
				}
			]			
		},
		{
			"type": "social",
			"name": "Social Account",
			"settings": [
				{
					"type": "paragraph",
					"content": "[See More Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
				},
				{
					"type": "header",
					"content": "Social 1"
				},
				{
					"type": "text",
					"id": "social_name1",
					"label": "Icon Name",
					"default": "twitter"
				},
				{
					"type": "url",
					"id": "social_url1",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 2"
				},
				{
					"type": "text",
					"id": "social_name2",
					"label": "Icon Name",
					"default": "google-plus"
				},
				{
					"type": "url",
					"id": "social_url2",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 3"
				},
				{
					"type": "text",
					"id": "social_name3",
					"label": "Icon Name",
					"default": "facebook"
				},
				{
					"type": "url",
					"id": "social_url3",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 4"
				},
				{
					"type": "text",
					"id": "social_name4",
					"label": "Icon Name",
					"default": "youtube"
				},
				{
					"type": "url",
					"id": "social_url4",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 5"
				},
				{
					"type": "text",
					"id": "social_name5",
					"label": "Icon Name",
					"default": "instagram"
				},
				{
					"type": "url",
					"id": "social_url5",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 6"
				},
				{
					"type": "text",
					"id": "social_name6",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url6",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 7"
				},
				{
					"type": "text",
					"id": "social_name7",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url7",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 8"
				},
				{
					"type": "text",
					"id": "social_name8",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url8",
					"label": "URL"
				}
			]		
		},
		{
			"type": "newsletter",
			"name": "Newsletter",
			"settings": [
				{
					"type": "paragraph",
					"content": "Set newsletter action from Theme settings > Newsletter"
				}
			]			
		},
		{
			"type": "copyright",
			"name": "Copyright Text",
			"settings": [
                {
                  "type": "richtext",
                  "id": "copyright",
                  "label": "CopyRight Text",
                  "default": "<p>Copyright © 99 Shopify All Right Reserved.</p>"
                }
			]			
		},
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}