<div class="footer-top {% if section.settings.border_top == 'full' %} border-top{% endif %}" id="section-{{ section.id }}">
  <div class="container{% if section.settings.section_width == 'full' %}-fluid{% endif %}">
    <div class="row">
      {% for block in section.blocks %}
      {% case block.type %}

      {% when 'logo_with_text' %}
      <div class="footer-column mb-lg--40 mb-sm--25 col-lg-{{ block.settings.widget_col }}">
        <div class="footer-widget text-center text-sm-left">
          <div class="textwidget mb--30 mb-sm--20">
            {%- if block.settings.logo -%}
            {% capture logo_size %}{{ block.settings.logo_width | escape }}x{% endcapture %}
            <a href="/" class="footer-logo">
              <img src="{{ block.settings.logo | img_url: logo_size }}" alt="{{ shop.name }}" class="logo-img"> 
            </a>
            {%- endif -%}
          </div>
          {% if block.settings.logo_text != '' %}
          <div class="textwidget mr--40 mr-xs--0">
            <p>{{ block.settings.logo_text }}</p>
          </div>
          {% endif %}
        </div>
      </div>
      
      {% when 'logo_with_social' %}
      <div class="footer-column footer-column-1 mb-md--25 col-lg-{{ block.settings.widget_col }}">
        <div class="footer-widget text-center text-sm-left">
          <div class="textwidget mb--30 mb-sm--20">
            {%- if block.settings.logo -%}
            {% capture logo_size %}{{ block.settings.logo_width | escape }}x{% endcapture %}
            <a href="/" class="footer-logo">
              <img src="{{ block.settings.logo | img_url: logo_size }}" alt="{{ shop.name }}" class="logo-img"> 
            </a>
            {%- endif -%}
          </div>

          {% if block.settings.show_contact %}
          <div class="widget_contact_info mb--20">
            {% include 'footer-contact' %}
          </div>
          {% endif %}

          {% if block.settings.show_social %}
          <div class="textwidget">
            <ul class="social social-medium dusty-gray-color">
              {% include 'sidebar-nav-social' %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>

      {% when 'menu' %}
      <div class="footer-column mb-lg--40 mb-sm--25 mb-xs--20 col-lg-{{ block.settings.widget_col }}">
        <div class="footer-widget text-center text-sm-left">
          {% if block.settings.widget_title != '' %}
          <h3 class="widget-title mb--25 mb-xs--20">{{ block.settings.widget_title }}</h3>
          {% endif %}
          <ul class="widget-menu">
            {% assign footer_menu = block.settings.footer_menu_handle %}
            {% for link in linklists[footer_menu].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% when 'opening_time' %}
      <div class="footer-column col-lg-{{ block.settings.widget_col }}">
        <div class="footer-widget text-center text-sm-left">
          {% if block.settings.widget_title != '' %}
          <h3 class="widget-title mb--25">{{ block.settings.widget_title }}</h3>
          {% endif %}

          <ul class="widget-menu">
            {% if block.settings.widget_title1 != '' %}
            <li><span>{{ block.settings.widget_title1 }}</span></li>
            {% endif %}

            {% if block.settings.widget_title2 != '' %}
            <li><span>{{ block.settings.widget_title2 }}</span></li>
            {% endif %}

            {% if block.settings.widget_title3 != '' %}
            <li><span>{{ block.settings.widget_title3 }}</span></li>
            {% endif %}

            {% if block.settings.widget_title4 != '' %}
            <li><span>{{ block.settings.widget_title4 }}</span></li>
            {% endif %}

            {% if block.settings.widget_title5 != '' %}
            <li><span>{{ block.settings.widget_title5 }}</span></li>
            {% endif %}

            {% if block.settings.widget_title6 != '' %}
            <li><span>{{ block.settings.widget_title6 }}</span></li>
            {% endif %}

            {% if block.settings.widget_title7 != '' %}
            <li><span>{{ block.settings.widget_title7 }}</span></li>
            {% endif %}

            {% if block.settings.widget_title8 != '' %}
            <li><span>{{ block.settings.widget_title8 }}</span></li>
            {% endif %}
          </ul>
        </div>
      </div>

      {% when 'contact' %}
      <div class="footer-column mb-sm--25 col-lg-{{ block.settings.widget_col }}">
        <div class="footer-widget text-center text-sm-left">
          {% if block.settings.widget_title != '' %}
          <h3 class="widget-title mb--25 mb-xs--20">{{ block.settings.widget_title }}</h3>
          {% endif %}

          <div class="widget_contact_info">
            {% include 'footer-contact' %}
          </div>
        </div>
      </div>

      {% when 'newsletter' %}
      <div class="footer-column mb-xl--35 mb-md--30 mb-xs--25 col-lg-{{ block.settings.widget_col }}">
        <div class="footer-widget text-center text-sm-left">
          {% if block.settings.widget_title != '' %}
          <h3 class="widget-title mb--25 mb-xs--20">{{ block.settings.widget_title }}</h3>
          {% endif %}
          
          <div class="subscribe-widget mb--30">
            <form action="/search" method="get" class="newsletter-form mc-form" role="search">
              <input type="search" id="search2" name="q" value="{{ search.terms | escape }}" placeholder="{{ settings.search_placeholder }}" class="newsletter-form__input">
              <button type="submit" class="newsletter-form__submit">{{ settings.newsletter_button_name }}</button>
            </form>            
          </div>
          
          {% if block.settings.show_social %}
          <ul class="social social-medium">
            {% include 'sidebar-nav-social' %}
          </ul>
          {% endif %}
        </div>
      </div>
      
      {% when 'instafeed' %}
      <div class="footer-column mb-xl--35 mb-md--30 mb-xs--25 col-lg-{{ block.settings.widget_col }}">
        <div class="footer-widget text-center text-sm-left">
          {% if block.settings.widget_title != '' %}
          <h3 class="widget-title mb--25 mb-xs--20">{{ block.settings.widget_title }}</h3>
          {% endif %}
          {% include 'footer-instafeed' %}
        </div>
      </div>
      {% endcase %}{% endfor %}
    </div>
  </div>
</div>




{%- style -%}
.footer-widget .widget-menu a, .footer-widget .widget-menu p, .footer-widget .widget-menu span, .footer-top .textwidget p, 
.footer-widget .widget_contact_info ul li span, .footer-widget .widget_contact_info ul li i, .footer-widget .social__link, .footer-widget .social-medium .social__link,
.footer-widget .newsletter-form__submit, .footer-widget .newsletter-form__input {
    color: {{ section.settings.content_color }};
}
.footer-widget .newsletter-form__input {
    border-color: {{ section.settings.content_color }};
}
.footer-widget .widget-title {
    color: {{ section.settings.widget_title_color }};
}
.footer-widget .newsletter-form__input::-webkit-input-placeholder {
  	color: {{ section.settings.content_color }};
}
.footer-widget .newsletter-form__input::-moz-placeholder {
  	color: {{ section.settings.content_color }};
}
.footer-widget .newsletter-form__input:-ms-input-placeholder {
  	color: {{ section.settings.content_color }};
}
.footer-widget .widget-menu a:hover, .footer-widget .social__link:hover, .footer-widget .social-medium .social__link:hover,
.footer-widget .newsletter-form__submit:hover {
    color: {{ settings.theme_color }};
}
{% include 'section-style' %}
{%- endstyle -%}



{% schema %}
  {
    "name": "Footer Top",
    "settings": [
		{
          "type": "color",
          "id": "widget_title_color",
          "label": "Title Color",
          "default": "#181818"
        },
		{
          "type": "color",
          "id": "content_color",
          "label": "Content Color",
          "default": "#969696"
        },
		{
          "type": "radio",
          "id": "border_top",
          "label": "Border Top",
          "options": [
			{
				"label": "No Border",
				"value": "noborder"
			},
			{
				"label": "Show Border",
				"value": "full"
			}
		  ],
          "default": "noborder"
        },
		{
          "type": "radio",
          "id": "section_width",
          "label": "Footer Top Width",
          "options": [
			{
				"label": "Default",
				"value": "default"
			},
			{
				"label": "Full",
				"value": "full"
			}
		  ],
          "default": "default"
        }
	],
    "blocks": [
		{
			"type": "logo_with_text",
			"name": "Logo with Text",
			"settings": [
                 {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "1 (1/12)",
                            "value": "1"
                        },
                        {
                            "label": "2 (2/12)",
                            "value": "2"
                        },
                        {
                            "label": "3 (3/12)",
                            "value": "3"
                        },
                        {
                            "label": "4 (4/12)",
                            "value": "4"
                        },
                        {
                            "label": "5 (5/12)",
                            "value": "5"
                        },
                        {
                            "label": "6 (6/12)",
                            "value": "6"
                        },
                        {
                            "label": "7 (7/12)",
                            "value": "7"
                        },
                        {
                            "label": "8 (8/12)",
                            "value": "8"
                        },
                        {
                            "label": "9 (9/12)",
                            "value": "9"
                        },
                        {
                            "label": "10 (10/12)",
                            "value": "10"
                        },
                        {
                            "label": "11 (11/12)",
                            "value": "11"
                        },
                        {
                            "label": "12 (12/12)",
                            "value": "12"
                        }
                    ],
                    "default": "3"
                },
                {
                  "type": "image_picker",
                  "id": "logo",
                  "label": "Logo"
                },
                {
                  "type": "range",
                  "id": "logo_width",
                  "label": "Custom logo width",
                  "min": 50,
                  "max": 300,
                  "step": 5,
                  "unit": "px",
                  "default": 65
                },
                {
                  "type": "textarea",
                  "id": "logo_text",
                  "label": "Text",
                  "default": "Integer ut ligula quis lectus fringilla elementum porttitor sed est. Duis fringilla efficitur ligula sed lobortis."
                }
			]			
		},
		{
			"type": "logo_with_social",
			"name": "Logo with Social",
			"settings": [
                 {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "1 (1/12)",
                            "value": "1"
                        },
                        {
                            "label": "2 (2/12)",
                            "value": "2"
                        },
                        {
                            "label": "3 (3/12)",
                            "value": "3"
                        },
                        {
                            "label": "4 (4/12)",
                            "value": "4"
                        },
                        {
                            "label": "5 (5/12)",
                            "value": "5"
                        },
                        {
                            "label": "6 (6/12)",
                            "value": "6"
                        },
                        {
                            "label": "7 (7/12)",
                            "value": "7"
                        },
                        {
                            "label": "8 (8/12)",
                            "value": "8"
                        },
                        {
                            "label": "9 (9/12)",
                            "value": "9"
                        },
                        {
                            "label": "10 (10/12)",
                            "value": "10"
                        },
                        {
                            "label": "11 (11/12)",
                            "value": "11"
                        },
                        {
                            "label": "12 (12/12)",
                            "value": "12"
                        }
                    ],
                    "default": "3"
                },
                {
                  "type": "image_picker",
                  "id": "logo",
                  "label": "Logo"
                },
                {
                  "type": "range",
                  "id": "logo_width",
                  "label": "Custom logo width",
                  "min": 50,
                  "max": 300,
                  "step": 5,
                  "unit": "px",
                  "default": 65
                },
                {
                  "type": "header",
                  "content": "Contact"
                },
                {
                  "type": "checkbox",
                  "id": "show_contact",
                  "label": "Show Contact",
                  "default": true
                },
				{
					"type": "text",
					"id": "widget_icon1",
					"label": "Icon 1",
					"default": "phone"
				},
				{
					"type": "text",
					"id": "widget_title1",
					"label": "Text 1",
					"default": "(+612) 2531 5600"
				},
				{
					"type": "text",
					"id": "widget_icon2",
					"label": "Icon 2",
					"default": "envelope"
				},
				{
					"type": "text",
					"id": "widget_title2",
					"label": "Text 2",
					"default": "info@company.com"
				},
				{
					"type": "text",
					"id": "widget_icon3",
					"label": "Icon 3",
					"default": "map-marker"
				},
				{
					"type": "text",
					"id": "widget_title3",
					"label": "Text 3",
					"default": "Get direction"
				},
				{
					"type": "text",
					"id": "widget_icon4",
					"label": "Icon 4"
				},
				{
					"type": "text",
					"id": "widget_title4",
					"label": "Text 4"
				},
                {
                  "type": "header",
                  "content": "Social Account"
                },
                {
                  "type": "checkbox",
                  "id": "show_social",
                  "label": "Show Social Account",
                  "default": true
                },
				{
					"type": "paragraph",
					"content": "[See More Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
				},
				{
					"type": "header",
					"content": "Social 1"
				},
				{
					"type": "text",
					"id": "social_name1",
					"label": "Icon Name",
					"default": "twitter"
				},
				{
					"type": "url",
					"id": "social_url1",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 2"
				},
				{
					"type": "text",
					"id": "social_name2",
					"label": "Icon Name",
					"default": "google-plus"
				},
				{
					"type": "url",
					"id": "social_url2",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 3"
				},
				{
					"type": "text",
					"id": "social_name3",
					"label": "Icon Name",
					"default": "facebook"
				},
				{
					"type": "url",
					"id": "social_url3",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 4"
				},
				{
					"type": "text",
					"id": "social_name4",
					"label": "Icon Name",
					"default": "youtube"
				},
				{
					"type": "url",
					"id": "social_url4",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 5"
				},
				{
					"type": "text",
					"id": "social_name5",
					"label": "Icon Name",
					"default": "instagram"
				},
				{
					"type": "url",
					"id": "social_url5",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 6"
				},
				{
					"type": "text",
					"id": "social_name6",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url6",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 7"
				},
				{
					"type": "text",
					"id": "social_name7",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url7",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 8"
				},
				{
					"type": "text",
					"id": "social_name8",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url8",
					"label": "URL"
				}
			]			
		},
		{
			"type": "menu",
			"name": "Footer Menu",
			"settings": [{
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "1 (1/12)",
                            "value": "1"
                        },
                        {
                            "label": "2 (2/12)",
                            "value": "2"
                        },
                        {
                            "label": "3 (3/12)",
                            "value": "3"
                        },
                        {
                            "label": "4 (4/12)",
                            "value": "4"
                        },
                        {
                            "label": "5 (5/12)",
                            "value": "5"
                        },
                        {
                            "label": "6 (6/12)",
                            "value": "6"
                        },
                        {
                            "label": "7 (7/12)",
                            "value": "7"
                        },
                        {
                            "label": "8 (8/12)",
                            "value": "8"
                        },
                        {
                            "label": "9 (9/12)",
                            "value": "9"
                        },
                        {
                            "label": "10 (10/12)",
                            "value": "10"
                        },
                        {
                            "label": "11 (11/12)",
                            "value": "11"
                        },
                        {
                            "label": "12 (12/12)",
                            "value": "12"
                        }
                    ],
                    "default": "2"
                },
				{
					"type": "text",
					"id": "widget_title",
					"label": "Title",
					"default": "Helpful Link"
				},
				{
					"type": "link_list",
					"id": "footer_menu_handle",
					"label": "Select Menu"
				}
			]			
		},
		{
			"type": "newsletter",
			"name": "Newsletter",
			"settings": [{
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "1 (1/12)",
                            "value": "1"
                        },
                        {
                            "label": "2 (2/12)",
                            "value": "2"
                        },
                        {
                            "label": "3 (3/12)",
                            "value": "3"
                        },
                        {
                            "label": "4 (4/12)",
                            "value": "4"
                        },
                        {
                            "label": "5 (5/12)",
                            "value": "5"
                        },
                        {
                            "label": "6 (6/12)",
                            "value": "6"
                        },
                        {
                            "label": "7 (7/12)",
                            "value": "7"
                        },
                        {
                            "label": "8 (8/12)",
                            "value": "8"
                        },
                        {
                            "label": "9 (9/12)",
                            "value": "9"
                        },
                        {
                            "label": "10 (10/12)",
                            "value": "10"
                        },
                        {
                            "label": "11 (11/12)",
                            "value": "11"
                        },
                        {
                            "label": "12 (12/12)",
                            "value": "12"
                        }
                    ],
                    "default": "3"
                },
				{
					"type": "header",
					"content": "Newsletter"
				},
				{
					"type": "paragraph",
					"content": "Set newsletter action from- Theme settings > Newsletter"
				},
				{
					"type": "text",
					"id": "widget_title",
					"label": "Title",
					"default": "Newsletter"
				},
				{
					"type": "header",
					"content": "Social Account"
				},
				{
					"type": "checkbox",
					"id": "show_social",
					"label": "Show Social",
					"default": true
				},
				{
					"type": "paragraph",
					"content": "[See More Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
				},
				{
					"type": "header",
					"content": "Social 1"
				},
				{
					"type": "text",
					"id": "social_name1",
					"label": "Icon Name",
					"default": "twitter"
				},
				{
					"type": "url",
					"id": "social_url1",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 2"
				},
				{
					"type": "text",
					"id": "social_name2",
					"label": "Icon Name",
					"default": "google-plus"
				},
				{
					"type": "url",
					"id": "social_url2",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 3"
				},
				{
					"type": "text",
					"id": "social_name3",
					"label": "Icon Name",
					"default": "facebook"
				},
				{
					"type": "url",
					"id": "social_url3",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 4"
				},
				{
					"type": "text",
					"id": "social_name4",
					"label": "Icon Name",
					"default": "youtube"
				},
				{
					"type": "url",
					"id": "social_url4",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 5"
				},
				{
					"type": "text",
					"id": "social_name5",
					"label": "Icon Name",
					"default": "instagram"
				},
				{
					"type": "url",
					"id": "social_url5",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 6"
				},
				{
					"type": "text",
					"id": "social_name6",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url6",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 7"
				},
				{
					"type": "text",
					"id": "social_name7",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url7",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 8"
				},
				{
					"type": "text",
					"id": "social_name8",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url8",
					"label": "URL"
				}
			]			
		},
		{
			"type": "opening_time",
			"name": "Custom Text",
			"settings": [{
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "1 (1/12)",
                            "value": "1"
                        },
                        {
                            "label": "2 (2/12)",
                            "value": "2"
                        },
                        {
                            "label": "3 (3/12)",
                            "value": "3"
                        },
                        {
                            "label": "4 (4/12)",
                            "value": "4"
                        },
                        {
                            "label": "5 (5/12)",
                            "value": "5"
                        },
                        {
                            "label": "6 (6/12)",
                            "value": "6"
                        },
                        {
                            "label": "7 (7/12)",
                            "value": "7"
                        },
                        {
                            "label": "8 (8/12)",
                            "value": "8"
                        },
                        {
                            "label": "9 (9/12)",
                            "value": "9"
                        },
                        {
                            "label": "10 (10/12)",
                            "value": "10"
                        },
                        {
                            "label": "11 (11/12)",
                            "value": "11"
                        },
                        {
                            "label": "12 (12/12)",
                            "value": "12"
                        }
                    ],
                    "default": "2"
                },
				{
					"type": "text",
					"id": "widget_title",
					"label": "Title",
					"default": "Openning Time"
				},
				{
					"type": "text",
					"id": "widget_title1",
					"label": "Text 1",
					"default": "Monday – Saturday"
				},
				{
					"type": "text",
					"id": "widget_title2",
					"label": "Text 2",
					"default": "7:00 – 22:00"
				},
				{
					"type": "text",
					"id": "widget_title3",
					"label": "Text 3",
					"default": "Sunday"
				},
				{
					"type": "text",
					"id": "widget_title4",
					"label": "Text 4",
					"default": "9:00 – 20:00"
				},
				{
					"type": "text",
					"id": "widget_title5",
					"label": "Text 5"
				},
				{
					"type": "text",
					"id": "widget_title6",
					"label": "Text 6"
				},
				{
					"type": "text",
					"id": "widget_title7",
					"label": "Text 7"
				},
				{
					"type": "text",
					"id": "widget_title8",
					"label": "Text 8"
				}
			]		
		},
		{
			"type": "contact",
			"name": "Custom Text with Icon",
			"settings": [{
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "1 (1/12)",
                            "value": "1"
                        },
                        {
                            "label": "2 (2/12)",
                            "value": "2"
                        },
                        {
                            "label": "3 (3/12)",
                            "value": "3"
                        },
                        {
                            "label": "4 (4/12)",
                            "value": "4"
                        },
                        {
                            "label": "5 (5/12)",
                            "value": "5"
                        },
                        {
                            "label": "6 (6/12)",
                            "value": "6"
                        },
                        {
                            "label": "7 (7/12)",
                            "value": "7"
                        },
                        {
                            "label": "8 (8/12)",
                            "value": "8"
                        },
                        {
                            "label": "9 (9/12)",
                            "value": "9"
                        },
                        {
                            "label": "10 (10/12)",
                            "value": "10"
                        },
                        {
                            "label": "11 (11/12)",
                            "value": "11"
                        },
                        {
                            "label": "12 (12/12)",
                            "value": "12"
                        }
                    ],
                    "default": "2"
                },
				{
					"type": "text",
					"id": "widget_title",
					"label": "Title",
					"default": "Contact Info"
				},
				{
					"type": "text",
					"id": "widget_icon1",
					"label": "Icon 1",
					"default": "phone"
				},
				{
					"type": "text",
					"id": "widget_title1",
					"label": "Text 1",
					"default": "(+612) 2531 5600"
				},
				{
					"type": "text",
					"id": "widget_icon2",
					"label": "Icon 2",
					"default": "envelope"
				},
				{
					"type": "text",
					"id": "widget_title2",
					"label": "Text 2",
					"default": "info@company.com"
				},
				{
					"type": "text",
					"id": "widget_icon3",
					"label": "Icon 3",
					"default": "map-marker"
				},
				{
					"type": "text",
					"id": "widget_title3",
					"label": "Text 3",
					"default": "Get direction"
				},
				{
					"type": "text",
					"id": "widget_icon4",
					"label": "Icon 4"
				},
				{
					"type": "text",
					"id": "widget_title4",
					"label": "Text 4"
				}
			]		
		},
		{
			"type": "instafeed",
			"name": "Instafeed",
			"settings": [{
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "1 (1/12)",
                            "value": "1"
                        },
                        {
                            "label": "2 (2/12)",
                            "value": "2"
                        },
                        {
                            "label": "3 (3/12)",
                            "value": "3"
                        },
                        {
                            "label": "4 (4/12)",
                            "value": "4"
                        },
                        {
                            "label": "5 (5/12)",
                            "value": "5"
                        },
                        {
                            "label": "6 (6/12)",
                            "value": "6"
                        },
                        {
                            "label": "7 (7/12)",
                            "value": "7"
                        },
                        {
                            "label": "8 (8/12)",
                            "value": "8"
                        },
                        {
                            "label": "9 (9/12)",
                            "value": "9"
                        },
                        {
                            "label": "10 (10/12)",
                            "value": "10"
                        },
                        {
                            "label": "11 (11/12)",
                            "value": "11"
                        },
                        {
                            "label": "12 (12/12)",
                            "value": "12"
                        }
                    ],
                    "default": "3"
                },
				{
					"type": "text",
					"id": "widget_title",
					"label": "Title",
					"default": "Follow us on instagram"
				},
                {
                    "type": "paragraph",
                    "content": "Set Instafeed User ID & Access Token form Customizer > Instagram"
                }
			]		
		},

	    {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 70
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 70
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 70
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 70
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 60
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}