<section class="fullwidth-banner-area plr--185 plr-xl--45 plr-lg--15" id="section-{{ section.id }}"> 
  <div class="fullwidth-banner-column">
    <div class="text-block text-{% if section.settings.text_align == 'center' %}center{% elsif section.settings.text_align == 'right' %}right{% else %}left{% endif %}">
      {%- if section.settings.section_title1 != '' -%}
      <h3 class="heading-tertiary mb--45 mb-md--30 mb-sm--20" style="color: {{ section.settings.title1_color }}; font-size: {{ section.settings.title1_font_size }}px">
        {{ section.settings.section_title1 }}
      </h3>
      {% endif %}
      
      {%- if section.settings.section_title2 != '' -%}
      <h2 class="mb--45 mb-md--30 mb-sm--20" style="color: {{ section.settings.title2_color }}; font-size: {{ section.settings.title2_font_size }}px">
        {{ section.settings.section_title2 }}
      </h2>
      {% endif %}
      
      {%- if section.settings.btn != '' -%}
      <a href="{{ section.settings.btn_url }}" class="btn btn-semi-large btn-style-1 zuka-btn-44" style="font-size: {{ section.settings.btn_font_size }}px">
        {{ section.settings.btn }}
      </a>
      {% endif %}      
    </div>
  </div>
</section>




{%- style -%}
#section-{{ section.id }} .btn.btn-semi-large.btn-style-1.zuka-btn-44 {
    color: {{ section.settings.btn_color }};
    background-color: {{ section.settings.btn_bg_color }};
}
#section-{{ section.id }} .btn.btn-semi-large.btn-style-1.zuka-btn-44:hover {
    color: {{ section.settings.hover_btn_color }} !important;
    background-color: {{ section.settings.hover_btn_bg_color }};
}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Full Banner",
    "settings": [
		{
            "type": "text",
            "id": "section_title1",
            "label": "Title 1",
            "default": "Slim-fit suite blazer 2019"
        },
		{
            "type": "text",
            "id": "section_title2",
            "label": "Title 2",
            "default": "Off 30%"
        },
		{
            "type": "text",
            "id": "btn",
            "label": "Button",
            "default": "Shop Now"
        },
		{
            "type": "url",
            "id": "btn_url",
            "label": "URL",
            "default": "\/collections\/all"
        },
		{
			"type": "header",
            "content": "Font Size"
        },
		{
            "type": "range",
            "id": "title1_font_size",
            "label": "Title 1",
            "max": 200,
            "min": 14,
            "step": 2,
            "unit": "px",
            "default": 24
        },
		{
            "type": "range",
            "id": "title2_font_size",
            "label": "Title 2",
            "max": 200,
            "min": 14,
            "step": 2,
            "unit": "px",
            "default": 100
        },
		{
            "type": "range",
            "id": "btn_font_size",
            "label": "Button",
            "max": 30,
            "min": 14,
            "step": 2,
            "unit": "px",
            "default": 14
        },
		{
            "type": "radio",
            "id": "text_align",
            "label": "Text Align",
            "options": [
				{
				  "label": "Left",
				  "value": "left"
				},
				{
				  "label": "Center",
				  "value": "center"
				},
				{
				  "label": "Right",
				  "value": "right"
				}
			],
            "default": "left"
        },
		{
			"type": "header",
            "content": "Color"
        },
		{
            "type": "color",
            "id": "title1_color",
            "label": "Title 1 Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "title2_color",
            "label": "Title 2 Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "btn_color",
            "label": "Button Color",
            "default": "#fff"
        },
		{
            "type": "color",
            "id": "btn_bg_color",
            "label": "Button BG Color",
            "default": "#333333"
        },
		{
            "type": "color",
            "id": "hover_btn_color",
            "label": "Button Hover Color",
            "default": "#fff"
        },
		{
            "type": "color",
            "id": "hover_btn_bg_color",
            "label": "Button Hover BG Color",
            "default": "#dc0109"
        }
    ],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Full Banner",
		  "category": "2. Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

