<header class="header-aside{% if template != 'index' %} hdr_bg7{% endif %} header-aside-style-2">
  <div class="header-aside__inner">
    <div class="header-aside__top text-lg-center mb--30 mb-lg--0">
      {% include 'header-logo' %}
    </div>

    <ul class="header-toolbar white-color text-center mb--25 mb-lg--10 mb-md--0">
      {% if settings.show_currency %}
      {% include 'currency-picker' %}
      {% endif %}

      <li class="header-toolbar__item d-lg-none">
        <a href="#mobileMenu" class="toolbar-btn menu-btn">
          <span class="hamburger-icon"></span>
        </a> 
      </li>

      <li class="header-toolbar__item">
        {% include 'mini-cart' %}
      </li>

      {% if section.settings.sidebar_nav %}
      <li class="header-toolbar__item d-none d-lg-block">
        <a href="#sideNav" class="toolbar-btn">
          <span class="hamburger-icon"></span>
        </a>                                    
      </li>
      {% endif %}

      {% if settings.show_search %}
      <li class="header-toolbar__item">
        <a href="#searchForm" class="search-btn toolbar-btn">
          <i class="dl-icon-search1"></i>
        </a>
      </li>
      {% endif %}
    </ul>

    {% include 'main-menu' %}

    {% if section.settings.show_box %}
    <div class="header-aside__bottom text-center">
      {% if section.settings.opening_content != '' %}
      <div class="widget mb--20 mb-lg--10">
        {{ section.settings.opening_content }}        
      </div>
      {% endif %}

      {% if section.settings.info_content != '' %}
      <div class="widget">
        <div class="contact-info-widget">
          <div class="textwidget">
            {{ section.settings.info_content }}
          </div>
        </div>
      </div>
      {% endif %}

      {% if section.settings.show_social %}
      <ul class="social social-small dove-gray-color mtb--20">
        {% include 'header-social' %}
      </ul>
      {% endif %}

      {% if section.settings.copyright_content != '' %}
      <p class="copyright-text font-size-11">{{ section.settings.copyright_content }}</p>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% include 'mobile-menu' %}
</header>

{% include 'sidebar-nav' %}




{% schema %}
  {
    "name": "Header",
    "settings": [
		{
			"type": "header",
			"content": "Logo"
		},
		{
          "type": "checkbox",
          "id": "ratina_logo_enable",
          "label": "Retina Logo Enable",
		  "default": false
        },
		{
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
		{
          "type": "range",
          "id": "logo_width",
          "label": "Custom logo width",
          "min": 50,
          "max": 300,
          "step": 5,
          "unit": "px",
          "default": 150
        },
		{
			"type": "header",
			"content": "Currency"
		},
		{
			"type": "paragraph",
			"content": "Set up your currency from- Theme settings > General Settings > Currency"
		},
		{
			"type": "header",
			"content": "Mini Cart"
		},
		{
			"type": "paragraph",
			"content": "Set up your mini cart from- Theme settings > Mini cart"
		},
		{
			"type": "header",
			"content": "Sidebar Navigation"
		},
		{
			"type": "checkbox",
			"id": "sidebar_nav",
			"label": "Show Sidebar Navigation",
			"default": true
		},
		{
			"type": "paragraph",
			"content": "Add content for Sidebar Navigation"
		},
		{
			"type": "header",
			"content": "Search"
		},
		{
			"type": "paragraph",
			"content": "Set up your search options from- Theme settings > Search"
		},
		{
			"type": "header",
			"content": "Info Box"
		},
		{
			"type": "checkbox",
			"id": "show_box",
			"label": "Show Box",
			"default": true
		},
		{
			"type": "html",
			"id": "opening_content",
			"label": "Opening Content",
			"default": "<h4 class=\"widget-title\">Openning Time<\/h4><ul class=\"contact-info-widget\">\n<li>Monday - Saturday<\/li>\n<li class=\"color--white\">7:00 - 22:00<\/li>\n<li>Sunday<\/li>\n<li class=\"color--white\">9:00 - 20:00<\/li>\n<\/ul>"
		},
		{
			"type": "html",
			"id": "info_content",
			"label": "Info Content",
			"default": "<p><i class=\"fa fa-phone-square\"><\/i>(+612) 2531 5600<\/p>\n<p><i class=\"fa fa-envelope\"><\/i>info@company.com<\/p>\n<p><i class=\"fa fa-map-marker\"><\/i>Get direction<\/p>"
		},
		{
			"type": "html",
			"id": "copyright_content",
			"label": "Copyright Content",
			"default": "© 2019 Zuka Shop All rights reserved"
		},		
		{
			"type": "header",
			"content": "Show Social"
		},
		{
			"type": "checkbox",
			"id": "show_social",
			"label": "Show Social",
			"default": true
		},
        {
            "type": "paragraph",
            "content": "[See More Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
        },
        {
            "type": "text",
            "id": "social_name1",
            "label": "Icon Name",
            "default": "twitter"
        },
        {
            "type": "url",
            "id": "social_url1",
            "label": "URL"
        },
        {
            "type": "header",
            "content": "Social 2"
        },
        {
            "type": "text",
            "id": "social_name2",
            "label": "Icon Name",
            "default": "google-plus"
        },
        {
            "type": "url",
            "id": "social_url2",
            "label": "URL"
        },
        {
            "type": "header",
            "content": "Social 3"
        },
        {
            "type": "text",
            "id": "social_name3",
            "label": "Icon Name",
            "default": "facebook"
        },
        {
            "type": "url",
            "id": "social_url3",
            "label": "URL"
        },
        {
            "type": "header",
            "content": "Social 4"
        },
        {
            "type": "text",
            "id": "social_name4",
            "label": "Icon Name",
            "default": "youtube"
        },
        {
            "type": "url",
            "id": "social_url4",
            "label": "URL"
        },
        {
            "type": "header",
            "content": "Social 5"
        },
        {
            "type": "text",
            "id": "social_name5",
            "label": "Icon Name",
            "default": "instagram"
        },
        {
            "type": "url",
            "id": "social_url5",
            "label": "URL"
        }
	],
    "blocks": [
		{
			"type": "side_menu",
			"name": "Custom Menu",
			"settings": [
				{
					"type": "link_list",
					"id": "side_menu_handle",
					"label": "Select Menu"
				}
			]			
		},
		{
			"type": "side_banner",
			"name": "Banner",
			"settings": [
				{
					"type": "image_picker",
					"id": "banner_img",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "banner_text",
					"label": "Text",
					"default": "NEW"
				},
                {
                    "type": "url",
                    "id": "banner_url",
                    "label": "URL",
                    "default": "\/collections\/all"
                }
			]			
		},
		{
			"type": "side_custom_text",
			"name": "Custom Text",
			"settings": [
				{
					"type": "html",
					"id": "custom_text",
					"label": "Text",
					"default": "(+612) 2531 5600<br>info@la-studioweb.com<br>PO Box 1622 Colins Street West",
					"info": "Custom HTML applicable. Use '<br>' tag for line break."
				}
			]			
		},
		{
			"type": "side_custom_url",
			"name": "Custom URL",
			"settings": [
				{
					"type": "text",
					"id": "custom_text",
					"label": "Text",
					"default": "Google Maps"
				},
				{
					"type": "url",
					"id": "custom_url",
					"label": "URL",
                    "default": "\/collections\/all"
				}
			]			
		},
		{
			"type": "side_payment_img",
			"name": "Payment Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "banner_img",
					"label": "Image"
				}
			]			
		},
		{
			"type": "side_copyright",
			"name": "Copyright Text",
			"settings": [
				{
					"type": "html",
					"id": "custom_text",
					"label": "Text",
					"default": "&copy; 2019 Zuka Shop All rights reserved",
					"info": "Custom HTML applicable. Use '<br>' tag for line break."
				}
			]			
		},
		{
			"type": "side_social",
			"name": "Social Account",
			"settings": [
				{
					"type": "paragraph",
					"content": "[See More Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
				},
				{
					"type": "header",
					"content": "Social 1"
				},
				{
					"type": "text",
					"id": "social_name1",
					"label": "Icon Name",
					"default": "twitter"
				},
				{
					"type": "url",
					"id": "social_url1",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 2"
				},
				{
					"type": "text",
					"id": "social_name2",
					"label": "Icon Name",
					"default": "google-plus"
				},
				{
					"type": "url",
					"id": "social_url2",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 3"
				},
				{
					"type": "text",
					"id": "social_name3",
					"label": "Icon Name",
					"default": "facebook"
				},
				{
					"type": "url",
					"id": "social_url3",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 4"
				},
				{
					"type": "text",
					"id": "social_name4",
					"label": "Icon Name",
					"default": "youtube"
				},
				{
					"type": "url",
					"id": "social_url4",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 5"
				},
				{
					"type": "text",
					"id": "social_name5",
					"label": "Icon Name",
					"default": "instagram"
				},
				{
					"type": "url",
					"id": "social_url5",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 6"
				},
				{
					"type": "text",
					"id": "social_name6",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url6",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 7"
				},
				{
					"type": "text",
					"id": "social_name7",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url7",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 8"
				},
				{
					"type": "text",
					"id": "social_name8",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url8",
					"label": "URL"
				}
			]			
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}