<header class="header{% if template == 'index' %} header-transparent{% else %} hdr_bg{% endif %} header-style-4">
  <div class="header-inner headroom headroom--fixed">
    <div class="header-top{% if template != 'index' %} hdr_bg{% endif %}">
      <div class="container-fluid">
        <div class="row align-items-center">
          {% if section.settings.show_social %}
          <div class="col-lg-{{ section.settings.social_col }} d-none d-lg-block">
            <ul class="social social-big white-color">
              {% include 'header-social' %}
            </ul>
          </div>
          {% endif %}

          <div class="col-lg-{{ section.settings.logo_col }} col-6 text-left text-lg-center">
            {% include 'header-logo' %}
          </div>

          <div class="col-lg-{{ section.settings.searchbox_col }} col-6 d-flex justify-content-end align-items-center">
            <div class="searchform-wrapper d-none d-lg-block">
              <form action="/search" method="get" class="searchform searchform-2 white-color" role="search">
                <input type="search" id="search2" name="q" value="{{ search.terms | escape }}" placeholder="{{ settings.search_placeholder }}" class="searchform__input">
                <button type="submit" class="searchform__submit"><i class="dl-icon-search1"></i></button>
              </form>
            </div>

            <ul class="header-toolbar header-toolbar-2 white-color dark-color-sm text-right">
              {% if settings.show_currency %}
              {% include 'currency-picker' %}
              {% endif %}

              <li class="header-toolbar__item">
                {% include 'mini-cart' %}
              </li>

              <li class="header-toolbar__item d-none d-lg-block">
                <a href="#sideNav" class="toolbar-btn">
                  <span class="hamburger-icon">
                  </span>
                </a>                                    
              </li>

              <li class="header-toolbar__item d-block d-lg-none">
                <a href="#searchForm" class="search-btn toolbar-btn">
                  <i class="dl-icon-search1"></i>
                </a>
              </li>

              <li class="header-toolbar__item d-lg-none">
                <a href="#mobileMenu" class="toolbar-btn menu-btn">
                  <span class="hamburger-icon"></span>
                </a> 
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom d-none d-lg-block">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center">
            {% include 'main-menu' %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'mobile-menu' %}
</header>

{% include 'sidebar-nav' %}



{%- style -%}
.social.white-color .social__link, .searchform.white-color .searchform__submit, .current-currency, .header-toolbar.white-color .header-toolbar__item > a,
.currency-trigger .fa.fa-angle-down {
    color: {{ section.settings.content_color }};
}
.searchform.white-color .searchform__input {
    border-color: {{ section.settings.content_color }};
}
.header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon, .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon:before, 
.header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon:after {
    background-color: {{ section.settings.content_color }};
}
.searchform.white-color .searchform__input::-webkit-input-placeholder {
  	color: {{ section.settings.content_color }};
}
.searchform.white-color .searchform__input::-moz-placeholder {
  	color: {{ section.settings.content_color }};
}
.searchform.white-color .searchform__input:-ms-input-placeholder {
  	color: {{ section.settings.content_color }};
}
.main-navigation.white-color .mainmenu__link {
    color: {{ section.settings.menu_color }};
}
.main-navigation.white-color .mainmenu__item.active > a, .main-navigation.white-color .mainmenu__link:hover, 
.main-navigation.white-color .mainmenu__item.menu-item-has-children:after, .main-navigation.white-color .mainmenu__link span.menu_badge::after {
	color: {{ section.settings.menu_hover_color }};
}
.main-navigation.white-color .mainmenu__link > span.mm-text:after {
    border-top-color: {{ section.settings.menu_hover_color }};
}

{%- endstyle -%}



{% schema %}
  {
    "name": "Header",
    "settings": [
		{
			"type": "header",
			"content": "Header Social"
		},
		{
			"type": "checkbox",
			"id": "show_social",
			"label": "Show Header Social",
			"default": true
		},
        {
            "type": "paragraph",
            "content": "[See More Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
        },
        {
            "type": "select",
            "id": "social_col",
            "label": "Select Column",
            "options": [
                {
                    "label": "2 (2/12)",
                    "value": "2"
                },
                {
                    "label": "3 (3/12)",
                    "value": "3"
                },
                {
                    "label": "4 (4/12)",
                    "value": "4"
                },
                {
                    "label": "5 (5/12)",
                    "value": "5"
                },
                {
                    "label": "6 (6/12)",
                    "value": "6"
                },
                {
                    "label": "7 (7/12)",
                    "value": "7"
                },
                {
                    "label": "8 (8/12)",
                    "value": "8"
                },
                {
                    "label": "9 (9/12)",
                    "value": "9"
                },
                {
                    "label": "10 (10/12)",
                    "value": "10"
                },
                {
                    "label": "11 (11/12)",
                    "value": "11"
                },
                {
                    "label": "12 (12/12)",
                    "value": "12"
                }
            ],
            "default": "5"
        },
        {
            "type": "header",
            "content": "Social 1"
        },
        {
            "type": "text",
            "id": "social_name1",
            "label": "Icon Name",
            "default": "twitter"
        },
        {
            "type": "url",
            "id": "social_url1",
            "label": "URL"
        },
        {
            "type": "header",
            "content": "Social 2"
        },
        {
            "type": "text",
            "id": "social_name2",
            "label": "Icon Name",
            "default": "google-plus"
        },
        {
            "type": "url",
            "id": "social_url2",
            "label": "URL"
        },
        {
            "type": "header",
            "content": "Social 3"
        },
        {
            "type": "text",
            "id": "social_name3",
            "label": "Icon Name",
            "default": "facebook"
        },
        {
            "type": "url",
            "id": "social_url3",
            "label": "URL"
        },
        {
            "type": "header",
            "content": "Social 4"
        },
        {
            "type": "text",
            "id": "social_name4",
            "label": "Icon Name",
            "default": "youtube"
        },
        {
            "type": "url",
            "id": "social_url4",
            "label": "URL"
        },
        {
            "type": "header",
            "content": "Social 5"
        },
        {
            "type": "text",
            "id": "social_name5",
            "label": "Icon Name",
            "default": "instagram"
        },
        {
            "type": "url",
            "id": "social_url5",
            "label": "URL"
        },
		{
			"type": "header",
			"content": "Logo"
		},
        {
            "type": "select",
            "id": "logo_col",
            "label": "Select Column",
            "options": [
                {
                    "label": "2 (2/12)",
                    "value": "2"
                },
                {
                    "label": "3 (3/12)",
                    "value": "3"
                },
                {
                    "label": "4 (4/12)",
                    "value": "4"
                },
                {
                    "label": "5 (5/12)",
                    "value": "5"
                },
                {
                    "label": "6 (6/12)",
                    "value": "6"
                },
                {
                    "label": "7 (7/12)",
                    "value": "7"
                },
                {
                    "label": "8 (8/12)",
                    "value": "8"
                },
                {
                    "label": "9 (9/12)",
                    "value": "9"
                },
                {
                    "label": "10 (10/12)",
                    "value": "10"
                },
                {
                    "label": "11 (11/12)",
                    "value": "11"
                },
                {
                    "label": "12 (12/12)",
                    "value": "12"
                }
            ],
            "default": "2"
        },
		{
          "type": "checkbox",
          "id": "ratina_logo_enable",
          "label": "Retina Logo Enable",
		  "default": false
        },
		{
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
		{
          "type": "range",
          "id": "logo_width",
          "label": "Custom logo width",
          "min": 50,
          "max": 300,
          "step": 5,
          "unit": "px",
          "default": 150
        },
		{
			"type": "header",
			"content": "Search-Cart Box"
		},
        {
            "type": "select",
            "id": "searchbox_col",
            "label": "Select Column",
            "options": [
                {
                    "label": "2 (2/12)",
                    "value": "2"
                },
                {
                    "label": "3 (3/12)",
                    "value": "3"
                },
                {
                    "label": "4 (4/12)",
                    "value": "4"
                },
                {
                    "label": "5 (5/12)",
                    "value": "5"
                },
                {
                    "label": "6 (6/12)",
                    "value": "6"
                },
                {
                    "label": "7 (7/12)",
                    "value": "7"
                },
                {
                    "label": "8 (8/12)",
                    "value": "8"
                },
                {
                    "label": "9 (9/12)",
                    "value": "9"
                },
                {
                    "label": "10 (10/12)",
                    "value": "10"
                },
                {
                    "label": "11 (11/12)",
                    "value": "11"
                },
                {
                    "label": "12 (12/12)",
                    "value": "12"
                }
            ],
            "default": "5"
        },
		{
			"type": "header",
			"content": "Currency"
		},
		{
			"type": "paragraph",
			"content": "Set up your currency from- Theme settings > General Settings > Currency"
		},
		{
			"type": "header",
			"content": "Search"
		},
		{
			"type": "paragraph",
			"content": "Set up your search options from- Theme settings > Search"
		},
		{
			"type": "header",
			"content": "Mini Cart"
		},
		{
			"type": "paragraph",
			"content": "Set up your mini cart from- Theme settings > Mini cart"
		},
		{
			"type": "header",
			"content": "Sidebar Navigation"
		},
		{
			"type": "checkbox",
			"id": "sidebar_nav",
			"label": "Show Sidebar Navigation",
			"default": true
		},
		{
			"type": "paragraph",
			"content": "Add content for Sidebar Navigation"
		},
		{
			"type": "header",
			"content": "Color Settings"
		},
		{
          "type": "color",
          "id": "content_color",
          "label": "Content Color",
          "default": "#fff"
        },
		{
          "type": "color",
          "id": "menu_color",
          "label": "Menu Text Color",
          "default": "#fff"
        },
		{
          "type": "color",
          "id": "menu_hover_color",
          "label": "Menu Text Hover/Active Color",
          "default": "#fff"
        }
	],
    "blocks": [
		{
			"type": "side_menu",
			"name": "Custom Menu",
			"settings": [
				{
					"type": "link_list",
					"id": "side_menu_handle",
					"label": "Select Menu"
				}
			]			
		},
		{
			"type": "side_banner",
			"name": "Banner",
			"settings": [
				{
					"type": "image_picker",
					"id": "banner_img",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "banner_text",
					"label": "Text",
					"default": "NEW"
				},
                {
                    "type": "url",
                    "id": "banner_url",
                    "label": "URL",
                    "default": "\/collections\/all"
                }
			]			
		},
		{
			"type": "side_custom_text",
			"name": "Custom Text",
			"settings": [
				{
					"type": "html",
					"id": "custom_text",
					"label": "Text",
					"default": "(+612) 2531 5600<br>info@la-studioweb.com<br>PO Box 1622 Colins Street West",
					"info": "Custom HTML applicable. Use '<br>' tag for line break."
				}
			]			
		},
		{
			"type": "side_custom_url",
			"name": "Custom URL",
			"settings": [
				{
					"type": "text",
					"id": "custom_text",
					"label": "Text",
					"default": "Google Maps"
				},
				{
					"type": "url",
					"id": "custom_url",
					"label": "URL",
                    "default": "\/collections\/all"
				}
			]			
		},
		{
			"type": "side_payment_img",
			"name": "Payment Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "banner_img",
					"label": "Image"
				}
			]			
		},
		{
			"type": "side_copyright",
			"name": "Copyright Text",
			"settings": [
				{
					"type": "html",
					"id": "custom_text",
					"label": "Text",
					"default": "&copy; 2019 Zuka Shop All rights reserved",
					"info": "Custom HTML applicable. Use '<br>' tag for line break."
				}
			]			
		},
		{
			"type": "side_social",
			"name": "Social Account",
			"settings": [
				{
					"type": "paragraph",
					"content": "[See More Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
				},
				{
					"type": "header",
					"content": "Social 1"
				},
				{
					"type": "text",
					"id": "social_name1",
					"label": "Icon Name",
					"default": "twitter"
				},
				{
					"type": "url",
					"id": "social_url1",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 2"
				},
				{
					"type": "text",
					"id": "social_name2",
					"label": "Icon Name",
					"default": "google-plus"
				},
				{
					"type": "url",
					"id": "social_url2",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 3"
				},
				{
					"type": "text",
					"id": "social_name3",
					"label": "Icon Name",
					"default": "facebook"
				},
				{
					"type": "url",
					"id": "social_url3",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 4"
				},
				{
					"type": "text",
					"id": "social_name4",
					"label": "Icon Name",
					"default": "youtube"
				},
				{
					"type": "url",
					"id": "social_url4",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 5"
				},
				{
					"type": "text",
					"id": "social_name5",
					"label": "Icon Name",
					"default": "instagram"
				},
				{
					"type": "url",
					"id": "social_url5",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 6"
				},
				{
					"type": "text",
					"id": "social_name6",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url6",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 7"
				},
				{
					"type": "text",
					"id": "social_name7",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url7",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 8"
				},
				{
					"type": "text",
					"id": "social_name8",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url8",
					"label": "URL"
				}
			]			
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}