<div class="header-bottom d-lg-block d-none" style="background-color: {{ section.settings.bg_color }};">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="{% if section.settings.show_custom_box %}col-xl-8 col-lg-7{% else %}col-lg-12{% endif %}">
        <div class="header-bottom__left">

          {% if section.settings.show_cat_menu %}
          <nav class="secondary-navigation d-xl-block d-none">
            <a href="#" class="secondary-nav-btn remove_href">
              {% if section.settings.show_cat_icon %}
              <i class="fa fa-navicon"></i>
              {% endif %}

              {% if section.settings.cat_menu_title != '' %}
              {{ section.settings.cat_menu_title }}
              {% endif %}
            </a>
            <ul class="secondary-menu">
              {% assign cat_menu = section.settings.cat_menu_handle %}
              {% for link in linklists[cat_menu].links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
          {% endif %}

          <nav class="main-navigation main-navigation-3 white-color">
            {% include 'main-menu' %}
          </nav>
        </div>
      </div>

      {% if section.settings.show_custom_box %}
      <div class="col-xl-4 col-lg-5 text-right">
        <ul class="header-component">
          {% if settings.show_currency %}
          {% include 'currency-picker' %}
          {% endif %}
          
          {% if section.settings.custom_text != '' %}
          <li>
            <a href="{{ section.settings.custom_url }}">
              {% if section.settings.custom_icon != '' %}
              <i class="fa fa-{{ section.settings.custom_icon }}"></i>
              {% endif %}
              
              <span>{{ section.settings.custom_text }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>


{%- style -%}
.main-navigation.white-color .mainmenu__link, .main-navigation.white-color .mainmenu__item.menu-item-has-children:after,
.main-navigation.white-color .mainmenu__item.menu-item-has-children:not(.megamenu-holder):after {
    color: {{ section.settings.menu_color }};
}
.main-navigation.white-color .mainmenu__item.active > a, .main-navigation.white-color .mainmenu__item:hover {
	color: {{ section.settings.menu_hover_color }};
}
.main-navigation.white-color .mainmenu__link > span.mm-text:after {
    border-top-color: {{ section.settings.menu_hover_color }};
}
.secondary-navigation .secondary-nav-btn, .main-navigation.white-color a:not([href]):not([tabindex]) {
	color:  {{ section.settings.content_color }} !important;
}

{%- endstyle -%}



{% schema %}
  {
    "name": "Header Bottom",
    "settings": [
		{
			"type": "header",
			"content": "Category Menu"
		},
		{
          "type": "checkbox",
          "id": "show_cat_menu",
          "label": "Show Category Menu",
		  "default": true
        },
		{
          "type": "checkbox",
          "id": "show_cat_icon",
          "label": "Show Icon on Menu",
		  "default": true
        },
		{
          "type": "text",
          "id": "cat_menu_title",
          "label": "Menu Title",
		  "default": "SHOP BY DEPARTMENT"
        },
		{
          "type": "link_list",
          "id": "cat_menu_handle",
          "label": "Select Menu"
        },
		{
			"type": "header",
			"content": "Custom Box"
		},
		{
          "type": "checkbox",
          "id": "show_custom_box",
          "label": "Show Custom Box",
		  "default": true
        },
		{
			"type": "header",
			"content": "Currency"
		},
		{
			"type": "paragraph",
			"content": "Set up your currency from- Theme settings > General Settings > Currency"
		},
		{
			"type": "header",
			"content": "Custom Text"
		},
		{
          "type": "text",
          "id": "custom_text",
          "label": "Text",
          "default": "Help & FAQs"
        },
		{
          "type": "text",
          "id": "custom_icon",
          "label": "Icon",
          "default": "envelope-o"
        },
		{
          "type": "url",
          "id": "custom_url",
          "label": "URL",
          "default": "\/collections\/all"
        },
		{
			"type": "header",
			"content": "Color Settings"
		},
		{
          "type": "color",
          "id": "content_color",
          "label": "Content Color",
          "default": "#fff"
        },
		{
          "type": "color",
          "id": "menu_color",
          "label": "Menu Text Color",
          "default": "#737373"
        },
		{
          "type": "color",
          "id": "menu_hover_color",
          "label": "Menu Text Hover/Active Color",
          "default": "#000000"
        },
		{
          "type": "color",
          "id": "bg_color",
          "label": "BG Color",
          "default": "#e35858"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}