<header class="header header-style-1{% if template != 'index' %} border-bottom{% endif %}">
  <div class="header-inner">
    <div class="header-top headroom headroom--fixed">
      <div class="container-fluid">
        <div class="row align-items-center">          
          <div class="col-lg-2 col-md-4 col-4">
            {% include 'header-logo' %}
          </div>          
          
          <div class="col-lg-8 d-none d-lg-block">
            {% include 'main-menu' %}
          </div>
          
          <div class="col-lg-2 col-md-8 col-8">
            {% include 'search-cart-box' %}
          </div>          
          
        </div>
      </div>
    </div>
  </div>
  {% include 'mobile-menu' %}
</header>



{%- style -%}
.main-navigation .mainmenu__link {
    color: {{ section.settings.menu_color }};
}
.main-navigation .mainmenu__item.active > a, .main-navigation .mainmenu__link:hover, .main-navigation .mainmenu__item.menu-item-has-children.active:after,
.main-navigation .active .mainmenu__link span.menu_badge::after {
	color: {{ section.settings.menu_hover_color }};
}
.main-navigation .mainmenu__link > span.mm-text:after {
    border-top-color: {{ section.settings.menu_hover_color }};
}
{%- endstyle -%}



{% schema %}
  {
    "name": "Header",
    "settings": [
		{
			"type": "header",
			"content": "Logo"
		},
		{
          "type": "checkbox",
          "id": "ratina_logo_enable",
          "label": "Retina Logo Enable",
		  "default": false
        },
		{
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
		{
          "type": "range",
          "id": "logo_width",
          "label": "Custom logo width",
          "min": 50,
          "max": 300,
          "step": 5,
          "unit": "px",
          "default": 150
        },
		{
			"type": "header",
			"content": "Main menu"
		},
		{
          "type": "color",
          "id": "menu_color",
          "label": "Menu Text Color",
          "default": "#737373"
        },
		{
          "type": "color",
          "id": "menu_hover_color",
          "label": "Menu Text Hover/Active Color",
          "default": "#000000"
        },
		{
			"type": "header",
			"content": "Currency"
		},
		{
			"type": "paragraph",
			"content": "Set up your currency from- Theme settings > General Settings > Currency"
		},
		{
			"type": "header",
			"content": "Search"
		},
		{
			"type": "paragraph",
			"content": "Set up your search options from- Theme settings > Search"
		},
		{
			"type": "header",
			"content": "Mini Cart"
		},
		{
			"type": "paragraph",
			"content": "Set up your mini cart from- Theme settings > Mini cart"
		},
		{
			"type": "header",
			"content": "Sidebar Navigation"
		},
		{
			"type": "checkbox",
			"id": "sidebar_nav",
			"label": "Show Sidebar Navigation",
			"default": true
		},
		{
			"type": "paragraph",
			"content": "Add content for Sidebar Navigation"
		}
	],
    "blocks": [
		{
			"type": "side_menu",
			"name": "Custom Menu",
			"settings": [
				{
					"type": "link_list",
					"id": "side_menu_handle",
					"label": "Select Menu"
				}
			]			
		},
		{
			"type": "side_banner",
			"name": "Banner",
			"settings": [
				{
					"type": "image_picker",
					"id": "banner_img",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "banner_text",
					"label": "Text",
					"default": "NEW"
				},
                {
                    "type": "url",
                    "id": "banner_url",
                    "label": "URL",
                    "default": "\/collections\/all"
                }
			]			
		},
		{
			"type": "side_custom_text",
			"name": "Custom Text",
			"settings": [
				{
					"type": "html",
					"id": "custom_text",
					"label": "Text",
					"default": "(+612) 2531 5600<br>info@la-studioweb.com<br>PO Box 1622 Colins Street West",
					"info": "Custom HTML applicable. Use '<br>' tag for line break."
				}
			]			
		},
		{
			"type": "side_custom_url",
			"name": "Custom URL",
			"settings": [
				{
					"type": "text",
					"id": "custom_text",
					"label": "Text",
					"default": "Google Maps"
				},
				{
					"type": "url",
					"id": "custom_url",
					"label": "URL",
                    "default": "\/collections\/all"
				}
			]			
		},
		{
			"type": "side_payment_img",
			"name": "Payment Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "banner_img",
					"label": "Image"
				}
			]			
		},
		{
			"type": "side_copyright",
			"name": "Copyright Text",
			"settings": [
				{
					"type": "html",
					"id": "custom_text",
					"label": "Text",
					"default": "&copy; 2019 Zuka Shop All rights reserved",
					"info": "Custom HTML applicable. Use '<br>' tag for line break."
				}
			]			
		},
		{
			"type": "side_social",
			"name": "Social Account",
			"settings": [
				{
					"type": "paragraph",
					"content": "[See More Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
				},
				{
					"type": "header",
					"content": "Social 1"
				},
				{
					"type": "text",
					"id": "social_name1",
					"label": "Icon Name",
					"default": "twitter"
				},
				{
					"type": "url",
					"id": "social_url1",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 2"
				},
				{
					"type": "text",
					"id": "social_name2",
					"label": "Icon Name",
					"default": "google-plus"
				},
				{
					"type": "url",
					"id": "social_url2",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 3"
				},
				{
					"type": "text",
					"id": "social_name3",
					"label": "Icon Name",
					"default": "facebook"
				},
				{
					"type": "url",
					"id": "social_url3",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 4"
				},
				{
					"type": "text",
					"id": "social_name4",
					"label": "Icon Name",
					"default": "youtube"
				},
				{
					"type": "url",
					"id": "social_url4",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 5"
				},
				{
					"type": "text",
					"id": "social_name5",
					"label": "Icon Name",
					"default": "instagram"
				},
				{
					"type": "url",
					"id": "social_url5",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 6"
				},
				{
					"type": "text",
					"id": "social_name6",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url6",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 7"
				},
				{
					"type": "text",
					"id": "social_name7",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url7",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 8"
				},
				{
					"type": "text",
					"id": "social_name8",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url8",
					"label": "URL"
				}
			]			
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}