{% if section.settings.show_header_top %}

<div class="top-bar d-none d-lg-block" style="background-color: {{ section.settings.bg_color }};">
  <div class="container-fluid">
    <div class="row align-items-center zuka_text_align">
      {% for block in section.blocks %}{% case block.type %}

      {% when 'social' %}
      <div class="col-xl-{{ block.settings.social_col }} d-none d-xl-block">
        <ul class="social social-medium dark-color">
          {% include 'sidebar-nav-social' %}
        </ul>
      </div>

      {% when 'custom_text' %}
      <div class="col-xl-{{ block.settings.social_col }}">
        <div class="header__text">
          <span style="color:{{ block.settings.custom_text_color }}">{{ block.settings.custom_text }}
            {% if block.settings.custom_btn != '' %} <a href="{{ block.settings.custom_url }}" style="color: {{ block.settings.custom_btn_color }};">{{ block.settings.custom_btn }}</a>{% endif %}
          </span>
        </div>
      </div>

      {% when 'contact' %}
      <div class="col-xl-{{ block.settings.social_col }} d-none d-xl-block">
        <div class="contact-info">
          {% if block.settings.contact1 != '' %}
          <span>
            {% if block.settings.contact_icon1 != '' %}
            <i class="fa fa-{{ block.settings.contact_icon1 }}"></i>
            {% endif %}
            {{ block.settings.contact1 }}
          </span>
          {% endif %}

          {% if block.settings.contact2 != '' %}
          <span>
            {% if block.settings.contact_icon2 != '' %}
            <i class="fa fa-{{ block.settings.contact_icon2 }}"></i>
            {% endif %}
            {{ block.settings.contact2 }}
          </span>
          {% endif %}

          {% if block.settings.contact3 != '' %}
          <span>
            {% if block.settings.contact_icon3 != '' %}
            <i class="fa fa-{{ block.settings.contact_icon3 }}"></i>
            {% endif %}
            {{ block.settings.contact3 }}
          </span>
          {% endif %}
        </div>
      </div>

      {% endcase %}{% endfor %}
    </div>
  </div>
</div>


{%- style -%}
.social.dark-color .social__link, .header .contact-info *, .header .contact-info span {
    color: {{ section.settings.content_color }};
}
{%- endstyle -%}
{% endif %}





{% schema %}
  {
    "name": "Header Top",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_header_top",
          "label": "Show Header Top",
		  "default": true
        },
		{
          "type": "color",
          "id": "content_color",
          "label": "Content Color",
          "default": "#181818"
        },
		{
          "type": "color",
          "id": "bg_color",
          "label": "BG Color",
          "default": "#f9f9f9"
        }
	],
    "blocks": [
		{
			"type": "social",
			"name": "Social Account",
			"settings": [
				{
					"type": "paragraph",
					"content": "[See More Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
				},
				{
					"type": "select",
					"id": "social_col",
					"label": "Select Column",
					"options": [
						{
							"label": "2 (2/12)",
							"value": "2"
						},
						{
							"label": "3 (3/12)",
							"value": "3"
						},
						{
							"label": "4 (4/12)",
							"value": "4"
						},
						{
							"label": "5 (5/12)",
							"value": "5"
						},
						{
							"label": "6 (6/12)",
							"value": "6"
						},
						{
							"label": "7 (7/12)",
							"value": "7"
						},
						{
							"label": "8 (8/12)",
							"value": "8"
						},
						{
							"label": "9 (9/12)",
							"value": "9"
						},
						{
							"label": "10 (10/12)",
							"value": "10"
						},
						{
							"label": "11 (11/12)",
							"value": "11"
						},
						{
							"label": "12 (12/12)",
							"value": "12"
						}
					],
					"default": "4"
				},
				{
					"type": "header",
					"content": "Social 1"
				},
				{
					"type": "text",
					"id": "social_name1",
					"label": "Icon Name",
					"default": "twitter"
				},
				{
					"type": "url",
					"id": "social_url1",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 2"
				},
				{
					"type": "text",
					"id": "social_name2",
					"label": "Icon Name",
					"default": "google-plus"
				},
				{
					"type": "url",
					"id": "social_url2",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 3"
				},
				{
					"type": "text",
					"id": "social_name3",
					"label": "Icon Name",
					"default": "facebook"
				},
				{
					"type": "url",
					"id": "social_url3",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 4"
				},
				{
					"type": "text",
					"id": "social_name4",
					"label": "Icon Name",
					"default": "youtube"
				},
				{
					"type": "url",
					"id": "social_url4",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 5"
				},
				{
					"type": "text",
					"id": "social_name5",
					"label": "Icon Name",
					"default": "instagram"
				},
				{
					"type": "url",
					"id": "social_url5",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 6"
				},
				{
					"type": "text",
					"id": "social_name6",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url6",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 7"
				},
				{
					"type": "text",
					"id": "social_name7",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url7",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 8"
				},
				{
					"type": "text",
					"id": "social_name8",
					"label": "Icon Name"
				},
				{
					"type": "url",
					"id": "social_url8",
					"label": "URL"
				}
			]			
		},
		{
			"type": "custom_text",
			"name": "Custom Text",
			"settings": [
				{
					"type": "select",
					"id": "social_col",
					"label": "Select Column",
					"options": [
						{
							"label": "2 (2/12)",
							"value": "2"
						},
						{
							"label": "3 (3/12)",
							"value": "3"
						},
						{
							"label": "4 (4/12)",
							"value": "4"
						},
						{
							"label": "5 (5/12)",
							"value": "5"
						},
						{
							"label": "6 (6/12)",
							"value": "6"
						},
						{
							"label": "7 (7/12)",
							"value": "7"
						},
						{
							"label": "8 (8/12)",
							"value": "8"
						},
						{
							"label": "9 (9/12)",
							"value": "9"
						},
						{
							"label": "10 (10/12)",
							"value": "10"
						},
						{
							"label": "11 (11/12)",
							"value": "11"
						},
						{
							"label": "12 (12/12)",
							"value": "12"
						}
					],
					"default": "4"
				},
				{
					"type": "textarea",
					"id": "custom_text",
					"label": "Text",
					"default": " (+612) 2531 5600"
				},
				{
					"type": "text",
					"id": "custom_btn",
					"label": "Button",
					"default": "SHOP NOW"
				},
				{
					"type": "url",
					"id": "custom_url",
					"label": "URL",
                    "default": "\/collections\/all"
				},
				{
					"type": "color",
					"id": "custom_text_color",
					"label": "Custom Text Color",
					"default": "#181818"
				},
				{
					"type": "color",
					"id": "custom_btn_color",
					"label": "Button Color",
					"default": "#e35858"
				}
			]			
		},
		{
			"type": "contact",
			"name": "Contact",
			"settings": [
				{
					"type": "select",
					"id": "social_col",
					"label": "Select Column",
					"options": [
						{
							"label": "2 (2/12)",
							"value": "2"
						},
						{
							"label": "3 (3/12)",
							"value": "3"
						},
						{
							"label": "4 (4/12)",
							"value": "4"
						},
						{
							"label": "5 (5/12)",
							"value": "5"
						},
						{
							"label": "6 (6/12)",
							"value": "6"
						},
						{
							"label": "7 (7/12)",
							"value": "7"
						},
						{
							"label": "8 (8/12)",
							"value": "8"
						},
						{
							"label": "9 (9/12)",
							"value": "9"
						},
						{
							"label": "10 (10/12)",
							"value": "10"
						},
						{
							"label": "11 (11/12)",
							"value": "11"
						},
						{
							"label": "12 (12/12)",
							"value": "12"
						}
					],
					"default": "4"
				},
				{
					"type": "paragraph",
					"content": "[See More Icon](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
				},
				{
					"type": "header",
					"content": "Contact 1"
				},
				{
					"type": "text",
					"id": "contact1",
					"label": "Text 1",
					"default": "Flash sale! Off 20% All Items This Week"
				},
				{
					"type": "text",
					"id": "contact_icon1",
					"label": "Icon 1",
					"default": "phone"
				},
				{
					"type": "header",
					"content": "Contact 2"
				},
				{
					"type": "text",
					"id": "contact2",
					"label": "Text 2",
					"default": "info@example.com"
				},
				{
					"type": "text",
					"id": "contact_icon2",
					"label": "Icon 2",
					"default": "envelope"
				},
				{
					"type": "header",
					"content": "Contact 3"
				},
				{
					"type": "text",
					"id": "contact3",
					"label": "Text 3",
					"default": "Get direction"
				},
				{
					"type": "text",
					"id": "contact_icon3",
					"label": "Icon 3",
					"default": "map-marker"
				}
			]			
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}