<div class="container">
  <div class="row">
    
    <div class="col-sm-12">
      <div class="row">
        {%- if shop.customer_accounts_enabled and customer -%}
        <div class="col-6">
          Welcome <strong>{{ customer.first_name }}</strong>
          {{ 'layout.customer.log_out' | t | customer_logout_link }}
        </div>
        {%- else -%}
        <div class="col-6">
          Welcome our store
          {{ 'layout.customer.log_in' | t | customer_login_link }}
          or
          {{ 'layout.customer.create_account' | t | customer_register_link }}
        </div>
        {%- endif -%}
        
        {%- if section.settings.google_translate_enable -%}
        <div class="col-6">
          {% include 'google-translate' %}
        </div>
        {%- endif -%}
      </div>
    </div>
    
    
    <div class="col">
      {%- include 'header-logo' -%}
    </div>

    {%- if settings.currency_enable -%}
    <div class="col">
      {%- include 'currency-picker' -%}
    </div>
    {%- endif -%}
    
    <div>
      {% include 'search-bar' %}
    </div>

    <div class="col">
      <div class="right">    
        {%- include 'mini-cart' -%}
      </div>
    </div>
  </div>
  <div class="row">
    {% include 'main-menu' %}
  </div>
</div>


<style>
  .theme-logo img{
    max-width: {{ section.settings.logo_width }}px;
  }
</style>

{% schema %}
  {
    "name": "Header",
    "settings": [
		{
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
		{
          "type": "range",
          "id": "logo_width",
          "label": "Custom logo width",
          "min": 50,
          "max": 300,
          "step": 5,
          "unit": "px",
          "default": 150
        },
		{
          "type": "checkbox",
          "id": "ratina_logo_enable",
          "label": "Retina Logo Enable",
		  "default": false
        },
		{
          "type": "checkbox",
          "id": "google_translate_enable",
          "label": "Google Translate Enable",
		  "default": true
        },
		{
          "type": "header",
          "content": "Mini Cart"
        },
		{
          "type": "text",
          "id": "cart_item_title",
          "label": "Item Title",
		  "default": "Item"
        },
		{
          "type": "text",
          "id": "cart_items_title",
          "label": "Items Title",
		  "default": "Items"
        },

		{
          "type": "text",
          "id": "quantity_title",
          "label": "Quantity Title",
		  "default": "Qty: "
        },
		{
          "type": "text",
          "id": "view_cart_title",
          "label": "View Cart Title",
		  "default": "View Cart"
        },
		{
          "type": "text",
          "id": "checkout_title",
          "label": "Checkout Title",
		  "default": "Checkout"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
