<div class="header-top">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-3 col-6">
        {% include 'header-logo' %}
      </div>
      <div class="col-lg-6 d-lg-block d-none">
        <form action="/search" method="get" class="searchform searchform-3" role="search">
          <input type="search" id="popup-search" name="q" value="{{ search.terms | escape }}" placeholder="{{ settings.search_placeholder }}"  class="searchform__input">
          <button type="submit" class="searchform__submit"><i class="dl-icon-search1"></i></button>
        </form>
      </div>
      <div class="col-lg-3 col-6">
        <ul class="header-toolbar header-toolbar-3 text-right">
          {% if section.settings.show_wishlist %}
          {% if customer and shop.customer_accounts_enabled %}
          <li class="header-toolbar__item d-lg-block d-none">
            <a href="/pages/wishlist">
              <i class="fa fa-heart-o"></i>
            </a>
          </li>
          {% else %}
          <li class="header-toolbar__item d-lg-block d-none">
            <a href="/account/login">
              <i class="fa fa-heart-o"></i>
            </a>
          </li>
          {% endif %}
          {% endif %}

          {% if section.settings.show_user_menu %}
          <li class="header-toolbar__item user-info-menu-btn d-lg-block d-none">
            <a href="">
              <i class="fa fa-user-circle-o"></i>
            </a>
            <ul class="user-info-menu">
              {% assign user_menu = section.settings.user_menu_handle %}
              {% if customer and shop.customer_accounts_enabled %}
              <li>
                <a href="/account/logout">{{ section.settings.logout_title }}</a>
              </li>
              {% else %}
              <li>
                <a href="/account/login">{{ section.settings.login_title }}</a>
              </li>
              <li>
                <a href="/account/register">{{ section.settings.register_title }}</a>
              </li>
              {% endif %}
              
              {% for link in linklists[user_menu].links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}

          <li class="header-toolbar__item">
            {% include 'mini-cart' %}
          </li>

          <li class="header-toolbar__item d-lg-none">
            <a href="#searchForm" class="search-btn toolbar-btn">
              <i class="dl-icon-search1"></i>
            </a>
          </li>
          <li class="header-toolbar__item d-lg-none">
            <a href="#mobileMenu" class="toolbar-btn menu-btn">
              <span class="hamburger-icon"></span>
            </a> 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Header Middle",
    "settings": [
		{
			"type": "header",
			"content": "Logo"
		},
		{
          "type": "checkbox",
          "id": "ratina_logo_enable",
          "label": "Retina Logo Enable",
		  "default": false
        },
		{
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
		{
          "type": "range",
          "id": "logo_width",
          "label": "Custom logo width",
          "min": 50,
          "max": 300,
          "step": 5,
          "unit": "px",
          "default": 150
        },
		{
			"type": "header",
			"content": "Search"
		},
		{
			"type": "paragraph",
			"content": "Set up your search options from- Theme settings > Search"
		},
		{
			"type": "header",
			"content": "Wishlist"
		},
		{
          "type": "checkbox",
          "id": "show_wishlist",
          "label": "Show Wishlist",
		  "default": true
        },
		{
			"type": "header",
			"content": "User menu"
		},
		{
          "type": "checkbox",
          "id": "show_user_menu",
          "label": "Show User Menu",
		  "default": true
        },
		{
          "type": "link_list",
          "id": "user_menu_handle",
          "label": "Select Menu"
        },
		{
          "type": "text",
          "id": "login_title",
          "label": "Login Title",
		  "default": "Login"
        },
		{
          "type": "text",
          "id": "register_title",
          "label": "Register Title",
		  "default": "Register"
        },
		{
          "type": "text",
          "id": "logout_title",
          "label": "Logout Title",
		  "default": "Logout"
        },
		{
			"type": "header",
			"content": "Mini Cart"
		},
		{
			"type": "paragraph",
			"content": "Set up your mini cart from- Theme settings > Mini cart"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}