<div class="banner-area" id="section-{{ section.id }}">
  <div class="container{% if section.settings.section_width == 'full' %}-fluid{% endif %}{% if section.settings.disable_gutter %} p-0{% endif %}">
    <div class="row{% if section.settings.disable_gutter %} no-gutters{% endif %}">
      {%- for block in section.blocks -%}{%- case block.type -%}
      {%- when 'img_banner' -%}
      <div class="col-md-{{ block.settings.ban_col }}">
        <div class="banner-box banner-hover-3 banner-type-5 banner-type-5-2 mb-sm--30">
          <div class="banner-inner">
            <div class="banner-image">
              {%- if block.settings.ban1_img -%}
              <img src="{{ block.settings.ban1_img | img_url: 'master' }}" alt="{{ image.alt }}">
              {%- else -%}
              <img src="https://via.placeholder.com/640x425" alt="Banner">
              {%- endif -%}
            </div>
            <a class="banner-link banner-overlay" href="{{ block.settings.ban_url1 }}">Shop Now</a>
          </div>
        </div>

        {% if block.settings.show_img2 %}
        <div class="banner-box banner-hover-3 banner-type-5 banner-type-5-3">
          <div class="banner-inner">
            <div class="banner-image">
              {%- if block.settings.ban2_img -%}
              <img src="{{ block.settings.ban2_img | img_url: 'master' }}" alt="{{ image.alt }}">
              {%- else -%}
              <img src="https://via.placeholder.com/640x425" alt="Banner">
              {%- endif -%}
            </div>            
            <a class="banner-link banner-overlay" href="{{ block.settings.ban_url }}">Shop Now</a>
          </div>
        </div>
        {% endif %}
      </div>
      {%- endcase -%}{%- endfor -%}
    </div>
  </div>
</div>






{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Image Banner",
    "settings": [
		{
          "type": "radio",
          "id": "section_width",
          "label": "Section Width",
		  "options":[
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Full Wide",
                    "value": "full"
                }
			],
			"default": "full"
      	},
		{
          "type": "checkbox",
          "id": "disable_gutter",
          "label": "Disable Gutter",
		  "default": true
      	}
	],
	"blocks":[
	   {
          "type": "img_banner",
          "name": "Image Banner",
          "settings": [
              {
                "type": "select",
                "id": "ban_col",
                "label": "Select Column",
                "options":[
                      {
                          "label": "1",
                          "value": "12"
                      },
                      {
                          "label": "2",
                          "value": "6"
                      },
                      {
                          "label": "3",
                          "value": "4"
                      },
                      {
                          "label": "4",
                          "value": "3"
                      }
                  ],
                  "default": "4"
              },
              {
                  "type": "image_picker",
                  "id": "ban1_img",
                  "label": "Image 1"
              },
              {
                  "type": "url",
                  "id": "ban_url1",
                  "label": "URL 1",
                  "default": "\/collections\/all"
              },
              {
                  "type": "checkbox",
                  "id": "show_img2",
                  "label": "Show Image 2",
                  "default": true
              },
              {
                  "type": "image_picker",
                  "id": "ban2_img",
                  "label": "Image 2"
              },
              {
                  "type": "url",
                  "id": "ban_url",
                  "label": "URL 2",
                  "default": "\/collections\/all"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Image Banner",
		  "category": "2. Banner",
		  "blocks":[
				{
					"type": "img_banner"
				},
				{
					"type": "img_banner"
				},
				{
					"type": "img_banner"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}