<div class="banner-area" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container{% if section.settings.section_width == 'full' %}-fluid{% endif %}">
    <div class="row">
      <div class="col-12">
        <div class="zuka-element-carousel nav-vertical-center nav-disabled nav-outline nav-round nav-hover-2"
             data-slick-options='{
                                 "spaceBetween": 30,
                                 "slidesToShow": {{ section.settings.ban_col }},
                                 "slidesToScroll": 1,
                                 "arrows": true, 
                                 "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                                 "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                                 }'
             data-slick-responsive='[
                                    {"breakpoint":767, "settings": {"slidesToShow": 1}}
                                    ]'>


          {%- for block in section.blocks -%}{%- case block.type -%}
          {%- when 'banner' -%}
          <div class="item">
            <div class="banner-box banner-hover-3 banner-type-3 banner-type-3-1">
              <div class="banner-inner">
                <div class="banner-image">
                  {%- if block.settings.ban_img -%}
                  <img src="{{ block.settings.ban_img | img_url: 'master' }}" alt="{{ image.alt }}">
                  {%- else -%}
                  <img src="https://via.placeholder.com/570x372" alt="Banner">
                  {%- endif -%}
                </div>
                <a class="banner-link banner-overlay" href="{{ block.settings.ban_url }}"></a>
              </div>
            </div>
          </div>
          {%- endcase -%}{%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>






{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Image Carousel Banner",
    "settings": [
		{
          "type": "radio",
          "id": "section_width",
          "label": "Section Width",
		  "options":[
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Full Wide",
                    "value": "full"
                }
			],
			"default": "default"
      	},
			{
                "type": "select",
                "id": "ban_col",
                "label": "Select Column",
                "options":[
                      {
                          "label": "1",
                          "value": "1"
                      },
                      {
                          "label": "2",
                          "value": "2"
                      },
                      {
                          "label": "3",
                          "value": "3"
                      },
                      {
                          "label": "4",
                          "value": "4"
                      },
                      {
                          "label": "5",
                          "value": "5"
                      },
                      {
                          "label": "6",
                          "value": "6"
                      }
                  ],
                  "default": "3"
              }
	],
	"blocks":[
	   {
          "type": "banner",
          "name": "Image Banner",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "ban_img",
                  "label": "Image"
              },
              {
                  "type": "url",
                  "id": "ban_url",
                  "label": "URL",
                  "default": "\/collections\/all"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Image Carousel Banner",
		  "category": "2. Banner",
		  "blocks":[
				{
					"type": "banner"
				},
				{
					"type": "banner"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}