<div id="content" class="main-content-wrapper" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="shop-page-wrapper">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-12">
          {{ section.settings.snapppt_script_field }}
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Instagram Shop",
    "settings": [
  		{
          "type": "textarea",
          "id": "snapppt_script_field",
          "label": "Paste Here Snappt Script Embed Code",
  		  "info": "[Get Snappt](https:\/\/www.getsnapppt.com/)",
          "default": "<script src='https://snapppt.com/widgets/widget_loader/14308f27-cab8-4859-bea8-c3dcf9ef55ad/grid.js' defer class='snapppt-widget'></script>"
      	},
  		{
          "type": "paragraph",
  		  "content": "[Screenshot](http:\/\/prntscr.com\/n23u7r)"
      	},
  		{
		  "type": "paragraph",
          "content": "[Snappt Guide](https:\/\/www.getsnapppt.com\/getting-started-guide)"
        }
	]
  }
{% endschema %}