<section class="blog-area" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container{% if section.settings.section_width == 'full' %}-fluid{% endif %}">
    {% if section.settings.section_sub_title != '' or section.settings.section_title != '' %}
    {% if section.settings.section_title_s == 'style_1' %}
    <div class="row mb--35 mb-md--30 mb-sm--20">
      <div class="col-12 text-center">
        {% if section.settings.section_sub_title != '' %}
        <h4 class="font-size-18 color--tertiary lts-10 lts-md-5 lts-sm-2 mb--15 mb-md--10">{{ section.settings.section_sub_title }}</h4>
        {% endif %}

        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary-2">{{ section.settings.section_title }}</h2>
        {% endif %}

        {% if section.settings.show_separator %}
        <hr class="separator separator-2 separator-color-2 center mt--20 mt-md--15">
        {% endif %}
      </div>
    </div>
    
    {% else %}
    <div class="row mb--50 mb-md--40 mb-sm--30">
      <div class="col-12 text-center">
        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary-2 mb--15">{{ section.settings.section_title }}</h2>
        {% endif %}
        
        {% if section.settings.section_sub_title != '' %}
        <p>{{ section.settings.section_sub_title }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endif %}
    
    <div class="row">
      <div class="col-12">
        <div class="zuka-element-carousel"                            
             data-slick-options='{
                                 "spaceBetween": 30,
                                 "slidesToShow": {{ section.settings.ban_col }},
                                 "slidesToScroll": 1
                                 }'
             data-slick-responsive='[
                                    {"breakpoint":767, "settings": {"slidesToShow": 1}}
                                    ]'>
          
          
          {% assign blog = blogs[section.settings.blog_handle] %}

          {%- if blog == empty -%}
          {% for i in (1..blog_limit) %}
          <div class="item">
            <article class="post">
              <div class="post-media" style="background: #f2f2f2;">
                <figure class="image text-center">
                  <a href="single-post.html">
                     {{ 'image' | placeholder_svg_tag }}
                  </a>
                </figure>
              </div>
              <div class="post-info">
                <div class="post-meta category-link">
                  <a href="blog.html">Furniture</a>,
                  <a href="blog.html">Trends</a>
                </div>
                <h3 class="post-title"><a href="single-post.html">How to decor your beautiful home</a></h3>
                <div class="post-meta d-flex align-items-center justify-content-center mb--20">
                  <a href="blog.html" class="posted-on">
                    <span class="entry-date">September 15, 2018</span>
                  </a>
                  <span class="meta-separator">-</span>
                  <a href="blog.html" class="posted-by">by admin</a>
                </div>
                <a href="single-post.html" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
              </div>
            </article>
          </div>          
          {% endfor %}
          {%- else -%}
          {% for article in blog.articles limit: 10 %}
          <div class="item">
            {% include 'blog-grid-item' %}
          </div>
          {% endfor %}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>




{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Latest Blog",
    "settings": [
		{
          "type": "blog",
          "id": "blog_handle",
          "label": "Select Blog"
        },
		{
          "type": "text",
          "id": "section_sub_title",
          "label": "Section Subtitle",
          "default": "ZUKA BEAUTY"
      	},
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Our Journal"
      	},
		{
          "type": "checkbox",
          "id": "show_separator",
          "label": "Show Underline",
          "default": true
      	},
		{
          "type": "radio",
          "id": "section_title_s",
          "label": "Section Style",
          "options": [
				{
					"label": "Style 1",
					"value": "style_1"
				},
				{
					"label": "Style 2",
					"value": "style_2"
				}			
		  ],
          "default": "style_1"
      	},
		{
          "type": "radio",
          "id": "section_width",
          "label": "Section Width",
		  "options":[
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Full Wide",
                    "value": "full"
                }
			],
			"default": "default"
      	},
        {
            "type": "select",
            "id": "ban_col",
            "label": "Select Column",
            "options":[
                {
                  "label": "1",
                  "value": "1"
                },
                {
                  "label": "2",
                  "value": "2"
                },
                {
                  "label": "3",
                  "value": "3"
                },
                {
                  "label": "4",
                  "value": "4"
                },
                {
                  "label": "5",
                  "value": "5"
                },
                {
                  "label": "6",
                  "value": "6"
                }
            ],
            "default": "3"
        }
    ],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Latest Blog",
		  "category": "6. Blog",
		  "blocks":[
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


