<div class="page-content-inner enable-page-sidebar list-product-collection">
  {% for collection in collections %}
  {% unless collection.handle == 'frontpage' %}
  {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
  <div class="container{% if section.settings.section_width == 'full' %}-fluid{% endif %}">
    <div class="row shop-sidebar mt-md-2 pt--30 pt-md--15 pt-sm--10 pb--90 pb-md--70 pb-sm--50">
      <div class="col-md-12">
        <div class="section-title {% if section.settings.section_text_align == 'section_text_left' %}text-left{% elsif section.settings.section_text_align == 'section_text_center' %}text-center{% elsif section.settings.section_text_align == 'section_text_right' %}text-right{% endif %} mb-65">
          <h2>{{ collection_title }}</h2>
          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ section.settings.more_title }} {{ collection_title }} &rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container{% if section.settings.section_width == 'full' %}-fluid{% endif %}">
    <div class="row">
      {% assign products_limit = section.settings.products_limit_handle %}
      {% for product in collection.products limit:products_limit %}
      {% assign grid_item_width = 'large--one-fifth medium--one-half' %}
      <div class="col-lg-{{ section.settings.product_column }} col-sm-6 col-xs-12">
        {% if settings.product_grid_style == 'style_1' %}
        {% include 'product-grid-item-1' %}

        {% elsif settings.product_grid_style == 'style_2' %}
        {% include 'product-grid-item-2' %}

        {% elsif settings.product_grid_style == 'style_3' %}
        {% include 'product-grid-item-3' %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}<hr class="">{% endunless %}
  </div>
  {% endunless %}
  {% endfor %}
</div>


{% schema %}
  {
    "name": "All Collection List",
    "settings": [
          {
            "type": "radio",
            "id": "section_width",
            "label": "Section Width",
            "options":[
                  {
                      "label": "Default",
                      "value": "default"
                  },
                  {
                      "label": "Full Wide",
                      "value": "full"
                  }
              ],
              "default": "default"
          },
		{
          "type": "select",
          "id": "section_text_align",
          "label": "Heading Text Align",
		  "options":[
				{
					"label": "Left",
					"value": "section_text_left"
				},
				{
					"label": "Center",
					"value": "section_text_center"
				},
				{
					"label": "Right",
					"value": "section_text_right"
				}
			],
			"default": "section_text_center"
      	},
		{
          "type": "select",
          "id": "product_column",
          "label": "Product Column",
		  "options":[
				{
					"label": "2 Products",
					"value": "6"
				},
				{
					"label": "3 Products",
					"value": "4"
				},
				{
					"label": "4 Products",
					"value": "3"
				},
				{
					"label": "6 Products",
					"value": "2"
				}
			],
			"default": "3"
      	},
		{
            "type": "range",
            "id": "products_limit_handle",
            "min": 2,
            "max": 12,
            "step": 1,
            "label": "Product Limit",
            "default": 4,
			"info": "How many products show on per collection"
        },
		{
          "type": "text",
          "id": "more_title",
          "label": "More Title",
		  "default": "More"
      	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}