<section class="newsletter-area{% if section.settings.show_border_top %} border-top{% endif %}" id="section-{{ section.id }}">
  <div class="container{% if section.settings.section_width == 'full' %}-fluid{% endif %}">
    <div class="row{% if section.settings.style == 'style_1' %} justify-content-center{% endif %}">
      {% if section.settings.style == 'style_1' %}
      <div class="col-md-8">
        <div class="newsletter-box text-center">
          {%- if section.settings.section_title != '' -%}
          <h2 class="heading-secondary mt--2 mt-md--4 mb--5" style="color: {{ section.settings.section_title_color }};">{{ section.settings.section_title }}</h2>
          {% endif %}

          {%- if section.settings.section_sub_title != '' -%}
          <p class="mb--25" style="color: {{ section.settings.section_sub_title_color }};">{{ section.settings.section_sub_title }}</p>
          {% endif %}

          <form action="{{ settings.newsletter_action }}" class="newsletter-form mc-form" method="post" target="_blank">
            <input type="email" 
                   name="EMAIL" 
                   id="newsletter_email" 
                   placeholder="{{ settings.email_placeholder }}" 
                   required="required" 
                   class="newsletter-form__input" 
                   value="{% if customer %}{{ customer.email }}{% endif %}">
            
            <button type="submit" class="newsletter-form__submit">{{ settings.newsletter_button_name }}</button>
          </form>
        </div>
      </div>
      {% else %}
      <div class="col-12">
        <div class="max-width--1200 pt--35 pb--40">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="newsletter-box text-center">
                {% if section.settings.section_title != '' %}
                <h2 class="newsletter-box__title mb--5" style="color: {{ section.settings.section_title_color }};">{{ section.settings.section_title }}</h2>
                {% endif %}

                {% if section.settings.section_sub_title != '' %}
                <p class="mb--2" style="color: {{ section.settings.section_sub_title_color }};">{{ section.settings.section_sub_title }}</p>
                {% endif %}
              </div>
            </div>
            <div class="col-md-6">
              <form action="{{ settings.newsletter_action }}" class="newsletter-form mc-form" method="post" target="_blank">
                <input type="email" 
                       name="EMAIL" 
                       id="newsletter_email" 
                       placeholder="{{ settings.email_placeholder }}" 
                       required="required" 
                       class="newsletter-form__input" 
                       value="{% if customer %}{{ customer.email }}{% endif %}">
                
                <button type="submit" class="newsletter-form__submit">{{ settings.newsletter_button_name }}</button>
              </form>
            </div> 
          </div>
        </div> 
      </div>
      {% endif %}
    </div>
  </div>
</section>




{%- style -%}  
  #section-{{ section.id }} .newsletter-form__input {
    color: {{ section.settings.newsbox_text_color }};
    border-color: {{ section.settings.newsbox_text_color }};
  }
  #section-{{ section.id }} .newsletter-form__input::-moz-placeholder {
    color: {{ section.settings.newsbox_text_color }};
  }
  #section-{{ section.id }} .newsletter-form__input::-webkit-input-placeholder {
    color: {{ section.settings.newsbox_text_color }};
  }
  #section-{{ section.id }} .newsletter-form__submit {
    color: {{ section.settings.btn_text_color }};
  }
  #section-{{ section.id }} .newsletter-form__submit:hover {
    color: {{ section.settings.btn_hover_text_color }};
  }

  {%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Newsletter",
    "settings": [
		{
            "type": "checkbox",
            "id": "show_border_top",
            "label": "Show Border Top",
            "default": false
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "Join Our Newsletter"
        },
		{
            "type": "textarea",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Sale up to 20% off for your next purchase in this month!"
        },
		{
            "type": "radio",
            "id": "style",
            "label": "Newsletter Style",
            "options": [
				{
					"label": "Style 1",
					"value": "style_1"
				},
				{
					"label": "Style 2",
					"value": "style_2"
				}
			],
            "default": "style_1"
        },
		{
            "type": "header",
            "content": "Important"
        },
		{
            "type": "paragraph",
            "content": "Set your email action, placeholder and button text from Theme settings > Newsletter"
        },
		{
            "type": "radio",
            "id": "section_width",
            "label": "Section Width",
            "options": [
				{
					"label": "Default",
					"value": "default"
				},
				{
					"label": "Full",
					"value": "full"
				}
			],
            "default": "default"
        },
		{
			"type": "header",
            "content": "Color"
        },
		{
            "type": "color",
            "id": "section_title_color",
            "label": "Section Title Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "section_sub_title_color",
            "label": "Section Subtitle Color",
            "default": "#737373"
        },
        {
          "type": "color",
          "id": "newsbox_text_color",
          "label": "Input Box Text Color",
          "default": "#cdcdcd"
        },
        {
          "type": "color",
          "id": "btn_text_color",
          "label": "Button Text Color",
          "default": "#cdcdcd"
        },
        {
          "type": "color",
          "id": "btn_hover_text_color",
          "label": "Button Hover Text Color",
          "default": "#dc0109"
        }
    ],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Newsletter",
		  "category": "7. Newsletter"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}