<section class="featured-product-area fpa_2" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 text-right mb-sm--30">
        <div class="featured-product-image">
          {%- if section.settings.ban_img -%}
          <img src="{{ section.settings.ban_img | img_url: 'master' }}" alt="{{ image.alt }}">
          {%- else -%}
          <img src="https://via.placeholder.com/761x700" alt="Banner">
          {%- endif -%}

          {% if section.settings.p_badge != '' %}
          <span class="featured-product-caption" style="color:{{ section.settings.p_badge_color }};background: {{ section.settings.p_badge_bg }};">{{ section.settings.p_badge }}</span>
          {% endif %}

          {% if section.settings.video_url != '' %}
          <a href="{{ section.settings.video_url }}" class="video-popup video-btn video-btn-3"></a>
          {% endif %}
        </div>
      </div>

      <div class="col-md-6">
        <div class="featured-product-content pl--50 pl-lg--5">
          {% if section.settings.product_title != '' %}
          <h2 class="heading-secondary-2 mb--15">{{ section.settings.product_title }}</h2>
          {% endif %}

          {% if section.settings.product_des != '' %}
          <p class="mb--55 mb-lg--35 mb-md--20">{{ section.settings.product_des }}</p>
          {% endif %}

          {% if section.settings.more_info %}
          <ul class="featured-product-list mb--75 mb-lg--50 mb-md--30">
            {% for block in section.blocks %}{% case block.type %}
            {% when 'more_info' %}
            <li>
              {% if block.settings.show_ban_img %}
              <span class="featured-product-icon" style="background-color: {{ block.settings.ban_img_bg }};">
                {%- if block.settings.ban_img -%}
                <img src="{{ block.settings.ban_img | img_url: 'medium' }}" alt="{{ image.alt }}">
                {%- else -%}
                <img src="https://via.placeholder.com/90x90" alt="Banner">
                {%- endif -%}
              </span>
              {% endif %}

              {% if block.settings.product_title != '' %}
              <span class="featured-product-text">{{ block.settings.product_title }}</span>
              {% endif %}
            </li>
            {% endcase %}{% endfor %}
          </ul>
          {% endif %}

          {% if section.settings.btn != '' %}
          <a href="{{ section.settings.product_url }}" class="btn btn-semi-large btn-style-1">{{ section.settings.btn }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>





{%- style -%}

#section-{{ section.id }} .video-btn-3:after {
      background-image: url({{ section.settings.bg_icon | img_url: 'medium' }});
}
{% unless section.settings.bg_icon %}
#section-{{ section.id }}   .video-btn:after, #section-{{ section.id }} .video-btn:before {
  	display: none;
  }
{% endunless %}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Product Banner",
    "settings": [
        {
          "type": "image_picker",
          "id": "ban_img",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "p_badge",
          "label": "Badge",
          "default": "Featured Product"
        },
        {
          "type": "color",
          "id": "p_badge_color",
          "label": "Badge Color",
          "default": "#181818"
        },
        {
          "type": "color",
          "id": "p_badge_bg",
          "label": "Badge BG Color",
          "default": "#F8E71D"
        },
        {
          "type": "header",
          "content": "Product"
        },
        {
          "type": "text",
          "id": "video_url",
          "label": "Product Video URL"
        },
        {
          "type": "image_picker",
          "id": "bg_icon",
          "label": "Video Icon"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product Title",
          "default": "Natural Makeup & Skin Care"
        },
        {
          "type": "text",
          "id": "product_des",
          "label": "Product Description",
          "default": "Etiam molestie lacus sit amet augue ultrices, id posuere nunc venenatis. Mauris tincidunt lorem ac maximus vestibulum, massa mauris consectetur dui, ac aliquet sem"
        },
        {
          "type": "text",
          "id": "btn",
          "label": "Button",
          "default": "Discover now"
        },
        {
          "type": "url",
          "id": "product_url",
          "label": "URL",
          "default": "\/collections\/all"
        },
        {
          "type": "checkbox",
          "id": "more_info",
          "label": "Show More Info",
          "default": true
        }
	],
	"blocks":[
	   {
          "type": "more_info",
          "name": "More Info",
          "settings": [
              {
                  "type": "checkbox",
                  "id": "show_ban_img",
                  "label": "Show Image/Icon",
                  "default": true
              },
              {
                  "type": "image_picker",
                  "id": "ban_img",
                  "label": "Image/Icon",
                  "info": "Upload '.png' image/icon"
              },
              {
                  "type": "color",
                  "id": "ban_img_bg",
                  "label": "BG Color",
                  "default": "#e35858"
              },
              {
                  "type": "textarea",
                  "id": "product_title",
                  "label": "Info Text",
                  "default": "Massa mauris consectetur dui, ac aliquet"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Product Banner",
		  "category": "2. Banner",
		  "blocks":[
				{
					"type": "more_info"
				},
				{
					"type": "more_info"
				},
				{
					"type": "more_info"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}