{%- assign title1_font = section.settings.title1_font -%}
{%- assign title2_font = section.settings.title2_font -%}




<section class="fullwidth-banner-area" id="section-{{ section.id }}">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 text-md-right text-center mb-sm--30">
        <figure>
          {% if section.settings.p_img %}
          <img src="{{ section.settings.p_img | img_url: 'master' }}" alt="{{ image.alt }}">
          {% else %}
          <img src="https://via.placeholder.com/546x421" alt="Banner">
          {% endif %}
        </figure>
      </div>
      <div class="col-md-6 text-center">
        <div class="fullwidth-banner-text">
          {% if section.settings.p_title1 %}
          <h3 class="mb--10" style="color:{{ section.settings.title_color }}; 
                                    font-size: {{ section.settings.title1_font_size }}px; 
                                    font-family: {{ title1_font.family }}, {{ title1_font.fallback_families }};">
            {{ section.settings.p_title1 }}
          </h3>
          {% endif %}
          
          {% if section.settings.p_title2 %}
          <h2 class="mb--40 mb-md--20" style="color:{{ section.settings.title_color }}; 
                                              font-size: {{ section.settings.title2_font_size }}px; 
                                              font-family: {{ title2_font.family }}, {{ title2_font.fallback_families }};">
            {{ section.settings.p_title2 }}
          </h2>
          {% endif %}          
          
          <a href="{{ section.settings.btn_url }}" class="btn btn-medium btn-shape-round btn-style-1 btn_5555">
            {{ section.settings.btn }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>




{%- style -%}
{{ title1_font | font_face }}
{{ title2_font | font_face }}
.fullwidth-banner-text a {
	
}
#section-{{ section.id }} .btn.btn.btn-medium.btn-shape-round.btn-style-1.btn_5555 {
    color: {{ section.settings.btn_color }};
    background-color: {{ section.settings.btn_bg_color }};
    border:1px solid {{ section.settings.btn_border_color }};
}
#section-{{ section.id }} .btn.btn.btn-medium.btn-shape-round.btn-style-1.btn_5555:hover {
    color: {{ section.settings.hover_btn_color }} !important;
    background-color: {{ section.settings.hover_btn_bg_color }};
    border-color: {{ section.settings.hover_btn_border_color }};
}

{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Product Banner 2",
    "settings": [
        {
          "type": "image_picker",
          "id": "p_img",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "p_title1",
          "label": "Title 1",
          "default": "Good For Health"
        },
        {
          "type": "text",
          "id": "p_title2",
          "label": "Title 2",
          "default": "Kiwa Vegetable Chips Mix"
        },
        {
          "type": "text",
          "id": "btn",
          "label": "Button",
          "default": "Discover now"
        },
        {
          "type": "url",
          "id": "product_url",
          "label": "URL",
          "default": "\/collections\/all"
        },
        {
          "type": "header",
          "content": "Font Settings"
        },
        {
          "type": "range",
          "id": "title1_font_size",
          "label": "Title 1 Font Size",
          "min": 20,
          "max": 220,
          "step": 2,
          "unit": "px",
          "default": 36
        },
        {
          "type": "range",
          "id": "title2_font_size",
          "label": "Title 2 Font Size",
          "min": 20,
          "max": 220,
          "step": 2,
          "unit": "px",
          "default": 46
        },
        {
          "type": "font_picker",
          "id": "title1_font",
          "label": "Title 1 Font Family",
          "default": "rubik_n5"
        },
        {
          "type": "font_picker",
          "id": "title2_font",
          "label": "Title 2 Font Family",
          "default": "rubik_n5"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#181818"
        },
		{
            "type": "color",
            "id": "btn_color",
            "label": "Button Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "btn_bg_color",
            "label": "Button BG Color",
            "default": "transparent"
        },
		{
            "type": "color",
            "id": "btn_border_color",
            "label": "Button Border Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "hover_btn_color",
            "label": "Button Hover Color",
            "default": "#fff"
        },
		{
            "type": "color",
            "id": "hover_btn_bg_color",
            "label": "Button Hover BG Color",
            "default": "#181818"
        },
		{
            "type": "color",
            "id": "hover_btn_border_color",
            "label": "Button Border Color",
            "default": "#181818"
        }
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Product Banner 2",
		  "category": "2. Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}