<!-- PRODUCT SECTION START -->
{% assign related_product_limit_count = section.settings.related_product_limit_handle %}
{% assign related_product_limit = related_product_limit_count | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign product_found = false %}

{% for c in product.collections %}
{% if product_found == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign product_found = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}

{% endif %}

{% if collection and collection.products_count > 1 and section.settings.related_products_enable %}
<div class="row pt--65 pt-md--50 pt-sm--30 pb--75 pb-md--55 pb-sm--35 mt--3 mt-md--2" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="col-12">
    {% if section.settings.section_title != '' %}
    <div class="row mb--40 mb-sm--30">
      <div class="col-12 text-center">
        <h2 class="heading-secondary">{{ section.settings.section_title }}</h2>
        <hr class="separator separator-3 separator-color-2 center mt--25 mt-md--15">
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-12">
        <div class="zuka-element-carousel nav-vertical-center nav-style-1" 
             data-slick-options='{
                                 "spaceBetween": 30,
                                 "slidesToShow": 4,
                                 "slidesToScroll": 1,
                                 "arrows": true, 
                                 "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                                 "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                                 }'
             data-slick-responsive='[
                                    {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                                    {"breakpoint":991, "settings": {"slidesToShow": 2} },
                                    {"breakpoint":450, "settings": {"slidesToShow": 1} }
                                    ]'
             >
          {% assign current_product = product %}
          {% assign current_product_count = false %}
          {% for product in collection.products limit: related_product_limit %}
          {% if product.handle == current_product.handle %}
          {% assign current_product_count = false %}
          {% else %}
          {% unless current_product_count == true and forloop.last %}          
          {% if settings.product_grid_style == 'style_1' %}
          {% include 'product-grid-item-1' %}

          {% elsif settings.product_grid_style == 'style_2' %}
          {% include 'product-grid-item-2' %}

          {% elsif settings.product_grid_style == 'style_3' %}
          {% include 'product-grid-item-3' %}
          {% endif %}          
          {% endunless %}
          {% endif %}     
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}
<!-- PRODUCT SECTION END -->


{% schema %}
  {
    "name": "Related Product",
    "settings": [
		{
            "type": "checkbox",
            "id": "related_products_enable",
            "label": "Show Related Product",
            "default": true
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Related Products"
      	},
		{
            "type": "range",
            "id": "related_product_limit_handle",
            "min": 1,
            "max": 20,
            "step": 1,
            "label": "Product Limit",
            "default": 4
        }
	]
  }
{% endschema %}




