{%- assign header_font = section.settings.header_font -%}

<div class="slider-area">
  {% if section.settings.section_width == 'wide' %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">{% endif %}
        {% if section.settings.slider_style == 'slide_1' %}
        {% include 'revolution-slider-home-1' %}

        {% elsif section.settings.slider_style == 'slide_2' %}
        {% include 'revolution-slider-home-2' %}

        {% elsif section.settings.slider_style == 'slide_3' %}
        {% include 'revolution-slider-home-3' %}

        {% elsif section.settings.slider_style == 'slide_4' %}
        {% include 'revolution-slider-home-4' %}

        {% elsif section.settings.slider_style == 'slide_5' %}
        {% include 'revolution-slider-home-6' %}

        {% elsif section.settings.slider_style == 'slide_6' %}
        {% include 'revolution-slider-home-7_8' %}

        {% elsif section.settings.slider_style == 'slide_7' %}
        {% include 'revolution-slider-home-9' %}

        {% elsif section.settings.slider_style == 'slide_8' %}
        {% include 'revolution-slider-home-10' %}
        {% endif %}
        
        {% if section.settings.section_width == 'wide' %}
      </div>
    </div>
  </div>{% endif %}
</div>

<style>  
  {{ header_font | font_face }}
  {{ paragraph_font | font_face }}  

  .slider-area * {
    font-family: {{ header_font.family }}, {{ header_font.fallback_families }} !important;
  }
  .slider-area a.tp-caption {    
    color: {{ section.settings.btn_color }} !important;
    background-color: {{ section.settings.btn_bg_color }} !important;
    border-color: {{ section.settings.btn_border_color }} !important;
    border-radius: {{ section.settings.btn_border_radius }}px !important;
  }
  .slider-area a.tp-caption:hover {    
    color: {{ section.settings.btn_hover_color }} !important;
    background-color: {{ section.settings.btn_hover_bg_color }} !important;
    border-color: {{ section.settings.btn_hover_border_color }} !important;
  }  
</style>

<script src="{{ 'jquery.themepunch.tools.min.js' | asset_url }}"></script>
<script src="{{ 'jquery.themepunch.revolution.min.js' | asset_url }}"></script>

<script src="{{ 'revolution.extension.actions.min.js' | asset_url }}"></script>
<script src="{{ 'revolution.extension.carousel.min.js' | asset_url }}"></script>
<script src="{{ 'revolution.extension.kenburn.min.js' | asset_url }}"></script>
<script src="{{ 'revolution.extension.layeranimation.min.js' | asset_url }}"></script>
<script src="{{ 'revolution.extension.migration.min.js' | asset_url }}"></script>
<script src="{{ 'revolution.extension.navigation.min.js' | asset_url }}"></script>
<script src="{{ 'revolution.extension.parallax.min.js' | asset_url }}"></script>
<script src="{{ 'revolution.extension.slideanims.min.js' | asset_url }}"></script>
<script src="{{ 'revolution.extension.video.min.js' | asset_url }}"></script>

<script src="{{ 'revoulation.js' | asset_url }}"></script>



{% schema %}
  {
    "name": "Revolution Slider",
    "settings": [
        {
          "type": "radio",
          "id": "section_width",
          "label": "Slider Width",
          "options": [
              {
                "label": "Wide",
                "value": "wide"
              },
              {
                "label": "Full Screen",
                "value": "full"
              }
          ],
          "default": "full"
        },
        {
          "type": "radio",
          "id": "slider_style",
          "label": "Slider Style",
          "options": [
              {
                "label": "Style 1",
                "value": "slide_1"
              },
              {
                "label": "Style 2",
                "value": "slide_2"
              },
              {
                "label": "Style 3",
                "value": "slide_3"
              },
              {
                "label": "Style 4",
                "value": "slide_4"
              },
              {
                "label": "Style 5",
                "value": "slide_5"
              },
              {
                "label": "Style 6",
                "value": "slide_6"
              },
              {
                "label": "Style 7",
                "value": "slide_7"
              },
              {
                "label": "Style 8",
                "value": "slide_8"
              }
          ],
          "default": "slide_1"
        },
        {
          "type": "header",
		  "content": "Important:"
        },
        {
          "type": "paragraph",
		  "content": "Style 1 = Add Slide 1"
        },
        {
          "type": "paragraph",
		  "content": "Style 2 = Add Slide 2"
        },
        {
          "type": "paragraph",
		  "content": "Style 3 = Add Slide 3"
        },
        {
          "type": "paragraph",
		  "content": "Style 4 = Add Slide 4"
        },
        {
          "type": "paragraph",
		  "content": "Style 5 = Add Slide 5"
        },
        {
          "type": "header",
          "content": "Font Family"
        },
        {
          "type": "font_picker",
          "id": "header_font",
          "label": "For All Title and Button",
          "default": "poppins_n4"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color",
          "id": "title1_color",
          "label": "Title 1",
          "default": "#181818"
        },
        {
          "type": "color",
          "id": "title2_color",
          "label": "Title 2",
          "default": "#181818"
        },
        {
          "type": "color",
          "id": "title3_color",
          "label": "Title 3",
          "default": "#181818"
        },
        {
          "type": "color",
          "id": "btn_color",
          "label": "Button Color",
          "default": "#181818"
        },
        {
          "type": "color",
          "id": "btn_bg_color",
          "label": "Button BG Color"
        },
        {
          "type": "color",
          "id": "btn_border_color",
          "label": "Button Border Color",
          "default": "#181818"
        },
        {
          "type": "color",
          "id": "btn_hover_color",
          "label": "Button Hover Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "btn_hover_bg_color",
          "label": "Button Hover BG Color",
          "default": "#DB0611"
        },
        {
          "type": "color",
          "id": "btn_hover_border_color",
          "label": "Button Hover Border Color",
          "default": "#DB0611"
        }
	],
	"blocks":[
	   {
          "type": "slide_1",
          "name": "Slide 1",
          "limit": 9,
          "settings": [
			{
			  "type": "image_picker",
			  "id": "bg_img",
			  "label": "BG Image"
			},
			{
			  "type": "checkbox",
			  "id": "show_image",
			  "label": "Show Image",
			  "default": true
			},
			{
			  "type": "image_picker",
			  "id": "image",
			  "label": "Image"
			},
			{
			  "type": "text",
			  "id": "title1",
			  "label": "Title 1",
			  "default": "#sofa   #interior"
			},
			{
			  "type": "textarea",
			  "id": "title2",
			  "label": "Title 2",
			  "default": "Furniture World Mid Century <br/>Sofa, Turquoise"
			},
			{
			  "type": "text",
			  "id": "btn_text",
			  "label": "Button Text",
			  "default": "Shop now"
			},
			{
			  "type": "url",
			  "id": "btn_url",
			  "label": "Button URL",
			  "default": "\/collections\/all"
			},
			{
			  "type": "radio",
			  "id": "transition",
			  "label": "Transition Effect",
			  "options": [
				  {
					  "label": "Effect 1",
					  "value": "trans_1"
				  },
				  {
					  "label": "Effect 2",
					  "value": "trans_2"
				  },
				  {
					  "label": "Effect 3",
					  "value": "trans_3"
				  }
			  ],
			  "default": "trans_1"
			}
          ]
       },
	   {
          "type": "slide_2",
          "name": "Slide 2",
          "limit": 9,
          "settings": [
			{
			  "type": "image_picker",
			  "id": "bg_img",
			  "label": "BG Image"
			},
			{
			  "type": "checkbox",
			  "id": "show_image",
			  "label": "Show Image",
			  "default": true
			},
			{
			  "type": "image_picker",
			  "id": "image",
			  "label": "Image"
			},
			{
			  "type": "text",
			  "id": "title1",
			  "label": "Title 1",
			  "default": "new collections"
			},
			{
			  "type": "textarea",
			  "id": "title2",
			  "label": "Title 2",
			  "default": "Mid Century Sofa Living room"
			},
			{
			  "type": "text",
			  "id": "btn_text",
			  "label": "Button Text",
			  "default": "Shop now"
			},
			{
			  "type": "url",
			  "id": "btn_url",
			  "label": "Button URL",
			  "default": "\/collections\/all"
			},
			{
			  "type": "radio",
			  "id": "transition",
			  "label": "Transition Effect",
			  "options": [
				  {
					  "label": "Effect 1",
					  "value": "trans_1"
				  },
				  {
					  "label": "Effect 2",
					  "value": "trans_2"
				  },
				  {
					  "label": "Effect 3",
					  "value": "trans_3"
				  },
				  {
					  "label": "Effect 4",
					  "value": "trans_4"
				  },
				  {
					  "label": "Effect 5",
					  "value": "trans_5"
				  }
			  ],
			  "default": "trans_1"
			}
          ]
       },
	   {
          "type": "slide_3",
          "name": "Slide 3",
          "limit": 9,
          "settings": [
			{
			  "type": "image_picker",
			  "id": "bg_img",
			  "label": "BG Image"
			},
			{
			  "type": "checkbox",
			  "id": "show_image",
			  "label": "Show Image",
			  "default": true
			},
			{
			  "type": "image_picker",
			  "id": "image",
			  "label": "Image"
			},
			{
			  "type": "text",
			  "id": "title1",
			  "label": "Title 1",
			  "default": "#boots   #fashion"
			},
			{
			  "type": "textarea",
			  "id": "title2",
			  "label": "Title 2",
			  "default": "Leather high-leg boots"
			},
			{
			  "type": "text",
			  "id": "title3",
			  "label": "Title 3",
			  "default": "Sale 30%"
			},
			{
			  "type": "text",
			  "id": "btn_text",
			  "label": "Button Text",
			  "default": "Shop now"
			},
			{
			  "type": "url",
			  "id": "btn_url",
			  "label": "Button URL",
			  "default": "\/collections\/all"
			},
			{
			  "type": "radio",
			  "id": "transition",
			  "label": "Transition Effect",
			  "options": [
				  {
					  "label": "Effect 1",
					  "value": "trans_1"
				  },
				  {
					  "label": "Effect 2",
					  "value": "trans_2"
				  },
				  {
					  "label": "Effect 3",
					  "value": "trans_3"
				  }
			  ],
			  "default": "trans_1"
			}
          ]
       },
	   {
          "type": "slide_4",
          "name": "Slide 4",
          "limit": 9,
          "settings": [
			{
			  "type": "image_picker",
			  "id": "bg_img",
			  "label": "BG Image"
			},
			{
			  "type": "checkbox",
			  "id": "show_image",
			  "label": "Show Image",
			  "default": true
			},
			{
			  "type": "image_picker",
			  "id": "image",
			  "label": "Image"
			},
			{
			  "type": "text",
			  "id": "title1",
			  "label": "Title 1",
			  "default": "men shirt collections"
			},
			{
			  "type": "textarea",
			  "id": "title2",
			  "label": "Title 2",
			  "default": "Snakeskin - Effect<br/> Viscose Shirt"
			},
			{
			  "type": "text",
			  "id": "btn_text",
			  "label": "Button Text",
			  "default": "Shop now"
			},
			{
			  "type": "url",
			  "id": "btn_url",
			  "label": "Button URL",
			  "default": "\/collections\/all"
			},
			{
			  "type": "radio",
			  "id": "transition",
			  "label": "Transition Effect",
			  "options": [
				  {
					  "label": "Effect 1",
					  "value": "trans_1"
				  },
				  {
					  "label": "Effect 2",
					  "value": "trans_2"
				  },
				  {
					  "label": "Effect 3",
					  "value": "trans_3"
				  }
			  ],
			  "default": "trans_1"
			}
          ]
       },
	   {
          "type": "slide_5",
          "name": "Slide 5",
          "limit": 9,
          "settings": [
			{
			  "type": "image_picker",
			  "id": "bg_img",
			  "label": "BG Image"
			},
			{
			  "type": "text",
			  "id": "title1",
			  "label": "Title 1",
			  "default": "Welcome to Zuka Tailor Store"
			},
			{
			  "type": "textarea",
			  "id": "title2",
			  "label": "Title 2",
			  "default": "Creative Sewing & Alterations."
			},
			{
			  "type": "text",
			  "id": "btn_text",
			  "label": "Button Text",
			  "default": "Discover now"
			},
			{
			  "type": "url",
			  "id": "btn_url",
			  "label": "Button URL",
			  "default": "\/collections\/all"
			},
			{
			  "type": "radio",
			  "id": "transition",
			  "label": "Transition Effect",
			  "options": [
				  {
					  "label": "Effect 1",
					  "value": "trans_1"
				  },
				  {
					  "label": "Effect 2",
					  "value": "trans_2"
				  }
			  ],
			  "default": "trans_1"
			}
          ]
       },
	   {
          "type": "slide_6",
          "name": "Slide 6",
          "limit": 9,
          "settings": [
			{
			  "type": "image_picker",
			  "id": "bg_img",
			  "label": "BG Image"
			},
			{
			  "type": "text",
			  "id": "title1",
			  "label": "Title 1",
			  "default": "NEW PRODUCTS 2019"
			},
			{
			  "type": "textarea",
			  "id": "title2",
			  "label": "Title 2",
			  "default": "Natural Beauty"
			},
			{
			  "type": "text",
			  "id": "btn_text",
			  "label": "Button Text",
			  "default": "Discover now"
			},
			{
			  "type": "url",
			  "id": "btn_url",
			  "label": "Button URL",
			  "default": "\/collections\/all"
			}
          ]
       },
	   {
          "type": "slide_7",
          "name": "Slide 7",
          "settings": [
			{
			  "type": "image_picker",
			  "id": "bg_img",
			  "label": "BG Image"
			},
			{
			  "type": "checkbox",
			  "id": "show_image",
			  "label": "Show Image",
			  "default": true
			},
			{
			  "type": "image_picker",
			  "id": "image",
			  "label": "Image"
			},
			{
			  "type": "text",
			  "id": "title1",
			  "label": "Title",
			  "default": "Fresh  Juice"
			},
			{
			  "type": "text",
			  "id": "btn_text",
			  "label": "Button Text",
			  "default": "Shop now"
			},
			{
			  "type": "url",
			  "id": "btn_url",
			  "label": "Button URL",
			  "default": "\/collections\/all"
			}
          ]
       },
	   {
          "type": "slide_8",
          "name": "Slide 8",
          "limit": 9,
          "settings": [
			{
			  "type": "image_picker",
			  "id": "bg_img",
			  "label": "BG Image"
			},
			{
			  "type": "text",
			  "id": "title1",
			  "label": "Title 1",
			  "default": "MOUTAIN BIKE FOR MEN/WOMEN"
			},
			{
			  "type": "textarea",
			  "id": "title2",
			  "label": "Title 2",
			  "default": "OFF 30%"
			},
			{
			  "type": "text",
			  "id": "btn_text",
			  "label": "Button Text",
			  "default": "Shop now"
			},
			{
			  "type": "url",
			  "id": "btn_url",
			  "label": "Button URL",
			  "default": "\/collections\/all"
			},
			{
			  "type": "radio",
			  "id": "transition",
			  "label": "Transition Effect",
			  "options": [
				  {
					  "label": "Effect 1",
					  "value": "trans_1"
				  },
				  {
					  "label": "Effect 2",
					  "value": "trans_2"
				  },
				  {
					  "label": "Effect 3",
					  "value": "trans_3"
				  }
			  ],
			  "default": "trans_1"
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Revolution Slider",
		  "category": "1. Slider",
		  "blocks":[
				{
					"type": "slide_1"
				},
				{
					"type": "slide_1"
				},
				{
					"type": "slide_1"
				}
			]
		}
	]
  }
{% endschema %}
