{%- assign sset = section.settings -%}
{%- if sset.product_tab_enable -%}
<div class="row justify-content-center pt--80 pt-md--60 pt-sm--35 mt-md--1 mt-sm--3 single_p_tab">
  <div class="col-12">
    <div class="product-data-tab tab-style-5">      
       <div class="nav nav-tabs product-data-tab__head mb--35 mb-sm--25" role="tablist">
        {%- if sset.des_tab_enable -%}
        <a class="product-data-tab__link nav-link active" href="#description" data-toggle="tab"><span>{{ sset.des_tab_title }}</span></a>
        {%- endif -%}

        {%- if sset.comment_tab_enable -%}
        <a class="product-data-tab__link nav-link" href="#comment" data-toggle="tab"><span>{{ sset.comment_tab_title }}</span></a>
        {%- endif -%}

        {%- if sset.review_tab_enable -%}
        <a class="product-data-tab__link nav-link" href="#review" data-toggle="tab"><span>{{ sset.review_tab_title }}</span></a>
        {%- endif -%}

        {%- if product.description contains '[product_video]' -%}
        <a class="product-data-tab__link nav-link" href="#video" data-toggle="tab"><span>{{ sset.video_tab_title }}</span></a>
        {%- endif -%}

        {%- assign i = 0  -%}
        {%- for block in section.blocks -%}{%- case block.type -%}       
        {%- when 'custom_tab' -%}{%- assign bset = block.settings -%}
        <a class="product-data-tab__link nav-link" href="#custom_tab_{{ i }}" data-toggle="tab"><span>{{ bset.custom_tab_title }}</span></a>

        {%- when 'unique_tab_1' -%}{%- assign bset = block.settings -%}        
        {%- if product.description contains '[info_1]' -%}
        <a class="product-data-tab__link nav-link" href="#information_{{ i }}" data-toggle="tab"><span>{{ bset.info_tab_title }}</span></a>
        {%- endif -%}

        {%- when 'unique_tab_2' -%}{%- assign bset = block.settings -%}        
        {%- if product.description contains '[info_2]' -%}
        <a class="product-data-tab__link nav-link" href="#information_{{ i }}" data-toggle="tab"><span>{{ bset.info_tab_title }}</span></a>
        {%- endif -%}

        {%- when 'unique_tab_3' -%}{%- assign bset = block.settings -%}        
        {%- if product.description contains '[info_3]' -%}
        <a class="product-data-tab__link nav-link" href="#information_{{ i }}" data-toggle="tab"><span>{{ bset.info_tab_title }}</span></a>
        {%- endif -%}

        {%- when 'unique_tab_4' -%}{%- assign bset = block.settings -%}        
        {%- if product.description contains '[info_4]' -%}
        <a class="product-data-tab__link nav-link" href="#information_{{ i }}" data-toggle="tab"><span>{{ bset.info_tab_title }}</span></a>
        {%- endif -%}

        {%- when 'unique_tab_5' -%}{%- assign bset = block.settings -%}        
        {%- if product.description contains '[info_5]' -%}
        <a class="product-data-tab__link nav-link" href="#information_{{ i }}" data-toggle="tab"><span>{{ bset.info_tab_title }}</span></a>
        {%- endif -%}

        {%- when 'unique_tab_6' -%}{%- assign bset = block.settings -%}        
        {%- if product.description contains '[info_6]' -%}
        <a class="product-data-tab__link nav-link" href="#information_{{ i }}" data-toggle="tab"><span>{{ bset.info_tab_title }}</span></a>
        {%- endif -%}

        {%- when 'unique_tab_7' -%}{%- assign bset = block.settings -%}        
        {%- if product.description contains '[info_7]' -%}
        <a class="product-data-tab__link nav-link" href="#information_{{ i }}" data-toggle="tab"><span>{{ bset.info_tab_title }}</span></a>
        {%- endif -%}

        {%- when 'unique_tab_8' -%}{%- assign bset = block.settings -%}        
        {%- if product.description contains '[info_8]' -%}
        <a class="product-data-tab__link nav-link" href="#information_{{ i }}" data-toggle="tab"><span>{{ bset.info_tab_title }}</span></a>
        {%- endif -%}

        {%- when 'unique_tab_9' -%}{%- assign bset = block.settings -%}        
        {%- if product.description contains '[info_9]' -%}
        <a class="product-data-tab__link nav-link" href="#information_{{ i }}" data-toggle="tab"><span>{{ bset.info_tab_title }}</span></a>
        {%- endif -%}

        {%- when 'unique_tab_10' -%}{%- assign bset = block.settings -%}        
        {%- if product.description contains '[info_10]' -%}
        <a class="product-data-tab__link nav-link" href="#information_{{ i }}" data-toggle="tab"><span>{{ bset.info_tab_title }}</span></a>
        {%- endif -%}
        {%- endcase -%}
        {%- assign i = i | plus: 1 -%}
        {%- endfor -%}
      </div>

      <div class="tab-content product-data-tab__content">
        {%- if sset.des_tab_enable -%}
            <div id="description" class="tab-pane active">
              <div class="product-description-wrapper">
                {%- if product.description contains '[product_description]' -%}            
                {%- assign product_description_first = product.description | split:'[/product_description]' | first -%}
                {%- assign product_description_final = product_description_first | split:'[product_description]' | last -%} 
                    {{ product_description_final }}          
                {%- else -%}
                	{{ product.description | split: '[info_1]' | first | split: '[info_2]' | first | split: '[info_3]' | first | split: '[info_4]' | first | split: '[info_5]' | first | split: '[info_6]' | first | split: '[info_7]' | first | split: '[info_8]' | first | split: '[info_9]' | first | split: '[info_10]' | first | split: '[countdown]' | first | split: '[affiliate_link]' | first | split: '[product_video]' | first | split: '[short_description]' | first | split: '[product_description]' | first | split: '[more_info]' | first }}
                {%- endif -%}
              </div>
            </div>
        {%- endif -%}      
        
        {%- if sset.comment_tab_enable -%}
        	<div id="comment" class="tab-pane fade">
              {%- if sset.product_page_comments_box =='disqus_comment' -%}
                  {% include 'disqus-comment' %}
              {%- else -%}
                  {% include 'facebook-comment' %}
              {%- endif -%}
        	</div>
        {%- endif -%}
        
        {%- if sset.review_tab_enable -%}
            <div id="review" class="tab-pane fade review_land">
              <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
            </div>
        {%- endif -%}
        
        {%- if product.description contains '[product_video]' -%}
            <div id="video" class="tab-pane fade">
              {% assign product_video_first = product.description | split:'[/product_video]' | first %}
              {% assign product_video_final = product_video_first | split:'[product_video]' | last %} 
              <iframe width="860" height="615" src="https://www.youtube.com/embed/{{ product_video_final }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {%- endif -%}
        
        {%- assign i = 0  -%}
        {%- for block in section.blocks -%}{%- case block.type -%}       
        	{%- when 'custom_tab' -%}{%- assign bset = block.settings -%}
            <div class="tab-pane fade" id="custom_tab_{{ i }}" role="tabpanel">
              {{ pages[bset.custom_page_handle].content }}
            </div>
        
        	{%- when 'unique_tab_1' -%}{%- assign bset = block.settings -%}        
            {%- if product.description contains '[info_1]' -%}        
            <div id="information_{{ i }}" class="tab-pane fade">
              <div class="product-anotherinfo-wrapper">            
                {%- assign more_info_first = product.description | split:'[/info_1]' | first -%}
                {%- assign more_info_final = more_info_first | split:'[info_1]' | last -%} 
                {{ more_info_final }}          
              </div>
            </div>
            {%- endif -%}
        
        	{%- when 'unique_tab_2' -%}{%- assign bset = block.settings -%}        
            {%- if product.description contains '[info_2]' -%}        
            <div id="information_{{ i }}" class="tab-pane fade">
              <div class="product-anotherinfo-wrapper">            
                {%- assign more_info_first = product.description | split:'[/info_2]' | first -%}
                {%- assign more_info_final = more_info_first | split:'[info_2]' | last -%} 
                {{ more_info_final }}          
              </div>
            </div>
            {%- endif -%}
        
        	{%- when 'unique_tab_3' -%}{%- assign bset = block.settings -%}        
            {%- if product.description contains '[info_3]' -%}        
            <div id="information_{{ i }}" class="tab-pane fade">
              <div class="product-anotherinfo-wrapper">            
                {%- assign more_info_first = product.description | split:'[/info_3]' | first -%}
                {%- assign more_info_final = more_info_first | split:'[info_3]' | last -%} 
                {{ more_info_final }}          
              </div>
            </div>
            {%- endif -%}
        
        	{%- when 'unique_tab_4' -%}{%- assign bset = block.settings -%}        
            {%- if product.description contains '[info_4]' -%}        
            <div id="information_{{ i }}" class="tab-pane fade">
              <div class="product-anotherinfo-wrapper">            
                {%- assign more_info_first = product.description | split:'[/info_4]' | first -%}
                {%- assign more_info_final = more_info_first | split:'[info_4]' | last -%} 
                {{ more_info_final }}          
              </div>
            </div>
            {%- endif -%}
        
        	{%- when 'unique_tab_5' -%}{%- assign bset = block.settings -%}        
            {%- if product.description contains '[info_5]' -%}        
            <div id="information_{{ i }}" class="tab-pane fade">
              <div class="product-anotherinfo-wrapper">            
                {%- assign more_info_first = product.description | split:'[/info_5]' | first -%}
                {%- assign more_info_final = more_info_first | split:'[info_5]' | last -%} 
                {{ more_info_final }}          
              </div>
            </div>
            {%- endif -%}
        
        	{%- when 'unique_tab_6' -%}{%- assign bset = block.settings -%}        
            {%- if product.description contains '[info_6]' -%}        
            <div id="information_{{ i }}" class="tab-pane fade">
              <div class="product-anotherinfo-wrapper">            
                {%- assign more_info_first = product.description | split:'[/info_6]' | first -%}
                {%- assign more_info_final = more_info_first | split:'[info_6]' | last -%} 
                {{ more_info_final }}          
              </div>
            </div>
            {%- endif -%}
        
        	{%- when 'unique_tab_7' -%}{%- assign bset = block.settings -%}        
            {%- if product.description contains '[info_7]' -%}        
            <div id="information_{{ i }}" class="tab-pane fade">
              <div class="product-anotherinfo-wrapper">            
                {%- assign more_info_first = product.description | split:'[/info_7]' | first -%}
                {%- assign more_info_final = more_info_first | split:'[info_7]' | last -%} 
                {{ more_info_final }}          
              </div>
            </div>
            {%- endif -%}
        
        	{%- when 'unique_tab_8' -%}{%- assign bset = block.settings -%}        
            {%- if product.description contains '[info_8]' -%}        
            <div id="information_{{ i }}" class="tab-pane fade">
              <div class="product-anotherinfo-wrapper">            
                {%- assign more_info_first = product.description | split:'[/info_8]' | first -%}
                {%- assign more_info_final = more_info_first | split:'[info_8]' | last -%} 
                {{ more_info_final }}          
              </div>
            </div>
            {%- endif -%}
        
        	{%- when 'unique_tab_9' -%}{%- assign bset = block.settings -%}        
            {%- if product.description contains '[info_9]' -%}        
            <div id="information_{{ i }}" class="tab-pane fade">
              <div class="product-anotherinfo-wrapper">            
                {%- assign more_info_first = product.description | split:'[/info_9]' | first -%}
                {%- assign more_info_final = more_info_first | split:'[info_9]' | last -%} 
                {{ more_info_final }}          
              </div>
            </div>
            {%- endif -%}
        
        	{%- when 'unique_tab_10' -%}{%- assign bset = block.settings -%}        
            {%- if product.description contains '[info_10]' -%}        
            <div id="information_{{ i }}" class="tab-pane fade">
              <div class="product-anotherinfo-wrapper">            
                {%- assign more_info_first = product.description | split:'[/info_10]' | first -%}
                {%- assign more_info_final = more_info_first | split:'[info_10]' | last -%} 
                {{ more_info_final }}          
              </div>
            </div>
            {%- endif -%}
       
        {%- endcase -%}
        {%- assign i = i | plus: 1 -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{%- endif -%}




{% schema %}
  {
    "name": "Product Tab",
    "settings": [
		{
            "type": "checkbox",
            "id": "product_tab_enable",
            "label": "Show Product Tab Section",
            "default": true
        },
		{
            "type": "header",
            "content": "Tab 1 (Description)"
        },
		{
            "type": "checkbox",
            "id": "des_tab_enable",
            "label": "Show Description Tab",
            "default": true,
			"info": "Product Description comes from short code - Full Description: [product_description] Your content or text here [/product_description]"
        },
        {
            "type": "text",
            "id": "des_tab_title",
            "label": "Description Tab Title",
            "default": "Description"
        },
		{
            "type": "header",
            "content": "Tab 2 (Comment Box)"
        },
		{
            "type": "checkbox",
            "id": "comment_tab_enable",
            "label": "Show Comment Tab",
            "default": true
        },
        {
            "type": "text",
            "id": "comment_tab_title",
            "label": "Comment Tab Title",
            "default": "Comments"
        },
        {
            "type": "radio",
            "id": "product_page_comments_box",
            "label": "Select comments box",
            "options": [
              {
                "label": "Disqus comments",
                "value": "disqus_comment"
              },
              {
                "label": "Facebook comments",
                "value": "facebook_comment"
              }
            ],
            "default": "disqus_comment"
        },
        {
            "type": "text",
            "id": "facebook_comments_post_limit",
            "label": "Facebook Comment Limit",
            "default": "10"
        },
        {
            "type": "text",
            "id": "disqus_shortname",
            "label": "Your Store Name",
            "default": "demo-store",
            "info": "Disqus Shortname (Get your shortname)[disqus.com](http:\/\/disqus.com)"
        },
		{
            "type": "header",
            "content": "Tab 3 (Review)"
        },
		{
            "type": "checkbox",
            "id": "review_tab_enable",
            "label": "Show Review Tab",
            "default": true,
            "info": "Install Free Apps for Product Review [Click Here](https:/\/\apps.shopify.com/\product-reviews)"
        },
        {
            "type": "text",
            "id": "review_tab_title",
            "label": "Review Tab Title",
            "default": "Reviews"
        },
		{
            "type": "header",
            "content": "Tab 4 (Video)"
        },
		{
            "type": "paragraph",
            "content": "Use Shortcode in your product description to show Video tab- [product_video]Video ID[/product_video]"
        },
		{
            "type": "paragraph",
            "content": "[How to Get Video ID](https:\/\/image.prntscr.com/image/P7-HVQuzSlyPO2vOpHX5LQ.png)"
        },
        {
            "type": "text",
            "id": "video_tab_title",
            "label": "Video Tab Title",
            "default": "Video"
        }
	],
    "blocks": [
		{
			"name": "Custom Tab",
			"type": "custom_tab",
			"settings": [
                {
                    "type": "text",
                    "id": "custom_tab_title",
                    "label": "Custom Tab Title",
                    "default": "Custom Tab"
                },
                {
                    "type": "page",
                    "id": "custom_page_handle",
                    "label": "Select Page",
                    "info": "[Create a page](\/admin\/pages\/new)"
                }
			]
		},
		{
			"name": "Unique Tab 1",
			"type": "unique_tab_1",
			"settings": [
                {
                    "type": "text",
                    "id": "info_tab_title",
                    "label": "Tab Title",
                    "default": "Info 1"
                },
                {
                    "type": "header",
                    "content": "Important:"
                },
                {
                    "type": "paragraph",
                    "content": "Use shortcode at the bottom of product description- [info_1]First info about your product...[/info_1]"
                }
			]
		},
		{
			"name": "Unique Tab 2",
			"type": "unique_tab_2",
			"settings": [
                {
                    "type": "text",
                    "id": "info_tab_title",
                    "label": "Tab Title",
                    "default": "Info 2"
                },
                {
                    "type": "header",
                    "content": "Important:"
                },
                {
                    "type": "paragraph",
                    "content": "Use shortcode at the bottom of product description- [info_2]Second info about your product...[/info_2]"
                }
			]
		},
		{
			"name": "Unique Tab 3",
			"type": "unique_tab_3",
			"settings": [
                {
                    "type": "text",
                    "id": "info_tab_title",
                    "label": "Tab Title",
                    "default": "Info 3"
                },
                {
                    "type": "header",
                    "content": "Important:"
                },
                {
                    "type": "paragraph",
                    "content": "Use shortcode at the bottom of product description- [info_3]Third info about your product...[/info_3]"
                }
			]
		},
		{
			"name": "Unique Tab 4",
			"type": "unique_tab_4",
			"settings": [
                {
                    "type": "text",
                    "id": "info_tab_title",
                    "label": "Tab Title",
                    "default": "Info 4"
                },
                {
                    "type": "header",
                    "content": "Important:"
                },
                {
                    "type": "paragraph",
                    "content": "Use shortcode at the bottom of product description- [info_4]Fourth info about your product...[/info_4]"
                }
			]
		},
		{
			"name": "Unique Tab 5",
			"type": "unique_tab_5",
			"settings": [
                {
                    "type": "text",
                    "id": "info_tab_title",
                    "label": "Tab Title",
                    "default": "Info 5"
                },
                {
                    "type": "header",
                    "content": "Important:"
                },
                {
                    "type": "paragraph",
                    "content": "Use shortcode at the bottom of product description- [info_5]Fifth info about your product...[/info_5]"
                }
			]
		},
		{
			"name": "Unique Tab 6",
			"type": "unique_tab_6",
			"settings": [
                {
                    "type": "text",
                    "id": "info_tab_title",
                    "label": "Tab Title",
                    "default": "Info 6"
                },
                {
                    "type": "header",
                    "content": "Important:"
                },
                {
                    "type": "paragraph",
                    "content": "Use shortcode at the bottom of product description- [info_6]Sixth info about your product...[/info_6]"
                }
			]
		},
		{
			"name": "Unique Tab 7",
			"type": "unique_tab_7",
			"settings": [
                {
                    "type": "text",
                    "id": "info_tab_title",
                    "label": "Tab Title",
                    "default": "Info 7"
                },
                {
                    "type": "header",
                    "content": "Important:"
                },
                {
                    "type": "paragraph",
                    "content": "Use shortcode at the bottom of product description- [info_7]Seventh info about your product...[/info_7]"
                }
			]
		},
		{
			"name": "Unique Tab 8",
			"type": "unique_tab_8",
			"settings": [
                {
                    "type": "text",
                    "id": "info_tab_title",
                    "label": "Tab Title",
                    "default": "Info 8"
                },
                {
                    "type": "header",
                    "content": "Important:"
                },
                {
                    "type": "paragraph",
                    "content": "Use shortcode at the bottom of product description- [info_8]Eighth info about your product...[/info_8]"
                }
			]
		},
		{
			"name": "Unique Tab 9",
			"type": "unique_tab_9",
			"settings": [
                {
                    "type": "text",
                    "id": "info_tab_title",
                    "label": "Tab Title",
                    "default": "Info 9"
                },
                {
                    "type": "header",
                    "content": "Important:"
                },
                {
                    "type": "paragraph",
                    "content": "Use shortcode at the bottom of product description- [info_9]Ninth info about your product...[/info_9]"
                }
			]
		},
		{
			"name": "Unique Tab 10",
			"type": "unique_tab_10",
			"settings": [
                {
                    "type": "text",
                    "id": "info_tab_title",
                    "label": "Tab Title",
                    "default": "Info 10"
                },
                {
                    "type": "header",
                    "content": "Important:"
                },
                {
                    "type": "paragraph",
                    "content": "Use shortcode at the bottom of product description- [info_10]Tenth info about your product...[/info_10]"
                }
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}