<section class="fullwidth-banner-area bg-width-box" 
         id="section-{{ section.id }}" 
         data-section-id="{{ section.id }}" 
         style="{% if section.settings.section_bg_image %}background-image: url({{ section.settings.section_bg_image | img_url: 'master' }}){% else %}background: {{ section.settings.section_bg_color }}{% endif %};">
  <div class="container p-0">
    <div class="row no-gutters align-items-center">
      {%- for block in section.blocks -%}{%- case block.type -%}      
      {%- when 'single_ban' -%}
      {%- include 'single-banner' -%} 
      {%- endcase -%}{%- endfor -%}
    </div>
  </div>
</section>



{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Single Banner",
    "settings": [
        {
          "type": "image_picker",
          "id": "section_bg_image",
          "label": "BG Image"
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "BG Color",
          "default": "#ffffff"
        }
	],
	"blocks":[
	   {
          "type": "single_ban",
          "name": "Single Banner",
          "settings": [
              {
                  "type": "checkbox",
                  "id": "show_ban_img",
                  "label": "Show Image",
                  "default": true
              },
              {
                  "type": "image_picker",
                  "id": "ban_img",
                  "label": "Image"
              },
              {
                  "type": "radio",
                  "id": "text_style",
                  "label": "Content",
                  "options": [
					{
						"label": "Style 1",
						"value": "style_1"
					},
					{
						"label": "Style 2",
						"value": "style_2"
					},
					{
						"label": "Style 3",
						"value": "style_3"
					}
				  ],
                  "default": "style_1"
              },
              {
                  "type": "textarea",
                  "id": "title1",
                  "label": "Title 1",
                  "default": "Rivet Clover Modern Glam Velvet Brass <br> Arm Accent Chair",
                  "info": "Use '<br>' tag for line break"
              },
              {
                  "type": "text",
                  "id": "title2",
                  "label": "Title 2",
                  "default": "Sale 50%"
              },
              {
                  "type": "text",
                  "id": "title3",
                  "label": "Title 3",
                  "default": "only $199.99",
                  "info": "only work for style 1"
              },
              {
                  "type": "text",
                  "id": "btn",
                  "label": "Button",
                  "default": "Shop Now"
              },
              {
                  "type": "url",
                  "id": "btn_url",
                  "label": "URL",
                  "default": "\/collections\/all"
              },
              {
                  "type": "header",
                  "content": "Color"
              },
              {
                  "type": "color",
                  "id": "title1_color",
                  "label": "Title 1 Color",
                  "default": "#181818"
              },
              {
                  "type": "color",
                  "id": "title2_color",
                  "label": "Title 2 Color",
                  "default": "#181818"
              },
              {
                  "type": "color",
                  "id": "title3_color",
                  "label": "Title 3 Color",
                  "default": "#181818"
              },
              {
                  "type": "color",
                  "id": "btn_color",
                  "label": "Button Color",
                  "default": "#282828"
              },
              {
                  "type": "color",
                  "id": "bg_color",
                  "label": "Button BG Color"
              },
              {
                  "type": "color",
                  "id": "border_color",
                  "label": "Button Border Color",
                  "default": "#282828"
              },
              {
                  "type": "color",
                  "id": "hover_btn_color",
                  "label": "Button Hover Color",
                  "default": "#fff"
              },
              {
                  "type": "color",
                  "id": "hover_bg_color",
                  "label": "Button Hover BG Color",
                  "default": "#dc0109"
              },
              {
                  "type": "color",
                  "id": "hover_border_color",
                  "label": "Button Hover Border Color",
                  "default": "#dc0109"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Single Banner",
		  "category": "2. Banner",
		  "blocks":[
				{
					"type": "single_ban"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}