<section class="product-tab-area" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container-fluid">
    {% if section.settings.tab_style == 'style_1' or section.settings.tab_style == 'style_2' %}
    {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
    <div class="row mb--50 mb-md--40 mb-sm--20">
      <div class="col-12 text-center">
        {% if section.settings.section_sub_title != '' %}
        <h4 class="color--tertiary lts-10 lts-md-5 lts-sm-2 mb--15 mb-md--10">{{ section.settings.section_sub_title }}</h4>
        {% endif %}
        
        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary pb-md--2">{{ section.settings.section_title }}</h2>
        {% endif %}
        
        {% if section.settings.section_title_border %}
        <hr class="separator center mt--25 mt-md--20">
        {% endif %}
      </div>
    </div>    
    {% endif %}   
    {% endif %}
    
    {% if section.settings.tab_style == 'style_4' %}
    {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
    <div class="row mb--30 mb-md--25">
      <div class="col-12 text-center">
        {% if section.settings.section_sub_title != '' %}
        <h4 class="color--tertiary lts-10 lts-md-5 lts-sm-2 mb--15 mb-md--10">{{ section.settings.section_sub_title }}</h4>
        {% endif %}

        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary-3">{{ section.settings.section_title }}</h2>
        {% endif %}        
      </div>
    </div>
    {% endif %}
    {% endif %}
    
    <div class="row">
      <div class="col-12">
        <div class="product-tab tab-style-{% if section.settings.tab_style == 'style_1' %}1
                    {% elsif section.settings.tab_style == 'style_2' %}2
                    {% elsif section.settings.tab_style == 'style_3' %}3
                    {% elsif section.settings.tab_style == 'style_4' %}4
                    {% endif %}">
          {% if section.settings.tab_style == 'style_3' %}          
          {% include 'tab-nav-3' %}          
          {% include 'tab-details-3' %}
          {% else %}
          {% include 'tab-nav' %}          
          {% include 'tab-details' %}
          {% endif %}
        </div>
      </div>
    </div>
    
    {% unless section.settings.tab_style == 'style_3' %}
    {% if section.settings.view_all != '' %}
    <div class="row mt--40 mt-md--25 mt-sm--15">
      <div class="col-12 text-center">
        <a href="{{ section.settings.view_all_url }}" class="btn btn-medium btn-color-gray btn-outline btn-shape-round btn-style-1">{{ section.settings.view_all }}</a>
      </div>
    </div>
    {% endif %}
    {% endunless %}
  </div>
</section>


{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Tab With Product",
    "settings": [
		{
			"type": "header",
            "content": "Section Title"
        },
		{
            "type": "checkbox",
            "id": "section_title_border",
            "label": "Show Title Border",
            "default": true
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "New Arrival"
        },
        {
          "type": "color",
          "id": "title_bg_color",
          "label": "Title BG Color",
          "default": "#28c2d7",
		  "info": "It will only work for tab style 3"
        },
		{
            "type": "text",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "ZUKA BEAUTY",
            "info": "It will not work for tab style 3"
        },
		{
			"type": "header",
            "content": "Product Tab"
        },
		{
          "type": "select",
          "id": "tab_style",
          "label": "Tab Style",
		  "options":[
                {
                    "label": "Style 1",
                    "value": "style_1"
                },
                {
                    "label": "Style 2",
                    "value": "style_2"
                },
                {
                    "label": "Style 3",
                    "value": "style_3"
                },
                {
                    "label": "Style 4",
                    "value": "style_4"
                }
			],
			"default": "style_1"
      	},
		{
            "type": "range",
            "id": "product_limit_handle",
            "min": 1,
            "max": 50,
            "step": 1,
            "label": "Product Limit",
            "default": 10
        },
		{
          "type": "select",
          "id": "product_column",
          "label": "Product Column",
		  "options":[
                {
                    "label": "2",
                    "value": "6"
                },
                {
                    "label": "3",
                    "value": "4"
                },
                {
                    "label": "4",
                    "value": "3"
                },
                {
                    "label": "5",
                    "value": "5"
                }
			],
			"default": "5"
      	},
		{
			"type": "header",
            "content": "View All Button"
        },
		{
            "type": "text",
            "id": "view_all",
            "label": "Title",
            "default": "View All"
        },
		{
            "type": "url",
            "id": "view_all_url",
            "label": "URL",
            "default": "\/collections\/all"
        }
    ],
	"blocks":[
	   {
          "type": "tab_with_product",
          "name": "Tab with product",
          "settings": [
			{
			  "type": "collection",
			  "id": "tab_product_handle",
			  "label": "Tab With Product"
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Tab With Product",
		  "category": "3. Collections",
		  "blocks":[
				{
					"type": "tab_with_product"
				},
				{
					"type": "tab_with_product"
				},
				{
					"type": "tab_with_product"
				},
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

