<section class="testimonial-area bg-image" id="section-{{ section.id }}" data-section-id="{{ section.id }}" 
         style="background-image:url({% if section.settings.section_bg_image %}{{ section.settings.section_bg_image | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x702{% endif %})">
  <div class="container">
    <div class="row align-items-center{% if section.settings.title_position == 'right' %} flex-row-reverse{% endif %}">
      <div class="col-md-6 mb-sm--30">
        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary-2 mb--10" style="color: {{ section.settings.title_color }};">{{ section.settings.section_title }}</h2>
        {% endif %}

        {% if section.settings.section_sub_title != '' %}
        <p class="font-size-16 mb--35 mb-sm--25" style="color: {{ section.settings.subtitle_color }};">{{ section.settings.section_sub_title }}</p>
        {% endif %}

        {% if section.settings.show_brand %}
        <div class="zuka-element-carousel brand-carousel"                            
             data-slick-options='{
                                 "spaceBetween": 15,
                                 "slidesToShow":3,
                                 "slidesToScroll":1
                                 }'>

          {%- for block in section.blocks -%}{%- case block.type -%}
          {%- when 'brand' -%}
          <div class="item">
            <figure class="brand-img">                  
              {% if block.settings.brand_img %}
              <img src="{{ block.settings.brand_img | img_url: '100x' }}" alt="{{ image.alt }}">
              {% else %}
              <img src="https://via.placeholder.com/100x100" alt="{{ image.alt }}">
              {% endif %}
            </figure>
          </div>
          {%- endcase -%}{%- endfor -%}
        </div>
        {% endif %}
      </div>

      <div class="col-md-6">
        <div class="zuka-element-carousel testimonial-border nav-disabled nav-horizontal-center nav-style-4" 
             data-slick-options='{
                                 "slidesToShow":1,
                                 "slidesToScroll":1,
                                 "arrows":true,
                                 "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                                 "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                                 }'>


          {%- for block in section.blocks -%}{%- case block.type -%}
          {%- when 'testimonial' -%}
          <div class="item">
            <div class="testimonial testimonial-style-2">
              <div class="testimonial__inner">
                {% if block.settings.show_rating %}
                <div class="star-rating star-{{ block.settings.rating }}">
                  <span>Rated <strong class="rating">5.00</strong> out of 5</span>
                </div>
                {% endif %}

                {% if block.settings.testi_des != '' %}
                <p class="testimonial__desc">{{ block.settings.testi_des }}</p>
                {% endif %}

                {% if block.settings.author != '' or block.settings.author_info != '' %}
                <div class="testimonial__author">
                  {% if block.settings.author != '' %}
                  <h3 class="testimonial__author--name">{{ block.settings.author }}</h3>
                  {% endif %}

                  {% if block.settings.author_info != '' %}
                  <h5 class="testimonial__author--role">{{ block.settings.author_info }}</h5>
                  {% endif %}
                </div>
                {% endif %}

                {% if block.settings.show_author_img %}
                <figure class="testimonial__thumbnail">
                  {% if block.settings.author_img %}
                  <img src="{{ block.settings.author_img | img_url: '100x' }}" alt="{{ image.alt }}">
                  {% else %}
                  <img src="https://via.placeholder.com/100x100" alt="{{ image.alt }}">
                  {% endif %}
                </figure>
                {% endif %}
              </div>
            </div>
          </div>
          {%- endcase -%}{%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>



{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Testimonial 2",
    "settings": [
		{
			"type": "header",
            "content": "Section Title"
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "What Client Say?"
        },
		{
            "type": "text",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "ZUKA BEAUTY"
        },
		{
          "type": "radio",
          "id": "title_position",
          "label": "Section Title Position",
		  "options":[
                {
                    "label": "Left Side",
                    "value": "left"
                },
                {
                    "label": "Right Side",
                    "value": "right"
                }
			],
			"default": "left"
      	},
		{
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#fff"
        },
		{
            "type": "color",
            "id": "subtitle_color",
            "label": "Subtitle Color",
            "default": "#fff"
        },
		{
			"type": "header",
            "content": "Brand"
        },
		{
            "type": "checkbox",
            "id": "show_brand",
            "label": "Show Brand",
            "default": true
        },
		{
			"type": "header",
            "content": "Section BG Image"
        },            
        {
            "type": "image_picker",
            "id": "section_bg_image",
            "label": "BG Image"
        }
    ],
	"blocks":[
	   {
          "type": "testimonial",
          "name": "Testimonial",
          "settings": [
              {
                  "type": "checkbox",
                  "id": "show_rating",
                  "label": "Show Rating",
                  "default": true
              },
              {
                "type": "select",
                "id": "rating",
                "label": "Rating",
                "options":[
                      {
                          "label": "5.00 out of 5",
                          "value": "five"
                      },
                      {
                          "label": "4.5 out of 5",
                          "value": "four-half"
                      },
                      {
                          "label": "4.00 out of 5",
                          "value": "four"
                      },
                      {
                          "label": "3.5 out of 5",
                          "value": "three-half"
                      },
                      {
                          "label": "3.00 out of 5",
                          "value": "three"
                      },
                      {
                          "label": "2.5 out of 5",
                          "value": "two-half"
                      },
                      {
                          "label": "2.00 out of 5",
                          "value": "two"
                      },
                      {
                          "label": "1.5 out of 5",
                          "value": "one-half"
                      },
                      {
                          "label": "1.00 out of 5",
                          "value": "one"
                      }
                  ],
                  "default": "five"
              },
              {
                  "type": "textarea",
                  "id": "testi_des",
                  "label": "Client Comment",
                  "default": "Proin hendrerit nisi neque, non scelerisque ex bibendum non. Aliquam vehicula magna justo, eu hendrerit lacus scelerisque non"
              },
              {
                  "type": "text",
                  "id": "author",
                  "label": "Client Name",
                  "default": "Hester Perkins"
              },
              {
                  "type": "text",
                  "id": "author_info",
                  "label": "Client Info",
                  "default": "Indiana US"
              },
              {
                  "type": "checkbox",
                  "id": "show_author_img",
                  "label": "Show Author Image",
                  "default": true
              },
              {
                  "type": "image_picker",
                  "id": "author_img",
                  "label": "Author Image",
                  "info": "Recommended size: 100x100 px"
              }
          ]
       },
	   {
          "type": "brand",
          "name": "Brand",
          "limit": 3,
          "settings": [
              {
                  "type": "image_picker",
                  "id": "brand_img",
                  "label": "Brand Image",
                  "info": "Recommended size: 100x100 px"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Testimonial 2",
		  "category": "4. Testimonial",
		  "blocks":[
				{
					"type": "testimonial"
				},
				{
					"type": "testimonial"
				},
				{
					"type": "testimonial"
				},
				{
					"type": "brand"
				},
				{
					"type": "brand"
				},
				{
					"type": "brand"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

