<section class="testimonial-area" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container">
    {% if section.settings.show_title %}

    {% if section.settings.section_title_style == 'style_1' %}
    <div class="row mb--50 mb-md--40 mb-sm--30">
      <div class="col-12 text-center">
        {% if section.settings.section_sub_title != '' %}
        <h4 class="color--tertiary lts-10 lts-md-5 lts-sm-2 mb--15 mb-md--10">{{ section.settings.section_sub_title }}</h4>
        {% endif %}

        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary pb-md--2">{{ section.settings.section_title }}</h2>
        {% endif %}

        {% if section.settings.section_title_border %}
        <hr class="separator center mt--25 mt-md--20">
        {% endif %}
      </div>
    </div>

    {% elsif section.settings.section_title_style == 'style_2' %}
    <div class="row mb--50 mb-md--40 mb-sm--25">
      <div class="col-12 text-center">
        {% if section.settings.section_sub_title != '' %}
        <h4 class="color--tertiary lts-10 lts-md-5 lts-sm-2 mb--15 mb-md--10">{{ section.settings.section_sub_title }}</h4>
        {% endif %}

        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary-2">{{ section.settings.section_title }}</h2>
        {% endif %}

        {% if section.settings.section_title_border %}
        <hr class="separator center mt--25 mt-md--20">
        {% endif %}
      </div>
    </div>

    {% elsif section.settings.section_title_style == 'style_3' %}
    <div class="row mb--45 mb-md--35 mb-sm--25 pb--3">
      <div class="col-12 text-center">
        {% if section.settings.section_title != '' %}
        <h2 class="heading-secondary-3 mb--2">{{ section.settings.section_title }}</h2>
        {% endif %}

        {% if section.settings.section_sub_title != '' %}
        <p>{{ section.settings.section_sub_title }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endif %}

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="zuka-element-carousel nav-vertical-center nav-disabled nav-style-1" 
             data-slick-options='{
                                 "spaceBetween": 30,
                                 "slidesToShow": 3, 
                                 "slidesToScroll": 1, 
                                 "arrows": true, 
                                 "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "dl-icon-left" },
                                 "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "dl-icon-right" }
                                 }'
             data-slick-responsive='[
                                    {"breakpoint":991, "settings": {"slidesToShow": 2}},
                                    {"breakpoint":620, "settings": {"slidesToShow": 1}}
                                    ]'>


          {%- for block in section.blocks -%}{%- case block.type -%}
          {%- when 'testimonial' -%}
          <div class="item">
            <div class="testimonial testimonial-style-1">
              <div class="testimonial__inner">
                {% if block.settings.show_rating %}
                <div class="star-rating star-{{ block.settings.rating }}">
                  <span>Rated <strong class="rating">5.00</strong> out of 5</span>
                </div>
                {% endif %}

                {% if block.settings.testi_des != '' %}
                <p class="testimonial__desc">{{ block.settings.testi_des }}</p>
                {% endif %}

                {% if block.settings.author != '' or block.settings.author_info != '' %}
                <div class="testimonial__author">
                  {% if block.settings.author != '' %}
                  <h3 class="testimonial__author--name">{{ block.settings.author }}</h3>
                  {% endif %}
                  
                  {% if block.settings.author_info != '' %}
                  <h5 class="testimonial__author--role">{{ block.settings.author_info }}</h5>
                  {% endif %}
                </div>
                {% endif %}

                {% if block.settings.show_author_img %}
                <figure class="testimonial__thumbnail">
                  {% if block.settings.author_img %}
                  <img src="{{ block.settings.author_img | img_url: '100x' }}" alt="{{ image.alt }}">
                  {% else %}
                  <img src="https://via.placeholder.com/100x100" alt="{{ image.alt }}">
                  {% endif %}
                </figure>
                {% endif %}
              </div>
            </div>
          </div>
          {%- endcase -%}{%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>





{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Testimonial",
    "settings": [
		{
			"type": "header",
            "content": "Section Title"
        },
		{
            "type": "checkbox",
            "id": "show_title",
            "label": "Show Section Title",
            "default": true
        },
		{
          "type": "radio",
          "id": "section_title_style",
          "label": "Section Title Style",
		  "options":[
                {
                    "label": "Style 1",
                    "value": "style_1"
                },
                {
                    "label": "Style 2",
                    "value": "style_2"
                },
                {
                    "label": "Style 3",
                    "value": "style_3"
                }
			],
			"default": "style_1"
      	},
		{
            "type": "checkbox",
            "id": "section_title_border",
            "label": "Show Title Border",
            "default": true,
            "info": "It willn't work for style 3"
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "What Client Say?"
        },
		{
            "type": "text",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "ZUKA BEAUTY"
        }
    ],
	"blocks":[
	   {
          "type": "testimonial",
          "name": "Testimonial",
          "settings": [
              {
                  "type": "checkbox",
                  "id": "show_rating",
                  "label": "Show Rating",
                  "default": true
              },
              {
                "type": "select",
                "id": "rating",
                "label": "Rating",
                "options":[
                      {
                          "label": "5.00 out of 5",
                          "value": "five"
                      },
                      {
                          "label": "4.5 out of 5",
                          "value": "four-half"
                      },
                      {
                          "label": "4.00 out of 5",
                          "value": "four"
                      },
                      {
                          "label": "3.5 out of 5",
                          "value": "three-half"
                      },
                      {
                          "label": "3.00 out of 5",
                          "value": "three"
                      },
                      {
                          "label": "2.5 out of 5",
                          "value": "two-half"
                      },
                      {
                          "label": "2.00 out of 5",
                          "value": "two"
                      },
                      {
                          "label": "1.5 out of 5",
                          "value": "one-half"
                      },
                      {
                          "label": "1.00 out of 5",
                          "value": "one"
                      }
                  ],
                  "default": "five"
              },
              {
                  "type": "textarea",
                  "id": "testi_des",
                  "label": "Client Comment",
                  "default": "Proin hendrerit nisi neque, non scelerisque ex bibendum non. Aliquam vehicula magna justo, eu hendrerit lacus scelerisque non"
              },
              {
                  "type": "text",
                  "id": "author",
                  "label": "Client Name",
                  "default": "Hester Perkins"
              },
              {
                  "type": "text",
                  "id": "author_info",
                  "label": "Client Info",
                  "default": "Indiana US"
              },
              {
                  "type": "checkbox",
                  "id": "show_author_img",
                  "label": "Show Author Image",
                  "default": true
              },
              {
                  "type": "image_picker",
                  "id": "author_img",
                  "label": "Author Image",
                  "info": "Recommended size: 100x100 px"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Testimonial",
		  "category": "4. Testimonial",
		  "blocks":[
				{
					"type": "testimonial"
				},
				{
					"type": "testimonial"
				},
				{
					"type": "testimonial"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

