<section class="cta-area bg-color" id="section-{{ section.id }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 text-center">
        {%- if section.settings.title1 != '' -%}
        <h4 class="font-size-18 color--tertiary lts-10 lts-md-5 lts-sm-2 mb--15 mb-md--10" style="color: {{ section.settings.title1_color }};">
          {{ section.settings.title1 }}
        </h4>
        {%- endif -%}

        {%- if section.settings.title2 != '' -%}
        <h2 class="heading-secondary-2 mb--15" style="color: {{ section.settings.title2_color }};">
          {{ section.settings.title2 }}
        </h2>
        {%- endif -%}

        {%- if section.settings.subtitle != '' -%}
        <p class="paragraph-2 mb--35" style="color: {{ section.settings.subtitle_color }};">{{ section.settings.subtitle }}</p>
        {%- endif -%}

        {%- if section.settings.btn != '' -%}
        <a href="{{ section.settings.btn_url }}" class="btn btn-semi-large btn-style-1">{{ section.settings.btn }}</a>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>



{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Text Banner",
    "settings": [
      {
        "type": "text",
        "id": "title1",
        "label": "Title 1",
        "default": "OUR HISTORY"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Title 2",
        "default": "Zuka Tailor Since 1929"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Etiam molestie lacus sit amet augue ultrices, id posuere nunc venenatis. Mauris tincidunt, lorem ac maximus vestibulum, massa mauris consectetur dui, ac aliquet sem ante vel orci. Duis varius posuere sagittis. Fusce consectetur odio non odio euismod imperdiet. Sed vulputate mi id lore"
      },
      {
        "type": "text",
        "id": "btn",
        "label": "Button",
        "default": "Discover Now"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "URL",
        "default": "\/collections\/all"
      },
      {
        "type": "header",
        "content": "Color"
      },
      {
        "type": "color",
        "id": "title1_color",
        "label": "Title 1 Color",
        "default": "#181818"
      },
      {
        "type": "color",
        "id": "title2_color",
        "label": "Title 2 Color",
        "default": "#181818"
      },
      {
        "type": "color",
        "id": "subtitle_color",
        "label": "Subtitle Color",
        "default": "#181818"
      },
      {
        "type": "color",
        "id": "btn_color",
        "label": "Button Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Button BG Color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "hover_btn_color",
        "label": "Button Hover Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "hover_bg_color",
        "label": "Button Hover BG Color",
        "default": "#dc0109"
      }
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Text Banner",
		  "category": "2. Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}