<section class="product-category-area" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="container-fluid">
    {% if section.settings.section_title != '' %}
    <div class="row mb--45 mb-md--35 mb-sm--30 pb--3">
      <div class="col-12 text-center">
        <h2 class="heading-secondary-3">{{ section.settings.section_title }}</h2>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-12">
        <div class="zuka-element-carousel nav-vertical-center nav-style-5"
             data-slick-options = '{
                                   "spaceBetween": 30,
                                   "slidesToShow": 5,
                                   "arrows": true,
                                   "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-left" },
                                   "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-right" }
                                   }'                            
             data-slick-responsive='[
                                    {"breakpoint":1199, "settings": {"slidesToShow": 4}},
                                    {"breakpoint":991, "settings": {"slidesToShow": 3}},
                                    {"breakpoint":767, "settings": {"slidesToShow": 2}},
                                    {"breakpoint":575, "settings": {"slidesToShow": 1}}
                                    ]'>
          
          
          {%- for block in section.blocks -%}{%- case block.type -%}
          {%- when 'item' -%}
          <div class="item">
            <div class="product-category-group">
              <div class="product-category bg_img"{% if block.settings.bg_img %} style="background-image: url({{ block.settings.bg_img | img_url: 'master' }})"{% endif %}>
                {% if block.settings.title1 != '' %}
                <h3 class="product-category__title">{{ block.settings.title1 }}</h3>
                {% endif %}                
                
                <a href="{{ block.settings.url1 }}" class="overlay-link"></a>                
              </div>

              {% if block.settings.show_item2 %}
              <div class="product-category bg_img"{% if block.settings.bg_img2 %} style="background-image: url({{ block.settings.bg_img2 | img_url: 'master' }});"{% endif %}>
                {% if block.settings.title2 != '' %}
                <h3 class="product-category__title">{{ block.settings.title2 }}</h3>
                {% endif %}                
                
                <a href="{{ block.settings.url2 }}" class="overlay-link"></a>
              </div>              
              {% endif %}
            </div>                                   
          </div>
          {%- endcase -%}{%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>





{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Top Category",
    "settings": [
		{
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Top Categories"
        }
	],
	"blocks":[
	   {
          "type": "item",
          "name": "Image Banner",
          "settings": [
              {
                  "type": "header",
                  "content": "Item 1"
              },
              {
                  "type": "image_picker",
                  "id": "bg_img",
                  "label": "BG Image"
              },
              {
                  "type": "text",
                  "id": "title1",
                  "label": "Title",
                  "default": "Vegetable"
              },
              {
                  "type": "url",
                  "id": "url1",
                  "label": "URL",
                  "default": "\/collections\/all"
              },
              {
                  "type": "header",
                  "content": "Item 2"
              },
              {
                  "type": "checkbox",
                  "id": "show_item2",
                  "label": "Show Item 2",
                  "default": true
              },
              {
                  "type": "image_picker",
                  "id": "bg_img2",
                  "label": "BG Image"
              },
              {
                  "type": "text",
                  "id": "title2",
                  "label": "Title",
                  "default": "Vegetable"
              },
              {
                  "type": "url",
                  "id": "url2",
                  "label": "URL",
                  "default": "\/collections\/all"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Top Category",
		  "category": "3. Collections",
		  "blocks":[
				{
					"type": "item"
				},
				{
					"type": "item"
				},
				{
					"type": "item"
				},
				{
					"type": "item"
				},
				{
					"type": "item"
				},
				{
					"type": "item"
				},
				{
					"type": "item"
				},
				{
					"type": "item"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}