<section class="video-area{% if section.settings.enable_parallax %} fixed-bg{% endif %}" id="section-{{ section.id }}" data-section-id="{{ section.id }}">        
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {% if section.settings.section_title1 != '' %}
        <p class="font-size-18" style="color: {{ section.settings.title1_color }};">{{ section.settings.section_title1 }}</p>
        {% endif %}

        {% if section.settings.section_title2 != '' %}
        <h3 class="lts-10 lts-md-5 lts-sm-0 heading-big mb--40 mb-md--30" style="color: {{ section.settings.title2_color }};">{{ section.settings.section_title2 }}</h3>
        {% endif %}

        {% if section.settings.video_url != '' %}
        <a href="{{ section.settings.video_url }}" class="video-btn video-popup">video</a>
        {% endif %}        
      </div>
    </div>
  </div>
</section>



{%- style -%}
{%- include 'section-style' -%}
{%- endstyle -%}




{% schema %}
  {
    "name": "Video & Parallax Banner",
    "settings": [
		{
          "type": "checkbox",
          "id": "enable_parallax",
          "label": "Enable Parallax",
          "default": false
      	},
		{
          "type": "text",
          "id": "section_title1",
          "label": "Title 1",
          "default": "#Women #Man #Autumn"
      	},
		{
          "type": "text",
          "id": "section_title2",
          "label": "Title 2",
          "default": "Back to school"
      	},
        {
          "type": "color",
          "id": "title1_color",
          "label": "Title 1 Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "title2_color",
          "label": "Title 2 Color",
          "default": "#fff"
        },
		{
           "type": "text",
           "id": "video_url",
           "label": "Youtube Video URL",
           "default": "https://www.youtube.com/watch?v=8uFEVF6aTR4"
        }
	],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Video & Parallax Banner",
		  "category": "2. Banner",
		  "blocks":[
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}
