/* Newsletter PopUp */
{%- if settings.newsletter_bg_img and settings.newsletter_style_handle == 'newsletter_style_1' -%}
.newsletter_popup_inner{
  background: url("{{ settings.newsletter_bg_img | img_url: '1024x1024' }}") no-repeat scroll center center / cover;
    }
{%- endif -%}
.subscribe_area > h2, .subscribe-content > h2 {
  color: {{ settings.popup_newsletter_title_color }};
}
.subscribe_area > p, .subscribe-content > p {
  color: {{ settings.popup_newsletter_description_color }};
}
.grid__item h1{
  color: {{ settings.section_title_color }};
}
.subscribe-form-input {
  border: 1px solid {{ settings.input_field_color }};
  color: {{ settings.input_field_color }};
}
.subscribe-form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: {{ settings.input_field_color }} !important;
}
.subscribe-form-input::-moz-placeholder { /* Firefox 19+ */
  color: {{ settings.input_field_color }} !important;
}
.subscribe-form-input:-ms-input-placeholder { /* IE 10+ */
  color: {{ settings.input_field_color }} !important;
}
.subscribe-form-input:placeholder { /* Firefox 18- */
  color: {{ settings.input_field_color }} !important;
}
.newsletter-btn {
  background: {{ settings.newsletter_button_bg_color }} none repeat scroll 0 0;
  color: {{ settings.newsletter_button_color }};
}
.newsletter-btn:hover{
  background: {{ settings.newsletter_button_hover_bg_color }} none repeat scroll 0 0;
  color: {{ settings.newsletter_button_hover_color }};
}
.popup_off{
  color: {{ settings.close_icon_color }};
}
.newsletter_popup_inner:before {
  background: {{ settings.newsletter_overlay_color }};
  opacity: {{ settings.newsletter_overlay_opacicty }};
}
.form-group.subscribe-form-group p {
  color: {{ settings.dont_show_title_color }};
}
/* Breadcurmb Banner */
.breadcrumbs {
  background: {{ settings.breadcrumb_banner_bg }} {% if settings.breadcrumb_banner_image %}url("{{ settings.breadcrumb_banner_image | img_url: 'master' }}") no-repeat scroll center center / cover{% endif %};
    padding-top: {{ settings.breadcrumb_padding_top }}px;
    padding-bottom: {{ settings.breadcrumb_padding_bottom }}px;
    }
.overlay-bg::before {
  background: {{ settings.breadcrumb_banner_overlay_color }} none repeat scroll 0 0;
  opacity: {{ settings.breadcrumb_banner_opacity }};
}
.breadcrumbs-title {
  color: {{ settings.breadcurmb_title_color }};
}
.breadcrumb-list > li > a {
  color: {{ settings.breadcurmb_page_title_color }};
}
.breadcrumb-list > li::before {
  color: {{ settings.breadcurmb_page_title_color }};
}
.breadcrumb-list > li {
  color: {{ settings.active_breadcurmb_page_title_color }};
}
@media (max-width: 767px) {
  .breadcrumbs {
    padding-top: {{ settings.breadcrumb_padding_top_xs }}px;
    padding-bottom: {{ settings.breadcrumb_padding_bottom_xs }}px;
  }
}
/* Top Bar Noticfication */
{% if settings.notification_bg_image %}
.top-notification-bar {
  background: url("{{ settings.notification_bg_image | img_url: 'master' }}") no-repeat scroll center center / cover;
    }
{% else %}
.top-notification-bar {
  background: {{ settings.topbar_color_1 }};
  background: -moz-linear-gradient(left, {{ settings.topbar_color_1 }} 0%, {{ settings.topbar_color_2 }} 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, {{ settings.topbar_color_1 }}), color-stop(100%, {{ settings.topbar_color_2 }}));
  background: -webkit-linear-gradient(left, {{ settings.topbar_color_1 }} 0%, {{ settings.topbar_color_2 }} 100%);
  background: -o-linear-gradient(left, {{ settings.topbar_color_1 }} 0%, {{ settings.topbar_color_2 }} 100%);
  background: -ms-linear-gradient(left, {{ settings.topbar_color_1 }} 0%, {{ settings.topbar_color_2 }} 100%);
  background: linear-gradient(to right, {{ settings.topbar_color_1 }} 0%, {{ settings.topbar_color_2 }} 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ settings.topbar_color_1 }}', endColorstr='{{ settings.topbar_color_2 }}', GradientType=1 );
    }
{% endif %}
.notification-entry p a {
  background-color: {{ settings.notificaction_button_bg_color }};
  border: 1px solid {{ settings.notificaction_button_border_color }};
  color: {{ settings.notificaction_button_color }};
}
.notification-entry p a:hover {
  background-color: {{ settings.notificaction_button_hover_bg_color }};
  border: 1px solid {{ settings.notificaction_button_hover_border_color }};
  color: {{ settings.notificaction_button_hover_color }};
}
.notification-close-btn {
  background-color: {{ settings.notificaction_close_button_bg_color }};
  border: 1px solid {{ settings.notificaction_close_button_border_color }};
  color: {{ settings.notificaction_close_button_color }};
}
.notification-close-btn:hover{
  background-color: {{ settings.notificaction_close_button_hover_bg_color }};
  border: 1px solid {{ settings.notificaction_close_button_hover_border_color }};
  color: {{ settings.notificaction_close_button_hover_color }};
}
{% if settings.notification_button_name == '' %}
.notification-close-btn {
  margin-top: 0px;
}
{% endif %}
.notification-entry p {
  color: {{ settings.notification_text_color }};
}
.top-notification-bar::before {
  background: {{ settings.notification_overlay_color | color_modify: 'alpha', settings.notification_overlay_opacity }};
}
.top-notification-bar {
    border-bottom: 0.5px solid {{ settings.border_buttom_color }};
}
/* Typography */
{% if settings.typography_enable %}
{% assign body_font = settings.body_font_handle %}
{% assign header_font = settings.header_font_handle %}
{% assign paragraph_font = settings.paragraph_font_handle %}

{{ body_font | font_face }}
{{ header_font | font_face }}
{{ paragraph_font | font_face }}

html, body, input, textarea, button, select{
  font-family: {{ body_font.family }}, {{ body_font.fallback_families }};
  font-weight: {{ body_font.weight }};
  font-style: {{ body_font.style }};
}
h1, h2, h3, h4, h5, h6{
  font-family: {{ header_font.family }}, {{ header_font.fallback_families }};
  font-weight: {{ header_font.weight }};
  font-style: {{ header_font.style }};
}
p, .header__text{
  font-family: {{ paragraph_font.family }}, {{ paragraph_font.fallback_families }};
  font-weight: {{ paragraph_font.weight }};
  font-style: {{ paragraph_font.style }};
}
{% endif %}
/* End Typography */
/* Custom and Customer Page */
.theme-default-margin, .shopify-challenge__container {
  padding-top: {{ settings.customer_page_padding_top }}px;
  padding-bottom: {{ settings.customer_page_padding_bottom }}px;
}
@media (max-width: 767px) {
  .theme-default-margin, .shopify-challenge__container{
    padding-top: {{ settings.customer_page_padding_top_xs }}px;
    padding-bottom: {{ settings.customer_page_padding_bottom_xs }}px;
  }
}

.create-custom-page{
  padding-top: {{ settings.custom_page_padding_top }}px;
  padding-bottom: {{ settings.custom_page_padding_bottom }}px;
}
@media (max-width: 767px) {
  .create-custom-page{
    padding-top: {{ settings.custom_page_padding_top_xs }}px;
    padding-bottom: {{ settings.custom_page_padding_bottom_xs }}px;
  }
}
/* End Custom Page */
/* QuickView */
{% unless settings.quickview_product_variant_enable %}
.quick-view-select{
  display: none;
}
{% endunless %}
/* End Quickview */




/* ======================================================================
Name: Your Theme Color CSS file
====================================================================== */
a:hover, .header-component > li .submenu li a:hover, .secondary-navigation .secondary-menu li a:hover, .user-info-menu li a:hover, .footer-widget .widget-menu a:hover, 
.footer-widget .widget_contact_info ul li a:hover, .footer a:hover, .accordion__header.open .accordion__link, .btn-close:hover i, .nav-style-4 .slick-btn:hover, 
.product-slide-nav.slick-vertical .slick-btn:hover i, .product-slide-nav .slick-btn:hover i, .comment-author a:hover, .form .forgot-pass, .cart-form__btn:hover, 
.custom-close:hover i, .main-navigation .mainmenu__item.menu-item-has-children > ul.megamenu > li a.megamenu-title:hover, .main-navigation .mainmenu ul li a:hover, 
.main-navigation-2 .mainmenu__item.menu-item-has-children > ul a:hover, .main-navigation-2 .mainmenu__item a:hover, 
.side-navigation-inner .widget a:hover, .sidenav-menu li a:hover, .post-meta.category-link, .post-title a:hover, .post .read-more:hover, 
.post-layout-2 .post-footer-meta .posted-on:hover, .single-post-details .entry-meta.category-link a, .product-title a:hover, 
.product-price-wrapper > span.product-price-new,.zuka-product-layout-2 .product-title a:hover, .zuka-product-layout-2 .product-price-wrapper > span.product-price-new, 
.zuka-product-list .product-title a:hover, .product-summary .product-extra a:hover, .variation-form .swatch-wrapper:hover, 
.product-box-2 .product-price-wrapper span.product-price-new, .banner-box .banner-btn:hover, .social__link:hover, .social.white-color .social__link:hover, 
.social.dove-gray-color .social__link:hover, .product-widget__list li a:hover, .contact-info a:hover, .blog-widget .menu li a:hover, 
.team-member-style-2 .team-member__name a:hover, .dropdown-item:hover, .message-box a:hover, .list-with-icon li i, .currency-drop li a:hover,
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover, .social.dark-color .social__link:hover, 
.header-toolbar__item > a:hover, .header-toolbar-3 .header-toolbar__item > a:hover, .product-widget li.active a,
.sidebar-inner .active {
  color: {{ settings.theme_color }};
}
.btn-style-1:hover, .btn-style-2, .btn-style-3, .btn-style-4, .action-btn-1:hover, .action-btn:hover, .action-btn.btn.add_to_cart_btn, .action-btn-square:hover, 
.action-btn.dark-bg:hover, .nav-hover-2 .slick-btn:hover, .slick-dots li.slick-active button, .comment .reply:hover, .mini-cart-btn sup,
.main-navigation .mainmenu__item.menu-item-has-children > ul.megamenu > li a.megamenu-title .mm-text:after, .popular-post-label, .searchform-3 .searchform__submit,
.product-badge, .product-badge.sale, .product-badge.discount, .zuka-product-list .product-action a.add_to_cart_btn:hover, .banner-box .banner-badge, 
.banner-box .banner-btn-3.primary-color, .tab-style-4 .nav-link.active, .tab-style-4 .nav-link:hover, .team-member-style-2 .team-member__meta:after, 
.ribbon-badge, .primary-bg, .main-navigation .mainmenu__link span.badge, .product-countdown-3, .product-countdown-3 .single-countdown,
.btn:hover, .btn--secondary:hover, .rte .btn:hover, .rte .btn--secondary:hover, .product-widget a.active, .sidebar-inner .widget-tag .active {
  background-color: {{ settings.theme_color }};
}
.main-navigation .mainmenu__link span.menu_badge::after {
  border-top: 5px solid {{ settings.theme_color }};
}
.btn-style-1:hover, .separator, .btn-color-black.btn-outline, .btn-color-black.btn-outline-2, .tab-style-4 .nav-link:hover, .tab-style-4 .nav-link.active {
  border-color: {{ settings.theme_color }};
}
.product-badge.soldout-title {
  background: #ff0000;
}
.product-widget a.active, .sidebar-inner .widget-tag .active {
  color: #fff; 
  border-color:{{ settings.theme_color }}
}