/* Newsletter PopUp */.subscribe_area > h2, .subscribe-content > h2 {
  color: #000000;
}
.subscribe_area > p, .subscribe-content > p {
  color: #666666;
}
.grid__item h1{
  color: ;
}
.subscribe-form-input {
  border: 1px solid #ddd;
  color: #ddd;
}
.subscribe-form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd !important;
}
.subscribe-form-input::-moz-placeholder { /* Firefox 19+ */
  color: #ddd !important;
}
.subscribe-form-input:-ms-input-placeholder { /* IE 10+ */
  color: #ddd !important;
}
.subscribe-form-input:placeholder { /* Firefox 18- */
  color: #ddd !important;
}
.newsletter-btn {
  background: #000000 none repeat scroll 0 0;
  color: #fff;
}
.newsletter-btn:hover{
  background: #666666 none repeat scroll 0 0;
  color: #fff;
}
.popup_off{
  color: #999999;
}
.newsletter_popup_inner:before {
  background: #ffffff;
  opacity: 0.1;
}
.form-group.subscribe-form-group p {
  color: #000000;
}
/* Breadcurmb Banner */
.breadcrumbs {
  background: #ffffff ;
    padding-top: 50px;
    padding-bottom: 50px;
    }
.overlay-bg::before {
  background: #1fc51c none repeat scroll 0 0;
  opacity: 0;
}
.breadcrumbs-title {
  color: #333333;
}
.breadcrumb-list > li > a {
  color: #36e01c;
}
.breadcrumb-list > li::before {
  color: #36e01c;
}
.breadcrumb-list > li {
  color: #b1d624;
}
@media (max-width: 767px) {
  .breadcrumbs {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/* Top Bar Noticfication */

.top-notification-bar {
  background: #1dcf21;
  background: -moz-linear-gradient(left, #1dcf21 0%, #f4bbfa 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #1dcf21), color-stop(100%, #f4bbfa));
  background: -webkit-linear-gradient(left, #1dcf21 0%, #f4bbfa 100%);
  background: -o-linear-gradient(left, #1dcf21 0%, #f4bbfa 100%);
  background: -ms-linear-gradient(left, #1dcf21 0%, #f4bbfa 100%);
  background: linear-gradient(to right, #1dcf21 0%, #f4bbfa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dcf21', endColorstr='#f4bbfa', GradientType=1 );
    }

.notification-entry p a {
  background-color: #f29afa;
  border: 1px solid #000000;
  color: #000000;
}
.notification-entry p a:hover {
  background-color: #f29afa;
  border: 1px solid #000000;
  color: #000000;
}
.notification-close-btn {
  background-color: ;
  border: 1px solid rgba(0,0,0,0);
  color: #000000;
}
.notification-close-btn:hover{
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0);
  color: #000000;
}

.notification-entry p {
  color: #dc2c2c;
}
.top-notification-bar::before {
  background: rgba(11, 43, 232, 0.3);
}
.top-notification-bar {
    border-bottom: 0.5px solid #dddddd;
}
/* Typography */





@font-face {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/raleway/raleway_n4.e721da6683e65ea8e217c48c3a4254b0476a6709.woff2?&hmac=7258213eacbfb84e6a236b17686d02aa8839fef70d9cab3d2925ecc912809163") format("woff2"),
       url("https://fonts.shopifycdn.com/raleway/raleway_n4.c5b6fdec4157e9fa556f2738e9a48cd93d620789.woff?&hmac=936a84cfb6ae94e62390cde011b5cb0d29e547f32081ea53c7961e02c567af02") format("woff");
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/poppins/poppins_n4.934accbf9f5987aa89334210e6c1e9151f37d3b6.woff2?&hmac=a26c177067467710b799e13b71d5721f54b5f733f905988a09d37a77232f0126") format("woff2"),
       url("https://fonts.shopifycdn.com/poppins/poppins_n4.ee28d4489eaf5de9cf6e17e696991b5e9148c716.woff?&hmac=f99517b82b6da9de0cdfe8aceb40e4132652b5e3e3d1c3b0906fe722b210b3bf") format("woff");
}

@font-face {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/raleway/raleway_n4.e721da6683e65ea8e217c48c3a4254b0476a6709.woff2?&hmac=7258213eacbfb84e6a236b17686d02aa8839fef70d9cab3d2925ecc912809163") format("woff2"),
       url("https://fonts.shopifycdn.com/raleway/raleway_n4.c5b6fdec4157e9fa556f2738e9a48cd93d620789.woff?&hmac=936a84cfb6ae94e62390cde011b5cb0d29e547f32081ea53c7961e02c567af02") format("woff");
}


html, body, input, textarea, button, select{
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6{
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}
p, .header__text{
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* End Typography */
/* Custom and Customer Page */
.theme-default-margin, .shopify-challenge__container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .theme-default-margin, .shopify-challenge__container{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.create-custom-page{
  padding-top: 100px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .create-custom-page{
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
/* End Custom Page */
/* QuickView */

/* End Quickview */




/* ======================================================================
Name: Your Theme Color CSS file
====================================================================== */
a:hover, .header-component > li .submenu li a:hover, .secondary-navigation .secondary-menu li a:hover, .user-info-menu li a:hover, .footer-widget .widget-menu a:hover, 
.footer-widget .widget_contact_info ul li a:hover, .footer a:hover, .accordion__header.open .accordion__link, .btn-close:hover i, .nav-style-4 .slick-btn:hover, 
.product-slide-nav.slick-vertical .slick-btn:hover i, .product-slide-nav .slick-btn:hover i, .comment-author a:hover, .form .forgot-pass, .cart-form__btn:hover, 
.custom-close:hover i, .main-navigation .mainmenu__item.menu-item-has-children > ul.megamenu > li a.megamenu-title:hover, .main-navigation .mainmenu ul li a:hover, 
.main-navigation-2 .mainmenu__item.menu-item-has-children > ul a:hover, .main-navigation-2 .mainmenu__item a:hover, 
.side-navigation-inner .widget a:hover, .sidenav-menu li a:hover, .post-meta.category-link, .post-title a:hover, .post .read-more:hover, 
.post-layout-2 .post-footer-meta .posted-on:hover, .single-post-details .entry-meta.category-link a, .product-title a:hover, 
.product-price-wrapper > span.product-price-new,.zuka-product-layout-2 .product-title a:hover, .zuka-product-layout-2 .product-price-wrapper > span.product-price-new, 
.zuka-product-list .product-title a:hover, .product-summary .product-extra a:hover, .variation-form .swatch-wrapper:hover, 
.product-box-2 .product-price-wrapper span.product-price-new, .banner-box .banner-btn:hover, .social__link:hover, .social.white-color .social__link:hover, 
.social.dove-gray-color .social__link:hover, .product-widget__list li a:hover, .contact-info a:hover, .blog-widget .menu li a:hover, 
.team-member-style-2 .team-member__name a:hover, .dropdown-item:hover, .message-box a:hover, .list-with-icon li i, .currency-drop li a:hover,
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover, .social.dark-color .social__link:hover, 
.header-toolbar__item > a:hover, .header-toolbar-3 .header-toolbar__item > a:hover, .product-widget li.active a,
.sidebar-inner .active {
  color: #dc0109;
}
.btn-style-1:hover, .btn-style-2, .btn-style-3, .btn-style-4, .action-btn-1:hover, .action-btn:hover, .action-btn.btn.add_to_cart_btn, .action-btn-square:hover, 
.action-btn.dark-bg:hover, .nav-hover-2 .slick-btn:hover, .slick-dots li.slick-active button, .comment .reply:hover, .mini-cart-btn sup,
.main-navigation .mainmenu__item.menu-item-has-children > ul.megamenu > li a.megamenu-title .mm-text:after, .popular-post-label, .searchform-3 .searchform__submit,
.product-badge, .product-badge.sale, .product-badge.discount, .zuka-product-list .product-action a.add_to_cart_btn:hover, .banner-box .banner-badge, 
.banner-box .banner-btn-3.primary-color, .tab-style-4 .nav-link.active, .tab-style-4 .nav-link:hover, .team-member-style-2 .team-member__meta:after, 
.ribbon-badge, .primary-bg, .main-navigation .mainmenu__link span.badge, .product-countdown-3, .product-countdown-3 .single-countdown,
.btn:hover, .btn--secondary:hover, .rte .btn:hover, .rte .btn--secondary:hover, .product-widget a.active, .sidebar-inner .widget-tag .active {
  background-color: #dc0109;
}
.main-navigation .mainmenu__link span.menu_badge::after {
  border-top: 5px solid #dc0109;
}
.btn-style-1:hover, .separator, .btn-color-black.btn-outline, .btn-color-black.btn-outline-2, .tab-style-4 .nav-link:hover, .tab-style-4 .nav-link.active {
  border-color: #dc0109;
}
.product-badge.soldout-title {
  background: #ff0000;
}
.product-widget a.active, .sidebar-inner .widget-tag .active {
  color: #fff; 
  border-color:#dc0109
}