/* Large screen desktop */
@media (min-width: 1365px) and (max-width: 1500px){
  .nav-style-1 .slick-next {
    left: calc( 100% - 50px);
  }
  .nav-style-1 .slick-prev {
    right: calc( 100% - 50px);
  }




}

@media (min-width: 1170px) and (max-width: 1299px){


}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {


}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .cart-total {
    margin-top: 30px;
  }
  #moda-compare .modal-dialog {
    max-width: 80%;
  }
  .tab-style-5 .nav-link {
    margin-bottom: 10px;
  }
  .product-action a {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  .product-main-details .product-summary .product-action .add-to-cart.btn-large {
    min-height: 45px;
    line-height: 45px;
    padding: 0 25px;
  }
  .product-summary .product-action .action-btn {
    -webkit-transform: translate(15px, 0);
    -moz-transform: translate(15px, 0);
    -ms-transform: translate(15px, 0);
    -o-transform: translate(15px, 0);
    transform: translate(15px, 0);
  }
  .action-btn-square {
    width: 45px;
    height: 45px;
    line-height: 50px;
    margin-left: 5px;
    font-size: 15px;
  }
  .product-slide-nav .slick-next {
    right: -50px;
  }
  .product-slide-nav .slick-prev {
    left: -50px;
  }
  .header-style-4 .headroom.is-sticky .header-top, .header-aside {
    background-color: #111;
  }
  .header-aside .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon,
  .header-aside .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon::before, 
  .header-aside .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon::after{
    background-color: #fff;
  }
  .header-aside .header-toolbar.white-color .header-toolbar__item > a {
    color: #fff;
  }
  .header-aside.hdr_bg7 .logo--normal {
    height: auto;
    visibility: visible;
    opacity: 1;
  }











}


/* Small and large mobile :320px. */
@media (max-width: 767px) {
  .cart-total {
    margin-top: 30px;
  }
  .cart-buttons .theme-default-button{
    padding: 8px 20px;
  }
  .search-item-image {
    width: 100%;
  }
  .search-item-content {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
  #moda-compare .modal-dialog {
    max-width: 90%;
  }
  .shop-toolbar .product-view-mode {
    margin: 0;
  }
  .zuka-product-list .product-info {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .zuka-product-list .product-image {
    max-width: 100%;
  }
  .zuka-product-list .product-inner {
    display: block;
  }
  .product-countdown-3 {
    width: 250px;
  }
  .popup-content {
    flex: 0 0 100%;
  }
  .ajax-popup .modal-close {
    position: absolute;
    top: -10px;
    right: -3px;
  }
  .ajax-popup .modal-close button {
    color: #111;
  }
  .product-slide-nav .slick-next {
    right: -50px;
  }
  .product-slide-nav .slick-prev {
    left: -50px;
  }
  .spcount {
    margin-top: 30px;
  }
  .product-gallery__actions {
    display: none;
  }
  .product-action a {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  .product-main-details .product-summary .product-action .add-to-cart.btn-large {
    min-height: 45px;
    line-height: 45px;
    padding: 0 25px;
  }
  .product-summary .product-action .action-btn {
    -webkit-transform: translate(15px, 0);
    -moz-transform: translate(15px, 0);
    -ms-transform: translate(15px, 0);
    -o-transform: translate(15px, 0);
    transform: translate(15px, 0);
  }
  .action-btn-square {
    width: 45px;
    height: 45px;
    line-height: 50px;
    margin-left: 5px;
    font-size: 15px;
  }
  .header-transparent.header-style-4 .header-top, .header-transparent.header-style-4 .header-bottom,
  .header-style-4 .headroom.is-sticky .header-top, .header-aside {
    background-color: #111;
  }
  .header-transparent.header-style-4 .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon,
  .header-transparent.header-style-4 .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon::before, 
  .header-transparent.header-style-4 .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon::after,
  .header-transparent.header-style-4 .headroom--fixed.is-sticky .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon,
  .header-transparent.header-style-4 .headroom--fixed.is-sticky .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon::before, 
  .header-transparent.header-style-4 .headroom--fixed.is-sticky .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon::after,
  .hdr_bg.header-style-4 .headroom--fixed.is-sticky .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon,
  .hdr_bg.header-style-4 .headroom--fixed.is-sticky .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon::before, 
  .hdr_bg.header-style-4 .headroom--fixed.is-sticky .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon::after,
  .header-aside .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon,
  .header-aside .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon::before, 
  .header-aside .header-toolbar.white-color .header-toolbar__item .toolbar-btn .hamburger-icon::after{
    background-color: #fff;
  }
  .header-transparent.header-style-4 .header-toolbar.white-color .header-toolbar__item > a,
  .header-transparent.header-style-4 .headroom--fixed.is-sticky .header-toolbar.white-color .header-toolbar__item > a,
  .header-transparent.header-style-4 .headroom--fixed.is-sticky .header-toolbar.white-color .header-toolbar__item > a,
  .hdr_bg.header-style-4 .header-toolbar.white-color .header-toolbar__item > a,
  .hdr_bg.header-style-4 .headroom--fixed.is-sticky .header-toolbar.white-color .header-toolbar__item > a,
  .hdr_bg.header-style-4 .headroom--fixed.is-sticky .header-toolbar.white-color .header-toolbar__item > a, 
  .header-aside .header-toolbar.white-color .header-toolbar__item > a {
    color: #fff;
  }
  .header-aside.hdr_bg7 .logo--normal {
    height: auto;
    visibility: visible;
    opacity: 1;
  }




}


/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {


}

/* Small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .login-form-container {
    padding: 30px 20px;
  }
  .form-action-button .theme-default-button + .theme-default-button, 
  .cart-buttons .theme-default-button + .theme-default-button{
    margin-left: 0;
    margin-top: 20px;
  }
  .form-action-button .theme-default-button,
  .cart-buttons .theme-default-button,
  .guest-form-container .theme-default-button{
    float: left;
    width: 100%;
  }
}