/* ====================================
Theme RTL CSS
==================================== */
body{
  direction: rtl;
  text-align: right;
}
.slider-area{
  direction: ltr;
  text-align: left;
}
.select-option-part select {
  background: rgba(0, 0, 0, 0) url(qcv-arrow-down.png) no-repeat scroll left 20px center;
}
.spr-badge-starrating {
  margin: 0 0 0 10px;
}
.quickview-btn-cart {
  margin: 0 30px 0 0;
}
.mini-cart, .side-navigation-wrapper {
  right: auto;
  left: 0;
  -webkit-transform: translateX(-350px);
  -moz-transform: translateX(-350px);
  -ms-transform: translateX(-350px);
  -o-transform: translateX(-350px);
  transform: translateX(-350px);
}
.mini-cart .btn-close, .side-navigation .btn-close {
  left: 40px;
  right: auto;
}
.mini-cart__product__content {
  padding-right: 20px;
  padding-left: 0;
}
.currency-drop {
  left: 0;
  right: auto;
}
.main-navigation li {
  text-align: right;
}
.main-navigation .mainmenu__item.menu-item-has-children > ul.megamenu > li a.megamenu-title .mm-text:after {
  right: 0;
  left: auto;
}
.main-navigation .mainmenu__item.menu-item-has-children > ul.megamenu {
  padding: 30px 65px 30px 0;
}
.newsletter-form--2 .newsletter-form__submit {
  left: 0;
  right: auto;
  transform: rotate(180deg);
}
.newsletter-form--2 .newsletter-form__input {
  padding-left: 40px;
  padding-right: 0;
}
.social__item:not(:last-child) {
  margin-left: 20px;
  margin-right: 0;
}
.searchform__submit {
  direction: ltr;
}
.shop-toolbar .product-view-mode a {
  margin-right: 10px;
  margin-left: 0;
}
.zuka-product-list .product-info {
  padding-left: 0;
  padding-right: 50px;
}
.page-content-inner.enable-full-width:not(.enable-page-sidebar) .product-main-details {
  padding-left: 0;
  padding-right: 55px;
}
.swatch .header {
  margin-right: 0;
  margin-left: 20px;
}
.swatch .swatch-element, .swatch-element > label, .product-top-meta {
  float: right;
}
.swatch-element > label {
  margin-right: 0;
  margin-left: 20px;
}
.product-slide-nav.slick-vertical .slick-next {
  margin-right: 0;
}
.product-summary .product-action .action-btn {
  -webkit-transform: translate(-70px, 0);
  -moz-transform: translate(-70px, 0);
  -ms-transform: translate(-70px, 0);
  -o-transform: translate(-70px, 0);
  transform: translate(-70px, 0);
}
.product-action a {
  -webkit-transform: translate(-35px, 0);
  -moz-transform: translate(-35px, 0);
  -ms-transform: translate(-35px, 0);
  -o-transform: translate(-35px, 0);
  transform: translate(-35px, 0);
}
.product-summary .product-extra a:not(:last-child) {
  margin-right: 0;
  margin-left: 20px;
}
.product-summary .product-extra a i {
  margin-right: 0;
  margin-left: 5px;
}
.social-small .social__item:not(:last-child) {
  margin-right: 0;
  margin-left: 10px;
}
span.spr-summary-caption {
  margin-right: 10px;
}
ul.archive-sidebar > li {
  padding-left: 0;
  padding-right: 17px;
}
dd {
  margin-right: 0;
}
ul.archive-sidebar > li:before {
  left: auto;
  right: 0;
}
.breadcrumb-area .breadcrumb li:not(:last-child):after {
  left: 0;
  right: auto;
  transform: rotate(-180deg);
}
.breadcrumb-area .breadcrumb li:not(:last-child) {
  padding-right: 0;
  margin-right: 0;
  padding-left: 11px;
  margin-left: 7px;
}
.list-with-dot li {
  padding-left: 0;
  padding-right: 30px;
}
.list-with-dot li:before {
  right: 0;
  left: auto;
}

.accordion__link:after {
  left: 0;
  right: auto;
}
.searchform__popup .btn-close {
  right: auto;
  left: 20%;
}
.searchform__submit {
  left: 5px;
  right: auto;
}
/* ====================================
Theme RTL responsive CSS
==================================== */

/* Large screen desktop */
@media (min-width: 1365px) and (max-width: 1500px){

}

@media (min-width: 1200px) and (max-width: 1299px){

}

@media (min-width: 1170px) and (max-width: 1299px){

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {

}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Small and large mobile :320px. */
@media (max-width: 767px) {

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Small Mobile :320px. */
@media only screen and (max-width: 479px) {

}