.main-navigation .mainmenu__link span.badge {
  position: absolute;
  color: #fff;
  background-color: #dc0109;
  font-size: 10px;
  line-height: 1;
  padding: 3px 6px 3px;
  text-transform: uppercase;
  font-weight: 500;
  bottom: calc( 100% + 7px);
  bottom: -webkit-calc( 100% + 7px);
  bottom: -moz-calc( 100% + 7px);
  right: -15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.header-aside-style-2 .main-navigation .mainmenu__link span.badge {
  bottom: calc( 100% + -10px);
  bottom: -webkit-calc( 100% + -10px);
  bottom: -moz-calc( 100% + -10px);
  right: auto;
  left: 100%;
}
.main-navigation .mainmenu__link span.menu_badge::after {
  content: "";
  border-top: 5px solid #dc0109;
  border-right: 5px solid transparent;
  left: 50%;
  margin-left: -10px;
  top: 100%;
  background: transparent;
  width: auto;
  height: auto;
  position: absolute;
}

.main-navigation .mainmenu__item.menu-item-has-children:after {
  content: '\f107';
  font-family: fontAwesome;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 600;
}
.main-navigation .mainmenu__item.menu-item-has-children > ul, .main-navigation .mainmenu__item.menu-item-has-children > ul.sub-menu {
  margin-top: 40px;
}
.cart_empty_title {
  display: none;
}
.mini-cart__list {
  margin-right: -35px;
}
.currency-drop {
  width: 210px;
  background: #fff;
  right: 0;
  top: 250%;
  padding: 20px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 1px 0px #ddd;
  z-index: 9999;
}
.header-aside-style-2 .currency-drop {
  left: 0;
  right: auto;
  text-align: left;
}
.currency-trigger:hover .currency-drop {
  pointer-events: visible;
  top: 100%;
  visibility: visible;
  opacity: 1;
}
.currency-drop li {
  padding: 6px;
}
.currency-trigger {
  margin-right: 12px;
}
.header-aside-style-2 .currency-trigger > a {
  color: #fff;
}
.searchform-2 .searchform__input:focus, .newsletter-form--2 .newsletter-form__input {
  border-width: 0 0 1px 0;
}
.currency-trigger .fa.fa-angle-down {
  margin-left: 4px;
}
.header-style-2 .currency-trigger, .header-style-4 .currency-trigger {
  margin-left: 12px;
}
.zuka_text_align > div:first-child {text-align: left;}
.zuka_text_align > div:nth-child(n+2) {text-align: center;}
.zuka_text_align > div:last-child {text-align: right;}
.user-info-menu { z-index: 9999;}
.header .contact-info span {
  font-size: 12px;
}
.header-aside .logo-box img, .footer-widget .logo-img {
  width: unset;
}
/* Ajax Wishlist Start */
.wish_action .added_wish, 
.wish_action .wish_wait, .wish_action.loading_wishlist .add_wish, .wish_action.loading_wishlist .added_wish {
  display: none;
}
.wish_action.loading_wishlist .wish_wait {
  display: inline-block;
}
.wish_action.is-active .added_wish {
  display: inline-block;
}
.wish_action.is-active .add_wish,
.wish_action.is-active.loading_wishlist .added_wish {
  display: none;
}
/* Ajax Wishlist End */
.compare_modal #table-compare tr, .compare_modal thead {
  border-bottom-width: 1px;
  border-bottom-color: #ddd;
  border-bottom-style: solid;
}
.compare_modal .modal-body {
  padding: 0;
}
.compare_modal #table-compare th, .compare_modal #table-compare td {
  border-right: 1px solid #ddd;
}
.compare_modal #table-compare td {
  padding-left: 10px;
  padding-right: 10px;
}
/* Ratting Icon Start */
.spr-badge-starrating .spr-icon, .spr-form-input.spr-starrating .spr-icon.spr-icon-star-empty.spr-icon-star-hover, .spr-form-input.spr-starrating .spr-icon.spr-icon-star, 
.spr-form-input.spr-starrating .spr-icon.spr-icon-star.spr-icon-star,  .spr-review-header span.spr-starratings.spr-review-header-starratings > i.spr-icon.spr-icon-star,
.spr-header span.spr-starrating.spr-summary-starrating > i.spr-icon.spr-icon-star {
  color: #f5b223;
  opacity: 1 !important;
}
.spr-badge-starrating .spr-icon.spr-icon-star-empty, .spr-review-header span.spr-starratings.spr-review-header-starratings > i.spr-icon.spr-icon-star-empty,
.spr-form-input.spr-starrating .spr-icon.spr-icon-star-empty {
  color: #181818;
}
.spr-badge-starrating .spr-icon, .spr-badge-starrating .spr-icon.spr-icon-star-empty, .spr-form-input.spr-starrating > a {
  font-size: 15px !important;
  opacity: 1 !important;
  padding: 0 3px 0 0;
}
span.spr-starrating.spr-summary-starrating > i, .spr-review-header span.spr-starratings.spr-review-header-starratings > i,
.spr-form-input.spr-starrating .spr-icon.spr-icon-star, .spr-form-input.spr-starrating .spr-icon.spr-icon-star.spr-icon-star {
  font-size: 13px !important;
  margin-right: 3px;
}
.spr-badge-caption-none .spr-badge-caption {
  display: none;
}
/* Ratting Icon End */
/* Review App Start */
.cart-main-area textarea, .spr-form-input-text, .spr-form-input-textarea,
.spr-form-contact-email .spr-form-label+.spr-form-input {
  background: transparent;
  border: 1px solid #ddd;
}
.spr-form-input-text:focus, .spr-form-label+.spr-form-input:focus, .spr-form-input-textarea:focus,
.spr-form-contact-email .spr-form-label+.spr-form-input:focus {
  border: 1px solid #050035;
}
.spr-header-title, .spr-form-contact-name, .spr-form-contact-email, .spr-form-contact-location, .spr-form-review-rating, .spr-form-review-title, 
.spr-form-review-body, .spr-form-title {
  text-align: left;
}
.spr-form-input.spr-starrating a.spr-icon {
  font-size: 100%;
  opacity: 1;
  margin-right: 3px;
}
.spr-button.spr-button-primary {
  background-color: #dc0109;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  height: 42px;
  letter-spacing: 1px;
  line-height: 42px;
  padding: 0 25px;
  transition: all 0.3s ease-in-out 0s;
  width: inherit;
  cursor: pointer
}
.spr-button.spr-button-primary:hover, .spr-button.spr-button-primary:focus {
  background-color: #dc0109;
  border: none;
  color: #fff;
}
span.spr-starrating.spr-summary-starrating {
  float: left;
}
.spr-reviews {
  text-align: left;
}
.product-description-review i.spr-icon {
  font-size: 100%;
}
.product-description-review .spr-review-content-body {margin: 0 !important;}
/* Review App End */
.zuka_countdown {
  z-index: 9999;
  position: absolute;
  top: 20px;
  right: 0px;
}
.zuka_countdown .single-countdown {
  display: block;
  background: rgba(220, 1, 9, 0.3);
  font-size: 11px;
  height: 40px;
  width: 40px;
  color: #181818;
}
.product-countdown-3 .single-countdown > div {
  display: inline-block;
}
.product-countdown-3 .single-countdown  {
  color: #fff;
  font-size: 12px;
}
.product-countdown-3 .single-countdown .count-number {
  margin-right: 5px;
}
.heading-secondary, .heading-secondary-2, .heading-secondary-3, .tab-style-2 .nav-link, .product-tab__heading h2 {
  font-size: 36px;
}
.testimonial-area .slick-slide > div {
  padding-bottom: 40px;
}
.nav-style-1 .slick-prev {
  right: 100%;
}
.nav-style-1 .slick-next {
  left: 100%;
}
.video-btn:after {
  background-image: url(//cdn.shopify.com/s/files/1/0015/7699/2813/t/2/assets/play_btn_red.png?20568);
}
.special-product-bg {
  background-size: 100% calc(100% + -70px) !important;
}
.fixed-bg {background-attachment: fixed !important;}

.video-btn-2:after {
  background-image: url(//cdn.shopify.com/s/files/1/0015/7699/2813/t/2/assets/button-play2.png?20568);
}
.zuka_countdown44.product-countdown .count-number {
  font-size: 36px;}
@media (max-width: 74.9375em) {
  .zuka_countdown44.product-countdown .count-number {
    font-size: 26px;} }
@media (max-width: 61.94em) {
  .zuka_countdown44.product-countdown .count-number {
    font-size: 22px;} }
.zuka_countdown44.product-countdown * {
  text-align: center;
}
.bg_img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.product-countdown-2.round .countdown-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.product-countdown-2.round .single-countdown {
  line-height: 1.3;
}
.product-countdown-2.round .count-number {
  font-size: 20px;
  font-weight: 700;
}
.special-offer-area .product-info {
  padding-top: 0;
}
.special-offer-area .product-box.bordered-box-2 {
  padding: 37px 0;
}
a.wish_action.is-active, a.wish_action.loading_wishlist {
  line-height: 2.8;
}
.special-offer-area a.wish_action.is-active, .special-offer-area a.wish_action.loading_wishlist {
  line-height: 2;
}
.sidebar-widget >div:not(:last-child), .sidebar-inner >div:not(:last-child) {
  margin-bottom: 30px;
}
.cl_side_input {
  width: 100%;
}
.cl_side_search button {
  position: absolute;
  top: 52%;
  right: 5px;
  transform: translate(-50%, -50%);
}
label[for="SortBy"] {
  color: #181818;
}
.p_list_count {
  float: left;
}
.page-search-bar {
  max-width: 500px;
  margin: 10px auto 40px;
}
.zuka-product-list .product-action a {
  margin-right: 10px;
}
.product-badge, .breadcrumb-list {
  z-index: 2;
}
.page-search-bar input {
  padding-right: 100px;
}
.cl_side_input {
  width: 100%;
  padding-right: 35px;
}
.cart_page span.dec.qtybtn, .cart_page span.inc.qtybtn {
  display: none;
}
.cart-form__btn {
  padding: 0 20px;
}
.width-100 {
  width: 100%;
}
ul.archive-sidebar > li {
  margin-top: 5px;
  line-height: 1.8;
  position: relative;
  padding-left: 17px;
}
ul.archive-sidebar > li:before {
  content: ">";
  position: absolute;
  left: 0;
  top: 0;
}
.cursor_text_all *, .cursor_text {
  cursor: text;
}
.product-summary .product-action .add-to-cart {
  margin-right: 5px;
  opacity: 1;
}
.product-summary .product-action .quantity {
  margin-right: 0px;
}
.fancybox-skin {
  z-index: 999999;
}
.product-gallery__actions {
  z-index: 999;
}
.p_tab_1.product-slide-nav.slick-vertical .slick-btn {
  transform: unset;
  top: unset;
}
.product-stock {
  top: 17px;
}
.product-summary .product-action .action-btn {
  -webkit-transform: translate(60px, 0);
  -moz-transform: translate(60px, 0);
  -ms-transform: translate(60px, 0);
  -o-transform: translate(60px, 0);
  transform: translate(60px, 0);
}
#AddToCart #AddToCartText {
  color: #fff;
}
.swatch {
  margin-bottom: 30px;
}
.swatch-element > label {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border: 1px solid #cdcdcd;
}
.swatch-element input:checked + label {
  border-color: #dc0109;
}
.swatch .swatch-element.color {
  padding: 2px;
  margin: 0 5px 0;
}
.swatch-element.color > label, .swatch-element.color.white > label {
  width: 4.4rem;
  height: 4.4rem;
  line-height: 4.4rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 0;
  display: block;
  position: relative;
  border: 2px solid #fff;
  transition: all 0.4s ease;
}
.swatch .swatch-element.color label:before {
  content: "";
  position: absolute;
  background: #cdcdcd;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  left: -3px;
  top: -3px;
  z-index: -1;
}
.swatch-element.color input:checked + label {
  outline: none;
}
.swatch-element.color input:checked + label:before {
  background: #dc0109;
}
.swatch-element.color input:checked + label {
  border-color: #fff;
}
.swatch .header {
  display: block;
  float: unset;
  margin-bottom: 10px;
}
.btn.disabled, .btn:disabled {
  background-color: #333;
}
.swatch.Material .swatch-element > label {
  width: 100%;
}
.swatch-element.soldout label::before, .swatch-element.soldout label::after {
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  opacity: 0.8;
}
.sp_ac.product-action a {
  opacity: 1;
}
.sp_ac.product-action .aff_btn {
  transform: unset;
}
a.product-single__thumbnail.active img, a.product-single__thumbnail img {
  width: unset !important;
  max-width: 100% !important;
}
.shopify-payment-button__button {
  border-radius: 30px !important;
  font-size: 1.3em !important;
  padding: 22px 15px !important;
}
.bg-width-box {
  background-repeat: no-repeat;
}
body {
  overflow-x: hidden !important;
}
.sold_out_bt span {
  color: #fff;
  cursor: not-allowed;
}
.product-countdown.product-countdown-4 .single-countdown {
  background: #dc0109;
  padding: 15px;
  margin-right: 5px;
  color: #fff;
  width: 70px;
}
.product-gallery.vertical-slide-nav .product-gallery__nav-image--single {
  margin-top: 15px;
  margin-bottom: 15px;
}
a.product-single__thumbnail {
  border: 2px solid transparent;
}
a.product-single__thumbnail.active {
  border-color: #000000;
}
.product-gallery.vertical-slide-nav .product-gallery__nav-image {
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 145px;
}
.single_p_tab ul, .single_p_tab li {
  list-style: inside;
}
.header-style-2 span.current-currency {
  color: #181818;
}
.widget-title {
  font-weight: 400;
}
.fullwidth-banner-text-3 h2 {
  font-size: 116px;
}
.product-countdown.product-countdown-4.zuka_countdown44 .single-countdown {
  background: transparent;
  padding: 0;
  margin-right: 5px;
  color: #181818;
  width: 70px;
}
.color--tertiary {
  font-weight: 300;
}

.main-navigation .mainmenu--centered .mainmenu__item.menu-item-has-children > ul.megamenu {
  transform: translateX(-55%);
}
li.white .product-color-swatch-btn {
  border: 1px solid #ccc;
}
.banner-box .banner-image img {
  width: unset;
}
.hdr_bg {
  background-color: #181818;
}
.product-data-tab__content h1, .product-data-tab__content h2, .product-data-tab__content h3, .product-data-tab__content h4, 
.product-data-tab__content h5, .product-data-tab__content h6 {
  margin-bottom: 25px;
}
.main-navigation .mainmenu__item.menu-item-has-children:not(.megamenu-holder):after {
  position: relative;
}
.main-navigation .mainmenu__item.menu-item-has-children:not(.megamenu-holder):after {
  right: 0px;
}
a.cart-disable.btn.add_to_cart_btn.action-btn.remove_href {
  color: #ffff;
}