<div class="page-content-inner">
  <div class="container">
    <div class="error-area ptb--150 ptb-md--100 ptb-sm--80">
      <div class="row align-items-center{% unless settings.opps_404 %} justify-content-center width-100 {% endunless %}">
        {% if settings.opps_404 %}
        <div class="col-md-5 text-center text-md-{% if settings.rtl_enable %}right{% else %}left{% endif %}">
          <figure class="error-img">
            <img src="{{ settings.opps_404 | img_url: '1024x1024' }}" alt="" />
          </figure>
        </div>
        {% endif %}
        <div class="{% if settings.opps_404 %}col-md-7 text-md-{% if settings.rtl_enable %}right{% else %}left{% endif %}{% else %}col-lg-12{% endif %} text-center">
          <div class="error-text">
            {% if settings.heading_404 !='' %}
            <h2>{{ settings.heading_404 }}</h2>
            {% endif %}

            {% if settings.subheading_404 !='' %}
            <h4>{{ settings.subheading_404 }}</h4>
            {% endif %}

            {% if settings.des_404 !='' %}
            <p class="{% if settings.opps_404 %}max-w-70 max-md-90 {% endif %}mb--40 mb-md--30">{{ settings.des_404 }}</p>
            {% endif %}

            {% if settings.button_title !='' %}
            <a href="{{ settings.button_url }}" class="btn btn-medium btn-style-1">{{ settings.button_title }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>