<div class="page-content-inner blog-page-sidebar">
  <div class="container">
    <div class="row pt--70 pt-md--50 pt-sm--30 pb--50 pb-md--30 pb-sm--20">
      <div class="col-12">
        {%- section 'faq-1' -%}
        {%- section 'faq-2' -%}
        {%- section 'faq-3' -%}
        {%- section 'faq-4' -%}
        {%- section 'faq-5' -%}
        {%- section 'faq-6' -%}
        {%- section 'faq-7' -%}
        {%- section 'faq-8' -%}
        {%- section 'faq-9' -%}
        {%- section 'faq-10' -%}
      </div>
    </div>
  </div>
</div>