{%- section 'about-banner' -%}
{%- section 'about-info' -%}
{%- section 'about-service' -%}
{%- section 'about-choose' -%}
{%- section 'about-testi' -%}
{%- section 'about-team' -%}
{%- section 'about-brand' -%}