<div class="page-content-inner enable-full-width">
  <div class="container-fluid">
    {% section 'product-template' %}
    {% section 'single-product-tab' %}
    {% section 'related-product' %}
  </div>
</div>